<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Tags - List</py:def>

  <div py:match="content">
    <h2>Tags</h2>
    
    <div class="pagination">
    <py:if test="not c.is_single_page">
      <ul>
      <py:if test="c.has_previous">
        <li>
${XML(h.link_to('Previous', h.url_for(action='page', id=c.previous_index)))}
        </li>
      </py:if>
      <py:for each="page in c.pages_list">
        <li>  
        <py:choose test="page[2]">
          <py:when test="True">
            <span class="pagination-current">
${XML(h.link_to(page[0], h.url_for(action='page', id=page[1])))}
            </span>
          </py:when>
          <py:otherwise>
${XML(h.link_to(page[0], h.url_for(action='page', id=page[1])))}
          </py:otherwise>
        </py:choose>
        </li>
      </py:for>
      <py:if test="c.has_next">
        <li>  
${XML(h.link_to('Next', h.url_for(action='page', id=c.next_index)))}
        </li>
      </py:if>
      </ul>
    </py:if>
    </div>

    <p>
    <py:if test="c.is_single_page">
    There are ${c.list_length} tags.
    </py:if>
    <py:if test="not c.is_single_page">
    Displaying tags ${c.page_range[0] + 1} - ${c.page_range[1]} of ${c.list_length}.
    </py:if>
    </p>

    <ul>
      <py:for each="item in c.page_list">
      <li>
      ${XML(h.link_to(item.name, h.url_for(action='read', id=item.name)))}
      - (${len(item.packages)} packages)
      </li>
      </py:for>
    </ul>

    <div class="pagination">
    <py:if test="not c.is_single_page">
      <ul>
      <py:if test="c.has_previous">
        <li>
${XML(h.link_to('Previous', h.url_for(action='page', id=c.previous_index)))}
        </li>
      </py:if>
      <py:for each="page in c.pages_list">
        <li>  
        <py:choose test="page[2]">
          <py:when test="True">
            <span class="pagination-current">
${XML(h.link_to(page[0], h.url_for(action='page', id=page[1])))}
            </span>
          </py:when>
          <py:otherwise>
${XML(h.link_to(page[0], h.url_for(action='page', id=page[1])))}
          </py:otherwise>
        </py:choose>
        </li>
      </py:for>
      <py:if test="c.has_next">
        <li>  
${XML(h.link_to('Next', h.url_for(action='page', id=c.next_index)))}
        </li>
      </py:if>
      </ul>
    </py:if>
    </div>

  </div>

  <xi:include href="layout.html" />
</html>

