<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">${c.tag.name} - Tags</py:def>

  <div py:match="content">
    <h2>Tag: ${c.tag.name}</h2>
    <p i18n:msg="package_count, tagname">There are ${len(c.tag.packages_ordered)} packages tagged with <strong>${c.tag.name}</strong>:</p>
    ${package_list(c.tag.packages_ordered)}
  </div>

  <xi:include href="layout.html" />
</html>


