<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">${c.tag['name']} - Tags</py:def>
  <py:def function="page_heading">Tag: ${c.tag['name']}</py:def>

  <div py:match="content">
    <p i18n:msg="count, tagname">There are ${len(c.tag['packages'])} datasets tagged with <strong>${c.tag['name']}</strong>:</p>
    ${package_list_from_dict(c.tag['packages'])}
  </div>

  <xi:include href="layout.html" />
</html>


