<li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x icon"></i>
    <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
  </span>
  {{ _('{actor} created the organization {organization}').format(
    actor=ah.actor(activity),
    organization=ah.organization(activity)
  )|safe }}
  <br />
  <span class="date" title="{{ h.render_datetime(activity.timestamp, with_hours=True) }}">
    {{ h.time_ago_from_timestamp(activity.timestamp) }}
  </span>
</li>
