{#
Renders a media item for a group. This should be used in a list.

group - A group dict.

Example:

    <ul class="group-list">
      {% for group in groups %}
        {% snippet "group/snippets/group_item.html", group=group %}
      {% endfor %}
    </ul>
#}

{% set type = group.type or 'group' %}
{% set url = h.url_for(type ~ '.read', id=group.name) %}
{% block item %}
<li class="groups-cards">
  {% block link %}
  {% set view_label = _('Open details page for {name}').format(name=group.display_name) %}
    <a href="{{ url }}" aria-label="{{ view_label }}" data-bs-title="{{ view_label }}" data-bs-toggle="tooltip">
  {% block item_inner %}
  {% block image %}
    {% if group.image_display_url %}
      <figure class="module-image" href="{{ h.url_for(group.type ~ '.read', id=group.name) }}">
        <img src="{{ group.image_display_url }}" class="img-fluid media-image" alt="{{ group.name }}" />
      </figure>
    {% else %}
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
        <path d="M34.6667 29.3333H47.4667C50.4537 29.3333 51.9471 29.3333 53.088 29.9146C54.0915 30.426 54.9074 31.2419 55.4187 32.2454C56 33.3862 56 34.8797 56 37.8667V56M34.6667 56V16.5333C34.6667 13.5464 34.6667 12.0529 34.0854 10.9121C33.5741 9.90852 32.7582 9.09262 31.7547 8.5813C30.6138 8 29.1203 8 26.1334 8H16.5334C13.5464 8 12.053 8 10.9121 8.5813C9.90856 9.09262 9.09266 9.90852 8.58134 10.9121C8.00004 12.0529 8.00004 13.5464 8.00004 16.5333V56M58.6667 56H5.33337M17.3334 18.6667H25.3334M17.3334 29.3333H25.3334M17.3334 40H25.3334" stroke="#0A1D5E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    {% endif %}
  {% endblock %}
  {% block title %}
    <h3>{{ group.display_name }}</h3>
  {% endblock %}
  {% block datasets %}
    {% if group.package_count %}
      <span class="count">{{ ungettext('{num} Dataset', '{num} Datasets', group.package_count).format(num=group.package_count) }}</span>
    {% else %}
      <span class="count">{{ _('0 Datasets') }}</span>
    {% endif %}
  {% endblock %}
  {# {% block members %}
    {% if 'member_count' in group and group.member_count %}
      <strong class="count">{{ ungettext('{num} Member', '{num} Members', group.member_count).format(num=group.member_count) }}</strong>
    {% elif 'member_count' in group %}
      <span class="count">{{ _('0 Members') }}</span>
    {% else %}
    {% endif %}
  {% endblock %} #}
  {% block capacity %}
    {% if show_capacity and group.capacity %}
    <p><span class="label label-default">{{ h.roles_translated().get(group.capacity, group.capacity) }}</span></p>
    {% endif %}
  {% endblock %}
  {% endblock %}
</a>
  {% if group.user_member %}
    {% set remove_label = _('Unlink {name} from the dataset').format(name=group.display_name) %}
    <input name="group_remove.{{ group.id }}" value="{{ _('Remove') }}" type="submit" class="btn btn-danger btn-sm media-edit" aria-label="{{ remove_label }}" data-bs-title="{{ remove_label }}" data-bs-toggle="tooltip" />
  {% endif %}
{% endblock %}
</li>
{% endblock %}
