include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/user_login *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/user_login/migration *.ini *.py *.mako
