<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Account - Login</py:def>

  <div py:match="content">
    <h2>Login</h2>
    <form action="FORM_ACTION" method="post">
      
      <label for="openid">Your OpenID identity URL:</label>
      <input type="text" id="openid" name="openid" value="" size="50"/>

      <br /><br /><input type="submit" name="authform" value="Log in &raquo;" />
    </form>
  </div>
  <xi:include href="layout.html" />
</html>
