{% extends "group/base_form_page.html" %}

{% block breadcrumb_content %}
  <li>{% link_for h.humanize_entity_type('group', group_type, 'breadcrumb') or _('Groups'), named_route=group_type+'.index' %}</li>
  {% block breadcrumb_content_inner %}
    <li>{% link_for group.display_name|truncate(35), named_route=group_type+'.read', id=group.name %}</li>
    <li class="active">{% link_for _('Manage'), named_route=group_type+'.edit', id=group.name %}</li>
  {% endblock %}
{% endblock %}

{% block page_heading_class %}hide-heading{% endblock %}
{% block page_heading %}{{ h.humanize_entity_type('group', group_type, 'edit label') or _('Edit Group') }}{% endblock %}
