{% extends "page.html" %}
{% set dataset_type = h.default_package_type() %}

{% block meta %}
{{ super() }}
<meta name="DCTERMS.title" content="{{ group_dict.display_name }}" />

<meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o={{ group_dict.display_name }}" />
<meta name="DCTERMS.created" content="{{ h.render_datetime(group_dict.created, date_format='%Y-%m-%d') or 'unknown' }}" />
<meta name="DCTERMS.description" content="{{ (group_dict.get('description') or group_dict.display_name or '') | truncate(500) }}" />
<meta name="DCTERMS.identifier" content="{{ group_dict.id }}" />

{% block meta_doctype %}
<meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="guidelines" />
{% endblock %}
{% endblock %}

{% block subtitle %}{{ group_dict.display_name }} {{ g.template_title_delimiter }} {{ h.humanize_entity_type('group', group_type, 'page title') or _('Groups') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for h.humanize_entity_type('group', group_type, 'breadcrumb') or _('Groups'), named_route=group_type+'.index' %}</li>
  <li class="active">{% link_for group_dict.display_name|truncate(35), named_route=group_type+'.read', id=group_dict.name %}</li>
{% endblock %}

{% block content_action %}
  {% if h.check_access('group_update', {'id': group_dict.id}) %}
    {% link_for _('Manage'), named_route=group_type+'.edit', id=group_dict.name, class_='btn btn-default', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(group_type + '.read', h.humanize_entity_type('package', dataset_type, 'content tab') or _('Datasets'), id=group_dict.name, icon='sitemap') }}
  {{ h.build_nav_icon(group_type + '.about', _('About'), id=group_dict.name, icon='info-circle') }}
{% endblock %}

{% block secondary_content %}
  {% snippet "group/snippets/info.html", group=group_dict, show_nums=true %}
{% endblock %}

{% block links %}
  {{ super() }}
  {% include "group/snippets/feeds.html" %}
{% endblock %}
