<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="span12 attribution">
        {% block footer_attribution %}
          <p class="attribution__item">{% trans %}Powered by{% endtrans %} <a class="hide-text ckan-footer-logo attribution__logo" href="http://ckan.org" rel="noopener" target="_blank">CKAN</a></p>
        {% endblock %}
      </div>
      <div class="span12 disclaimer">
        <p>{% trans %}By accessing this Iran Open Data website or database, users agree to take full responsibility for reliance on any information provided by this site, and to hold harmless and waive any and all liability against individuals or entities associated with its development, form and content for any loss, harm or damage suffered as a result of its use.{% endtrans %}</p>
      </div>
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
