{% block header_wrapper %}
{% block header_account %}
  <header class="account-masthead">
    <div class="container">
      {% block header_account_container_content %}
        {% if c.userobj %}
          <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
            <ul class="unstyled">
              {% block header_account_logged %}
              <li>
                <a href="{{ h.url_for('pages_index') }}" title="{{ _('Pages') }}">
                  <i class="fa fa-file icon-file"></i>
                </a>
              </li>
              <li>
                <a href="{{ h.url_for('blog_index') }}" title="{{ _('Blog') }}">
                  <i class="fa fa-pencil icon-pencil"></i>
                </a>
              </li>
              {% if c.userobj.sysadmin %}
                <li>
                  <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                    <i class="icon-legal" aria-hidden="true"></i>
                    <span class="text">{{ _('Admin') }}</span>
                  </a>
                </li>
              {% endif %}
              <li>
                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                  <span class="username">{{ c.userobj.display_name }}</span>
                </a>
              </li>
              {% set new_activities = h.new_activities() %}
              <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                  <i class="icon-dashboard" aria-hidden="true"></i>
                  <span class="text">{{ _('Dashboard') }}</span>
                  <span class="badge">{{ new_activities }}</span>
                </a>
              </li>
              {% block header_account_settings_link %}
                <li>
                  <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                    <i class="icon-cog" aria-hidden="true"></i>
                    <span class="text">{{ _('Settings') }}</span>
                  </a>
                </li>
              {% endblock %}
              {% block header_account_log_out_link %}
                <li>
                  <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                    <i class="icon-signout" aria-hidden="true"></i>
                    <span class="text">{{ _('Log out') }}</span>
                  </a>
                </li>
              {% endblock %}
              {% endblock %}
            </ul>
          </div>
        {% else %}
        <nav class="account not-authed"></nav>
        {% endif %}
      {% endblock %}
    </div>
  </header>
{% endblock %}
<header class="navbar navbar-static-top masthead">
  {% block header_debug %}
    {% if g.debug and not g.debug_supress_header %}
      <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
    {% endif %}
  {% endblock %}
  <div class="container">
    {% block footer_lang %}
      {% snippet "snippets/language_selector.html" %}
    {% endblock %}

    <div class="nav-collapse collapse">

      {% block header_site_navigation %}
        <nav class="section navigation">
          <ul class="nav nav-pills">
            {% block header_site_navigation_tabs %}
              {{ h.build_nav_main(
                ('search', _('Datasets')),
                ('organizations_index', _('Organizations')),
                ('about', _('About'))
              ) }}
            {% endblock %}
            <li>
              <a href="{{ h.url_for('about') }}" title="{{ _('About') }}">About</a>
            </li>
            <li>
              <a href="{{ h.url_for('policy') }}" title="{{ _('Policy') }}">Policy</a>
            </li>
            <li>
              <a href="{{ h.url_for('use_cases') }}" title="{{ _('Use cases') }}">Use cases</a>
            </li>
            <li>
              <a href="{{ h.url_for('contact_form') }}" title="{{ _('Contact') }}">Contact</a>
            </li>
          </ul>
        </nav>
      {% endblock %}
    </div>

    {# The .header-image class hides the main text and uses image replacement for the title #}
    <hgroup class="header-image">

      {% block header_logo %}
        <a class="logo" href="{{ h.url_for('home') }}"><img src="/images/logo.svg" alt="Iran Open Data" title="Iran Open Data" /></a>
      {% endblock %}

    </hgroup>
  </div>
</header>
{% endblock %}
