@import "variables.scss";
@import "custom.scss";
@import "mixins.scss";
@import "module.scss";
@import "media.scss";
@import "nav.scss";
@import "forms.scss";
@import "dataset.scss";
@import "search.scss";
@import "group.scss";
@import "toolbar.scss";
@import "prose.scss";
@import "icons.scss";
@import "layout.scss";
@import "homepage.scss";
@import "masthead.scss";
@import "footer.scss";
@import "tables.scss";
@import "profile.scss";
@import "dropdown.scss";
@import "dashboard.scss";
@import "resource-view.scss";
@import "datapusher.scss";
@import "alerts.scss";
@import "input-groups.scss";

body {
    // Using the masthead/footer gradient prevents the color from changing
    // at the bottom of the window on pages with little content.
    background: $mastheadBackgroundColor url("#{$bgPath}");
}

[hidden] {
    display: none;
}

table {
    table-layout: fixed;
}

thead th {
    vertical-align: top;
}

td,
th {
    word-wrap: break-word;
}

table .metric {
    width: 140px;
}

code {
    color: $codeTextColor;
    border: none;
    background: none;
    white-space: normal;
}

pre {
    border: none;
    background: none;
    padding-left: 0;
    padding-right: 0;
}

mark {
    background: $highlightBackground;
}

blockquote p {
    font-size: 1em;
}

iframe {
    border: none;
}

.embedded-content h1 {
    font-size: 1.8em;
}

.embedded-content h2 {
    font-size: 1.4em;
}

.embedded-content h3 {
    font-size: 1.2em;
}

.popular {
    text-indent: -999em;
}

.empty {
    color: $emptyTextColor;
    font-style: italic;
}

.page-heading {
    margin-top: 0;
    margin-bottom: $grid-gutter-width/2;
}

.m-top {
    margin-top: $gutterSmallX;
}

.m-left {
    margin-left: $gutterSmallX;
}

.m-right {
    margin-right: $gutterSmallX;
}

.m-bottom {
    margin-bottom: $gutterSmallX;
}

.no-margin {
    margin: 0;
}

.reduced-margin {
    margin: 3px 5px;
}

.p-top {
    padding-top: $gutterSmallX;
}

.p-left {
    padding-left: $gutterSmallX;
}

.p-right {
    padding-right: $gutterSmallX;
}

.p-bottom {
    padding-bottom: $gutterSmallX;
}

.no-padding {
    padding: 0;
}

.reduced-padding {
    padding: 3px 5px;
}

.skip-content {
    background-color: white;
}

// @import "iehacks.scss";
