{#
  Embeds a organization within the sidebar of a page.

  organization    - The organization dict.

  {% snippet 'snippets/organization, organization=group_dict %}

  #}
{% set organization = organization or group%}
{% set url = h.url_for(organization.type + '.read', id=organization.name, ) %}
{% set dataset_type = h.default_package_type() %}

{% block info %}
  <section id="organization-info" class="module module-narrow">
    <div class="module context-info">
    <div class="module-content">
      {% block inner %}
      {% block image %}
        <div class="image">
          <a href="{{ url }}">
            <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="200" alt="{{ organization.name }}" />
          </a>
        </div>
      {% endblock %}
      {% block heading %}
      <h1 class="heading">{{ organization.title or organization.name }}
        {% if organization.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      </h1>
      {% endblock %}
      {% block description %}
      {% if organization.description %}
        <p class="description">
          {{ h.markdown_extract(organization.description, 180) }}
        </p>
        <p class="read-more">
          {% link_for _('read more'), named_route=organization.type ~ '.about', id=organization.name %}
        </p>
      {% else %}
        <p class="empty">{{ h.humanize_entity_type('organization', organization.type, 'no description') or _('There is no description for this organization') }}</p>
      {% endif %}
      {% endblock %}
      {% if show_nums %}
        {% block nums %}
        {% set num_followers = h.follow_count('group', organization.id) %}
        <div class="nums">
          <dl>
            <dt>{{ _('Followers') }}</dt>
            <dd>{{ h.SI_number_span(num_followers) }}</dd>
          </dl>
          <dl>
            <dt>{{ h.humanize_entity_type('package', dataset_type, 'facet label') or _('Datasets') }}</dt>
            <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
          </dl>
          <dl>
            <dt>{{ _('Members') }}</dt>
            <dd>{{ h.member_count(organization.id) }}</dd>
          </dl>
        </div>
        {% endblock %}
        {% block follow %}
        {% if current_user.is_authenticated %}
          {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
          {% endif %}
          {% snippet 'snippets/follow_button.html', am_following=am_following, obj_type='organization', obj_id=organization.id %}
        {% endif %}
        {% endblock %}
      {% endif %}
      {% endblock %}
      </div>
    </div>
  </section>
  {% endblock %}
