{#
Renders a media item for a organization.

organization - A organization dict.

#}
{% set url = h.url_for(organization.type ~ '.read', id=organization.name) %}
{% block item %}
<div class="col">
  <div class="card h-100">
    {% block item_inner %}
    {% block image %}
      <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" class="card-img-top">
    {% endblock %}
    <div class="card-body">
    {% block title %}
      <h4 class="card-title">{{ organization.display_name }}</h4>
    {% endblock %}
    {% block description %}
      {% if organization.description %}
        <p class="card-text">{{ h.markdown_extract(organization.description, extract_length=80) }}</p>
      {% endif %}
    {% endblock %}
  </div>
  <div class="card-footer">
    {% block datasets %}
      {% if organization.package_count %}
        {{ ungettext('{num} Dataset', '{num} Datasets', organization.package_count).format(num=organization.package_count) }}
      {% else %}
        {{ _('0 Datasets') }}
      {% endif %}
    {% endblock %}
  </div>
    {% block capacity %}
      {% if show_capacity and organization.capacity %}
      <p><span class="label label-default">{{ h.roles_translated().get(organization.capacity, organization.capacity) }}</span></p>
      {% endif %}
    {% endblock %}
    {% block link %}
    <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}" class="card-link">
      <span>{{ _('View {organization_name}').format(organization_name=organization.display_name) }}</span>
    </a>
    {% endblock %}
    {% endblock %}
  </div>
</div>
{% endblock %}
