<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">About</py:def>

  <div py:match="content">
    <h2>About CKAN</h2>

    <p i18n:msg="">CKAN is the Comprehensive Knowledge Archive Network, a <strong>registry</strong> of <a
      href="http://opendefinition.org/">open knowledge</a> datasets and projects
    (and a few closed ones).</p>

    <p i18n:msg="">CKAN makes it easy to <strong>find, share and reuse open
      content and data</strong>, especially in ways that are machine
      automatable.
    </p>

		<p>As a system CKAN functions as a synthesis of several different services:</p>

    <img src="${g.site_url}/images/ckan-features.png" alt="CKAN Features Overview" style="margin-left: 4em; margin-bottom: 2em;" />

		<p i18n:msg="">As the diagram shows, CKAN combines the features of a listing/registry,
		a dataset index and a wiki. As a registry it acts like <a
			href="http://www.freshmeat.net/">freshmeat</a> but for open data and
		content resources. However it adds to a simple registry in key ways.</p>

		<p i18n:msg="">First, thanks to its underlying <a
			href="http://www.okfn.org/vdm/">versioned domain model</a> CKAN has a
		wiki-like interface that lets anyone add and material held in it. Second,
		and unlike a wiki, CKAN can store 'structured' information, which allows it
		to provide 'index'-like features such as automated registration, discovery
		and installation of material. In this respect it behaves like <a
			href="http://www.cpan.org/">CPAN</a> or <a
			href="http://pypi.python.org">PyPI</a> in the software world -- though
		again for <a href="http://opendefinition.org/">open data and content</a>
		not code.</p>
    
    <p i18n:msg="">More about CKAN, and the background to its creation can
    be found in <a
      href="http://m.okfn.org/files/talks/opentech_20080705/">these
      slides</a>.</p>

	</div>

  <xi:include href="layout.html" />
</html>
