<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Home</py:def>

  <div py:match="content">
    <h2>About CKAN</h2>

    <p>CKAN is the Comprehensive Knowledge Archive Network, a <strong>registry</strong> of <a
      href="http://opendefinition.org/">open knowledge</a> packages and projects
    (and a few closed ones).</p>

    <p>CKAN makes it easy to <strong>find, share and reuse open
      content and data</strong>, especially in ways that are machine
      automatable.
    </p>

		<p>As a system CKAN functions as a synthesis of several different services:</p>

    <img src="/images/ckan-features.png" alt="CKAN Features Overview" style="margin-left: 4em; margin-bottom: 2em;" />

		<p>As the diagram shows, CKAN combines the features of a listing/registry,
		a package index and a wiki. As a registry it acts like <a
			href="http://www.freshmeat.net/">freshmeat</a> but for open data and
		content resources. However it adds to a simple registry in key ways.</p>

		<p>First, thanks to its underlying <a
			href="http://www.okfn.org/vdm/">versioned domain model</a> CKAN has a
		wiki-like interface that lets anyone add and material held in it. Second,
		and unlike a wiki, CKAN can store 'structured' information, which allows it
		to provide 'index'-like features such as automated registration, discovery
		and installation of material. In this respect it behaves like <a
			href="http://www.cpan.org/">CPAN</a> or <a
			href="http://pypi.python.org">PyPI</a> in the software world -- though
		again for <a href="http://opendefinition.org/">open data and content</a>
		not code.</p>
    
    <p>More about CKAN, and the background to its creation can
    be found in <a
      href="http://m.okfn.org/files/talks/opentech_20080705/">these
      slides</a>.</p>

    <h2>Who's Behind CKAN?</h2>

    <p>The CKAN software and site is developed and maintained by the <a
      href="http://www.okfn.org/">Open Knowledge Foundation</a>. Both the
    CKAN code and data are open: <a href="/license/">free for anyone to use
      and reuse</a>. To find out more check out the the <a
      href="http://www.okfn.org/ckan/">CKAN project page</a> on the Open
    Knowledge Foundation site.</p>

    <h2>Contributors</h2>

    <p>Various people and projects have contributed to the development of CKAN including:</p>
    <ul>
      <li><a href="http://rufuspollock.org/">Rufus Pollock</a></li>
      <li>David Read</li>
      <li><a href="http://whiteink.com/">Nick Stenning</a> (css and js)</li>
      <li><a href="http://appropriatesoftware.net/">John Bywater</a></li>
      <li>CKAN logo: "<a href="http://www.maedelmaedel.com/">angry</a> <a href="http://www.villainous.biz/">hamster</a>"</li>
      <li><a href="http://www.famfamfam.com/lab/icons/silk/">famfamfam.com for silk icons</a></li>
      <li><a href="http://pylonshq.com/">Pylons</a></li>
      <li><a href="http://genshi.edgewall.org/">Genshi</a></li>
    </ul>
	</div>

  <xi:include href="layout.html" />
</html>
