{% extends "page.html" %}

{% block meta %}
  {{ super() }}
  <meta name="description" value="Contact Us test description" />
{% endblock %}

{% block subtitle %}{{ _('Contact Us') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Contact Us'), 'home.contact' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block contact %}
        {% if g.site_contact %}
          {{ h.render_markdown(g.site_contact) }}
        {% else %}
          <h1 class="page-heading">{{ _('Contact Us') }}</h1>
          {% snippet 'home/snippets/contact_text.html' %}
        {% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}

