<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Home</py:def>

  <py:def function="optional_head">
  <script src="/scripts/jquery.tagcloud.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $.fn.tagcloud.defaults = {
        size: {start: 10, end: 32, unit: "pt"}, 
        color: {start: '#af8', end: '#f52'}
      };
      $("#tagcloud a").tagcloud();
    })
  </script>
  <style type="text/css">
    #tagcloud * {
      display: inline-block;
      vertical-align: middle;
			line-height: 0.9;
    }

    #tagcloud a {
      text-decoration: none;
    }

    #tagcloud a:hover {
      text-decoration: underline;
    }

    #tagcloud {
      margin: 25px auto;
      text-align: center;
    }
  </style>
  </py:def>

  <py:match path="primarysidebar">
    <div class="box">
      <h2>About CKAN</h2>
      <p>
        Find out more about CKAN by reading our about pages or consulting the 
        CKAN guide.
      </p>
      <p>
        ${h.link_to('About &raquo;', h.url_for('about'))}
        &nbsp;&nbsp;
        ${h.link_to('FAQ and Guide &raquo;', h.url_for('guide'))}
        ${h.link_to('Statistics &raquo;', h.url_for('stats'))}
        &nbsp;&nbsp;
        <a href="http://knowledgeforge.net/ckan/">Development &raquo;</a>
      </p>
    </div>
  </py:match>

  <div py:match="content">
    <h2>Welcome to CKAN</h2>
    <p>
      CKAN is a registry of <a href="http://opendefinition.org/">open data 
      and content</a> packages. CKAN makes it easy to <strong>find, share and reuse 
      open content and data</strong>, especially in ways that are machine 
      automatable.
    </p>
    
    <p><strong>${c.package_count} registered packages</strong> available.</p>

    <xi:include href="../package/search_form.html" />

    <h4>Top Tags</h4>
    <div id="tagcloud">
    <py:for each="tag_name, count in c.tag_counts">
      <a rel="${count}" title="${count}" href="${h.url_for(controller='tag',
        action='read', id=tag_name)}">${tag_name}</a>
    </py:for>
    </div>

    <hr />

    <h4>Recently changed</h4>
    <table class="recent-changes">
      <tr>
        <th>Packages</th>
        <th>Author</th>
        <th class="greyed">Time</th>
      </tr>
      <tr py:for="rev in c.revisions">
        <td>
        <py:for each="pkg in rev.packages[:10]">
        <a href="${h.url_for(controller='package', action='read', id=pkg.name)}">${pkg.name}</a>
        </py:for>
        ${'...' if len(rev.packages) > 10 else ''}
        </td>
        <td>${rev.author}</td>
        <td class="greyed">${rev.timestamp.replace(microsecond=0)}</td>
      </tr>
    </table>
    <p><a href="${h.url_for(controller='revision', action='index',
      id=None)}">View older changes &raquo;</a></p>
  </div>

  <xi:include href="layout.html" />
</html>
