{% extends "page.html" %}

{% block title %}{{ _("Welcome") }} - {{ super() }}{% endblock %}

{% block maintag %}{% endblock %}

{% block content %}
  <div role="main" class="hero">
    <div class="container">
      {{ self.flash() }}
      {{ self.primary_content() }}
    </div>
  </div>
  <div class="main">
    <div class="container">
      {{ self.secondary_content() }}
    </div>
  </div>

{% endblock %}

{% block primary_content %}
  <div class="primary module module-popup">
    <div class="module-content">
      <header>
        <h1 class="page-heading">{{ _("Welcome to CKAN") }}</h1>
        <p>{% trans %}This is a nice introductory paragraph about CKAN or the site
        in general. We don't have any copy to go here yet but soon we will
        {% endtrans %}</p>
      </header>

      <section class="featured media-overlay">
        <h2 class="media-heading">{{ _("This is a featured section") }}</h2>
        <a class="image" href="#">
          <img src="http://placehold.it/420x220" />
        </a>
      </section>
    </div>
  </div>
  <div class="secondary">
    <div class="secondary-inner">
      <div class="module module-shallow module-narrow module-dark info">
        <form class="dataset-search module-content clearfix" method="get" action="{% url_for controller='package', action='search' %}">
          <h3 class="heading">{{ _("Search Your Data") }}</h3>
          <span class="control-group search-giant">
            <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" results="0" placeholder="{{ _('eg. Gold Prices') }}" />
            <button type="submit" value="{{ _('Search') }}">Submit</button>
          </span>
        </form>
      </div>
      <div class="tags">
        <h3 class="tag">Popular {{ c.facet_titles.name }}</h3>
        {% set tags = h.get_facet_items_dict('tags', limit=3) %}
        {% snippet 'snippets/tag_list.html', tags=tags %}
      </div>
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  {% snippet 'snippets/package_grid.html', packages=c.datasets %}
{% endblock %}

{# Remove the toolbar. #}
{% block toolbar %}{% endblock %}
