<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  
  <py:match path="minornavigation">
    <li>${h.subnav_link(c, _('About'), controller='home', action='about', id=None)}</li>
<!--    <li>${h.subnav_link(c, _('FAQ and Guide'), controller='home', action='guide', id=None)}</li> -->
    <li><a href="https://knowledgeforge.net/ckan/trac">Help</a></li>
  </py:match>
  
  <xi:include href="../layout.html" />
</html>
