<div role="main" class="hero">
  <div class="container search-container">
    <h1>
        <strong>Big Data</strong> Knowledge Discovery
    </h1>
    <p>
        Macquarie University and The University of Sydney are joining forces with globally 
        recognised Machine-learning experts from NICTA and leading Big Data Software Engineers 
        from SIRCA to deliver data-led insights to ecology, physics and geosciences.
    </p>
    {% snippet 'home/snippets/search.html' %}
  </div>
</div>
<div role="main">
    <div class="marquee">
        <div class="row attribution-about">
            <div class="">
                {% snippet 'home/snippets/promoted.html' %}
            </div>
        </div>
    </div>
    <div class="marquee gray-bg">
        <div class="row main-stats">
          {% snippet 'home/snippets/stats.html' %}
        </div>
    </div>
    <div class="marquee">
        <div class="row attribution-logos">
            <h3>Supported by</h3>
            <img src="/base/images/logo/Sirca_Logo_RGB.png"/>
            <img src="/base/images/logo/SydneyUniversity_Logo_RGB.png"/>
            <img src="/base/images/logo/MacquarieUniversity_Logo_RGB.png"/>
            <img src="/base/images/logo/NICTA_logo.png"/>
            <img src="/base/images/logo/SIEF_logo.png"/>
        </div>
    </div>
</div>
