{% extends "page.html" %}

{% block subtitle %}{{ _('Privacy') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Privacy'), 'home.privacy' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block privacy %}
        <h1 class="page-heading">{{ _('Privacy') }}</h1>
        {% snippet 'home/snippets/privacy_text.html' %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
