<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Stats</py:def>

  <py:def function="optional_head">
    <!--[if IE]><script language="javascript" type="text/javascript" src="/scripts/flot-0.5/excanvas.pack.js"></script><![endif]-->
    <script type="text/javascript" src="http://m.okfn.org/ext/flot-0.6/jquery.flot.js">//pointless jscript comment</script>
  </py:def>

  <div py:match="content">
    <h1>Statistics</h1>
        
    <h3>Top Rated Packages</h3>
    <table>
      <tr py:for="pkg, rating in c.top_rated_packages">
        <td>${pkg.name}</td><td>${rating}</td>
      </tr>
    </table>

    <h3>Most Edited Packages</h3>
    <table>
      <tr py:for="pkg, edits in c.most_edited_packages">
        <td>${pkg.name}</td><td>${edits}</td>
      </tr>
    </table>

    <h3>Largest Groups</h3>
    <table>
      <tr py:for="group, num_packages in c.largest_groups">
        <td>${group.name}</td><td>${num_packages}</td>
      </tr>
    </table>

    <h3>Top Tags</h3>
    <table>
      <tr py:for="tag, num_packages in c.top_tags">
        <td>${tag.name}</td><td>${num_packages}</td>
      </tr>
    </table>
  
    <h3>Users owning most packages</h3>
    <table>
      <tr py:for="user, num_packages in c.top_package_owners">
        <td>${user.name}</td><td>${num_packages}</td>
      </tr>
    </table>
  
    <h3>Number of packages</h3>
    <div id="new_packages_graph" style="width:600px;height:300px"></div>
    <script type="text/javascript">
      var options = {
          xaxis: {
          mode: "time",
          timeformat: "%y-%m-%d"
          }
      };
      var data = [
        [ 
        <py:for each="pkg_date, pkgs, num_packages, cumulative_num_packages in c.new_packages_by_week">
          [ new Date(${pkg_date.replace('-', ',')}), ${cumulative_num_packages} ],
        </py:for>
        ]
      ];
      $.plot($("#new_packages_graph"), data, options);
    </script>
    
<!--
    <h4>Rate of new packages added</h4>
    <table>
      <tr><th>Week commencing</th><th>Number of new packages</th></tr>
      <tr py:for="week_commencing, pkg_ids, num_pkgs, cumulative in c.new_packages_by_week">
        <td>${week_commencing}</td><td>${num_pkgs}</td>
      </tr>
    </table>
-->

<!--
    <h3>Rate of package revisions</h3>
    <table>
      <th>Week commencing</th><th>Number of package revisons</th>
      <tr py:for="week_commencing, num_packages in c.package_revisions_by_week">
        <td>${week_commencing}</td><td>${num_packages}</td>
      </tr>
    </table>
-->

  </div>

  <xi:include href="layout.html" />
</html>
