{% extends "page.html" %}

{% block subtitle %}{{ _('Terms & Conditions') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('AVIN Data Index Terms & Conditions'), 'home.terms' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block terms_conditions %}
        <h1 class="page-heading">{{ _('AVIN Data Index Terms & Conditions') }}</h1>
        {% snippet 'home/snippets/terms_text.html' %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
