<section class="module module-narrow">
  {% with items=(("First", true), ("Second", false), ("Third", true), ("Fourth", false), ("Last", false)) %}
    <h2 class="module-heading"><i class="fa fa-filter"></i>  Facet List</h2>
    <nav>
      <ul class="nav nav-facet flex-column">
        {% for value, active in items %}
          <li class="nav-pills">
            <a class="nav-link {{ ' active' if active }}" href="#">{{ value }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <p class="module-footer">
      <a href="#" class="read-more">Read More</a>
    </p>
  {% endwith %}
</section>
