<section class="module module-narrow">
  {% with items=(("First", true), ("Second", false), ("Third", true), ("Fourth", false), ("Last", false)) %}
    <h2 class="module-heading">{{ heading }}</h2>
    <nav>
      <ul class="nav flex-column">
        {% for value, active in items %}
          <li class="nav-pills">
            <a class="nav-link {{ ' active' if show_active and active }}" href="#">{% if show_icons %}<i class="fa fa-cog"></i> {% endif %}{{ value }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endwith %}
</section>
