.wy-side-nav-search > .sidebar-admonition {
  color: black;
  }
.wy-side-nav-search .admonition .last {
    text-align: left;
    font-size: 85%;
}

h1{
	font-family: 'Rubik', sans-serif;
}
h2{
	font-family: 'Rubik', sans-serif;
}
h3{
	font-family: 'Rubik', sans-serif;
}
h4{
	font-family: 'Rubik', sans-serif;
}
h5{
	font-family: 'Rubik', sans-serif;
}
h6{
	font-family: 'Rubik', sans-serif;
}

p{
	font-family: 'Open Sans', sans-serif;
}