{%- if not c.group_type -%}
<p>
    group_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
</p>
{%- endif -%}

<form class="dataset-form form-horizontal" method="post" data-module="basic-form" enctype="multipart/form-data">
{%- set schema = h.scheming_get_group_schema(c.group_type) -%}
{%- for field in schema['fields'] -%}
    {%- snippet 'scheming/snippets/form_field.html',
    field=field, data=data, errors=errors, licenses=licenses,
    entity_type='group', object_type=c.group_type -%}
{%- endfor -%}

<div class="form-actions">
    {% block delete_button %}
    {% if h.check_access('group_delete', {'id': data.id}) and action=='edit'  %}
    {% set locale = h.dump_json({'content': _('Are you sure you want to delete this Theme?')}) %}
    <a class="btn btn-danger pull-left" href="{% url_for controller='group', action='delete', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
    {% endif %}
    {% endblock %}
    <button class="btn btn-primary" name="save" type="submit">{% block save_text %}{{ _('Create Theme') }}{% endblock %}</button>
</div>
</form>
