{% extends "page.html" %}

{% block title %}{{ _("Create a Dataset") }} - {{ super() }}{% endblock %}

{% block breadcrumb %}
  {{ h.snippet('package/snippets/new_package_breadcrumb.html') }}
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="content">
      {% block stages %}{{ h.snippet('package/snippets/stages.html', stage=1) }}{% endblock %}
      {% block form %}{{ c.form | safe }}{% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  <section class="module">
    <h2 class="heading"><i class="ckan-icon ckan-icon-info"></i> {{ _('What are datasets?') }}</h2>
    <div class="content">
      <p>
        {% trans %}
        Datasets are simply used to group related pieces of data. These
        can then be found under a single url with a description and
        licensing information.
        {% endtrans %}
      </p>
    </div>
  </section>
{% endblock %}
