<li>
  <p>
    {% set pkg_link = (h.url_for('dataset.read', id=change.pkg_id)) %}
    {# if both of them have URLs #}
    {% if change.new_url != "" and change.old_url != "" %}

      {% trans
        title=change.title, new_title=change.new_title, old_title=change.old_title,
        new_url=change.new_url, old_url=change.old_url
      %}
      Changed the license of
      <a href="{{ pkg_link }}">{{ title }}</a> to
      <a href="{{ new_url }}">{{ new_title }}</a> (previously
      <a href="{{ old_url }}">{{ old_title }}</a>).
      {% endtrans %}

    {# if only the new one has a URL #}
    {% elif change.new_url != "" and change.old_url == "" %}

      {% trans
        title=change.title, new_title=change.new_title, old_title=change.old_title,
        new_url=change.new_url
      %}
      Changed the license of
      <a href="{{ pkg_link }}">{{ title }}</a> to
      <a href="{{ new_url }}">{{ new_title }}</a> (previously {{ old_title }}).
      {% endtrans %}

    {# if only the old one has a URL #}
    {% elif change.new_url == "" and change.old_url != "" %}

      {% trans
        title=change.title, new_title=change.new_title, old_title=change.old_title,
        old_url=change.old_url
      %}
      Changed the license of
      <a href="{{ pkg_link }}">{{ title }}</a> to {{ new_title }}
      (previously <a href="{{ old_url }}">{{ old_title }}</a>).
      {% endtrans %}

    {# otherwise neither has a URL #}
    {% else %}

      {% trans
        title=change.title, new_title=change.new_title, old_title=change.old_title
      %}
      Changed the license of
      <a href="{{ pkg_link }}">{{ title }}</a> to {{ new_title }} (previously {{ old_title }}).
      {% endtrans %}

    {% endif %}
  </p>
</li>
