<li>
  <p>
    {% set pkg_link = (h.url_for('dataset.read', id=change.pkg_id)) %}

    {% if change.method == "change" %}
    {% set old_src_url = 'http://' + change.old_url if not change.old_url[0:4] == 'http' else change.old_url %}
    {% set new_src_url = 'http://' + change.new_url if not change.new_url[0:4] == 'http' else change.new_url %}

      {% trans
        title=change.title
      %}
      Changed the source URL of
      <a href="{{ pkg_link }}">{{ title }}</a> from
      <a href="{{ old_src_url }}">{{ old_src_url }}</a> to
      <a href="{{ new_src_url }}">{{ new_src_url }}</a>.
      {% endtrans %}

    {% elif change.method == "remove" %}

      {% trans
        title=change.title
      %}
      Removed the source URL from
      <a href="{{ pkg_link }}">{{ title }}</a>.
      {% endtrans %}

    {% elif change.method == "add" %}
    {% set new_src_url = 'http://' + change.new_url if not change.new_url[0:4] == 'http' else change.new_url %}

      {% trans
        title=change.title
      %}
      Changed the source URL of
      <a href="{{ pkg_link }}">{{ title }}</a> to
      <a href="{{ new_src_url }}">{{ new_src_url }}</a>.
      {% endtrans %}

    {% else %}

      {{ _('No fields were updated. See the metadata diff for more details.') }}

    {% endif %}
  </p>
</li>
