{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'notes',
    'tag_string',
    'license_id',
    'owner_org',
    ] -%}

{% block package_additional_info %}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields
        and field.display_snippet is not none
        and pkg_dict[field.field_name] or pkg_dict[field.values] or pkg_dict[field.choices] is defined -%}
      <tr>
        <th scope="row" class="dataset-label">{{
          h.scheming_language_text(field.label) }}</th>
        <td class="dataset-details"{%
          if field.display_property %} property="{{ field.display_property
          }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
          field=field, data=pkg_dict, schema=schema -%}</td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }}</th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
  {% endif %}
{% endblock %}
