{% extends 'user/dashboard.html' %}

{% block page_primary_action %}
{% asset 'api_tracking/dataset-css' %}
{% asset 'api_tracking/statistical_field-js' %}
<div class="container mt-5 p-4 border rounded shadow-sm bg-light">
  <form id="tracking-form" action="{{ url_for('tracking_blueprint.statistical_field') }}" method="post">
    <h4 class="mb-4">{{ _("Filter Field Datasets") }}</h4>
    
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="fieldName" class="form-label">{{ _("Field Name") }}</label>
        <select id="fieldName" name="field_name" class="form-select" multiple>
          <option value="" {% if field_name == [""] %}selected{% endif %}>{{ _("All Fields") }}</option>
          {% for field in tag_list %}
            <option value="{{ field }}" {% if field in field_name %}selected{% endif %}>
              {{ field }}
            </option>
          {% endfor %}
        </select>
      </div>
      

      <div class="col-md-4">
        <label for="state" class="form-label">{{ _("State") }}</label>
        <select id="state" name="state" class="form-select" style="line-height: 2.5;">
          <option value="" {% if state == None %}selected{% endif %}>{{ _("All") }}</option>
          <option value="active" {% if state == 'active' %}selected{% endif %}>{{ _("Active") }}</option>
          <option value="draft" {% if state == 'draft' %}selected{% endif %}>{{ _("Draft") }}</option>
          <option value="deleted" {% if state == 'deleted' %}selected{% endif %}>{{ _("Deleted") }}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="private" class="form-label">{{ _("Private") }}</label>
        <select id="private" name="private" class="form-select" style="line-height: 2.5;">
          <option value="" {% if private == None %}selected{% endif %}>{{ _("All") }}</option>
          <option value="true" {% if private == 'true' %}selected{% endif %}>{{ _("True") }}</option>
          <option value="false" {% if private == 'false' %}selected{% endif %}>{{ _("False") }}</option>
        </select>
      </div>
    </div>

    <div class="text-end">
      <button type="submit" class="btn btn-primary px-4">{{ _("Filter") }}</button>
    </div>
  </form>
</div>

{% endblock %}

{% block primary_content_inner %}
    {{ super() }}
    <div class="container mt-5 p-4 border rounded shadow-sm bg-light">
      <div class="row g-0">
        <!-- Số lượng mục hiển thị -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="itemCount" class="form-label">{{ _("Select number of items to display") }}</label>
            <input type="number" id="itemCount" min="1" max="1000" value="5" class="form-control" oninput="updateChartData()">
          </div>
        </div>
        <!-- Sắp xếp -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="sortOptions" class="form-label">{{ _("Sort by") }}</label>
            <select id="sortOptions" class="form-select" onchange="sortData(this.value)">
              <option value="asc">{{ _("Views (Ascending)") }}</option>
              <option value="desc">{{ _("Views (Descending)") }}</option>
              <option value="nameAsc">{{ _("Name (A-Z)") }}</option>
              <option value="nameDesc">{{ _("Name (Z-A)") }}</option>
            </select>
          </div>
        </div>
        <!-- Loại biểu đồ -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="chartType" class="form-label">{{ _("Select Chart Type") }}</label>
            <select id="chartType" class="form-select">
              <option value="bar">{{ _("Bar Chart") }}</option>
              <option value="line">{{ _("Line Chart") }}</option>
              <option value="pie">{{ _("Pie Chart") }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Biểu đồ thống kê -->
    <div class="container mt-4">
      <h1 class="text-center">{{ _("Statistical Field") }}</h1>
      <canvas id="statisticsChart"></canvas>
    </div>
    
    <!-- Thông báo không có tài nguyên -->
    <div id="noResourceMessage" class="mt-3 text-center text-danger fw-bold" style="display: none;">
      {{ _("No resources have been accessed.") }}
    </div>
    
    <!-- Dữ liệu datasets được inject vào đây -->
    <script>
        {% if datasets_field is not undefined and datasets_field is not none %}
            window.trackingData = {{ datasets_field | tojson }};
        {% else %}
            window.trackingData = [];
        {% endif %}
      </script>
{% endblock %}
