{% extends 'package/base.html' %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    {% if pkg %}
	<li class="active">{% link_for _('Edit'), named_route='dataset.edit', id=pkg.name %}</li>
    {% endif %}
{% endblock %}

{% block content_action %}
    {% link_for _('View dataset'), named_route='dataset.read', id=pkg.name, class_='btn', icon='eye' %}
{% endblock %}

{% block content_primary_nav %}
    {{ h.build_nav_icon('dataset.edit', _('Edit metadata'), id=pkg.name) }}
    {{ h.build_nav_icon('dataset.resources', _('Resources'), id=pkg.name) }}
{% endblock %}

{% block secondary_content %}
    {% snippet 'package/snippets/info.html', pkg=pkg, hide_follow_button=true %}
{% endblock %}
