.module-content {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

/* CSS arrow between 2 table */
.arrow-container {
    margin: 20px 0;
    position: relative;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #007bff;  /* Màu mũi tên */
    margin: 0 auto;
}

.arrow-container::after {
    font-size: 24px;
    color: #007bff;
    position: absolute;
    top: -30px;  /* Điều chỉnh vị trí mũi tên nếu cần */
    left: 50%;
    transform: translateX(-50%);
}

.page-header .content_action {
    float: right;
    margin-top: 3px;
}


/* Move to top */
#moveToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Ẩn nút khi chưa cuộn xuống */
    z-index: 1000;
    background-color: #007bff; /* Màu nền */
    color: white; /* Màu biểu tượng */
    border: none;
    border-radius: 50%; /* Bo tròn nút */
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px; /* Kích thước biểu tượng */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#moveToTop:hover {
    background-color: #0056b3; /* Màu nền khi hover */
}



.sorting_asc {
    background: url('/webassets/images/sort_asc.png') no-repeat center center;
}


/* css hover packeage name */
#resourceChartContainer,
#title_resource {
  display: none;
  text-align: center;
  margin-top: 40px;
}


#trackingChart, #statisticsChart {
    width: 60%;      /* Chiều rộng của biểu đồ, ví dụ 80% chiều rộng của phần tử chứa */
    height: 200px;   /* Chiều cao của biểu đồ */
    margin: 0 auto;  /* Căn giữa biểu đồ */
  }
  
  /* Điều chỉnh kích thước của biểu đồ resource */
  #resourceChart {
    width: 60%;      /* Chiều rộng của biểu đồ */
    height: 100px;   /* Chiều cao của biểu đồ */
    margin: 0 auto;  /* Căn giữa biểu đồ */
  }

  

  