<li>
  <p>
    {% set group_link = (h.url_for('group.read', id=change.pkg_id)) %}

    {% if change.method == "change" %}
    {% set old_img_url = 'http://' + change.old_image_url if not change.old_image_url[0:4] == 'http' else change.old_image_url %}
    {% set new_img_url = 'http://' + change.new_image_url if not change.new_image_url[0:4] == 'http' else change.new_image_url %}

      {% trans
        title=change.title, old_url=old_img_url, new_url=new_img_url
      %}
      Changed the image URL of
      <a href="{{ group_link }}">{{ title }}</a> from
      <a href="{{ old_url }}">{{ old_url }}</a> to
      <a href="{{ new_url }}">{{ new_url }}</a>.
      {% endtrans %}

    {% elif change.method == "remove" %}

      {% trans
        title=change.title
      %}
      Removed the image URL from
      <a href="{{ group_link }}">{{ title }}</a>.
      {% endtrans %}

    {% elif change.method == "add" %}
    {% set new_img_url = 'http://' + change.new_image_url if not change.new_image_url[0:4] == 'http' else change.new_image_url %}

      {% trans
        title=change.title, new_url=new_img_url
      %}
      Changed the image URL of
      <a href="{{ group_link }}">{{ title }}</a> to
      <a href="{{ new_url }}">{{ new_url }}</a>.
      {% endtrans %}

    {% else %}

      {{ _('No fields were updated. See the metadata diff for more details.') }}

    {% endif %}
  </p>
</li>
