# EditorConfig http://EditorConfig.org

# Project Root
root = true

# Default Code Style
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Python Code Style
[*.py]
indent_size = 4
