[flake8]
max-line-length=88
exclude =
        .*
        ./contrib
        ./bin
per-file-ignores =
                 test_*.py:E501
                 ckan/lib/helpers.py:F824
                 ckan/lib/jobs.py:F824
extend-exclude =
               ckan/__init__.py,ckan/config/middleware.py
               ckan/lib/app_globals.py
               ckan/lib/cli.py
               ckan/lib/create_test_data.py
               ckan/lib/dictization/__init__.py
               ckan/lib/dictization/model_dictize.py
               ckan/lib/dictization/model_save.py
               ckan/lib/email_notifications.py
               ckan/lib/hash.py
               ckan/lib/jinja_extensions.py
               ckan/lib/maintain.py
               ckan/lib/navl/validators.py
               ckan/lib/plugins.py
               ckan/lib/search/__init__.py
               ckan/lib/search/index.py
               ckan/lib/search/query.py
               ckan/logic/action/__init__.py
               ckan/logic/action/delete.py
               ckan/logic/action/get.py
               ckan/logic/action/update.py
               ckan/logic/auth/create.py
               ckan/logic/auth/delete.py
               ckan/logic/auth/get.py
               ckan/logic/auth/update.py
               ckan/logic/converters.py
               ckan/logic/validators.py
               ckan/model/__init__.py
               ckan/model/dashboard.py
               ckan/model/domain_object.py
               ckan/model/follower.py
               ckan/model/group.py
               ckan/model/group_extra.py
               ckan/model/license.py
               ckan/model/meta.py
               ckan/model/misc.py
               ckan/model/modification.py
               ckan/model/package.py
               ckan/model/package_extra.py
               ckan/model/package_relationship.py
               ckan/model/resource.py
               ckan/model/system_info.py
               ckan/model/tag.py
               ckan/model/task_status.py
               ckan/model/term_translation.py
               ckan/model/tracking.py
               ckan/model/user.py
               ckan/model/vocabulary.py
               ckan/authz.py
               ckanext/datastore/logic/action.py
               ckanext/datastore/tests/test_create.py
               ckanext/example_idatasetform/plugin.py
               ckanext/example_itemplatehelpers/plugin.py
               ckanext/multilingual/plugin.py
               ckanext/stats/stats.py
               ckanext/test_tag_vocab_plugin.py
               doc/conf.py
               setup.py
