[submodule "ckanapi"]
    path = ckanapi
    url = https://github.com/ckan/ckanapi.git
[submodule "ckanext-scheming"]
    path = ckanext-scheming
    url = https://github.com/ckan/ckanext-scheming.git
[submodule "ckantoolkit"]
    path = ckantoolkit
    url = https://github.com/ckan/ckantoolkit.git
[submodule "ckanext-pdfview"]
    path = ckanext-pdfview
    url = https://github.com/ckan/ckanext-pdfview.git
[submodule "ckanext-fluent"]
    path = ckanext-fluent
    url = https://github.com/smallmedia/ckanext-fluent.git
