language: python
python:
  - "2.6"
  - "2.7"
env:
  - PGVERSION=9.1
  - PGVERSION=8.4
install:
  - pip install coveralls --use-mirrors
script: ./bin/travis-build
notifications:
  irc:
    channels:
      - "irc.freenode.org#ckan"
    on_success: never
    on_failure: change
    template:
      - "%{repository} %{branch} %{commit} %{build_url} %{author}: %{message}"
after_success:
  - coveralls
