# These are packages that are required by ckan developers - for running ckan in debug mode, running ckan tests, building the docs and to pip-compile the requirements.in file.

beautifulsoup4==4.12.2
cookiecutter==2.5.0
coveralls   #Let Unpinned - Requires latest coveralls
Faker==20.1.0
factory-boy==3.3.0
flask-debugtoolbar==0.14.1
freezegun==1.3.1
ipdb==0.13.13
pip-tools==7.3.0
Pillow==10.1.0
responses==0.24.1
sphinx-rtd-theme==2.0.0
sphinx==7.2.6
toml==0.10.2
towncrier==23.11.0

pytest==7.4.3
pytest-cov==4.1.0
pytest-factoryboy==2.6.0
pytest-freezegun==0.4.2
pytest-rerunfailures==13.0
pytest-split==0.8.1
