include ckan/config/deployment.ini_tmpl
recursive-include ckan/public *
recursive-include ckan/config *.ini
recursive-include ckan/config *.json
recursive-include ckan/config *.xml
recursive-include ckan/i18n *
recursive-include ckan/templates *
recursive-include ckan *.ini

recursive-include ckanext/*/i18n *
recursive-include ckanext/*/public *
recursive-include ckanext/*/templates *
recursive-include ckanext/*/theme/public *
recursive-include ckanext/*/theme/templates *
include ckanext/datastore/set_permissions.sql

prune .git
include CHANGELOG.txt
include ckan/migration/migrate.cfg
include ckan/migration/README
recursive-include ckan/migration/versions *.sql
include requirement-setuptools.txt
include requirements.txt
include requirements-py2.txt
include dev-requirements.txt
