-e hg+https://bitbucket.org/okfn/vdm@vdm-0.7#egg=vdm
-e hg+https://bitbucket.org/okfn/licenses@0.6#egg=licenses
-e hg+https://bitbucket.org/okfn/ckanclient@ckanclient-v0.5#egg=ckanclient
-e hg+https://bitbucket.org/okfn/ckan@metastable#egg=ckan
psycopg2
