# To use this requirements file: (assumes virtualenv at ./pyenv)
# pip -E pyenv install -r pip-requirements.txt

sphinx<0.9
psycopg2
-e hg+https://solrpy.googlecode.com/hg@rel-0-9-4#egg=solrpy
-e hg+https://bitbucket.org/okfn/vdm@vdm-0.9#egg=vdm
-e hg+https://bitbucket.org/okfn/licenses@0.6#egg=licenses
-e hg+https://bitbucket.org/okfn/ckanclient@ckanclient-v0.6#egg=ckanclient
-e hg+https://bitbucket.org/okfn/ckan@stable#egg=ckan

