# The file contains the direct ckan requirements (python3).
# Use pip-compile to create a requirements.txt file from this
alembic==1.12.0
Babel==2.12.1
bleach==6.0.0
blinker==1.6.2
certifi>=2023.7.22
click==8.1.7
dominate==2.8.0
feedgen==0.9.0
Flask==2.3.3
Flask-Babel==3.1.0
Flask-Login==0.6.2
Flask-Session==0.5.0
Flask-WTF==1.1.1
# For Python 3.11 support
greenlet==2.0.2
Jinja2==3.1.2
Markdown==3.4.4
passlib==1.7.4
polib==1.2.0
psycopg2==2.9.7
PyJWT==2.8.0
python-magic==0.4.27
pysolr==3.9.0
python-dateutil==2.8.2
pytz
PyUtilib==6.0.0
pyyaml==6.0.1
requests==2.31.0
rq==1.15.1
simplejson==3.19.1
SQLAlchemy[mypy]==1.4.49
sqlparse==0.4.4
typing_extensions==4.8.0
tzlocal==5.0.1
webassets==2.0
Werkzeug[watchdog]==2.3.7
zope.interface==6.0
