# The file contains the direct ckan requirements (python3).
# Use pip-compile to create a requirements.txt file from this
alembic==1.13.3
Babel==2.16.0
bleach==6.2.0
blinker==1.8.2
certifi>=2024.8.30
click==8.1.7
dominate==2.9.1
feedgen==1.0.0
Flask==3.0.3
Flask-Babel==4.0.0
Flask-Login==0.6.3
Flask-Session==0.8.0
Flask-WTF==1.2.2
Jinja2==3.1.4
Markdown==3.7
msgspec==0.18.6
packaging==24.1
passlib==1.7.4
polib==1.2.0
psycopg2==2.9.9
PyJWT==2.9.0
pyparsing==3.2.0
python-magic==0.4.27
pysolr==3.10.0
python-dateutil==2.9.0.post0
pytz
pyyaml==6.0.1
requests==2.32.3
rq==2.0.0
simplejson==3.19.3
SQLAlchemy==2.0.36
sqlparse==0.5.1
typing_extensions==4.12.2
tzlocal==5.2
webassets==2.0
Werkzeug[watchdog]==3.1.1
zope.interface==7.1.1
