<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

<div class="modal-add-related modal fade in" style="display: none;"
  py:def="add_related(dataset)">
<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>
    Add related item
  </h3>
</div>
<div class="modal-body">
  <p><strong>Access resource data via a web API with powerful query
    support</strong>. Further information in the <a
    href="http://docs.ckan.org/en/latest/storage/datastore.html" target="_blank">main
    CKAN Data API and DataStore documentation</a>.</p>
</div>
</div>

</html>
