<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

<div class="modal-data-api-help modal fade in" style="display: none;"
  py:def="data_api_help(datastore_api)">
<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>
    CKAN Data API
  </h3>
</div>
<div class="modal-body">
  <p><strong>Access (and update) resource data via a web API with powerful query
    support</strong>.</p>
  
  <ul>
    <li>Quickstart info below</li>
    <li><a
    href="http://docs.ckan.org/en/latest/using-data-api.html" target="_blank">
    Tutorial, examples and full details in main CKAN documentation</a></li>
  </ul>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href=".collapse-endpoints">Example URLs and Endpoints&raquo;</a>
    </div>
    <div class="collapse-endpoints in accordion-body">
      <div class="accordion-inner">
        <strong>Query example (first 5 results)</strong>
        <p>
        <code><a href="${datastore_api}/_search?size=5&amp;pretty=true" target="_blank">${datastore_api}/_search?size=5&amp;pretty=true</a></code>
        </p>
        
        <strong>Query example (results with 'jones' in <code>title</code> field)</strong>
        <p>
        <code><a href="${datastore_api}/_search?q=title:jones&amp;size=5&amp;pretty=true"
            target="_blank">${datastore_api}/_search?q=title:jones&amp;size=5&amp;pretty=true</a></code>
        </p>

        <strong>Schema (Mapping)</strong>
        <p>
        <code><a href="${datastore_api}/_mapping" target="_blank">${datastore_api}/_mapping?pretty=true</a></code>
        </p>

        <strong>Endpoint (for clients)</strong>
        <p>
        <code>${datastore_api}</code>
        </p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" href=".collapse-javascript" data-toggle="collapse">Example: Javascript</a>
    </div>
    <div class="accordion-body collapse-javascript in">
      <div class="accordion-inner">
        <p>A simple ajax (JSONP) request to the data API using jQuery.</p>
        <pre>
var data = {
  size: 5 // get 5 results
  q: 'title:jones' // query on the title field for 'jones'
};
$.ajax({
  url: '${datastore_api}/_search',
  data: data,
  dataType: 'jsonp',
  success: function(data) {
    alert('Total results found: ' + data.hits.total)
  }
});</pre>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" href=".collapse-javascript" data-toggle="collapse">Example: Python</a>
    </div>
    <div class="accordion-body collapse-javascript in">
      <div class="accordion-inner">
        <pre>
import urllib
url = '${datastore_api}/_search?size=5&amp;q=title:jones'
fileobj = urllib.urlopen(url)
print fileobj.read()
</pre>
      </div>
    </div>
  </div>
</div>
</div>

</html>
