{% extends "package/read_base.html" %}

{% block subtitle %}{{ _('Activity Stream') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">
    {% block page_heading %}
      {{ _('Activity Stream') }}
    {% endblock %}
  </h1>
  {% snippet 'snippets/activity_stream.html', activity_stream=activity_stream %}
  {% set offset=(offset or 0) | int %}
  {% if offset > limit %}
  <a href="{{ h.url_for(
      controller='package',
      action='activity',
      id=pkg.id,
      offset=offset - limit) }}" class="btn btn-primary" rel="nofollow">
    &lt;&lt;
  </a>
  {% elif offset %}
  <a href="{{ h.url_for(
      controller='package',
      action='activity',
      id=pkg.id) }}" class="btn btn-primary" rel="nofollow">
    &lt;&lt;
  </a>
  {% endif %}

  {% if activity_stream and activity_stream|length == limit %}
  <a href="{{ h.url_for(
      controller='package',
      action='activity',
      id=pkg.id,
      offset=(offset or 0) + limit) }}" class="btn btn-primary" rel="nofollow">
    &gt;&gt;
  </a>
  {% endif %}
{% endblock %}
