<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Packages - Authorization - ${c.pkgname}</py:def>

  <div py:match="content">
    <h2>
      Authorization for package: ${c.pkgname}
    </h2>

    <p py:if="c.message">${c.message}</p>

    <form action="" method="post">
      <h3>Update Existing Roles</h3>
      <table>
      ${HTML(c.form)}
      </table>

      <h3>Create New User Roles</h3>
      ${HTML(c.new_roles_form)}
        
      <br/>

      ${h.submit('commit', _('Save'))}
    </form>
  </div>

  <xi:include href="layout.html" />
</html>
