{% extends "package/edit_base.html" %}




{% block primary %}
  <div class="primary col-xs-12" role="main">
    {#
    The primary_content block can be used to add content to the page.
    This is the main block that is likely to be used within a template.

    Example:

      {% block primary_content %}
        <h1>My page content</h1>
        <p>Some content for the page</p>
      {% endblock %}
    #}
    {% block primary_content %}
      <section class="module">
        {% block page_header %}
          <h1 class="module-header">{{ _('Add/Create Dataset') }}</h1>
        {% endblock %}
        <div class="module-content">
          {% block primary_content_inner %}
            {% block form %}
              {{- h.snippet(form_snippet, pkg_dict=pkg_dict, **form_vars) -}}
            {% endblock %}
          {% endblock %}
        </div>
      </section>
    {% endblock %}
  </div>
{% endblock %}


        
{% block secondary %}
  {% block secondary_content %}
  

    {% block resources_module %}
      {# TODO: Pass in a list of previously created resources and the current package dict #}
      {% snippet "package/snippets/resources.html", pkg={}, action='new_resource' %}
    {% endblock %}
  {% endblock %}
{% endblock %}
