{% extends "package/base.html" %}

{% block subtitle %}{{ pkg_dict.name }} {{ g.template_title_delimiter }} Changes {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  <li>{% link_for _('Changes'), named_route='dataset.activity', id=pkg_dict.name %}</li>
  <li class="active">{% link_for activity_diffs[0].activities[1].id|truncate(30), named_route='dataset.changes', id=activity_diffs[0].activities[1].id %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <div style="width:250px;position:absolute;right:30px;">
      </div>
      {% block package_changes_header %}
        <h1 class="page-heading">{{ _('Changes') }}</h1>
        {#<!-- Dataset: {% link_for pkg_dict.title, controller='package', action='read', id=pkg_dict.name %}
        {% if activity_diff.activities[1].data.package.title != pkg_dict.title %}
          (which had title "{{ activity_diff.activities[1].data.package.title }}" at the time)
        {% endif %}<br>
        User: {{ h.linked_user(activity_diff.activities[1].user_id) }}<br>
        Date: {{ h.render_datetime(activity_diff.activities[1].timestamp, with_hours=True, with_seconds=True) }}<br>
        Compared to previous version from date: {{ h.render_datetime(activity_diff.activities[0].timestamp, with_hours=True, with_seconds=True) }})<br> -->#}
      {% endblock %}

      {% set select_list1 = h.activity_list_select(pkg_activity_list, activity_diffs[0].activities[0].id) %}
      {% set select_list2 = h.activity_list_select(pkg_activity_list, activity_diffs[0].activities[1].id) %}
      <form id="range_form" action="{{ h.url_for('dataset.change_range') }}" >
      View changes from
        <select class="form-control" style="width:215px;display:inline;" form="range_form" name="oldest_id">
          <pre>
            {{ select_list1[1:]|safe }}
          </pre>
        </select> to
        <select class="form-control" style="width:215px;display:inline;" form="range_form" name="newest_id">
          <pre>
            {{ select_list2|safe }}
          </pre>
        </select>
          <input class="btn" style="display:inline;" type="submit" value="Submit">
        </form>

        <br>

      {% for i in range(activity_diffs|length) %}
        {% snippet "package/snippets/change_item.html", activity_diff=activity_diffs[i], pkg_dict=pkg_dict %}
        <br style="line-height:2;">
        <br>
      {% endfor %}

    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
