{% extends "package/base.html" %}

{% block subtitle %}{{ pkg_dict.name }} {{ g.template_title_delimiter }} Changes {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  <li>{% link_for _('Changes'), named_route='dataset.activity', id=pkg_dict.name %}</li>
  <li class="active">{% link_for activity_diff.activities[1].id|truncate(30), named_route='dataset.changes', id=activity_diff.activities[1].id %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block package_changes_header %}
        <h1 class="page-heading">{{ _('Changes') }}</h1>
        {#<!-- Dataset: {% link_for pkg_dict.title, controller='package', action='read', id=pkg_dict.name %}
        {% if activity_diff.activities[1].data.package.title != pkg_dict.title %}
          (which had title "{{ activity_diff.activities[1].data.package.title }}" at the time)
        {% endif %}<br>
        User: {{ h.linked_user(activity_diff.activities[1].user_id) }}<br>
        Date: {{ h.render_datetime(activity_diff.activities[1].timestamp, with_hours=True, with_seconds=True) }}<br>
        Compared to previous version from date: {{ h.render_datetime(activity_diff.activities[0].timestamp, with_hours=True, with_seconds=True) }})<br> -->#}
      {% endblock %}

      {# iterate through the activities that are NOT the original one -
         iterate, rather than just look at the second one, so that we could
         potentially add a way to look at the diff between larger sets of
         datasets in the future #}

      {% for i in range(1, activity_diff.activities|length) %}
        On {{ h.render_datetime(activity_diff.activities[1].timestamp, with_hours=True, with_seconds=True) }}, {{ h.linked_user(activity_diff.activities[1].user_id) }}:
        <br>

        {% set changes = h.compare_pkg_dicts(activity_diff.activities[0].data.package, activity_diff.activities[1].data.package) %}
        <ul >
        {% for change in changes %}
        <li>
          {% for element in change %}
            {{ element|safe }}
          {% endfor %}
        </li>
          <br>
        {% endfor %}
        </ul>
        <br>

      {% endfor %}

      {# button to show JSON metadata diff - not shown by default #}
      <br style="line-height:2;">
      <input type="button" onClick="show_metadata()" class="btn" value="Show metadata diff" id="metadata_button"></input>
      <div id="metadata_diff" style="display:none;">
      {% block package_changes_diff %}
        <pre>
          {{ activity_diff['diff']|safe }}
        </pre>
      {% endblock %}
      </div>

      <script>
        function show_metadata() {
          var div = document.getElementById("metadata_diff");
          if (div.style.display === "none") {
            div.style.display = "block";
          }
          else {
            div.style.display = "none";
          }
          var btn = document.getElementById("metadata_button");
          if (btn.value === "Show metadata diff") {
            btn.value = "Hide metadata diff";
          }
          else {
            btn.value = "Show metadata diff";
          }
        }
      </script>


    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
