<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">${c.pkg.title or c.pkg.name} - Data Packages - History</py:def>

  <div py:match="content" class="package">
    <p style="float: right"><a href="?format=atom"><img style="height:16; width:16; margin-bottom:-0.3em" src="/images/icons/atom_feed.png" alt="Atom Feed" title="${g.site_title} - Package History - ${c.pkg.name}"/></a> <a href="/package/history/${c.pkg.name}?format=atom&amp;days=7">Subscribe &raquo;</a></p>
    <h2 class="head">
      ${c.pkg.title}
      <span class="name">(${c.pkg.name})</span>
    </h2>
    
    COMMENTS WILL GO HERE
    
  </div> <!-- content -->

  <py:def function="optional_feed">
  <link rel="alternate" type="application/atom+xml" title="Package History" href="/package/history/${c.pkg.name}?format=atom&amp;days=7" />
  </py:def>

  <xi:include href="layout.html" />
</html>
