<div 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <div py:def="package_openness(package)" py:strip="">
    <div class="image-info" style="display: inline;">
      <py:if test="not package.isopen()">
        <img src="/images/cross.png" title="This package is NOT openly licensed" alt="This package is NOT openly licensed" />
      </py:if>
      <py:if test="package.isopen()">
        <img src="/images/tick.png" title="This package is openly licensed" alt="This package is openly licensed" />
      </py:if>
      <py:if test="not package.download_url">
        <img src="/images/cross.png" title="This package is NOT downloadable" alt="This package is NOT downloadable" />
      </py:if>
      <py:if test="package.download_url">
        <img src="/images/tick.png" title="This package is downloadable" alt="This package is downloadable" />
      </py:if>
      <py:if test="package.isopen() and package.download_url">
        <img src="http://m.okfn.org/images/ok_buttons/ok_80x15_blue.png" alt="This package is open" title="This package is open" />
      </py:if>
    </div>
  </div>

  <div py:def="package_summary(package)" py:strip="">
    ${package_openness(package)}
    &ndash;
    ${XML(
      h.link_to(package.name, h.url_for(controller='package', action='read', id=package.name))
      )}
      &ndash; ${package.title}
  </div>
</div>
