    <form action="${h.url(action='update')}" method="post"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      ${XML(h.hidden_field('name'))}
      <label for="url">Url:</label>
      ${XML(h.text_field('url', size=30))} <br />
      <label for="licenses">Licenses:</label>
      <!-- REALLY WEIRD behaviour: genshi HTML and XML function strip away
      multiple="multiple" attribute 

      The issue goes deep in genshi as this still does not work even if you
      hand define the select tag: <select multiple="multiple">

      Go back to single license value for time being
      ${XML(h.select('licenses',
        h.options_for_select_from_objects(c.licenses, selected=[s.id for s in c.pkg.licenses], name_attr='name'), multiple=True)
      )}
      -->
      ${XML(h.select('licenses',
        c.license_options, multiple=True)
      )}
      <label for="tags">Tags:</label>
      ${XML(h.text_field('tags', size=60))} <br />
      <label for="notes">Notes:</label>
      ${XML(h.text_area('notes', size="60x15"))} <br />
      <label for="log_message">Log Message:</label>
      ${XML(h.text_area('log_message', size="60x3"))} <br />
      <label>Author: ${c.author}</label>
      <p class="desc">
      If you have not signed in this will just be your IP address. If you want
      to sign please follow the link at the top of the page.
      </p>

      ${XML(h.submit())}
    </form>

