    <form action="${h.url(action='edit')}" method="post"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

      ${XML(h.hidden_field('name'))}

      <label for="title">Title:</label>
      ${XML(h.text_field('title', size=40))} <br />

      <label for="url">Url:</label>
      ${XML(h.text_field('url', size=40))} <br />

      <label for="download_url">Download Url:</label>
      ${XML(h.text_field('download_url', size=40))} <br />

      <label for="licenses">Licenses:</label>
      <!-- REALLY WEIRD behaviour: genshi HTML and XML function strip away
      multiple="multiple" attribute 

      The issue goes deep in genshi as this still does not work even if you
      hand define the select tag: <select multiple="multiple">

      Go back to single license value for time being
      ${XML(h.select('licenses',
        h.options_for_select_from_objects(c.licenses, selected=[s.id for s in c.pkg.licenses], name_attr='name'), multiple=True)
      )}
      -->
      ${XML(h.select('licenses',
        c.license_options, multiple=True)
      )}

      <label for="tags">Tags:</label>
      <p class="desc">
      A space separated list of tag names. Tag names should:
      </p>
      <ul class="desc">
        <li>Only use alphanumerics (a-z, 0-9) along with '-' and '_'</li>
        <li>Only use lowercase letters</li> 
      </ul>

      <div id="tagsAutocomp">
        ${XML(h.text_field('tags', size=60))} <br />
        <div id="tagsAutocompContainer"></div>
      </div>
      <script type="text/javascript">
        var tagsSchema = ["ResultSet.Result", "Name"];
        var tagsDataSource = new YAHOO.widget.DS_XHR(
          "../../tag/autocomplete", tagsSchema
        );
        tagsDataSource.scriptQueryParam = "incomplete";
        var tagsAutocomp = new YAHOO.widget.AutoComplete(
          "tags","tagsAutocompContainer", tagsDataSource
        );
        tagsAutocomp.delimChar = " ";
        tagsAutocomp.maxResultsDisplayed = 10;
      </script>

      <br /><br />

      <label for="notes">Notes:</label>
      <p class="desc">You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown formatting</a> here.</p>
      ${XML(h.text_area('notes', size="60x15"))} <br />

      <hr />

      <label for="log_message">Optional Log Message about this Change:</label>
      <p class="desc">You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown formatting</a> here.</p>
      ${XML(h.text_area('log_message', size="60x3"))} <br />

      <label>Author: ${c.author}</label>
      <p class="desc">
      If you have not signed in this will just be your IP address. If you want
      to sign please follow the link at the top of the page.
      </p>

      <input name="preview" type="submit" value="Preview" />
      ${XML(h.submit())}

      <label>Please Note:</label>
      <ul class="desc">
        <li>By submitting content, you agree to release your contributions
        under the open license specified on the ${XML(h.link_to('license page',
        h.url_for(str('/license'))))} (essentially Creative Commons
        Attribution-Share Alike v3.0).</li>
        <li>If you are not happy for this to occur please refrain from editing
        this page.</li>
      </ul>
    </form>

