{% extends 'package/pages/form_page.html' %}

{% set pkg = c.pkg_dict %}

{% block breadcrumb_content %}
  <li>{% link_for _('Datasets'), controller='package', action='search', highlight_actions = 'new index' %}</li>
  <li>{% link_for pkg.title|truncate(30), controller='package', action='read', id=pkg.name %}</li>
  <li class="active">{% link_for _('Edit Dataset'), controller='package', action='edit', id=pkg.name %}</li>
{% endblock %}

{% block actions_content %}
  {% snippet 'package/snippets/back_to_package_action.html', pkg=pkg %}
{% endblock %}
