    <form action="${h.url(action='update')}" method="post"> 
      ${XML(h.hidden_field('name'))}
      <label for="url">Url:</label>
      ${XML(h.text_field('url', size=30))} <br />
      <label for="licenses">Licenses:</label>
      <!-- REALLY WEIRD behaviour: genshi HTML and XML function strip away
      multiple="multiple" attribute 

      The issue goes deep in genshi as this still does not work even if you
      hand define the select tag: <select multiple="multiple">

      Go back to single license value for time being
      ${XML(h.select('licenses',
        h.options_for_select_from_objects(c.licenses, selected=[s.id for s in c.pkg.licenses], name_attr='name'), multiple=True)
      )}
      -->
      ${XML(h.select('licenses',
        c.license_options, multiple=True)
      )}
      <label for="tags">Tags:</label>
      ${XML(h.text_field('tags', size=60))} <br />
      <label for="notes">Notes:</label>
      ${XML(h.text_area('notes', size="25x10"))} <br />
      ${XML(h.submit())}
    </form>

