<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Packages - Edit - ${c.pkgname}</py:def>

  <py:def function="optional_head">
    <link rel="stylesheet" href="/css/forms.css" type="text/css" media="screen, print" />

    <!-- Flexitable --> 
    <script type="text/javascript" src="/scripts/flexitable.js"></script> 
    <link rel="stylesheet" href="/css/flexitable.css" /> 
 
    <!-- Tagcomplete --> 
    <script type="text/javascript" src="/scripts/tagcomplete.js"></script> 
    <link rel="stylesheet" href="/css/tagcomplete.css" /> 
  </py:def>

  <div py:match="content" class="package">
    <h2>
      Edit package: ${c.pkgname}
      <a href="#preview" py:if="c.preview">(skip to preview)</a>
    </h2>

    ${c.form}

    <div id="preview" style="margin-left: 20px;" py:if="c.preview">
      <hr />
      <h2>Preview</h2>
      <div style="border: 2px dashed red; padding: 5px;"> 
        ${c.preview}
      </div>
    </div><!-- /preview -->
  </div>

  <py:def function="optional_feed">
  <link rel="alternate" type="application/atom+xml" title="Package History" href="/package/history/${c.pkgname}?format=atom&amp;days=7" />
  </py:def>

  <xi:include href="layout.html" />
</html>

