<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Package - ${c.pkg.name} - History</py:def>

  <div py:match="content" class="package">
    <p style="float: right"><a href="?format=atom"><img style="height:16; width:16; margin-bottom:-0.3em" src="/images/icons/atom_feed.png" alt="Atom Feed" title="Package history"/></a> <a href="/package/history/${c.pkg.name}?format=atom&amp;days=7">Subscribe &raquo;</a></p>
    <h2 class="head">
      ${c.pkg.title}
      <span class="name">(${c.pkg.name})</span>
    </h2>

    <h4>Revisions</h4>
    <form action="diff" method="post"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      > 

      <h3 py:if="c.error" class="form-errors">
        Error: ${c.error}
      </h3>

      <input type="hidden" name="pkg_name" value="${c.pkg.name}"/>

      <table>
        <tr>
          <th></th><th>Revision</th><th>Timestamp</th><th>Author</th><th>Log Message</th>
        </tr>
        <py:for each="index, rev in enumerate([rev for rev, obj_revs in c.pkg_revisions])">
          <tr>
            <td nowrap="nowrap">
              ${h.radio("selected1", rev.id, checked=(index == 0))}
              ${h.radio("selected2", rev.id, checked=(index == len(c.pkg_revisions)-1))}
            </td>
            <td>
              <a href="${h.url_for(controller='revision',action='read',id=rev.id)}">${rev.id}</a>
            </td>
            <td>${rev.timestamp}</td>
            <td>${rev.author}</td>
            <td>${rev.message}</td>
          </tr> 
        </py:for>
      </table>
      ${h.submit('diff', _('Compare &raquo;'))}
    </form>
  </div> <!-- content -->

  <py:def function="optional_feed">
  <link rel="alternate" type="application/atom+xml" title="Package History" href="/package/history/${c.pkg.name}?format=atom&amp;days=7" />
  </py:def>

  <xi:include href="layout.html" />
</html>
