<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Packages - Index</py:def>

  <div py:match="content">
    <h2>Packages</h2>

    <xi:include href="search_form.html" />

    <hr />

    <p>There are <strong>${c.package_count}</strong> packages.</p>

    <h3>
      ${h.link_to('Browse packages', h.url_for(controller='package', action='list'))}
    </h3>

    <h3>
      ${h.link_to('Register a new package', h.url_for(controller='package', action='new'))}
    </h3>
  </div>

  <xi:include href="layout.html" />
</html>
