<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Packages - Index</py:def>

  <div py:match="content">
    <h2>Packages</h2>
	<p>There are ${c.package_count} packages.</p>

    <h3>Find packages</h3>
    <p>You can browse the 
    <a href="${h.url_for(controller='package', action='list')}">packages list</a>
    or
    <a href="${h.url_for(controller='package', action='search')}">search packages</a>.

    </p><p> 
    
    Alternatively browse <a href="${h.url_for(controller='tag', action='list')}">tag list</a> or <a href="${h.url_for(controller='tag', action='search')}">search tags</a>.</p>

		<h3>Register a new package</h3>
    <p>Follow this link to register a ${XML(h.link_to('new package', h.url_for(controller='package', action='new')))}.</p>
    
	</div>

  <xi:include href="layout.html" />
</html>
