<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:match path="minornavigation">
    <li>${XML(h.link_to('Home', h.url_for(controller='package', action='index', id='None')))}</li>
    <li>${XML(h.link_to('List', h.url_for(controller='package', action='list', id='None')))}</li>
    <li>${XML(h.link_to('Search', h.url_for(controller='package', action='search', id='None')))}</li>
    <li>${XML(h.link_to('New', h.url_for(controller='package', action='new', id='None')))}</li>
  </py:match>
  
  <xi:include href="../layout.html" />
</html>

