<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:match path="primarysidebar">
    <div class="box">
      <h2>Packages section</h2>
      <p>You&rsquo;re currently in the <strong>packages</strong> section. From here you can find registered packages, or register a new package.</p>
    </div>
  </py:match>

  <py:match path="minornavigation">
    <li>${XML(h.link_to('Home', h.url_for(controller='package', action='index', id='None')))}</li>
    <li>${XML(h.link_to('List', h.url_for(controller='package', action='list', id='None')))}</li>
    <li>${XML(h.link_to('New', h.url_for(controller='package', action='new', id='None')))}</li>
  </py:match>

  
  <xi:include href="../layout.html" />
</html>

