<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:match path="minornavigation">
    <py:if test="c.pkg">
    <ul class="tabbed">
      <li py:attrs="{'class':'current-tab'} if c.action=='read' else {}">${h.subnav_link(c, h.icon('package') + _('View'), controller='package', action='read', id=c.pkg.name)}</li>
      <py:choose>
      <py:when test="len(c.pkg_dict.get('resources', []))==0">
        <li class="disabled">
          ${h.icon('package-disabled') + _('Resources')} &nbsp;&nbsp;<img class="dropdown-arrow" src="/images/icons/arrow-open.gif"/>
        </li>
      </py:when>
      <py:otherwise>
        <li class="dropdown" py:attrs="{'class':'current-tab dropdown'} if c.action=='resource_read' else {'class':'dropdown'}">
        <div class="dropdown-appears">
          <div class="dropdown-items">
            <py:for each="res in c.pkg_dict.get('resources', [])">
            <a href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}">${h.resource_display_name(res)}</a>
            </py:for>
          </div>
        </div>
        <div class="dropdown-appears"><div class="white-box"></div></div>
        <a href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=c.pkg_dict.get('resources', [])[0]['id'])}">
          ${h.icon('package') + _('Resources')}</a>
        &nbsp;&nbsp;<img class="dropdown-arrow" src="/images/icons/arrow-open.gif"/>

        </li>
      </py:otherwise>
      </py:choose>
      <li py:attrs="{'class':'current-tab'} if c.action=='history' else {}">${h.subnav_link(c, h.icon('page_stack') + _('History'), controller='package', action='history', id=c.pkg.name)}</li>
      <py:if test="h.check_access('package_update',{'id':c.pkg.id})">
        <span class="divider">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <li py:attrs="{'class':'current-tab'} if c.action=='edit' else {}">
          ${h.subnav_link(c, h.icon('package_edit') + _('Edit'), controller='package', action='edit', id=c.pkg.name)}
        </li>
      </py:if>
      <li py:attrs="{'class':'current-tab'} if c.action=='authz' else {}" py:if="h.check_access('package_edit_permissions',{'id':c.pkg.id})">
        ${h.subnav_link(c, h.icon('lock') + _('Authorization'), controller='package', action='authz', id=c.pkg.name)}
      </li>
      <!--li class="action">
        ${h.subnav_link(c, h.icon('atom_feed') + _('Subscribe'),
        controller='package', action='history', id=c.pkg.name, format='atom', days=7)}
      </li-->
    </ul>
    </py:if>
  </py:match>
  
  <xi:include href="../layout.html" />

</html>

