<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Packages - List</py:def>

  <py:match path="primarysidebar">
    <div class="box">
      <h2>Package listing key</h2>
      <dl class="icons clearfix">
        <dt>${h.icon('door_open')}</dt>
        <dd>Openly licensed</dd>
        <dt>${h.icon('door_grey')}</dt>
        <dd>Closed/unknown licensing</dd>
        <dt>${h.icon('arrow_down')}</dt>
        <dd>Resources available</dd>
        <dd class="tiny">Click on the arrow to show the package resources.</dd>
        <dt>${h.icon('arrow_down_grey')}</dt>
        <dd>No resources listed</dd>
      </dl>
      <hr />
      <p class="okdstripe">
        Packages with a blue stripe satisfy the OKFN's 
        <a href="http://www.opendefinition.org/1.0/">Open Knowledge Definition.</a>
      </p>
      <p class="centered">
        <a href="http://www.opendefinition.org/1.0/"><img src="http://m.okfn.org/images/ok_buttons/ok_90x15_blue.png" alt="" /></a>
      </p>
    </div>
  </py:match>

  <div py:match="content">
    <h2>Packages</h2>
    ${c.page.pager()}
    ${package_list(c.page.items)}
    ${c.page.pager()}
  </div>

  <xi:include href="layout.html" />
</html>

