<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Packages - New</py:def>

  <py:def function="optional_head">
    <link rel="stylesheet" href="/css/forms.css" type="text/css" media="screen, print" />

    <!-- Flexitable --> 
    <script type="text/javascript" src="/scripts/flexitable.js"></script> 
    <link rel="stylesheet" href="/css/flexitable.css" /> 
 
    <!-- Tagcomplete --> 
    <script type="text/javascript" src="/scripts/tagcomplete.js"></script> 
    <link rel="stylesheet" href="/css/tagcomplete.css" /> 
  </py:def>

  <div py:match="content">
    <h2>Register a New Package
      <a href="#preview" py:if="c.preview">(skip to preview)</a>
    </h2>

    <h3 py:if="c.error" class="form-errors">
      Error: ${c.error}
    </h3>

    ${h.literal(c.form)}

    <div id="preview" style="margin-left: 20px;" py:if="c.preview">
      <hr />
      <h2>Preview</h2>
      <div style="border: 2px dashed red; padding: 5px;"> 
        ${c.preview}
      </div>
    </div>
  </div>

  <xi:include href="layout.html" />
</html>

