<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Packages - New</py:def>

  <div py:match="content">
    <h2>Register New Package</h2>
    <h3>Step 1: Choose a name for the package.</h3>
    <form action="${h.url_for(controller='package', action='create')}" method="post"> 
      <label for="name">Name:</label>
      ${XML(h.text_field('name', size=30))}
      <p class="desc">The name is used as a <strong>universal identifier for the
        package</strong>, as such there are a few restrictions:</p>
      <ul class="desc">
        <li>It cannot match the name of any other package</li>

        <li>It must be at least 2 characters in length</li>
        <li>It must be in lower case</li>
        <li>It can only contain alphanumeric characters, dashes and underscores</li>
      </ul>
      <h3>Step 2: Register and proceed to edit package details</h3>
      ${XML(h.submit('Proceed'))}
    </form>
  </div>

  <xi:include href="layout.html" />
</html>

