<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
    <!--! Include matchers nearest first -->
    <xi:include href="../page.html" />

    <!--! Now include the current page -->
    <head>
      <title>Add metadata to the dataset</title>
    </head>
    <body>
      <div class="toolbar">
        ${h.snippet('package/new_breadcrumb.html')}
      </div>

      <div class="primary">
        <section class="module">
          <div class="content">
            ${h.snippet('package/new_stages.html', stage=3)}
            <form class="dataset-form dataset-resource-form form-horizontal" method="post" py:with="errors = {}; data = {};">
              <div class="form-actions">
                <button class="btn btn-primary" type="submit">Finish</button>
              </div>
            </form>
          </div>
        </section>
      </div>

      <div class="secondary">
        <section class="module">
          <h2 class="heading"><i class="ckan-icon ckan-icon-info"></i> What is data?</h2>
          <div class="content">
            <p>Data can be any file or link to a file containing useful data.</p>
          </div>
        </section>
      </div>
    </body>
</html>
