{% extends "package/view_edit_base.html" %}

{% block subtitle %}{{ _('Add View') }} - {{ h.resource_display_name(c.resource) }}{% endblock %}
{% block form_title %}{{ _('Add view') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active"><a href="#">{{ _('Add New View') }}</a></li>
{% endblock %}

{% block form %}
<form class="dataset-form dataset-resource-form form-horizontal" method="post" data-module="basic-form resource-form">
  {% snippet 'package/snippets/view_form.html', data=data, errors=errors, error_summary=error_summary, form_template=form_template %}
  <div class="form-actions">
      <button class="btn btn-primary" name="save" value="Save" type="submit">{% block save_button_text %}{{ _('Add') }}{% endblock %}</button>
  </div>
</form>
{% endblock %}

{% block content_primary_nav %}
  <li class="active"><a href="#"><i class="icon-edit"></i> {{ _('New View') }}</a></li>
{% endblock %}

