<py:choose test="stage" xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/">
  <ol class="stages" py:when="1">
    <li class="active">${h.nav_link(_('Create Dataset'), controller='package', action='new')}</li>
    <li>Add data</li>
    <li>Additional data</li>
  </ol>
  <ol class="stages" py:when="2">
    <li class="complete">${h.nav_link(_('Create Dataset'), controller='package', action='new')}</li>
    <li class="active"><a href="">Add data</a></li>
    <li>Additional data</li>
  </ol>
  <ol class="stages" py:when="3">
    <li class="complete">${h.nav_link(_('Create Dataset'), controller='package', action='new')}</li>
    <li class="complete"><a href="">Add data</a></li>
    <li class="active"><a href="">Additional data</a></li>
  </ol>
</py:choose>
