{% extends 'package/snippets/package_form.html' %}

{% set form_style = c.form_style or c.action %}

{% block stages %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block metadata_fields %}
  {% if form_style == 'edit' %}{{ super() }}{% endif %}
{% endblock %}

{% block disclaimer %}
  {% if form_style != 'edit' %}{{ super() }}{% endif %}
{% endblock %}

{% block save_button_text %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% else %}
    {{ _('Update Dataset') }}
  {% endif %}
{% endblock %}

{% block cancel_button %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block delete_button %}
  {% if form_style == 'edit' and h.check_access('package_delete', {'id': c.pkg_dict.id}) %}
    {{ super() }}
  {% endif %}
{% endblock %}
