<form id="dataset-edit" method="post" 
  py:attrs="{'class':'has-errors'} if errors else {}"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">


<div class="error-explanation" py:if="error_summary">
<h2>Errors in form</h2>
<p>The form contains invalid entries:</p>
<ul>
  <li py:for="key, error in error_summary.items()">${"%s: %s" % (key, error)}
    <py:if test="key=='Resources'">
      <ul>
        <py:for each="idx, errordict in enumerate(errors.get('resources', []))">
          <li py:if="errordict">
            Resource ${idx}:
            <ul>
              <li py:for="thiskey, thiserror in errordict.items()">${thiskey}: <py:for each="errorinfo in thiserror">${errorinfo}; </py:for></li>
            </ul>
          </li>
        </py:for>
      </ul>
    </py:if>
  </li>
</ul>
</div>

<fieldset id="basic-information">
  <dl>
    <dt class="title-label"><label class="field_opt" for="title">Title</label></dt>
    <dd class="title-field">
      <input id="title"
        class="js-title"
        name="title" type="text"
        value="${data.get('title', '')}"
        placeholder="${_('A short descriptive title for the dataset')}"
      />
    </dd>
    <dd class="title-instructions field_error" py:if="errors.get('title', '')">${errors.get('title', '')}</dd>

    <dt class="name-label"><label class="field_req" for="name">Url</label></dt>
    <dd class="name-field">
      <span class="js-url-text url-text">${url(controller='package', action='index')+'/'}<span class="js-url-viewmode js-url-suffix">&nbsp;</span><a href="#" style="display: none;" class="url-edit js-url-editlink js-url-viewmode">(edit)</a></span>
      <input style="display: none;" id="name" maxlength="100" name="name" type="text" class="url-input js-url-editmode js-url-input" value="${data.get('name', '')}" />
      <p class="js-url-is-valid">&nbsp;</p>
    </dd>
    <dd style="display: none;" class="js-url-editmode name-instructions basic">2+ characters, lowercase, using only 'a-z0-9' and '-_'</dd>
    <dd class="js-url-editmode name-instructions field_error" py:if="errors.get('name', '')">${errors.get('name', '')}</dd>

    <dt class="homepage-label"><label class="field_opt" for="url">Home Page</label></dt>
    <dd class="homepage-field"><input id="url" name="url" type="text" value="${data.get('url', '')}"/></dd>
    <dd class="homepage-instructions instructions basic">The URL for the web page describing the data (not the data itself).</dd>
    <dd class="homepage-instructions hints">e.g. http://www.example.com/growth-figures.html</dd>
    <dd class="homepage-instructions field_error" py:if="errors.get('url', '')">${errors.get('url', '')}</dd>

    <dt class="license-label"><label class="field_opt" for="license_id">License</label></dt>
    <dd class="license-field">
      <select id="license_id" name="license_id">
        <py:for each="licence_desc, licence_id in c.licences">
          <option value="${licence_id}" py:attrs="{'selected': 'selected' if data.get('license_id', '') == licence_id else None}" >${licence_desc}</option>
        </py:for>
      </select>
    </dd>
    <dd class="license-instructions instructions basic">The licence under which the dataset is released.</dd>

    <dt class="description-label"><label class="field_opt" for="notes">Description</label></dt>
    <dd class="description-field"><div class="markdown-editor">
      <ul class="button-row">
        <li><button class="pretty-button js-markdown-edit depressed">Edit</button></li>
        <li><button class="pretty-button js-markdown-preview">Preview</button></li>
      </ul>
      <textarea class="markdown-input" name="notes" id="notes" placeholder="${_('Start with a summary sentence ...')}">${data.get('notes','')}</textarea>
      <div class="markdown-preview" style="display: none;"></div>
      <span class="hints">You can use <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown formatting</a> here.</span>
      <!--
      <dd class="instructions basic">The main description of the dataset</dd>
      <dd class="instructions further">It is often displayed with the dataset title. In particular, it should start with a short sentence that describes the dataset succinctly, because the first few words alone may be used in some views of the datasets.</dd>
      -->
    </div></dd>
  </dl>
</fieldset>

<fieldset id="resources">
  <div class="instructions basic"><h3>Resources: the files and APIs associated with this dataset</h3></div>
  <table class="resource-table-edit">
    <thead>
      <tr>
        <th class="field_req resource-url">Resource</th>
        <th class="resource-delete-link"></th>
      </tr>
    </thead>
    <tbody class="js-resource-editor">
    </tbody>
  </table>


  <div class="resource-add">
    <ul class="button-row">
      <li><h4>Add a resource:</h4></li>
      <li><button class="pretty-button js-link-file">Link to a file</button></li>
      <li><button class="pretty-button js-link-api">Link to an API</button></li>
      <li class="js-upload-file ckan-logged-in" style="display: none;"><button class="pretty-button js-upload-file">Upload a file</button></li>
    </ul>
  </div>
</fieldset>

<fieldset id="groups">
  <h3>Groups</h3>
  <dl>
    <py:for each="num, group in enumerate(data.get('groups', []))">
        <?python
        authorized_group = [group_authz for group_authz in c.groups_authz if group_authz['id'] == group['id']]
        authorized_group = authorized_group[0] if authorized_group else None
        ?>

      <dt py:if="'id' in group">
      <input type="${'checkbox' if authorized_group else 'hidden'}" name="groups__${num}__id" checked="checked" value="${group['id']}" />
      <input type="hidden" name="groups__${num}__name" value="${group.get('name', authorized_group['name'] if authorized_group else '')}" />
      </dt>     
      <dd py:if="'id' in group"><label for="groups__${num}__checked">${group.get('name', authorized_group['name'] if authorized_group else '')}</label></dd>
    </py:for>

    <dt>Group</dt>
    <dd py:if="c.groups_available"> 
      <select id="groups__${len(data.get('groups', []))}__id" name="groups__${len(data.get('groups', []))}__id">
        <option selected="selected" value="">(None)</option>
        <py:for each="group in c.groups_available">
        <option value="${group['id']}" >${group['name']}</option>
        </py:for>
      </select>
    </dd> 
    <dd py:if="not c.groups_available"><em>Cannot add any groups.</em></dd>
  </dl>
  <h3>Tags</h3>
  <dl>
    <dt class="tags-label"><label class="field_opt" for="tags">Tags</label></dt>
    <dd class="tags-field">
      <input class="long autocomplete-tag" id="tag_string" name="tag_string" size="60" type="text" 
               value="${data.get('tag_string') or ', '.join([tag['name'] for tag in data.get('tags', [])])}" />
    </dd>
    <dd class="tags-instructions instructions basic" i18n:msg="">Comma-separated terms that may link this dataset to similar ones. For more information on conventions, see <a href="http://wiki.ckan.org/Managing_Datasets#Tag_Conventions">this wiki page</a>.</dd>
    <dd class="tags-instructions hints">e.g. pollution, rivers, water quality</dd>
    <dd class="tags-instructions field_error" py:if="errors.get('tag_string', '')">${errors.get('tag_string', '')}</dd>
  </dl>
</fieldset>
<fieldset id='further-information'>
  <dl>
    <dt><label class="field_opt" for="author">Author</label></dt>
    <dd><input id="author" name="author" type="text" value="${data.get('author', '')}" /></dd>
    <dd class="instructions basic">The name of the main contact, for enquiries about this particular dataset, using the e-mail address in the following field.</dd>

    <dt><label class="field_opt" for="author_email">Author email</label></dt>
    <dd><input id="author_email" name="author_email" type="text" value="${data.get('author_email', '')}" /></dd>

    <dt><label class="field_opt" for="maintainer">Maintainer</label></dt>
    <dd><input id="maintainer" name="maintainer" type="text" value="${data.get('maintainer', '')}" /></dd>
    <dd class="instructions basic">If there is another important contact person (in addition to the person in the Author field) then provide details here.</dd>

    <dt><label class="field_opt" for="maintainer_email">Maintainer email</label></dt>
    <dd><input id="maintainer_email" name="maintainer_email" type="text" value="${data.get('maintainer_email', '')}" /></dd>

    <dt><label class="field_opt" for="version">Version</label></dt>
    <dd><input id="version" maxlength="100" name="version" type="text" value="${data.get('version', '')}" /></dd>
    <dd class="instructions basic">A number representing the version (if applicable)</dd>
    <dd class="hints">e.g. 1.2.0</dd>

  </dl>
</fieldset>

<fieldset id='extras'>
  <dl>
    <py:with vars="extras = data.get('extras', [])">
    <py:for each="num, extra in enumerate(data.get('extras', []))">
    <dt><label for="extras__${num}__value">${extra.get('key')}</label></dt>
    <dd>
      <input id="extras__${num}__key" name="extras__${num}__key" type="hidden" value="${extra.get('key')}" />
      <input id="extras__${num}__value" name="extras__${num}__value" type="text" value="${extra.get('value')}" />
      <input type="checkbox" name="extras__${num}__deleted" checked="${extra.get('deleted')}">Delete</input>
    </dd>
    </py:for>

    <py:for each="num in range(len(extras), len(extras) + 4)">
    <dt><label for="extras__${num}__key">New key</label></dt>
    <dd>
      <input class="medium-width" id="extras__${num}__key" name="extras__${num}__key" type="text" />
      with value
      <input class="medium-width" id="extras__${num}__value" name="extras__${num}__value" type="text" />
    </dd>
    </py:for>
    </py:with>
  </dl>
</fieldset>
<fieldset id='delete' py:if="c.is_sysadmin or c.auth_for_change_state">
  <dl>
    <dt>Delete</dt>
    <dd>
      <p>Do you really want to change the state of this dataset? &nbsp;&nbsp;<button class="dataset-delete pretty-button">Yes!</button></p>
      <span>
      This dataset is&nbsp;&nbsp; 
      <select id="state" class="dataset-delete" name="state" style="display:inline;">
        <option py:attrs="{'selected': 'selected' if data.get('state') == 'active' else None}" value="active">active</option>
        <option py:attrs="{'selected': 'selected' if data.get('state') == 'deleted' else None}" value="deleted">deleted</option>
      </select>
      </span>
    </dd>
  </dl>
</fieldset>

<div id="unsaved-warning"></div>

<label for="log_message" class="edit-summary">Edit summary (briefly describe the changes you have made)</label>
<textarea id="log_message" name="log_message" class="edit-summary short wide">${data.get('log_message', '')}</textarea>

<div class="ckan-logged-in" style="display: none;">
  <p>Author: ${c.author}</p>
</div>
<div class="ckan-logged-out">
  <label>Author: ${c.author}</label>
  <p i18n:msg="" class="hints">
    Since you have not signed in this will just be your IP address.
    <a href="${h.url_for(controller='user', action='login', id=None)}" target="_blank">Click here to sign in</a> before saving (opens in new window).
  </p>
</div>

<div class="form-submit">
  <input id="save" class="pretty-button primary" name="save" type="submit" value="${_('Save Changes')}" />
  <py:if test="c.pkg">
    <input id="cancel" class="pretty-button href-action" name="cancel" type="reset" value="${_('Cancel')}" action="${h.url_for(controller='package', action='read', id=c.pkg.name)}" />
  </py:if>
  <p i18n:msg="" class="hints">
  <strong>Important:</strong> By submitting content, you agree to release your contributions under the <a href="http://opendatacommons.org/licenses/odbl/1.0/">Open Database License</a>. Please <strong>refrain</strong> from editing this page if you are <strong>not</strong> happy to do this.
  </p>
  <div class="clear"></div>
</div>



</form>
