{% extends "package/pages/form_page.html" %}

{% block title %}{{ _('Add data to the dataset') }} - {{ super }}{% endblock %}

{% block stages %}{{ h.snippet('package/snippets/stages.html', stage=2) }}{% endblock %}

{% block form %}{{ h.snippet('package/snippets/resource_form.html', data=data, errors=errors) }}{% endblock %}

{% block secondary_content %}
  <section class="module">
    <h2 class="heading"><i class="ckan-icon ckan-icon-info"></i> {{ _('What is data?') }}</h2>
    <div class="content">
      <p>{{ _('Data can be any file or link to a file containing useful data.') }}</p>
    </div>
  </section>
{% endblock %}
