  <div
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <h3>Metadata:</h3>
    <ul>
      <li><strong>Title:</strong> ${c.pkg_title}</li>
      <li><strong>Version:</strong> ${c.pkg_version}</li>
      <li><strong>Url:</strong> <a href="${c.pkg_url}">${c.pkg_url}</a></li>
      <li><strong>Download Url:</strong> <a href="${c.pkg_download_url}">${c.pkg_download_url}</a></li>
      <li><strong>Author:</strong> ${c.pkg_author}</li>
      <li><strong>Author email:</strong> ${c.pkg_author_email}</li>
      <li><strong>Maintainer:</strong> ${c.pkg_maintainer}</li>
      <li><strong>Maintainer email:</strong> ${c.pkg_maintainer_email}</li>
      <li><strong>Tags:</strong>
        <py:for each="tag_name in c.pkg_tags">
        <a href="${h.url_for(controller='tag', action='read', id=tag_name)}">${tag_name}</a>
        </py:for>
      </li>
      <li><strong>Groups:</strong>
        <py:for each="group_name in c.pkg_groups">
        <a href="${h.url_for(controller='group', action='read', id=group_name)}">${group_name}</a>
        </py:for>
      </li>
      <li><strong>Licenses:</strong> ${c.pkg_license}</li>
      <py:if test="c.pkg_state">
         <li><strong>State:</strong> ${c.pkg_state}</li>
      </py:if>
    </ul>
    <h3>Notes:</h3>
    <div>
      ${c.pkg_notes_formatted}
    </div>
    <h3>Extras:</h3>
    <ul>
        <py:for each="key, value in c.pkg_extras">
           <li><strong>${key}:</strong> ${value}</li>
        </py:for>
    </ul>

  </div>

