  <div
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <h3>Metadata:</h3>
    <ul>
      <li><strong>Title:</strong> ${c.pkg_title}</li>
      <li><strong>Url:</strong> <a href="${c.pkg_url}">${c.pkg_url}</a></li>
      <li><strong>Download Url:</strong> <a href="${c.pkg_download_url}">${c.pkg_download_url}</a></li>
      <li><strong>Tags:</strong>
        <py:for each="tag_name in c.pkg_tags">
        <a href="${h.url_for(controller='tag', action='read', id=tag_name)}">${tag_name}</a>
        </py:for>
      </li>
      <li><strong>Licenses:</strong> ${c.pkg_license}</li>
    </ul>
    <h3>Notes:</h3>
    <div>
      ${c.pkg_notes_formatted}
    </div>
  </div>

