  <div
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <h3>Metadata:</h3>
    <ul>
      <li><strong>Url:</strong> ${XML(h.link_to(c.pkg_url, c.pkg_url))}</li>
      <li><strong>Tags:</strong>
        <py:for each="tag_name in c.pkg_tags">
        ${XML(h.link_to(tag_name,
          h.url_for(controller='tag', action='read', id=tag_name)))}
        </py:for>
      </li>
      <li><strong>Licenses:</strong> ${c.pkg_license}</li>
    </ul>
    <h3>Notes:</h3>
    <div>
      ${c.pkg_notes_formatted}
    </div>
  </div>

