{% extends "page.html" %}

{% block title %}{{ c.pkg_dict.title or c.pkg_dict.name }} - {{ super() }}{% endblock %}

{% block breadcrumb %}
  {% set dataset = c.pkg_dict.title or c.pkg_dict.name %}
  <ol class="breadcrumb">
    <li class="home hide-text"><a class="ckan-icon ckan-icon-bookmark" href="{{ h.url('home') }}">Home</a></li>
    <li>{{ h.nav_link(_('Datasets'), controller='package', action='search', highlight_actions = 'new index') }}</li>
    <li class="active"><a href="" title="{{ dataset }}">{{ h.truncate(dataset, 35) }}</a></li>
  </ol>
{% endblock %}

{% block actions %}
  <ul class="actions">
    <li>{{ h.nav_link(_('Related'), controller='package', action='related', id=c.pkg.id, class_='btn', icon='photo') }}</li>
    <li>{{ h.nav_link(_('History'), controller='package', action='history', id=c.pkg.id, class_='btn', icon='rewind') }}</li>
    <li>{{ h.nav_link(_('Edit'), controller='package', action='edit', id=c.pkg.id, class_='btn', icon='tools', condition=h.check_access('package_update',{'id':c.pkg.id })) }}</li>
    <li><a class="btn" href=""><i class="ckan-icon ckan-icon-flag"></i> Report Issue</a></li>
  </ul>
{% endblock %}

{% block primary_content %}
  {% if c.pkg_revision_id %}
    <div class="widget info">
      <p class="content">
        {% set timestamp = h.render_datetime(c.pkg_revision_timestamp, with_hours=True) %}
        {% set url =  h.url(controller='package', action='read', id=c.pkg.name) %}

        {% if c.pkg_revision_not_latest %}
          {% trans timestamp=timestamp, url=url %}This is an old revision of this dataset, as edited at {{ timestamp }}. It may differ significantly from the <a href="{{ url }}">current revision</a>.{% endtrans %}
        {% else %}
          {% trans timestamp=timestamp %}This is the current revision of this dataset, as edited at {{ timestamp }}.{% endtrans %}
        {% endif %}
      </div>
    </div>
  {% endif %}

  <article class="module prose">
    <section class="content">
      <h1>{{ c.pkg_dict.title or c.pkg_dict.name }}</h1>
      {% if c.pkg_notes_formatted %}
        <div class="notes">
          {{ c.pkg_notes_formatted }}
        </div>
      {% endif %}
      <span class="insert-comment-thread"></span>
    </section>

    <section id="dataset-resources" class="resources content">
      <h3>Data and Resources</h3>
      {% if c.pkg_dict.resources %}
        <ul class="resource-list">
          {% for res in c.pkg_dict.resources %}
            {% snippet 'package/snippets/resource_item.html', pkg=c.pkg_dict, res=res %}
          {% endfor %}
        </ul>
      {% else %}
        <p>{% trans %}This dataset has no data, <a href="#">why not add some?</a>{% endtrans %}</p>
      {% endif %}
    </section>

    {{ h.snippet('package/snippets/tags.html', tags=c.pkg_dict.tags) }}

    {{ h.snippet('package/snippets/additional_info.html') }}
  </article>
{% endblock %}

{% block secondary_content %}
  {% for group in c.pkg_dict.groups %}
    {{ h.snippet('snippets/group.html', group=group) }}
  {% endfor %}

  {{ h.snippet('snippets/subscribe.html') }}

  {{ h.snippet('snippets/social.html') }}

  {{ h.snippet('snippets/related.html', pkg=c.pkg) }}

  {{ h.snippet('snippets/license.html', pkg_dict=c.pkg_dict) }}

  {{ h.snippet('snippets/disqus_trackback.html') }}
{% endblock %}
