<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <xi:include href="../_util.html" />
  <div class="package">
    <div class="package-atom-feed"><a href="?format=atom"><img style="height:16; width:16; margin-bottom:-0.3em" src="/images/icons/atom_feed.png" alt="Atom Feed" title="${g.site_title} - Package History - ${c.pkg.name}"/></a> <a href="/package/history/${c.pkg.name}?format=atom&amp;days=7">Subscribe &raquo;</a></div>

    <!-- Title -->    
    <h2 class="head">
      ${c.pkg.title}
    </h2>
    
    <!-- Source URL -->    
    <div class="url" py:if="c.pkg.url">
      <p>
        Source: ${c.pkg_url_link}
      </p>
    </div>
    
    <!-- About package -->
    <div class="notes" py:if="str(c.pkg_notes_formatted).strip()">
      ${c.pkg_notes_formatted}
    </div>
    
    <!-- Downloads and resources -->
    <div class="resources">
      <h4>Downloads &amp; Resources</h4>
      <py:choose test="">
      <table py:when="c.pkg.resources">
        <tr>
            <th>Description</th>
            <th>Format</th>
            <th>Hash</th>
        </tr>
        <py:for each="res in c.pkg.resources">
          <tr>
              <td>
                  <py:choose test="">
                    <py:when test="res.description">
                      <a href="${res.url}" target="_blank">${res.description}</a>  
                    </py:when>
                    <py:otherwise test="">
                      <a href="${res.url}" target="_blank">Download <em>(no description)</em></a>  
                    </py:otherwise>
                  </py:choose>
              </td>
              <td>${res.format}</td>
              <td>${res.hash}</td>
          </tr>
        </py:for>
            <caption>
                This is a list of all the different formats we know of that <em>${c.pkg.title}</em> has been 
                published in. If you know of another (CSV, SPARQL end-pont etc.) ${h.subnav_link(c, 'please edit this page and add it to the list', controller='package', action='edit', id=c.pkg.name)}.
            </caption>
      </table>
      <table py:otherwise=""><tr><th>Resources</th><td>None given for this package.</td></tr></table>
      </py:choose>
    </div>

    <hr class="cleared" />

    <py:def function="details_item(label, value)">
        <tr>
          <td class="package-label">
            ${label}
          </td>
          <td class="package-details">
            ${value}
          </td>
        </tr>
    </py:def>

    <div class="details">
    <h4>Details</h4>
    <table>
      <tbody>
        ${details_item('Author', c.pkg_author_link)}
        ${details_item('Maintainer', c.pkg_maintainer_link)}
        ${details_item('Version', c.pkg.version)}
        <tr>
          <td class="package-label">
            License
          </td>
          <td class="package-details">
          <py:choose test="">
          <py:when test="c.pkg.license and c.pkg.license.url">
            <a href="${c.pkg.license.url}">${c.pkg.license.title}</a>
          </py:when>
          <py:when test="c.pkg.license">${c.pkg.license.title}</py:when>
          <py:when test="c.pkg.license_id">${c.pkg.license_id}</py:when>
          <py:otherwise test="">
            -
          </py:otherwise>
          </py:choose>
          </td>
        </tr>
        <tr py:for="key, value in sorted(c.pkg.extras.items())">
          <td class="package-label">${key}</td>
          <td class="package-details">${value}</td>
        </tr>
      </tbody>
    </table>
    </div>


    <div class="rating">
      <h4>Rating</h4>
      ${package_rating(c.pkg)}
    </div>

    <ul>
      <py:if test="h.am_authorized(c, actions.CHANGE_STATE, c.pkg)">
         <li><strong>State:</strong> ${c.pkg.state}</li>
      </py:if>
    </ul>

    <hr class="cleared" />
  </div>

</html>
