<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <xi:include href="common.html" /> 
  
  <py:def function="page_title">Packages - ${c.pkg.name}</py:def>

  <div py:match="content">
    <h2>
      Package: ${c.pkg.name}

      <span class="object-action">
      <py:if test="c.auth_for_edit">
        <a href="${h.url_for(controller='package',action='edit',id=c.pkg.name)}">[edit]</a>
      </py:if>
      <a href="${h.url_for(controller='package',action='history',id=c.pkg.name)}">[history]</a>
      <py:if test="c.auth_for_authz">
        <a href="${h.url_for(controller='package',action='authz',id=c.pkg.name)}">[authorization]</a>
      </py:if>
      </span>
    </h2>

    <h3>
      Openness:
      ${package_openness(c.pkg)}
      &mdash;
      <a href="http://isitopen.ckan.net/enquiry/create/?ckan_package=${c.pkg.name}">make an enquiry using Is It Open</a>
    </h3>

    ${c.content}
  </div>

  <xi:include href="layout.html" />
</html>

