{% extends "package/read_base.html" %}

{% set pkg = c.pkg %}

{% block primary_content_inner %}
  <section class="module-content">
    <h2 class="hide-heading">{{ _('Related Media for {dataset}').format(dataset=h.dataset_display_name(c.pkg)) }}</h2>
    {% if c.pkg.related %}
      {% snippet "related/snippets/related_list.html", related_items=c.pkg.related, pkg_id=c.pkg.name %}
    {% else %}
      <p class="empty">No related items</p>
    {% endif %}
  </section>
{% endblock %}

{% block secondary_help_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-large icon-info-sign"></i> {{ _('What is Related Media?') }}</h2>
    <div class="module-content">
      {% trans %}
        <p>Related Media is any app, article, visualisation or idea related to
        this dataset.</p>
        <p>For example, it could be a custom visualisation,
        pictograph or bar chart, an app using all or part of the data or
        even a news story that references this dataset.</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}
