{% extends "page.html" %}

{% set pkg = c.pkg %}

{% block breadcrumb_content %}
  <li>{% link_for _('Datasets'), controller='package', action='search', highlight_actions = 'new index' %}</li>
  <li>{% link_for h.truncate(h.dataset_display_name(pkg), 30), controller='package', action='read', id=c.pkg.name %}</li>
  <li class="active"><a href="">{{ _('Related') }}</a></li>
{% endblock %}

{% block actions_content %}
  {% snippet 'package/snippets/back_to_package_action.html', pkg=pkg %}
  <li>{% link_for _('Add Item'), controller='related', action='new', id=pkg.name, class_='btn', icon='plus' %}</li>
{% endblock %}

{% block primary_content %}
  <div class="module">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Related Media for {dataset}').format(dataset=h.dataset_display_name(c.pkg)) }}</h1>
      {% if pkg.related %}
        {% include "related/snippets/related_list.html" %}
      {% else %}
        <p class="empty">No related items</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-large icon-info-sign"></i> {{ _('What is Related Media?') }}</h2>
    <div class="module-content">
      {% trans %}
        <p>Related Media is any app, article, visualisation or idea related to
        this dataset.</p>
        <p>For example, it could be a custom visualisation,
        pictograph or bar chart, an app using all or part of the data or
        even a news story that references this dataset.</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}
