{% extends "package/resource_edit_base.html" %}

{% block subtitle %}{{ _('Edit') }} - {{ h.resource_display_name(res) }} - {{ h.dataset_display_name(pkg) }}{% endblock %}

{% block form %}
  {% snippet 'package/snippets/resource_edit_form.html',
    data=data,
    errors=errors,
    error_summary=error_summary,
    pkg_name=pkg.name,
    form_action=c.form_action,
    allow_upload=g.ofs_impl and logged_in,
    resource_form_snippet=resource_form_snippet,
    dataset_type=dataset_type %}
{% endblock %}
