{% extends "package/resource_edit_base.html" %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block primary_content_inner %}

  {% set action = h.url_for(controller='ckanext.datapusher.plugin:ResourceDataController', action='resource_data', id=pkg.name, resource_id=res.id) %}

  <form method="post" action="{{ action }}" >

    <button class="btn btn-primary" name="save" type="submit">
      {{ _('Upload Data') }}
    </button>

    <h3>
      {{ _('Status:') }}
      {{ status.status.capitalize() if status.status else _('Not Uploaded Yet') }}
    </h3>

    {% if status.error and status.error.message %}
      <div class="alert alert-error">
        <strong>{{ _('Upload Error') }}</strong> &mdash; {{ status.error.message }}
      </div>
    {% endif %}

    {% if status.status %}
      <h3>{{ _('Last Updated: ') }} {{ h.time_ago_from_timestamp(status.last_updated) }} </h3>
    {% endif %}

    {% if status.status and status.task_info %}
      <h3>{{ _('Upload Log') }}</h3>
      {{ h.debug_inspect(status.task_info.logs) }}
    {% endif %} 
    
    {{ status }}

  </form>

{% endblock %}
