{% extends "package/edit_base.html" %}

{% set logged_in = true if c.userobj else false %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block primary_content_inner %}
  {% link_for _('View all resources'), controller='package', action='resources', id=pkg.name, class_='btn pull-right', icon='arrow-left' %}
  <h1>{% block form_title %}{{ _('Edit resource') }}{% endblock %}</h1>
  {% block form %}{% endblock %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'vendor/fileupload' %}
{% endblock %}
