<form action="${h.url_for(controller='package', action='search', id=None)}" method="GET">
  ${h.text('q', size=40, value=c.q)}
  ${h.submit('search', _('Search Packages &raquo;'))}
  <p class="desc">
    E.g. 'geo', 'shakespeare', 'science'
  </p>
  <div>Filters: <label for="open_only" class="inline">${h.checkbox(name='open_only', checked=c.open_only)} open license</label>
  <label for="downloadable_only" class="inline">${h.checkbox(name='downloadable_only', checked=c.downloadable_only)} downloadable</label></div>
</form>
