<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Packages - Search</py:def>

  <div py:match="content">
    <h2>Packages - Search</h2>
    <form action="" method="GET">
      ${XML(h.text_field('q', size=40, value=c.q))}
      ${XML(h.submit('Search &raquo;', name='search'))}
      <ul class="desc">
        <li>Simple text: will search package names and titles</li>
        <li>By attribute: e.g. 'notes: abc' will search package notes for
        'abc', 'title: abc' will search titles etc.
        </li>
        <li>By tags: 'tag: geodata us' will search for packages tagged with
        'geodata' and 'us'</li>
      </ul>
    </form>
    <py:if test="c.show_results">
    <p>There 
      <py:if test="c.package_count == 1">
    is ${c.package_count} result.
      </py:if>
      <py:if test="c.package_count != 1">
    are ${c.package_count} results.
      </py:if>
    </p>
      <py:if test="c.package_count > 0">
      <ul>
        <li py:for="package in c.packages">
          ${XML(h.link_to(package.name, h.url_for(action='read',
          id=package.name)))} - ${package.title}
        </li>
      </ul>
      </py:if>
    </py:if>
  </div>

  <xi:include href="layout.html" />
</html>


