<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Packages - Search</py:def>

  <div py:match="content">
    <h2>Search packages</h2>
    
    <xi:include href="search_form.html" />
    
    <py:if test="c.q">
      <hr />
    
      <py:if test="c.tags_count > 0">
        <p><strong>${c.tags_count}</strong> tags found (max ${c.tag_limit} shown).</p>
        ${tag_list(c.tags)}
      </py:if>

      <p><strong>${c.page.item_count}</strong> packages found.</p>
      <py:if test="c.page.item_count == 0">
        <p>Would you like to <a href="${h.url_for(action='new', id=None)}">create a new package?</a></p>
      </py:if>
      ${c.page.pager(q=c.q)}  
      ${package_list(c.page.items)}
      ${c.page.pager(q=c.q)}
    </py:if>
  </div>

  <xi:include href="layout.html" />
</html>


