<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

<form id="package-search" class="package-search" action="${h.url_for(controller='package', action='search', id=None)}" method="GET">
  <input type="search" class="search" name="q" value="${c.q}" autocomplete="off" results="5" placeholder="Search..." />
  <span py:if="c.fields">
  <py:for each="(k, v) in c.fields"> 
    <input type="hidden" name="${k}" value="${v}" />  
  </py:for>
  </span>

  <div class="package-search-filters">Filter by <label for="open_only" class="inline">${h.checkbox(name='open_only', checked=c.open_only)} packages with open licenses</label>
  <label for="downloadable_only" class="inline">${h.checkbox(name='downloadable_only', checked=c.downloadable_only)} packages with downloads</label>
  <input type="submit" value="${_('Search')}" class="button" />
  </div>
</form>

</html>
