{% extends "package/base.html" %}

{% set logged_in = true if c.userobj else false %}
{% set res = c.resource %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
{% endblock %}

{% block content_action %}
  {% link_for _('All Views'), controller='package', action='resource_views', id=pkg.name, resource_id=res.id, class_='btn', icon='arrow-left' %}
{% endblock %}

{% block content_primary_nav %}
{% endblock %}

{% block primary_content_inner %}
  {% block form %}{% endblock %}
  {% if to_preview %}
    {% include 'package/snippets/resource_view.html' %}
  {% endif %}
{% endblock %}

{% block secondary_content %}
  {% snippet 'package/snippets/view_help.html' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
