.input-group {
  .form-control {
    z-index: 0;
  }
}

.input-group { 
  .btn-outline-secondary {
    border-color: #ced4da;
  }
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}