.media-image {
    @include border-radius(4px);
    img {
        min-width: 100%;
    }
}

.media-heading {
    font-size: 18px;
    line-height: 1.3;
    margin: 5px 0;
    @include break-word();
}

// Overlay
.media-overlay {
    position: relative;
    min-height: 35px; // Min height for the heading.
}

.media-overlay .media-heading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px 10px;
    margin: 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    color: #fff;
    z-index: 1;
    @include border-radius(0 0 3px 3px);
}

.media-overlay .media-image {
    float: none;
    display: block;
    margin-right: 0;
}
