{% extends "package/base_form_page.html" %}

{% block primary_content %}

{% block page_header %}{% endblock %}
    <section class="module">
        <div class="module-content">
          {% block primary_content_inner %}
              {%  if h.check_access('organization_create') %}
                <div class="alert alert-warning">{{ _('Before you can create a dataset you need to create an organization.') }}</div>

                  <a class='btn btn-primary' href="{{ h.url_for(controller='organization', action='new') }}">
                    {{ _('Create a new organization') }}
                  </a>

              {% else %}
                   <div class="alert alert-danger">
                      <p> {{ _('There are no organizations to which you can assign this dataset.') }} </p>
                      <p>{{ _('Ask a system administrator to create an organization before you can continue.') }}</p>
                   </div>

              {% endif %}

            {% endblock %}
        </div>
    </section>
{% endblock %}