{% ckan_extends %}

{% block field_heading %}
  {% if res.url_type != 'tabledesigner' %}
    {{ super() }}
  {% else %}
    <h3>{{ _("Field {num}.").format(num=position) }}
      {{ field.id or '' }}
      {{ 0/0 }}
      ({{ h.tabledesigner_column_type(field.tdtype or field.type).label }})
    </h3>
    {% if is_new %}
      <label for="{{ prefix }}__{{ position }}__pk">
        {{ _("Primary Key") }}
      </label>
        <input id="{{ prefix }}__{{ position }}__pk"
          type="checkbox"
          name="{{ prefix }}__{{ position }}__pk">
    {% endif %}
    {% if not field.id %}
      {{ form.input(prefix ~ '__' ~ position ~ '__id',
        is_required=true,
        label=_('ID'), classes=['control-full']) }}
    {% endif %}
  {% endif %}
  {% if field.tdtype %}
    <input type="hidden" name="{{ prefix }}__{{ position }}__tdtype" value="{{
      field.tdtype
    }}">
  {% endif %}
{% endblock %}

{% block datapusher_xloader_fields %}
  {# datapusher fields don't apply to our resources #}
  {% if res.url_type != 'tabledesigner' %}
    {{ super() }}
  {% endif %}
{% endblock %}
