{% ckan_extends %}

{% block field_heading %}
  {% if res.url_type != 'tabledesigner' %}
    {{ super() }}
  {% else %}
    <h3>{{ _("Field {num}.").format(num=position) }}
      {{ field.id or '' }}
      ({{ h.tabledesigner_column_type(field.info.tdtype or field.type).label }})
    </h3>
    {% call form.select(
      'info__' ~ position ~ '__pkreq',
      id='field-f' ~ position ~ 'choices',
      label=_("Primary Key / Required"),
      options=[
        {'value': '', 'text': ''},
        {'value': 'pk', 'text': _('Primary Key')},
        {'value': 'req', 'text': _('Required')},
      ],
      classes=['control-full'],
      selected=field.get('info', {}).get('pkreq', '')) %}
    {% endcall %}

    {% if not field.id %}
      {% call form.input('info__' ~ position ~ '__id',
        is_required=true,
        label=_('ID'), classes=['control-full']) %}
        {{ form.info(
          text=_('Field identifier or column heading when exported to CSV')
        )}}
      {% endcall %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block datapusher_xloader_fields %}
  {% if res.url_type == 'tabledesigner' %}
    {% if field.info %}
      {% set ct = h.tabledesigner_column_type(field.info.tdtype) %}
      {% if ct.design_snippet %}
        {% snippet 'tabledesigner/design_snippets/' + ct.design_snippet,
          ct=ct,
          position=position,
          field=field,
          form=form
        %}
      {% endif %}
    {% endif %}
    {# datapusher fields don't apply to our resources #}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
