{% ckan_extends %}

{% block field_heading %}
  {% if res.url_type != 'tabledesigner' %}
    {{ super() }}
  {% else %}
    <h3>{{ _("Field {num}.").format(num=position) }}
      {{ field.id or '' }}
      ({{ h.tabledesigner_column_type(field.info.tdtype or field.type).label }})
    </h3>
    {% call form.select(
      'info__' ~ position ~ '__pkreq',
      id='field-f' ~ position ~ 'choices',
      label=_("Primary Key / Required"),
      options=[
        {'value': '', 'text': ''},
        {'value': 'pk', 'text': _('Primary Key')},
        {'value': 'req', 'text': _('Required')},
      ],
      classes=['control-full'],
      selected=field.get('info', {}).get('pkreq', '')) %}
    {% endcall %}

    {% if not field.id %}
      {% call form.input('info__' ~ position ~ '__id',
        is_required=true,
        label=_('ID'), classes=['control-full']) %}
        {{ form.info(
          text=_('Field identifier or column heading when exported to CSV')
        )}}
      {% endcall %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block datapusher_xloader_fields %}
  {# datapusher fields don't apply to our resources #}
  {% if res.url_type != 'tabledesigner' %}
    {{ super() }}
  {% endif %}

  {% if field.info.tdtype == 'choice' %}
    {% call form.input('info__' ~ position ~ '__choices',
      label=_('Choices'), id='field-f' ~ position ~ 'choices',
      value=field.get('info', {}).get('choices', ''), classes=['control-full']) %}
      {{ form.info(
        text=_('Comma-separated list of options, e.g. <code>aa,b1,b2</code>')
      )}}
    {% endcall %}
  {% endif %}
{% endblock %}
