{% extends "package/resource_edit_base.html" %}

{% set num = records | count %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} - {{ h.resource_display_name(res) }} -
{{ungettext('Delete Row', 'Delete Rows', num)}} {% endblock %}

{% block primary_content_inner %}

  <h1>{{ ungettext('Delete Row', 'Delete Rows', num) }}</h1>

  <p>{{ungettext('Delete {num} row?', 'Delete {num} rows?', num).format(num=num) }}</p>

  <form method="post" >
    <button class="btn btn-primary" name="save" type="submit">
      <i class="fa fa-alert"></i> {{ _('Delete') }}
    </button>
  </form>
{% endblock %}

