body {
  background: none;
}

table {
  /*width: none !important;*/
  max-width: none !important;
}

/* so user does not see table being dynamically created */
body.dt-view { 
  visibility: hidden;
}

body.dt-print-view {
  visibility: visible;
}

table.dataTable {
	margin-left: 0px;
}

div.dataTables_scroll{
  width: 100% !important;
}

#dtprv_processing {
  z-index: 100;
}

/* make _id column darker */
div.DTFC_LeftBodyWrapper {
  filter: brightness(0.85);
}

/* make display record details header sticky */
#modalHeader {
    background-color: #f9f9f9;
    position:sticky;
    top:0;
    width:100%;
    z-index:11;  
}

/* for dynamic resizing of datatable */
#resize_wrapper {
	position: absolute;
	top: 0.1em;
	left: 0.1em;
	right: 0.1em;
	bottom: 0.1em;
  max-width: 100vw;
  max-height: 100vh;
}

#refit-button {
  position: relative;
  display: inline;
  box-sizing: border-box;
  padding: 0.2em 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  cursor: pointer;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 12;
}


div.resourceinfo {
  display: inline-block;
  font-weight: bold;
}

div.sortinfo {
  display: block;
}

i.fa-info-circle {
  color: darkblue;
}

/* for webkit, blink browsers, use input type search cancel button */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor:pointer;
  height: 12px;
  width: 12px;
  background-image: url('vendor/FontAwesome/images/times-circle-solid.svg');
}

/* right align datatable buttons */
div.dt-buttons {
  position: relative;
  float: right;
}

/* tighten it up */
button.dt-button {
    margin-right: 0em;
}

/* for sorting controls */
table.dataTable thead .sorting {
  background-image: url("vendor/DataTables/images/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("vendor/DataTables/images/sort_asc.png") !important;
}
table.dataTable thead .sorting_desc {
  background-image: url("vendor/DataTables/images/sort_desc.png") !important;
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("vendor/DataTables/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("vendor/DataTables/images/sort_desc_disabled.png");
}


div.dt-button-collection {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  margin-top: 3px;
  padding: 8px 8px 4px 8px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: white;
  overflow: hidden;
  z-index: 2002;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}


/* Animation CSS */
#target {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  background: #7d0;
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, .2), inset -1px -1px 0 0 rgba(0, 0, 0, .05);
}

[class^="animated-"],
[class*=" animated-"] {
  animation-fill-mode: both;
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  20%, 60% {transform: translateX(-6px);}
  40%, 80% {transform: translateX(6px);}
}

.animated-shake {
  animation: shake .4s;
}
