table.dataTable thead .sorting_asc {
    background-image: none !important;
}
table.dataTable thead .sorting {
    background-image: none !important;
}
table.dataTable thead .sorting_desc {
    background-image: none !important;
}
