<!--!
Construct a facet module populated with links to filtered results.

name
  The field name identifying the facet field, eg. "tags"

title
  The title of the facet, eg. "Tags", or "Tag Cloud"

label_function
  Renders the human-readable label for each facet value.
  If defined, this should be a callable that accepts a `facet_item`.
  eg. lambda facet_item: facet_item.display_name.upper()
  By default it displays the facet item's display name, which should
  usually be good enough

if_empty
  A string, which if defined, and the list of possible facet items is empty,
  is displayed in lieu of an empty list.

count_label
  A callable which accepts an integer, and returns a string.  This controls
  how a facet-item's count is displayed.
  
  -->
<section class="module" xmlns:py="http://genshi.edgewall.org/" py:with="items=h.unselected_facet_items(name, 10)">
  <h2 class="heading">${h.facet_title(title)} <a href="${c.remove_field(name)}" class="action">Clear All</a></h2>
  <nav>
    <ul class="unstyled nav nav-simple">
      <py:for each="item in items">
        ${h.snippet('snippets/facet_item.html', name=name, item=item)}
      </py:for>
    </ul>
  </nav>
  <p class="footer" py:if="items">
    <a href="#" class="read-more">Show All ${h.facet_title(title)}</a>
  </p>
</section>
