{% if following %}
  {% set action='unfollow' %}
  {% set icon_class='fa fa-times-circle' %}
  {% set button_class %}
    {% block following_class %}btn btn-danger{% endblock %}
  {% endset %}
{% else %}
  {% set action='follow' %}
  {% set icon_class='fa fa-plus-circle' %}
  {% set button_class %}
    {% block unfollowing_class %}btn btn-success{% endblock %}
  {% endset %}
{% endif %}

<form action="/api/action/{{ action }}_dataset" method="post">
  <input type="hidden" name="id" value="{{ obj_id }}" />
  <button class="{{ button_class }}" type="submit"
      data-module="follow" data-module-type="{{ obj_type }}" data-module-id="{{ obj_id }}" data-module-action="{{ action }}">
    <i class="{{ icon_class }}"></i>
    {{ _(action|capitalize) }}
  </button>
</form>
