<section class="group-list module module-narrow module-shallow">
  <header class="module-heading">
    {% set url=h.url_for(controller='group', action='read', id=group.name) %}
    {% set truncate=truncate or 0 %}
    {% set truncate_title = truncate_title or 0 %}
    {% set title = group.title or group.name %}
    <a class="module-image" href="{{ url }}">
      <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" />
    </a>
    <h3 class="media-heading"><a href="{{ url }}">{{ group.title or group.name }}</a></h3>
    {% if group.description %}
      {% if truncate == 0 %}
        <p>{{ h.markdown_extract(group.description)|urlize }}</p>
      {% else %}
        <p>{{ h.markdown_extract(group.description, truncate)|urlize }}</p>
      {% endif %}
    {% endif %}
  </header>
  {% set list_class = "unstyled dataset-list" %}
  {% set item_class = "dataset-item module-content" %}
  {% snippet 'snippets/package_list.html', packages=group.packages, list_class=list_class, item_class=item_class, truncate=120 %}
</section>
