{% if pkg_dict.license_id %}
  {% if not text_only %}
    <section class="module module-narrow module-shallow license">
    <h2 class="module-heading"><i class="icon-medium icon-lock"></i> {{ _('License') }}</h2>
      <p class="module-content">
  {% endif %}
  {% if 'license_url' in pkg_dict %}
    <a href="{{ pkg_dict.license_url }}" rel="dc:rights">{{ pkg_dict.license_title }}</a>
  {% else %}
    <span property="dc:rights">{{ pkg_dict.license_title }}</span>
  {% endif %}
  {% if not text_only %}
    {% if pkg_dict.isopen %}
      <a href="http://opendefinition.org/okd/" title="{{ _('This dataset satisfies the Open Definition.') }}">
          <img class="open-data" src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="[Open Data]" />
        </a>
        {% endif %}
      </p>
    </section>
  {% endif %}
{% elif text_only %}
  {{ _('No License Provided') }}
{% endif %}
