{#
Displays a list of datasets.

packages       - A list of packages to display.
list_class     - The class name for the list item.
item_class     - The class name to use on each item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_list.html', packages=c.datasets %}

#}
{% if packages %}
  <ul class="dataset-list unstyled">
    {% for package in packages %}
      {% snippet 'snippets/package_item.html', package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title %}
    {% endfor %}
  </ul>
{% endif %}
