{#
Displays a list of packages in a grid.

packages       - A list of packages to display.
list_class     - The class name for the list item.
item_class     - The class name to use on each item.
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 120).
title_truncate - The length to truncate the title to (default: 40).

Example:

  {% snippet 'snippets/package_grid.html', packages=c.datasets[:4] %}

#}

{% set list_class = list_class or 'module-grid' %}
{% set item_class = item_class or 'module module-item' %}
{% set truncate = truncate or 120 %}
{% set truncate_title = truncate_title or 40 %}

{% snippet 'snippets/package_list.html', packages=packages, list_class=list_class, item_class=item_class, truncate=truncate, truncate_title=truncate_title, hide_resources=true, banner=true %}
