{% set item = pkg.related | first %}
<section class="module info related{{ " related-empty" if not item }}">
  <h2 class="heading"><i class="ckan-icon ckan-icon-photo"></i> Related <a class="action" href="{{ h.url_for(controller='related', action='new', id=pkg.name) }}">Add Related</a></h2>
  <div class="content">
    {% if item %}
      {{ item.type }}
      {{ item.title }}
      {{ item.description }}
      {{ item.url }}
      {{ item.image_url }}
      {{ item.id }}
    {% else %}
      <p>No apps, ideas, news stories or images have been
      related to this dataset yet, why not add one now?</p>
      <p class="action"><a class="btn" href="{{ h.url_for(controller='related', action='new', id=pkg.name) }}">Add Item</a></p>
    {% endif %}
  </div>
</section>
