<script src="{% url_for_static "/base/javascript/vendor/jquery.js" %}"></script>
<script src="{% url_for_static "/base/javascript/plugins/jquery.url-helpers.js" %}"></script>
<script src="{% url_for_static "/base/javascript/plugins/jquery.slug.js" %}"></script>
<script src="{% url_for_static "/base/javascript/plugins/jquery.slug-preview.js" %}"></script>
<script src="{% url_for_static '/base/javascript/sandbox.js' %}"></script>
<script src="{% url_for_static '/base/javascript/module.js' %}"></script>
<script src="{% url_for_static '/base/javascript/i18n.js' %}"></script>
<script src="{% url_for_static '/base/javascript/main.js' %}"></script>
<script src="{% url_for_static "/base/javascript/modules/slug-preview.js" %}"></script>
