<script src="{% url_for_static "/base/vendor/jquery.js" %}"></script>
<script src="{% url_for_static "/base/vendor/bootstrap/js/bootstrap-transition.js" %}"></script>
<script src="{% url_for_static "/base/vendor/bootstrap/js/bootstrap-modal.js" %}"></script>
<script src="{% url_for_static "/base/vendor/bootstrap/js/bootstrap-alert.js" %}"></script>
<script src="{% url_for_static "/base/vendor/bootstrap/js/bootstrap-tab.js" %}"></script>
<script src="{% url_for_static "/base/vendor/bootstrap/js/bootstrap-button.js" %}"></script>
<script src="{% url_for_static "/base/vendor/bootstrap/js/bootstrap-typeahead.js" %}"></script>
<script src="{% url_for_static "/base/javascript/plugins/jquery.inherit.js" %}"></script>
<script src="{% url_for_static "/base/javascript/plugins/jquery.proxy-all.js" %}"></script>
<script src="{% url_for_static "/base/javascript/plugins/jquery.url-helpers.js" %}"></script>
<script src="{% url_for_static "/base/javascript/plugins/jquery.date-helpers.js" %}"></script>
<script src="{% url_for_static "/base/javascript/plugins/jquery.slug.js" %}"></script>
<script src="{% url_for_static "/base/javascript/plugins/jquery.slug-preview.js" %}"></script>
<script src="{% url_for_static "/base/javascript/plugins/jquery.form-warning.js" %}"></script>
<script src="{% url_for_static '/base/javascript/sandbox.js' %}"></script>
<script src="{% url_for_static '/base/javascript/module.js' %}"></script>
<script src="{% url_for_static '/base/javascript/pubsub.js' %}"></script>
<script src="{% url_for_static '/base/javascript/client.js' %}"></script>
<script src="{% url_for_static '/base/javascript/notify.js' %}"></script>
<script src="{% url_for_static '/base/javascript/i18n.js' %}"></script>
<script src="{% url_for_static '/base/javascript/main.js' %}"></script>
<script src="{% url_for_static '/base/javascript/modules/select-switch.js' %}"></script>
<script src="{% url_for_static '/base/javascript/modules/slug-preview.js' %}"></script>
<script src="{% url_for_static '/base/javascript/modules/basic-form.js' %}"></script>
<script src="{% url_for_static '/base/javascript/modules/confirm-delete.js' %}"></script>
<script src="{% url_for_static '/base/javascript/modules/api-info.js' %}"></script>
