{% set current_url = h.full_current_url() %}
<section class="module social">
  <h2 class="heading"><i class="icon-medium icon-share"></i> Social</h2>
  <ul class="nav nav-simple">
    <li><a href="https://plus.google.com/share?url={{ current_url }}" rel="external"><i class="ckan-icon ckan-icon-gplus"></i> Google+</a></li>
		<li><a href="https://twitter.com/share?url={{ current_url }}" rel="external"><i class="ckan-icon ckan-icon-twitter"></i> Twitter</a></li>
    <li><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" rel="external"><i class="ckan-icon ckan-icon-fb"></i> Facebook</a></li>
  </ul>
</section>
