{#
  Render a list of tags linking to the dataset search page

  tags - list of tag dicts

  Example:

    {% snippet 'snippets/tag_list.html', tags=tags, _class='tag-list' %}

#}
{% set _class = _class or 'tag-list' %}
{% block tag_list %}
  <ul class="{{ _class }}">
    {% for tag in tags %}
      <li>
        <a class="{% block tag_list_item_class %}tag{% endblock %}" href="{% url_for 'dataset.search', tags=tag.name %}" title="{{ tag.display_name }}">{{ tag.display_name|truncate(22) }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
