{% extends "base.html" %}

{# use of c.resource and c.package are for backwards compatibility with old previews that need them #}

{% block subtitle %}{{ h.dataset_display_name(package or c.package) }} - {{h.resource_display_name(resource or c.resource) }}{% endblock %}

{# remove any scripts #}
{% block scripts %}
  <script>
    var preload_resource = {{ h.literal(h.dump_json(resource or c.resource)) }};
  </script>
{% endblock %}

{# remove any ckan styles #}
{% block styles %}{% endblock %}

{% block custom_styles %}{% endblock %}
