{% extends "page.html" %}

{% block title %}{{ _('Apps & Ideas') }} - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Apps & Ideas') }}</h1>
      {% if c.page.item_count %}

      <h4>Showing items <strong>{{c.page.first_item}} - {{c.page.last_item}}</strong> of <strong>{{c.page.item_count}}</strong> related items found</h4>
      {% else %}
      <h4><strong>{{c.page.item_count}}</strong> related items found</h4>
      {% endif %}

    <div class="well">
        <form action="" method="get" class="form-inline">
            <input type='hidden' name='page' value='1'/>

            <label for="type">Filter by type</label>
            <select name="type">
                <option value="">All</option>
                <option value="api" {% if c.filters.get('type') == 'api' %} selected="selected"{% endif %}>API</option>
                <option value="application" {% if c.filters.get('type') == 'application' %} selected="selected"{% endif %}>Application</option>
                <option value="idea" {% if c.filters.get('type') == 'idea' %} selected="selected"{% endif %}>Idea</option>
                <option value="news-article" {% if c.filters.get('type') == 'news-article' %} selected="selected"{% endif %}>News Article</option>
                <option value="paper" {% if c.filters.get('type') == 'paper' %} selected="selected"{% endif %}>Paper</option>
                <option value="post" {% if c.filters.get('type') == 'post' %} selected="selected"{% endif %}>Post</option>
                <option value="visualization" {% if c.filters.get('type') == 'visualization' %} selected="selected"{% endif %}>Visualization</option>
            </select>

            <label for="sort">Sort by</label>
            <select name="sort">
                <option value="">Default</option>
                <option value="view_count_desc" {% if c.filters.get('sort') == 'view_count_desc' %} selected="selected"{% endif %}>Most viewed</option>
                <option value="view_count_asc" {% if c.filters.get('sort') == 'view_count_asc' %} selected="selected"{% endif %}>Least viewed</option>

                <option value="created_desc" {% if c.filters.get('sort') == 'on' %} selected="selected"{% endif %}>Newest</option>
                <option value="created_asc" {% if c.filters.get('sort') == 'created_asc' %} selected="selected"{% endif %}>Oldest</option>

            </select>


            <label for="featured">Featured items only?</label>
            <input type="checkbox" name="featured" {% if c.filters.get('featured') == 'on' %} checked="checked"{% endif %}></input>
            <button class="btn btn-primary pull-right">Apply</button>
        </form>
    </div>

      <ul class="related-items thumbnails">
        {% for related in c.page.items %}
          {{related_summary(related, false)}}
        {% endfor %}
      </ul>

      {{c.page.pager()}}

    </div>
  </article>
{% endblock %}

{% block sidebar %}{% endblock %}
