include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/statistical_org *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/statistical_org/migration *.ini *.py *.mako
