body {
  width: 500px;
  max-height: 600px;
  overflow-y: scroll;
}

pre {
  font-size: 13px;
}

.loading {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  position: fixed;
  left: -20px;
  top: 20px;
}
