{# ckanext-canada override for old bootstrap accordion #}

{% block dictionary_view %}
  <div class="module-content">
    <h2>{{ _('Data Dictionary') }}</h2>

    {% macro dictionary_field(label) %}
      {% set content = caller().strip() %}
      {% if content %}
        <dt class="col-md-3 text-secondary">{{ label }}</dt>
        <dd class="col-md-9">{{ content }}</dd>
      {% endif %}
    {% endmacro %}

    <div class="panel-group">
      {% for field in ddict %}

        {% set field_type %}{% block dictionary_field_type scoped
          %}{{ field.type }}{% endblock %}{% endset %}

        {% set extra_info -%}
          {% call dictionary_field(_('Label')) %}
            {{ h.get_translated(field.get('info', {}), 'label') }}
          {% endcall %}
          {% call dictionary_field(_('Description')) %}
            {{ h.render_markdown(h.get_translated(
              field.get('info', {}), 'notes')) }}
          {% endcall %}
          {% block dictionary_field_extras scoped %}
          {% endblock %}
        {%- endset %}
        {# render_markdown to strip snippet comments and whitespace #}
        {% set has_extra=h.render_markdown(extra_info) %}

        <div class="panel{% if has_extra %} panel-default{% endif %}">
          <div class="panel-heading">
            <div class="row panel-title{% if has_extra %} collapsed{% endif %}"
            {% if has_extra %}
              role="button" data-toggle="collapse" aria-expanded="false"
              href="#collapse{{ prefix }}-{{ loop.index }}"
            {% endif %}>
              <div class="col-md-1">{{ loop.index }}.</div>
              <div class="col-md-6">{{
              h.get_translated(field.get('info', {}), 'label') or field.id
              }}</div>
              <div class="col-md-4">{{ field_type }}</div>
              <div class="col-md-1">{% if has_extra  %}»{% endif %}</div>
            </div>
          </div>
          {% if has_extra %}
            <div id="collapse{{ prefix }}-{{ loop.index }}" role="tabpanel"
              class="panel-collapse collapse"
              aria-labelledby="field-{{ loop.index }}">
              <div class="panel-body">
                <dl class="row">
                  {% block resource_data_dictionary_field scoped %}
                    {% call dictionary_field(_('ID')) %}{{ field.id }}{% endcall %}
                    {% call dictionary_field(_('Type')) %}{{ field_type }}{% endcall %}
                    {{ extra_info }}
                  {% endblock %}
                </dl>
              </div>
            </div>
          {% endif %}
        </div>

      {% endfor %}
    </div>
  </div>
{% endblock %}
