{# ckanext-canada override for old bootstrap accordion #}

{% block dictionary_view %}
  <div class="module-content">
    <h2>{{ _('Data Dictionary') }}</h2>

    {% macro dictionary_field(label) %}
      {% set content = caller().strip() %}
      {% if content %}
        <dt class="col-sm-3 text-secondary">{{ label }}</dt>
        <dd class="col-sm-9">{{ content }}</dd>
      {% endif %}
    {% endmacro %}

    <div class="panel-group">
      {% for field in ddict %}

        {% set field_type %}{% block dictionary_field_type scoped
          %}{{ field.type }}{% endblock %}{% endset %}

        <div class="panel panel-default">
          <div class="panel-heading"
            ><h3 role="button" style="display:block" class="panel-title"
            data-toggle="collapse" aria-expanded="false"
            href="#collapse{{ prefix }}-{{ field.id }}"
            >{{ loop.index }}.
            {{
            h.get_translated(field.get('info', {}), 'label') or field.id
            }} ({{ field_type }}) »</a></div>
          <div id="collapse{{ prefix }}-{{ field.id }}" role="tabpanel"
            class="panel-collapse collapse"
            aria-labelledby="field-{{ field.id }}">
            <div class="panel-body">
              <dl class="row">
                {% block resource_data_dictionary_field scoped %}
                  {% call dictionary_field(_('ID')) %}{{ field.id }}{% endcall %}
                  {% call dictionary_field(_('Type')) %}{{ field_type }}{% endcall %}
                  {% call dictionary_field(_('Label')) %}{{
                    h.get_translated(field.get('info', {}), 'label') }}{% endcall %}
                  {% call dictionary_field(_('Description')) %}{{
                    h.render_markdown(h.get_translated(
                    field.get('info', {}), 'notes')) }}{% endcall %}
                  {% block dictionary_field_extras scoped %}
                  {% endblock %}
                {% endblock %}
              </dl>
            </div>
          </div>
        </div>

      {% endfor %}
    </div>
  </div>
{% endblock %}
