{% import 'macros/form.html' as form %}

<h3>{{ _( "Field {num}.").format(num=position) }} {{ field.id }} ({{ field.type }})</h3>

{#
  Data Dictionary fields may be added this snippet. New fields following
  the 'info__' ~ position ~ '__namegoeshere' convention will be saved
  as part of the "info" object on the column.
#}

{{ form.select('info__' ~ position ~ '__type_override',
  label=_('Type Override'), options=[
  {'name': '', 'value': ''},
  {'name': 'text', 'value': 'text'},
  {'name': 'numeric', 'value': 'numeric'},
  {'name': 'timestamp', 'value': 'timestamp'},
  ], selected=field.get('info', {}).get('type_override', '')) }}

{{ form.input('info__' ~ position ~ '__label',
  label=_('Label'), id='field-f' ~ position ~ 'label',
  value=field.get('info', {}).get('label', ''), classes=['control-full']) }}

{{ form.markdown('info__' ~ position ~ '__notes',
  label=_('Description'), id='field-d' ~ position ~ 'notes',
  value=field.get('info', {}).get('notes', '')) }}
