{% trans %}
<p>CKAN is the world’s leading open-source data portal platform.</p>

<p>CKAN is a complete out-of-the-box software solution that makes data
accessible and usable – by providing tools to streamline publishing, sharing,
finding and using data (including storage of data and provision of robust data
APIs). CKAN is aimed at data publishers (national and regional governments,
companies and organizations) wanting to make their data open and available.</p>

<p>CKAN is used by governments and user groups worldwide and powers a variety
of official and community data portals including portals for local, national
and international government, such as the UK’s <a href="https://data.gov.uk">data.gov.uk</a> and the
United States <a href="https://catalog.data.gov/">catalog.data.gov</a>, the Brazilian <a href="https://dados.gov.br/">dados.gov.br</a>, Dutch and
Netherland government portals, as well as city and municipal sites in the US,
UK, Argentina, Finland and elsewhere.</p>

<p>CKAN: <a href="https://ckan.org/">https://ckan.org/</a><br />
CKAN Showcases: <a href="https://ckan.org/showcase">https://ckan.org/showcase</a><br />
Features overview: <a href="https://ckan.org/features/">https://ckan.org/features/</a></p>
{% endtrans %}
