{% trans %}

  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="/base/images/placeholder-420x220.png" alt="Placeholder" width="420" height="220">
    </div>

    <div class="col-md-6">
      <div class="row col-md-12">Name: John Smith</div>
      <div class="row col-md-12">Email: <a href="mailto:name@email.com">name@email.com</a></div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="/base/images/placeholder-420x220.png" alt="Placeholder" width="420" height="220">
    </div>

    <div class="col-md-6">
      <div class="row col-md-12">Name: John Smith</div>
      <div class="row col-md-12">Email: <a href="mailto:name@email.com">name@email.com</a></div>
    </div>
  </div>

{% endtrans %}
