{% trans %}

  <div class="row">
    <div class="col-md-6">
      {# <img class="img-responsive" src="/base/images/contacts/sherin.png" alt="Sherin Abdelhamid" width="420" height="220"> #}
      <img class="img-responsive" src="/base/images/contacts/sherin.png" alt="Sherin Abdelhamid">
    </div>

    <div class="col-md-6">
      <div class="row col-md-12"><h3>Sherin Abdelhamid</h3></div>
      <div class="row col-md-12">Sherin is the Technical Data and Global Trends Research Analyst of AVIN and the manager of the AVIN’s data strategy. For data-related inquiries or information, please contact her at the address below.</div>
      <div class="row col-md-12"><strong>Email:</strong> <a href="mailto:sherin.abdelhamid@oce-ontario.org">sherin.abdelhamid@oce-ontario.org</a></div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="/base/images/contacts/steve.png" alt="Steve Deery">
    </div>

    <div class="col-md-6">
      <div class="row col-md-12"><h3>Steve Deery</h3></div>
      <div class="row col-md-12">Steve is an Associate at MaRS Discovery District and the product manager for the AVIN Data Catalogue. For requests or information regarding technical issues, errors, or improvements to functionality, please contact him at the address below.</div>
      <div class="row col-md-12"><strong>Email:</strong> <a href="mailto:sdeery@marsdd.com">sdeery@marsdd.com</a></div>
    </div>
  </div>

{% endtrans %}
