{% trans %}

<h3>
  Modified: June 16, 2016
</h3>


<h2>
We Respect Your Privacy
</h2>

<p>
MaRS and OCE approach our communications with you, including on the Internet, with respect for, and commitment to protecting, your privacy rights. This privacy policy (the “Policy”) describes how we collect, protect, use and share information gathered about you, including on our website (the “Site”). We hope that this disclosure will help increase your confidence in how we collect, protect, use and share information including on the Site, and enhance your experience on the Internet. Please note that by visiting MaRS and OCE at the Site, you are accepting the practices described in this Policy.
</p>

<p>
MaRS and/or OCE may review this Policy to ensure that it is relevant and remains current with changing laws, regulations and technologies, and reserves the right to change this Policy at any time. Our updated Policy will be posted on the Site, and will be current as of the “Last modified date” set out above. However, while the Policy may change, MaRS and OCE will treat your personal information in a manner consistent with the Policy under which it was collected, unless MaRS and/or OCE has your consent to treat it differently.
</p>


<h2>
What is Personal Information
</h2>

<p>
Personal information is any information about an identifiable person.
</p>

<p>
This policy applies to personal information about individuals and does not apply to the information collected, used or disclosed with respect to corporate or commercial entities. Also, this policy does not impose any limits on our collection, use or disclosure of information exempted under applicable privacy legislation, including business contact information and certain publicly available information.
</p>


<h2>
What Personal Information does MaRS and OCE collect and how do MaRS and OCE use this Personal Information?
</h2>

<p>
MaRS and/or OCE may collect various information from you, including your first and last name, address, phone number, email address and subject of inquiry (e.g. information requests), preferred means of communication, your interaction with our website, social media sites and mobile applications (including information such as IP addresses, browser type, language, access times, referring website, etc.), and other information you provide to us. MaRS and/or OCE may collect this information in various ways, including through your interaction with the Site and through your communications with MaRS and/or OCE.
</p>


<h2>
To whom do MaRS and OCE disclose Personal Information?
</h2>

<p>
MaRS and OCE will not disclose such information to other persons, other than as follows:
</p>

<ol type="1">
  <li>to the extent required for the Identified Purposes, as described to you at the time of collection.</li>
  <li>to other third parties, such as sponsors and website content partners, but only where and to the extent you give us your permission to do so.</li>
  <li>as required or permitted by law.</li>
</ol>


<h2>
Why do MaRS and OCE collect, use and disclose Personal Information?
</h2>

<p>
MaRS and OCE collect, use and disclose your personal information for the following purposes:
</p>

<ul>
  <li>to authenticate your identity;</li>
  <li>to operate, customize and improve our website, social media sites, mobile applications, advertisements, products and services;</li>
  <li>to allow you to use portions of our website such as our forums;</li>
  <li>to allow you to participate in our contests, and to administer those contests;</li>
  <li>to monitor your compliance with any of your agreements with us;</li>
  <li>to administer our provision of, and your payment for, products or services you request from us;</li>
  <li>to provide newsletters, electronic messages and information you request from us;</li>
  <li>to provide other information to you regarding our products and services or third party products and services, unless you opt out of receiving that information;</li>
  <li>to manage or transfer our assets or liabilities, for example in the case of an acquisition, disposition or merger;</li>
  <li>to protect us, yourself and others from fraud and error and to safeguard our business interests;</li>
  <li>to collect debts owed to us;</li>
  <li>to comply with legal and regulatory requirements; and</li>
  <li>for other purposes we may inform you about from time-to-time.</li>
</ul>

<p>
We may transfer your personal information across provincial or national borders to fulfil any of the above purposes (including both the necessary and the optional purposes), including to service providers located in the United States and other jurisdictions outside of Canada who may be subject to applicable disclosure laws in those jurisdictions. You may contact our Privacy Officer (whose contact information is provided below) to obtain information about our policies and practices regarding our use of service providers outside of Canada, or to ask questions about the collection, use, disclosure or storage of personal information by our off-shore service providers.
</p>

<p>
When your personal information is to be used for a purpose not previously identified, the new purpose will be disclosed to you prior to such use, and your consent will be sought unless the use is authorized or required by law.
</p>

<p>
We may work with other companies to provide services on our behalf, such as website hosting services, payment processing services and product delivery services.  Those service providers will be permitted to obtain only the personal information they need to deliver the service in question, and they will be required to maintain the confidentiality of that information.
</p>


<h2>
Consent
</h2>

<p>
MaRS and OCE will not sell or rent your personal information to third parties, and will obtain your consent to collect, use or disclose personal information except where we are authorized or required by law to do so without consent. For example, we may collect, use or disclose personal information without your knowledge or consent where:
</p>

<ul>
  <li>the information is publicly available, as defined by statute or regulation;</li>
  <li>we are obtaining legal advice; or</li>
  <li>we reasonably expect that obtaining consent would compromise an investigation or proceeding.</li>
</ul>


<h2>
Other exceptions may apply.
</h2>

<p>
Your consent can be express, implied or given through an authorized representative such as a lawyer, agent or broker.
</p>

<p>
Consent may be provided orally, in writing, electronically, through inaction (such as when you fail to notify us that you do not wish your personal information collected/used/disclosed for various purposes after you have received notice of those purposes) or otherwise.
</p>

<p>
You may withdraw consent at any time, subject to legal, contractual and other restrictions, provided that you give reasonable notice of withdrawal of consent to us. On receipt of notice of withdrawal of consent, we will inform you of the likely consequences of the withdrawal of consent, which may include our inability to provide certain services for which that information is necessary.
</p>

<p>
Any material, information or other communication (including questions, comments and suggestions) you transmit to us through our website, social media sites or other online sites, or mobile applications will be considered non-confidential and non-proprietary. We may forward your communications and other personal information to any of our offices or affiliates throughout the world in connection with any products or services you request, or in connection with any communications you wish to have with us, and you consent to us doing so.
</p>


<h2>
Limits on Collection
</h2>

<p>
MaRS and OCE will not collect information indiscriminately and will limit collection of information to that which is reasonable and necessary for the above purposes. We will also collect information as is otherwise authorized by law.
</p>


<h2>
Limits on Using, Disclosing and Retaining Personal Information
</h2>

<p>
MaRS and OCE will only use and disclose your personal information for the purposes set out above and as authorized by law.
</p>

<p>
We will keep personal information used to make a decision affecting you for at least one year after using it to make the decision, unless otherwise permitted or required by law.
</p>

<p>
We will destroy, erase or make anonymous documents or other records containing personal information as soon as it is reasonable to assume that the original purpose is no longer being served by retention of the information and retention is no longer necessary for legal or business purposes.
</p>

<p>
We will take due care when destroying personal information so as to prevent unauthorized access to the information.
</p>


<h2>
Accuracy
</h2>

<p>
MaRS and OCE will make a reasonable effort to ensure that personal information we are using or disclosing is accurate and complete. In some cases, we rely on you to ensure that certain information, such as your address or telephone number, is current, complete and accurate.
</p>

<p>
If you demonstrate the inaccuracy or incompleteness of personal information, we will amend the information as required. If appropriate, we will send the amended information to third parties to whom the information has been disclosed.
</p>
<p>
When a challenge regarding the accuracy of personal information is not resolved to your satisfaction, we will annotate the personal information under its control with a note that the correction was requested but not made.
</p>


<h2>
Providing Access
</h2>

<p>
Upon written request and authentication of identity, MaRS and/or OCE will provide you with your other personal information under our control, information about the ways in which that information is being used and a description of the individuals and organizations to whom that information has been disclosed. We will make the information available within 30 days or provide written notice where additional time is required to fulfil the request.
</p>

<p>
In some situations we may not be able to provide access to certain personal information. This may be the case where, for example, disclosure would reveal personal information about another individual, the personal information is protected by solicitor/client privilege, the information was collected for the purpose of an investigation or where disclosure of the information would reveal confidential commercial information that, if disclosed, could harm our competitive position. We may also be prevented by law from providing access to certain personal information.
</p>

<p>
Where an access request is refused, we will notify you in writing, document the reasons for refusal and outline further steps which are available to you.
</p>


<h2>
What is Aggregate Information
</h2>

<p>
“Aggregate information” is standard web server/visitor traffic information, commonly referred to as ‘aggregate information’, regarding overall website traffic patterns. Web servers normally collect this type of basic information as part of their web log processes. This aggregate information does not identify you and thus does not constitute personal information.
</p>

<p>
In addition to information provided by our visitors we use the normal Internet tracking tools associated with standard Internet protocols and web–based systems. This system information is typically stored in log files and the information is used for aggregate reporting. Aggregate reporting includes total number of visitors, most visited sections, peak traffic times, etc. Log files are simply transaction records web servers maintain. Those logs are used for recording information, such as:
</p>

<ul>
  <li>service provider IP addresses;</li>
  <li>browser versions;</li>
  <li>referring websites;</li>
  <li>search terms used;</li>
  <li>average number of pages requested;</li>
  <li>average duration of visit;</li>
  <li>total visitor traffic.</li>
</ul>

<p>
We use aggregate information gathered from your visit to better design our website. This information supplies us with a broad picture of how people use our website in order to help the management of our systems and to better serve our audience.
</p>


<h2>
How do we protect your personal information? Our commitment to data security
</h2>

<p>
In order to prevent unauthorized access to your personal information, maintain the accuracy of your personal information, and to ensure your personal information is used and disclosed only pursuant to this Policy, MaRS and OCE employees who have access to personal information strive to maintain physical, electronic, contractual and administrative safeguards to protect personal information collected with an appropriate level of physical or electronic security. However, confidentiality and security are not assured when information is transmitted electronically.
</p>


<h2>
What about practices of linked sites?
</h2>

<p>
This privacy statement applies only to the Site. Please be aware that MaRS and OCE are not responsible for the privacy practices of other websites to which it has links. We encourage you to read the privacy statements of each and every website that requests personal information from you.
</p>


<h2>
How do we use Cookies?
</h2>

<p>
A cookie is a small text file sent from a Web server and placed on your computer’s hard drive. A cookie is generally used to enhance your browsing experience. You can choose to set your browser to detect and reject cookies, to accept cookies from all sites, or to prompt you whenever a site wants to send you a cookie. Check your browser’s “Help” files to learn how to do this. If you choose to refuse cookies, you may not be able to access some of the interactive features on our Web sites.
</p>


<p>
Cookies used by MaRS and OCE do not give us access to anything on your hard drive and cannot do anything to your computer. MaRS and OCE use two types of cookies: session cookies (temporary) or persistent cookies (longer–term continuing use).
</p>

<ul>
  <li>Session cookies may be used to support on-line feedback/discussion, forms and registration and ‘e-commerce/shopping cart’ transactions. They are used only during your online session and expire when you close your browser. Without session cookies, moving around the Site could be much slower.</li>
  <li>Persistent cookies are different from session cookies because they are stored on your computer’s hard drive for some length of time. They are usually used if you want us to remember information about your Web preferences and passwords for automatic log-in purposes.</li>
</ul>


<h2>
Remarketing / Targeted Advertising
</h2>

<p>
In addition to the cookie uses described above, MaRS and OCE may also use cookies to serve our remarketing campaigns so that third-party vendors, including Google, Twitter and Facebook, show our ads on sites across the Internet. MaRS and OCE may also use targeted advertising services to tailor MaRS and/or OCE advertisements (both on the Site and on other sites) to your interests. You can opt out of these remarketing campaigns by turning off cookies in your browser, as described above.
</p>

<p>
MaRS and OCE may also disclose some of your personal information (such as your gender, age, location and interests) to the providers of targeted advertising services to help adjust the advertisements to your preferences; however, in that case, MaRS and/or OCE will contractually obligate the service providers to maintain the security of your information and only use it for the purpose of targeting MaRS’s and OCE’s ads to you. You can opt out of participating in these targeted ad programs by contacting our Privacy Officer as set out below.
</p>


<h2>
Who do I contact with questions or concerns with this privacy policy?
</h2>

<p>
For all inquiries as to your personal information, including requests to access or correct personal information, please send a written request to:
</p>

<p>
  MaRS Discovery District, Attention: Privacy Officer<br>
  MaRS Centre, South Tower, Suite 401<br>
  101 College Street, Toronto<br>
  Ontario, M5G 1L7<br>
  Or send an e-mail to: <a href="mailto:marsdiscoverydistrict@marsdd.com">marsdiscoverydistrict@marsdd.com</a>
</p>

{% endtrans %}
