{% set intro = g.site_intro_text %}

<div class="card module-promotion box">
  <div class="card-body">
    <h1 class="card-title">{{ _("Welcome to CKAN") }}</h1>
    {% if intro %}
      <p class="card-text">{{ h.render_markdown(intro) }}</p>
    {% else %}
      <p class="card-text">
        {% trans %}This is a nice introductory paragraph about CKAN or the site
        in general. We don't have any copy to go here yet but soon we will
        {% endtrans %}
      </p>
    {% endif %}
  </div>

  {% block home_image %}
      {% block home_image_content %}
        <a href="#">
          <img class="card-img-bottom" src="{{ h.url_for_static('/base/images/placeholder-420x220.png') }}" alt="Placeholder" />
        </a>
      {% endblock %}
      <div class="card-footer text-muted">{% block home_image_caption %}{{ _("This is a featured section") }}{% endblock %}</div>
  {% endblock %}
</div>
