{% set intro = g.site_intro_text %}

<div class="card">
  <div class="card-body"> 
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="card-title">{{ _("Welcome to CKAN") }}</h1>
      <p class="card-text">
        {% trans %}This is a nice introductory paragraph about CKAN or the site
        in general. We don't have any copy to go here yet but soon we will
        {% endtrans %}
      </p>
    {% endif %}
  </div>

  {% block home_image %}
    <div class="card-body">
      <h2 class="card-title">{% block home_image_caption %}{{ _("This is a featured section") }}{% endblock %}</h2>
      {% block home_image_content %}
        <a href="#">
          <img class="card-img" src="{{ h.url_for_static('/base/images/placeholder-420x220.png') }}" alt="Placeholder" width="420" height="220" />
        </a>
      {% endblock %}
      </div>
  {% endblock %}
</div>
