{% set placeholder = _('Search datasets') %}
{% set dataset_type = h.default_package_type() %}
{% set dataset_count = h.get_dataset_count() %}

<div class="module-search">
  <form class="search-form" method="get" action="{% url_for dataset_type ~ '.search' %}">
    <h2 class="heading">{{ dataset_count }}<span> {{ ungettext('dataset', 'datasets', dataset_count) }}</span></h2>
    <div class="search-input form-group">
      <input aria-label="{% block header_site_search_label %}{{ h.humanize_entity_type('package', dataset_type, 'search placeholder') or _('Search datasets') }}{% endblock %}" id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button class="btn" type="submit" aria-labelledby="search-label">
        <i class="fa fa-search"></i>
        <span class="sr-only" id="search-label">{{ _('Search') }}</span>
      </button>
    </div>
  </form>
</div>