<div role="main" class="hero">
  <div class="container">
    <h1 class="iod-title">{% trans %}Making Iranian Data Publicly Available{% endtrans %}</h1>

    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
</div>
<div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span12 col1">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>

      <div class="span12 col1">
        {% snippet 'home/snippets/group_list_home.html', groups=h.iod_theme_most_popular_groups() %}
      </div>

      <div class="span12 col1">
        <div class="box usecases">
          <div class="inner">
            <h3>{{ _('Use cases') }}</h3>
            <ul class="list">
              {% if h.lang() == 'en' %}
                <li>
                  <a target="_blank" rel="noopener" href="https://iranwire.com/en/features/4734">
                      <img src="/images/cases/naz901en.png">
                      <h3>90 percent of women out of work as Iran faces unemployment crisis</h3>
                      <dl>
                          <dt>Source:</dt>
                          <dd>Iranwire</dd>
                      </dl>
                      <div class="clamping"><p>Looking at the three indices for assessing the unemployment rate, employment rate and employment ratio for women by province, the nationwide imbalance of the job market for women becomes clearer.</p></div>
                  </a>
                </li>

                <li>
                    <a target="_blank" rel="noopener" href="https://iranwire.com/en/features/4877">
                        <img src="/images/cases/sim1001en.png">
                        <h3>More than 40% of Iranian households live below the poverty line</h3>
                        <dl>
                            <dt>Source:</dt>
                            <dd>Iranwire</dd>
                        </dl>
                        <div class="clamping"><p>There is no agreement among Iranian officials about how many people live below the poverty line in the Islamic Republic. Not only does this mean it's impossible to get a clear picture of poverty, it also makes it difficult to combat the problem itself.</p></div>
                    </a>
                </li>

                <li>
                    <a target="_blank" rel="noopener" href="https://iranwire.com/en/features/5144">
                        <img src="/images/cases/naz1101en.png">
                        <h3>Budgets compared: Rouhani vs. Ahmadinejad</h3>
                        <dl>
                            <dt>Source:</dt>
                            <dd>Iranwire</dd>
                        </dl>
                        <div class="clamping"><p>This report compares the budgets of Mahmoud Ahmadinejad and Hassan Rouhani during an eight-year period between March 2009 and March 2017 (Iranian calendar years 1388 to 1395).</p></div>
                    </a>
                </li>
              {% elif h.lang() == 'fa_IR' %}
                <li>
                  <a target="_blank" rel="noopener" href="https://www.radiofarda.com/a/iran-soc-women-eco-activities/28734705.html">
                    <img src="/images/cases/na8a.png">
                    <h3>آیا مشارکت اقتصادی زنان در افزایش نرخ طلاق در ایران موثر است؟</h3>
                    <dl>
                      <dt>منبع:</dt>
                      <dd>رادیو فردا</dd>
                    </dl>
                    <div class="clamping"><p>طی سال‌های اخیر میزان طلاق در ایران افزایش قابل‌توجهی پیدا کرده و تحلیل‌های مختلفی دراین‌باره بیان شده است. به‌خصوص از طرف حکومت ایران و بخش‌های مذهبی افراطی و سنت‌گرای آن، مشارکت اقتصادی زنان و استقلال مالی آنها همواره یکی از دلایل اصلی افزایش طلاق فرض می‌شود. در سال‌های گذشته این بخش‌ها سعی کرده‌اند زنان ایرانی را هرچه بیشتر برای حفظ بنیان خانواده خانه‌نشین و به فرزندآوری و صرفا پرورش آنها تشویق کنند. در این مقاله با نگاهی کلی به آمار رسمی نرخ طلاق در ۱۰ سال گشته، این آمار را با شاخص‌هایی همچون نرخ مشارکت اقتصادی زنان و هزینه سرانه خانوار مقایسه می‌کنیم تا بتوانیم چگونگی این ارتباط‌ها را بررسی کنیم.</p></div>
                  </a>
                </li>

                <li>
                  <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-better-jobs-all-for-men/28211599.html">
                    <img src="/images/cases/sim11a.png">
                    <h3>بانک‌های خصوصی ایران، دولتی مانده‌اند</h3>
                    <dl>
                      <dt>منبع:</dt>
                      <dd>ایران‌وایر</dd>
                    </dl>
                    <div class="clamping"><p>در پایان مهرماه ۱۳۹۶ در وبسایت بانک مرکزی نام ۴۲ بانک و موسسه اعتباری غیربانکی به عنوان موسسات دارای مجوز فعالیت رسمی از این بانک درج شده است. ما به دلیل حجم ناچیز فعالیت‌ها و نیز عدم ارتباط به بحث، از پنج بانک بین‌المللی به نام‌های استاندارد چارترد، بانک تجارتی ایران و اروپا، بانک مشترک ایران و ونزوئلا، بانک تعاون اسلامی برای سرمایه‌گذاری و فیوچر بانک صرف‌نظر می‌کنیم. از ۳۷ موسسه باقی‌مانده به روایت بانک مرکزی، ۸ بانک و موسسه در مالکیت دولت و ۲۹ بانک و موسسه نیز در مالکیت بخش غیردولتی هستند.</p></div>
                  </a>
                </li>

                <li>
                  <a target="_blank" rel="noopener" href="https://iranwire.com/fa/features/23113">
                    <img src="/images/cases/sim9a.jpg">
                    <h3>مروری بر نهادها و بنیادهای انقلابی که مالیات نمی دهند</h3>
                    <dl>
                      <dt>منبع:</dt>
                      <dd>ایران وایر</dd>
                    </dl>
                    <div class="clamping"><p>نظام اقتصادی ایران بر اساس قانون اساسی باید شامل بخش‌های دولتی، خصوصی و تعاونی باشد. اما اقتصاد ایران در همه سال‌های پس از انقلاب بازیگران بزرگ دیگری نیز داشته که یا در شمار این سه بخش نمی‌گنجند یا اگر برای مثال تعاونی هستند، عملکردی یکسره متفاوت از ماهیت آن دارند. بررسی عملکرد این بازیگران که عموما به مجموعه آنها «نهادها و بنیادهای انقلاب اسلامی» گفته می‌شود، اهمیت فراوانی در شناخت اقتصاد و سیاست ایران دارد.</p></div>
                  </a>
                </li>
              {% else %}
                <li>There are currently no use cases available.</li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
