{% extends "page.html" %}

{% block subtitle %}{{ _('Use cases') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Use cases'), controller='home', action='use_cases' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block use_cases %}
          <h1 class="page-heading">{{ _('Use cases') }}</h1>
          {% if h.lang() == 'en' %}
            {% snippet 'home/snippets/use_cases_text_en.html' %}
          {% elif if h.lang() == 'fa_IR' %}
            {% snippet 'home/snippets/use_cases_text_fa.html' %}
          {% else %}
            <p>There are currently no use cases available.</p>
          {% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
