{#
Display a grid of organization items.

organizations - A list of organizations.

Example:

    {% snippet "organization/snippets/organization_list.html" %}

#}
{% block organization_list %}
<ul class="media-grid" data-module="media-grid">
  {% block organization_list_inner %}
  {% for organization in organizations %}
    {% snippet "organization/snippets/organization_item.html", organization=organization, position=loop.index, show_capacity=show_capacity %}
  {% endfor %}
   {% endblock %}
</ul>
{% endblock %}
