{% ckan_extends %}

{% block form %}
  <p>{{ _('Are you sure you want to delete theme - {name}?').format(name=c.group_dict.name) }}</p>
  <p class="form-actions">
    <form id="group-confirm-delete-form" action="{% url_for 'theme_action', action='delete', id=c.group_dict.name %}" method="post">
      <button class="btn" type="submit" name="cancel" >{{ _('Cancel') }}</button>
      <button class="btn btn-primary" type="submit" name="delete" >{{ _('Confirm Delete') }}</button>
    </form>
  </p>
{% endblock %}