{% ckan_extends %}

{% block subtitle %}{{ c.group_dict.display_name }} - {{ _('Themes') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Themes'), controller='group', action='index' %}</li>
  <li class="active">{% link_for c.group_dict.display_name|truncate(35), controller='group', action='read', id=c.group_dict.name %}</li>
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('theme_read', _('Datasets'), id=c.group_dict.name) }}
  {{ h.build_nav_icon('theme_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
  {{ h.build_nav_icon('theme_about', _('About'), id=c.group_dict.name) }}
{% endblock %}
