[IE conditional]

lte IE 7 =
    vendor/json/json2.js

lte IE 8 =
    vendor/flot/excanvas.js

[depends]

main = base/main

[groups]

main =
    vendor/jquery/1.7.1/jquery.js
    vendor/underscore/1.4.4/underscore.js
    vendor/backbone/1.0.0/backbone.js
    vendor/mustache/0.5.0-dev/mustache.js
    vendor/bootstrap/2.3.2/bootstrap.js
    vendor/json/json2.js
    vendor/flot/excanvas.js
    vendor/flot/jquery.flot.js
    vendor/flot/jquery.flot.time.js
    vendor/leaflet/0.7.3/leaflet.js
    vendor/leaflet.markercluster/leaflet.markercluster.js
    vendor/slickgrid/2.0.1/jquery-ui-1.8.16.custom.js
    vendor/slickgrid/2.0.1/jquery.event.drag-2.0.js
    vendor/slickgrid/2.0.1/slick.grid.js
    vendor/slickgrid/2.0.1/plugins/slick.rowselectionmodel.js
    vendor/slickgrid/2.0.1/plugins/slick.rowmovemanager.js
    vendor/moment/2.0.0/moment.js
    vendor/ckan.js/ckan.js

    vendor/recline/recline.js

    widget.recordcount.js
    recline_view.js

    vendor/bootstrap/2.3.2/css/bootstrap.css
    vendor/leaflet/0.7.3/leaflet.css
    vendor/leaflet.markercluster/MarkerCluster.css
    vendor/leaflet.markercluster/MarkerCluster.Default.css
    vendor/slickgrid/2.0.1/slick.grid.css
    vendor/recline/recline.css

    css/recline.css
