section.module.module-narrow.module-shallow {
    .accordion {
      &-button {
        background-color: $gray-400;
        color: white;
        font-size: 20px;
        font-weight: 500;
        border-radius: 6px;
    
        &::after {
          color: white;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        }
    
        &:not(.collapsed) {
          background-color: $primary;
          color: white;
    
          &::after {
            color: white;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
          }
        }
        &.accordion-header2 {
        font-size: 16px !important;
      }
      }
    
      &-item {
        border: none !important;
        box-shadow: none !important;
        margin-bottom: 48px;
    
        &:last-of-type .accordion-button.collapsed {
          border-radius: 6px;
        }
    
        &:first-of-type .accordion-button {
          border-radius: 6px;
        }

        
      }

     
    
      &-body {
        padding: 0;
      }
    }
  
    .accordion-item {
      border: none !important;
      content: none;
      box-shadow: none !important;
      outline: none !important;
      margin-bottom: 48px;
    
      &:last-of-type .accordion-button.collapsed {
        border-radius: 6px;
      }
    
      &:first-of-type .accordion-button {
        border-radius: 6px;
      }
    }
    
    .accordion-body {
      background-color: white;
    }

    .accordion-body .list-group {
      padding-top: 4px;
    }
  
  }