.btn {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    @include box-shadow(none);
}

@each $name, $color in $theme-colors {
    .btn-#{$name}-outline {
        border: solid 2px $color;
        background-color: $white;
        color: $color;
        &:hover {
            background-color: $color;
            color: $white
        }
    }
}

.btn-primary {
    color: $white;
    &:hover {
        background-color: $brand-700;
    }
}

.btn-secondary {
    background-color: $white;
    color: $gray-800;
    border: $table-border-color solid 2px;
    &:hover {
        background-color: $gray-300 !important;
        border: $gray-300 solid 2px;
        color: $gray-800;
    }
}

input[id^=lang-].btn-check + label.btn {
    &::after {
        content: none;
    }
    &:hover {
        color: $gray-800;
    }
}
// slug button
.custom-btn {
    width: 36px;
    height: 36px;
    background-color: $gray-400;
    color: white;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    font-size: 16px;
    line-height: 1;
  
    .fa {
      color: white;
      font-size: 18px;
  
      &.fa-pencil-square-o::before {
        content: '\f044';
        color: white;
      }
    }
  
    &:hover {
      background-color: darken($gray-400, 10%);
    }
  }