h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: $font-weight-semibold;
}

.btn-light, .btn-secondary {
    @extend .btn-light;
    border: $table-border-color solid 1px;
    &:hover {
        background-color: $gray-300 !important;
        border-color: $gray-300;
    }
}

.alert {
    border: unset;
    border-left: map-get($map: $border-widths, $key: "4") solid;
}
