.groups-list  {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 12px;
    margin-bottom: 2rem;
    list-style: none;
    padding-left: 0;
    width: 100%;
}
@include media-breakpoint-down(md){
    .groups-list {
        margin-bottom: $spacer-4;
        grid-template-columns: none;
    }
}
.groups-cards {
    list-style: none;
    background-color: $white;
    border: none;
    border-radius: 6px;
    padding: 1rem;
    a {
        display: grid;
    }
    h3 {
        margin: 16px 0;
    }
    input {
        margin-top: 1rem;
    }
}