.wrapper {
    @include clearfix();
    position: relative;
    min-height: 300px;
    @include media-breakpoint-up(md) {
       
        &.no-nav {
            &:before {
                display: none;
            }
            .module {
                >.page-header {
                    margin-top: 0;
                }
            }
        }
    }
}

// @media (min-width: $screen-md-min) {
//   .wrapper {
//     background-position:0px 0px;
//   }
// }
// .wrapper.no-nav {
//     background-image: none;
// }
[role=main],
.main {
    position: relative;
}

.main {
    padding: 20px 0;
    background-color: $white;
}

.main:after,
[role=main]:after {
    bottom: 0;
    border-top-width: 1px;
}

.main .primary {
    border-radius: 20px;
    position: relative;
    float: right;
    margin-left: 0; // Remove grid margin.
}

.main .secondary {
    z-index: 1;
}


/* Filters modal */

.no-text .text {
    display: none;
}

.js body.filters-modal {
    overflow: hidden;
}

.show-filters.btn,
.hide-filters {
    display: none;
}

@include media-breakpoint-down(md) {
.main .secondary {
        margin: 1rem 0;
    }
    .js .main .secondary .filters {
        display: none;
        position: fixed;
        overflow: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        padding: 10px;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.50);
    }
    .js body.filters-modal .secondary .filters {
        display: block;
    }
    .js .main .secondary .filters>div {
        background-color: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        overflow: hidden;
    }
    .js .main .secondary .filters>div .module-footer {
        display: none;
    }
    .js body.filters-modal .secondary .filters .hide-filters {
        display: inline-block;
        position: absolute;
        top: 14px;
        right: 17px;
        opacity: 0.6;
        i {
            font-size: 18px;
        }
    }
    .js .show-filters.btn {
        display: inline-block;
    }
}

// .primary> :last-child,
// .secondary> :last-child {
//     margin-bottom: 0;
// }
.primary {
    .primary {
        float: left;
        margin-left: 0;
        margin-bottom: 20px;
        h1,
        h2,
        h3,
        h4 {
            &:first-child {
                margin-top: 0;
            }
        }
    }
}


.hero:after {
    // Need to manually declare this here@mixin  If you pass rgba() through to
    // #gradient it breaks the filter property in IE7.
   @include rgba-vertial-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-color: $moduleHeadingBackgroundColor;
    border-bottom: 1px solid darken($moduleHeadingBorderColor, 5%);
    @include border-radius(3px 3px 0 0);
    @include box-shadow(inset 0 -4px 0 rgba(0,0,0,0.03));
    .back:hover {
        text-decoration: none;
        span {
            text-decoration: underline;
        }
    }
}

.context-info {
    .module-content {
        padding: 15px;
    }
    .image {
        margin-bottom: 10px;
        img,
        a {
            display: block;
            width: 100%;
            height: 100%;
            @include border-radius(4px);
        }
    }
    .description {
        word-wrap: break-word;
        word-break: break-all;
        overflow: auto;
    }
    code {
        display: block;
        font-weight: normal;
        padding: 0;
        margin: 0;
        overflow: auto;
    }
    h1.heading {
        margin: 0 0 5px 0;
        font-size: 18px;
        line-height: 1.3;
        @include break-word();
    }
    .info {
        margin-top: 15px;
        padding-top: 10px;
        border-top: 1px dotted #DDD;
        word-break: break-word;
        dl dd {
            margin-top: 3px;
            margin-left: 0;
        }
    }
    .nums {
        @include clearfix;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 10px;
        border-top: 1px dotted #DDD;
        dl {
            color: $layoutTextColor;
            dt {
                font-size: 13px;
                font-weight: 300;
            }
            dd {
                font-size: 30px;
                font-weight: 700;
                line-height: 36px;
            }
        }
    }
    &.editing {
        .module-content {
            margin-top: 0;
        }
    }
}

.flash-messages {
    .alert {
        @include box-shadow(0 0 0 1px white);
    }
}

.view-preview-container {
  margin-top: 20px;
}
