// Base variables
$imagePath: "../../../base/images";
$bgPath: "#{$imagePath}/bg.png";

// Layout Variables
$layoutFontFamily: $font-family-sans-serif;
$layoutTextColor: $gray-700;
$layoutBoldColor: $black;
$layoutLinkColor: $primary;
$layoutBackgroundColor: $gray-200;
$layoutTrimBackgroundColor: $white;
$layoutTrimBorderColor: $gray-400;
$layoutPrimaryBackgroundColor: $gray-100;
$logoMaxHeight: 60px;
$logoMinHeight: 48px;

$navLinkColor: $gray-900;
$navActiveBackgroundColor: $gray-100;

// Module Variables
$moduleBackgroundColor: #fff;
$moduleHeadingBorderColor: #ddd;
$moduleHeadingBackgroundColor: #f6f6f6;
$moduleHeadingActionTextColor: #888;
$moduleExpandedBackgroundColor: rgba(255, 255, 255, 0.9);

$tabTextColor: #111;
$tagBackgroundColor: #f6f6f6;

$gutterX: 25px;
$gutterY: 20px;
$gutterSmallX: 15px;
$gutterSmallY: $gutterY;

$emptyTextColor: $gray-500;
$genericBorderColor: #ddd;

$breadcrumbTextColor: #505050;

$mastheadTextColor: $black;
$mastheadLinkColor: $mastheadTextColor;
$mastheadBackgroundColor: $white;

$navItemActiveTextColor: $white;
$navItemActiveBackgroundColor: $gray-500;
$navItemActiveArrowSize: $spacer-1;

$pillTextColor: $navItemActiveTextColor;
$pillBackgroundColor: darken($navItemActiveBackgroundColor, 10%);

$footerBackgroundColor: $brand-800;
$footerTextColor: #CCDEE3;
$footerLinkColor: $footerTextColor;

$inputColor: $black;
$inputBackground: $body-bg;
$inputBorder: #ccc;
$inputBorderRadius: 6px;
$disabledCustomInputTextColor: #aaa;
$disabledCustomInputBackground: #f3f3f3;

$highlightBackground: #fdf7e9;
$highlightHoverBackground: #fdf3d9;

// Forms

$errorText: #b55457;
$errorBackground: lighten(#c6898b, 30%);
$errorBorder: #c6898b;

$formInfoText: #707070;

$stagesTextColor: #aeaeae;
$stagesBackground: #EDEDED;
$stagesTransparentBackground: rgba(237, 237, 237, 0); // Used for arrows.
$stagesActiveTextColor: #fff;
$stagesActiveBackground: #8cc68a;
$stagesActiveTransparentBackground: rgba(140, 198, 138, 0);
$stagesCompleteTextColor: #eef6ed;
$stagesCompleteBackground: #c5e2c4;
$stagesCompleteTransparentBackground: rgba(197, 226, 196, 0);
$stagesCounterTextColor: #fff;
$stagesCounterBackground: #aeaeae;
$stagesCounterActiveTextColor: #8cc68a;
$stagesCounterActiveBackground: #fff;
$stagesCounterCompleteTextColor: #c5e2c4;
$stagesCounterCompleteBackground: #eef6ed;

$codeTextColor: #000;


// Datasets

$listingHeadingTextColor: $gray-700;
$resourceFormatBackground: $gray-500;

// Table

$chunkyTableHeaderTextColor: #fff;
$chunkyTableHeaderBackgroundColor: #aaa;
$chunkyTableStripeBackgroundColor: #f2f2f2;

// Twitter Bootstrap Overrides
$bodyBackground: $layoutBackgroundColor;
$btnBackground: #ffffff;
$btnBackgroundHighlight: #eaeaea;
$btnPrimaryBackground: #30778d;
$btnPrimaryBackgroundHighlight: #085871;
$baseFontFamily: $layoutFontFamily;
$textColor: $layoutTextColor;
$linkColor: $layoutLinkColor;
$iconSpritePath: "../images/bootstrap-glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/bootstrap-glyphicons-halflings-white.png";

// Navigation
$zindex-navbar: 1;
