{% extends "page.html" %}

{% set user = user_dict %}
{% set dataset_type = h.default_package_type() %}
{% set org_type = h.default_group_type('organization') %}
{% set group_type = h.default_group_type('group') %}

{% block primary_content %}
<article class="module">
  <header class="module-content page-header">
    <h2>{{ _('API Tokens') }}</h2>
  </header>
  <div class="module-content">
    <p>
    Token created successfully.
    Do you need to create more tokens?
    </p>

    <a href="{{ h.url_for(controller='user', action='api_tokens', id=user['name']) }}" class="btn btn-primary">
        {{ _('Create New API Token') }} 
    </a>
  </div>
</article>
{% endblock %}

{% block content_action %}
{% endblock %}


{% block secondary_content %}
  {% snippet "user/snippets/info.html", user=user, is_myself=is_myself, is_sysadmin=is_sysadmin, dataset_type=dataset_type, org_type=org_type, group_type=group_type, am_following=am_following %}
{% endblock %}