{% extends "page.html" %}

{% block subtitle %}{{ _('Login') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Login'), named_route='user.login') }}</li>
{% endblock %}

{% block maintag %}<div class="login_main">{% endblock %}
  
{% block main_content %}
  {% block toolbar %}
    {{ super() }}
  {% endblock %}
  {% block primary %}
  <div class="row login_wrapper" role="main">
    {% block primary_content %}
      <div class="col-md-6 login_content">
        <div class="login_aside">
          <div class="heading_container">
            {% block logo %}
              <img class="d-none d-md-block" src="{{ h.url_for_static('/base/images/ckan-logo-boat.png') }}" alt="" role="presentation"/>
            {% endblock %}
            <h1 class="page-heading">
              {% block page_heading %}{{ _('Login') }}{% endblock %}
            </h1>
          </div>
          {% block primary_content_inner %}
          {% endblock primary_content_inner %}
        </div>
      </div>
    <div class="col-md-6 login_form">
      {% block flash %}
        <div class="flash-messages">
          {% block flash_inner %}
            {{ super() }}
          {% endblock flash_inner %}
        </div>
      {% endblock flash %}
      {% block form %}
        {% snippet "user/snippets/login_form.html", error_summary=error_summary %}
      {% endblock %}
    </div>
    {% endblock primary_content %}
  </div>
  {% endblock primary %}
{% endblock main_content %}