{% extends "page.html" %}

{% block subtitle %}{{ _('Login') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Login'), named_route='user.login') }}</li>
{% endblock %}

{% block maintag %}<div class="login-main">{% endblock %}
  
{% block main_content %}
  {% block toolbar %}
    {{ super() }}
  {% endblock %}
  {% block primary %}
  <div class="row login-wrapper" role="main">
    {% block primary_content %}
      <div class="col-md-6 login-container">
        <div class="login-content mt-4">
            <h1 class="page-heading">
              {% block page_heading %}{{ _('Login') }}{% endblock %}
            </h1>
          {% block primary_content_inner %}
          {% endblock primary_content_inner %}
        </div>
      </div>
    <div class="col-md-6 login-form">
      {% block flash %}
        <div class="flash-messages mt-3">
          {% block flash_inner %}
            {{ super() }}
          {% endblock flash_inner %}
        </div>
      {% endblock flash %}
      {% block form %}
        {% snippet "user/snippets/login_form.html", error_summary=error_summary %}
      {% endblock %}
    </div>
    {% endblock primary_content %}
  </div>
  {% endblock primary %}
{% endblock main_content %}