<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Home</py:def>

  <div py:match="content">
    <h2>Step 1: Choose a Template</h2>

    <ul>
      <li><a href="${h.url_for(action='create', id='publisher')}">
        Scientific Publisher</a>
      </li>
      <li><a href="${h.url_for(action='create', id='general')}">
        General (Haven't Thought About It)</a></li>
      <li><a href="${h.url_for(action='create', id='wanttobe')}">
        General (Want To Be Open)</a></li>
    </ul>

	</div>

  <xi:include href="layout.html" />
</html>
