<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  
  <py:def function="page_title">Create</py:def>

  <div py:match="content">
    <h2>Step 2: Specify Your Enquiry</h2>
    <form action="" method="post">
      <label for="email">To:</label>
      ${XML(h.text_field('to', size=40))} <br />
      <label for="subject">Subject:</label>
      ${XML(h.text_field('subject', size=60))} <br />

      <label for="notes">Email Text: (customize this)</label>
      ${XML(h.text_area('body', content=c.email_template, size="72x25"))} <br />
      ${XML(h.submit('Preview &raquo;', name='preview', id='preview'))}
      ${XML(h.submit(value='Send &raquo;'))}
    </form>
	</div>

  <xi:include href="layout.html" />
</html>
