<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Guide</py:def>

  <div py:match="content">
    <h2>What's the Idea?</h2>
    <p>We're inspired by <a href="http://whatdotheyknow.com">What Do They
      Know?</a>, a site which allow citizens to make requests to find out
    information to which they have a right. It works by identifying the right
    place to ask, assisting users make requests and publicly displaying the
    results.
    </p>

    <h2>FAQ</h2>
    <p>To Insert</p>
	</div>

  <xi:include href="layout.html" />
</html>
