<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Home</py:def>

  <div py:match="content">
    <p>We've made it easy for <strong>you</strong> to make
    enquiries to publishers (and others) about the openness of
    the scientific data they hold &mdash; and to record publicly the results of
    those efforts.
    </p>

    <ul class="big-buttons">
      <li><a href="${h.url_for(controller='enquiry', action='guide')}">How Does
        It Work?</a></li>
      <li>Or</li>
      <li><a href="${h.url_for(controller='enquiry', action='list')}">Browse
        Existing Ones</a></li>
      <li>Or</li>
      <li><a href="${h.url_for(controller='enquiry', action='choose')}">Make an
        Enquiry</a></li>
    </ul>
    
    <div style="float: right; width: 250px; font-size: 0.85em;">
      <img src="http://upload.wikimedia.org/wikipedia/commons/8/88/Mauna_Loa_Carbon_Dioxide.png" alt="Mauna Loa CO2" style="width: 250px;"/>
      <p>Our future depends on Open Data (<a href="http://commons.wikimedia.org/wiki/File:Mauna_Loa_Carbon_Dioxide.png">source</a>)</p>
    </div>

    <h2>Why Is Open Data Needed?</h2>
    <p>Scientists produce a vast amount of data in the course of their research. In the Internet age, this data can and should be available to be used as an input into new research, but for this to happen the data needs to be explicitly labelled as open.</p>

    <h2>What's the Problem?</h2>
    <p>In practice it is often unclear whether the data on publisher's websites is openly available i.e accessible and freely re-usable without additional permission. In some cases, publishers may even restrict access to data by adding specific terms and conditions. <a href="guide">Read More ...</a></p>

	</div>

  <xi:include href="layout.html" />
</html>
