[IE conditional]

lte IE 8 =
    vendor/flotr2/excanvas.js
    vendor/leaflet/leaflet.ie.css
    vendor/leaflet.markercluster/MarkerCluster.Default.ie.css

[depends]

main = base/main

[groups]

main =
    vendor/underscore/underscore.js
    vendor/backbone/backbone.js
    vendor/mustache/mustache.js
    vendor/bootstrap/bootstrap.js
    vendor/flotr2/flotr2.js
    vendor/leaflet/leaflet.js
    vendor/leaflet.markercluster/leaflet.markercluster.js
    vendor/slickgrid/jquery-ui-1.8.16.custom.js
    vendor/slickgrid/jquery.event.drag-2.0.js
    vendor/slickgrid/slick.grid.js
    vendor/moment/moment.js

    vendor/recline/recline.js

    preview_recline.js

    vendor/bootstrap/css/bootstrap.css
    vendor/leaflet/leaflet.css
    vendor/leaflet/leaflet.ie.css
    vendor/leaflet.markercluster/MarkerCluster.css
    vendor/leaflet.markercluster/MarkerCluster.Default.css
    vendor/leaflet.markercluster/MarkerCluster.Default.ie.css
    vendor/slickgrid/slick.grid.css
    vendor/recline/css/recline.css

    css/recline.css
