[IE conditional]

lte IE 7 =
    vendor/json/json2.js

lte IE 8 =
    vendor/flot/excanvas.js
    vendor/leaflet/0.4.4/leaflet.ie.css
    vendor/leaflet.markercluster/MarkerCluster.Default.ie.css

[depends]

main = base/main

[groups]

main =
    vendor/jquery/1.7.1/jquery.js
    vendor/underscore/1.4.2/underscore.js
    vendor/backbone/0.9.2/backbone.js
    vendor/mustache/0.5.0-dev/mustache.js
    vendor/bootstrap/2.0.2/bootstrap.js
    vendor/json/json2.js
    vendor/flot/excanvas.js
    vendor/flot/jquery.flot.js
    vendor/leaflet/0.4.4/leaflet.js
    vendor/leaflet.markercluster/leaflet.markercluster.js
    vendor/slickgrid/2.0.1/jquery-ui-1.8.16.custom.js
    vendor/slickgrid/2.0.1/jquery.event.drag-2.0.js
    vendor/slickgrid/2.0.1/slick.grid.js
    vendor/moment/1.6.2/moment.js

    vendor/recline/recline.js

    preview_recline.js

    vendor/bootstrap/2.0.2/css/bootstrap.css
    vendor/leaflet/0.4.4/leaflet.css
    vendor/leaflet/0.4.4/leaflet.ie.css
    vendor/leaflet.markercluster/MarkerCluster.css
    vendor/leaflet.markercluster/MarkerCluster.Default.css
    vendor/leaflet.markercluster/MarkerCluster.Default.ie.css
    vendor/slickgrid/2.0.1/slick.grid.css
    vendor/recline/recline.css

    css/recline.css
