[program:{{ application_name }}]
command = {{ virtualenv_path }}/bin/gunicorn_start
user = {{ gunicorn_user }}
stdout_logfile = {{ application_log_dir }}/supervisord/gunicorn_supervisor.log
redirect_stderr = true