{% extends "package/edit_base.html" %}

{% block primary_content %}
  <section class="module">
    {% block page_header %}{% endblock %}
    <div class="module-content">
      {% block primary_content_inner %}
        {% block form %}
          {{- h.snippet(form_snippet, pkg_dict=pkg_dict, **form_vars) -}}
        {% endblock %}
      {% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  {% block info_module %}
    <section class="">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Create Dataset
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="col stage">
                <div class="row">
                  <span class="step">Step 1</span>
                  <span class="step-name">Create Dataset</span>
                </div>
                <div class="icon-stage">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
               
              </div>
              <div class="col stage">
                <div class="row">
                  <span class="step">Step 2</span>
                  <span class="step-name">Add Data</span>
                </div>
              </div>
              <div class="col stage">
                <div class="row">
                  <span class="step">Step 3</span>
                  <span class="step-name">Preview Dataset</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Drafts
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
             
            </div>
          </div>
        </div>
       
      </div>
    </section>
  {% endblock %}

  {% block resources_module %}
    {# TODO: Pass in a list of previously created resources and the current package dict #}
    {% snippet "package/snippets/resources.html", pkg={}, action='new_resource' %}
  {% endblock %}
{% endblock %}
