{% extends "package/edit_base.html" %}
{% set stage = form_vars.get('stage') if form_vars else stage %}
{% set s1 = stage[0] or 'active' %}
{% set s2 = stage[1] or 'uncomplete' %}
{% set s3 = stage[2] or 'uncomplete' %}

{% macro render_step(step_count, description, is_complete) %}
<div class="col stage">
  <div class="row">
    <span class="step">Step {{ step_count }}</span>
    <span class="step-name">{{ description }}</span>
  </div>
  {% if is_complete == 'complete' %}
  <div class="icon-stage">
    <i class="fa fa-check-circle" aria-hidden="true"></i>
  </div>
  {% endif %}
</div>
{% endmacro %}


{% block primary_content %}
  <section class="module">
    {% block page_header %}{% endblock %}
    <div class="module-content">
      {% block primary_content_inner %}
        {% block form %}
          {{- h.snippet(form_snippet, pkg_dict=pkg_dict, **form_vars) -}}
        {% endblock %}
      {% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  {% block info_module %}
    <section class="">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Create Dataset
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">

             {% if s1 != 'complete' %}
               {{ render_step(1, 'Create Dataset', s1) }}
             {% else %}
              <button class="stage-nohiglight" type="button"  onclick="submitForm('go-dataset')">
                {{ render_step(1, 'Create Dataset', s1) }}
              </button>
             {% endif %}

             {% if s2 != 'complete' %}
               {{ render_step(2, 'Add Data', s2) }}
             {% else %}
              <button class="stage-nohiglight" type="button"  onclick="submitForm('go-resources')">
                {{ render_step(2, 'Add Data', s2) }}
              </button>
             {% endif %}
              
            {% if s1 == 'complete' or s2 == 'complete' %}
            <button class="stage-nohiglight" type="button"  onclick="submitForm('go-metadata-preview')">
              {{ render_step(3, 'Preview Dataset', s1 if s1 == 'complete' else s2) }}
            </button>
             
            {% else %}
              {{ render_step(3, 'Preview Dataset', s3) }}
            {% endif %}
             
              
              
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Drafts
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
             
            </div>
          </div>
        </div>
       
      </div>
    </section>
  {% endblock %}
  {% block scripts %}
  {{ super() }}
  {% asset 'base/draft-package' %}
  {% endblock %}

  {% block resources_module %}
    {# TODO: Pass in a list of previously created resources and the current package dict #}
    {% snippet "package/snippets/resources.html", pkg={}, action='new_resource' %}
  {% endblock %}
{% endblock %}


