[main]

dont_bundle = tracking.js

[depends]

main = vendor/vendor
ckan = vendor/bootstrap
tracking.js = vendor/jquery.js

[custom render order]

apply_html_class = 1

[inline scripts]

apply_html_class =
    document.getElementsByTagName('html')[0].className += ' js';

[groups]

ckan =
    modules/select-switch.js
    modules/slug-preview.js
    modules/basic-form.js
    modules/confirm-action.js
    modules/api-info.js
    modules/autocomplete.js
    modules/custom-fields.js
    modules/data-viewer.js
    modules/table-selectable-rows.js
    modules/resource-form.js
    modules/resource-upload-field.js
    modules/resource-reorder.js
    modules/resource-view-reorder.js
    modules/follow.js
    modules/activity-stream.js
    modules/dashboard.js
    modules/resource-view-embed.js
    view-filters.js
    modules/resource-view-filters-form.js
    modules/resource-view-filters.js
    modules/table-toggle-more.js
    modules/dataset-visibility.js
    modules/media-grid.js
    modules/image-upload.js

main =
    apply_html_class
    plugins/jquery.inherit.js
    plugins/jquery.proxy-all.js
    plugins/jquery.url-helpers.js
    plugins/jquery.date-helpers.js
    plugins/jquery.slug.js
    plugins/jquery.slug-preview.js
    plugins/jquery.truncator.js
    plugins/jquery.masonry.js
    plugins/jquery.form-warning.js

    sandbox.js
    module.js
    pubsub.js
    client.js
    notify.js
    i18n.js
    main.js
