{% extends "organization/snippets/organization_form.html" %}


{#
  As the form is rendered as a seperate page we take advantage of this by
  overriding the form blocks depending on the current context
  #}

{% block dataset_fields %}
  {% if action == "edit" %}{{ super() }}{% endif %}
{% endblock %}

{% block custom_fields %}
  {% if action == "edit" %}{{ super() }}{% endif %}
{% endblock %}

{% block save_text %}
  {%- if action == "edit" -%}
    {{ h.humanize_entity_type('organization', group_type, 'update label') or _('Update Organization') }}
  {%- else -%}
    {{ h.humanize_entity_type('organization', group_type, 'create label') or _('Create Organization') }}
  {%- endif -%}
{% endblock %}

{% block delete_button %}
  {% if action == "edit" %}{{ super() }}{% endif %}
{% endblock %}
