{% ckan_extends %}


{% block accordion_icon %}
    {% if ent_type == 'activity' %}
        <i class="fa fa-tasks p-2"></i>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock accordion_icon %}

{% block accordion_title %}
    {% if ent_type == 'activity' %}
        {{ _('Deleted activities') }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock accordion_title %}

{% block accordion_items %}
  {% if ent_type == "activity" %}
    {% for date_str, activities in entities|sort(attribute='date_str', reverse=True)|groupby('date_str') %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ loop.index }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index }}" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
                {{ date_str }} ({{ activities|length }} activities)
            </button>
        </h2>
        <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ loop.index }}" data-bs-parent="#activitiesAccordion">
            <div class="accordion-body">
                <ul>
                    {% for entity in activities %}
                    {% set title = entity['title'] or entity['name'] %}
                    {% do items.append(title) %}
                        <li>
                            {{ title|truncate(80) }}
                        </li>
                    {% endfor %}
                </ul>
                <form method="POST" class="d-flex justify-content-end mt-2" action="{{ h.url_for('admin.trash') }}">
                    {{ h.csrf_input() }}
                    <input type="hidden" name="action" value="activity">
                    <input type="hidden" name="date" value="{{ date_str }}">
                    <button type="submit" class="btn btn-danger btn-sm purge-group"
                        data-module="confirm-action"
                        data-module-with-data="true"
                        data-module-content="{{ _('Purge all activities from this date?') }}">
                        {{ _('Purge this date') }}
                    </button>
                </form>
            </div>
        </div>
    </div>  
    {% else %}
    <p>
      {{ _(messages.empty[ent_type]) }}
    </p>
    {% endfor %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock accordion_items %}
