{% extends "page.html" %}

{% block subtitle %}{{ _('Administration') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="breadcrumb-item active"><a href="{{ h.url_for('admin.index') }}" aria-current="page">{{ _('Administration') }}</a></li>
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('admin.index', _('Sysadmins'), icon='gavel') }}
  {{ h.build_nav_icon('admin.config', _('Config'), icon='check-square-o') }}
  {{ h.build_nav_icon('admin.trash', _('Trash'), icon='trash-o') }}
  {{ h.build_extra_admin_nav() }}
{% endblock %}
