{% extends "page.html" %}

{% block subtitle %}{{ _('Administration') }}{% endblock %}

{% block breadcrumb_content %}
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% snippet 'admin/snippets/header.html', action=c.action %}
      <ul>
        {% for user in c.sysadmins %}
          <li py:for="user in c.sysadmins">
            {{ h.linked_user(user) }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </article>
{% endblock %}

{% block sidebar %}{% endblock %}
