{% extends "admin/base.html" %}

{% block primary_content_inner %}
  <ul class="user-list">
    {% for user in c.sysadmins %}
      <li>{{ h.linked_user(user) }}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('What are sysadmins?') }}
    </h2>
    <div class="module-content">
      {% set docs_url = "http://docs.ckan.org/en/{0}/paster.html#sysadmin-give-sysadmin-rights".format(g.ckan_doc_version) %}
      {% trans %}
        <p>A sysadmin is someone that has full control over a CKAN instance.
          You can only add CKAN sysadmins via the <code>sysadmin</code> paster
          command.</p>
      {% endtrans %}
      <p><a href="{{ docs_url }}" target="_blank">{{ _('Read the documentation') }}</a></p>
    </div>
  </div>
{% endblock %}
