{% extends "admin/base.html" %}

{% block subtitle %}{{ _("Rebuild Search Index") }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block primary_content_inner %}
  {% if job_info %}
    <div class="row">
      <div class="col-md-12">
        <div data-module="progress-bar" data-module-endpoint="{{ h.url_for('util.search_rebuild_progress', entity_id=site_id) }}"></div>
      </div>
    </div>
    <hr />
  {% endif %}
  <form method="post">
    {{ h.csrf_input() }}
    <button class="btn btn-primary" name="reindex" type="submit" data-module="confirm-action" data-module-with-data="true" data-module-content="{{ _('Are you sure you want to re-index all the records for this site? This can take a long time if the site has a lot of records.') }}">
      {% block form_submit_text %}{{ _('Re-index Site\'s Records') }}{% endblock %}
    </button>
  </form>
{% endblock %}

{% block secondary_content %}
  {{ super() }}
  {% block secondary_help %}
    <div class="module module-narrow module-shallow">
      <h2 class="module-heading">
        <i class="fa fa-lg fa-info-circle"></i>
        {{ _('Why re-index?') }}
      </h2>
      <div class="module-content">
        {% trans %}
          <p>The SOLR index is used for searching datasets and search facets. In the case that some datasets are not showing in the search or a search facet is not working, you can try to re-index the site.</p>
        {% endtrans %}
      </div>
    </div>
  {% endblock %}
{% endblock %}
