{% import 'macros/form.html' as form %}

<form class="dataset-form form-horizontal" method="post">
  {% block error_summary %}
    {% if error_summary %}
      <div class="error-explanation">
        <h2>{{ _('Errors in form') }}</h2>
        <p>{{ _('The form contains invalid entries:') }}</p>
        <ul>
          {% for key, error in error_summary.items() %}
            <li>{{ key }} {{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endblock %}

  {% block basic_fields %}
    {{ form.input('title', label=_('Title'), id='field-title', placeholder=_('My Group'), data=data, errors=errors, classes=['control-full']) }}
    {{ form.prepend('name', label=_('URL'), prepend=h.url(controller='group', action='index') ~ '/', id='field-url', placeholder=_('my-group'), data=data, errors=errors) }}
    {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about my group...'), data=data, errors=errors) }}
    {{ form.input('image_url', label=_('Image URL'), id='field-url', type='url', placeholder=_('http://example.com/my-image.jpg'), data=data, errors=errors, classes=['control-full']) }}
    {% if c.is_sysadmin or c.auth_for_change_state %}
      {{ form.select('state', label=_('State'), id='field-state', selected=data.state, options={active: _('Active'), deleted: _('Deleted')}, errors=errors) }}
    {% endif %}
  {% endblock %}

  {% block custom_fields %}
    {% for extra in data.extras %}
      {% set prefix = 'extras__%d__' % loop.index0 %}
      {{ form.custom(
        names=(prefix ~ 'key', prefix ~ 'value', prefix ~ 'deleted'),
        id='field-extras-%d' % loop.index,
        label=_('Custom Field'),
        values=(extra.key, extra.value, extra.deleted),
        error=errors[prefix ~ 'key'] or errors[prefix ~ 'value']
      ) }}
    {% endfor %}

    {# Add a max if 3 empty columns #}
    {% for extra in range(data.extras|count, 3) %}
      {% set index = (loop.index0 + data.extras|count) %}
      {% set prefix = 'extras__%d__' % index %}
      {{ form.custom(
        names=(prefix ~ 'key', prefix ~ 'value', prefix ~ 'deleted'),
        id='field-extras-%d' % index,
        label=_('Custom Field'),
        values=(extra.key, extra.value, extra.deleted),
        error=errors[prefix ~ 'key'] or errors[prefix ~ 'value']
      ) }}
    {% endfor %}
  {% endblock %}

  {% block dataset_fields %}
    {% if data.packages %}
      <div class="control-group">
        <label class="control-label">{{ _('Datasets') }}</label>
        <div class="controls">
          {% for dataset in data.packages %}
            <label class="checkbox" for="field-dataset-{{ loop.index }}">
              <input id="field-dataset-{{ loop.index }}" type="checkbox" name="packages__{{ loop.index }}__name" value="{{ dataset.name }}" checked="checked" />
              {{ dataset.title }}
            </label>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% set dataset_name = 'packages__%s__name' % data.packages|length %}
    {{ form.input(dataset_name, label=_('Add Dataset'), id="field-dataset", value=data[dataset_name]) }}
  {% endblock %}

  <div class="form-actions">
    <button class="btn btn-primary" name="save">{% block save_text %}{{ _('Save Group') }}{% endblock %}</button>
  </div>
</form>
