<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

    <tr py:def="revision_row(item)" class="state-${item.state}">
        <td>
          ${
            h.link_to(item.id,
              h.url_for(
                controller='revision',
                action='read',
                id=item.id)
              )
          }
          <py:if test="c.revision_change_state_allowed">
          <div class="actions">
            <form
              method="POST"
              action="${h.url_for(controller='revision',
                  action='edit',
                  id=item.id)}"
              class="revision-delete"
              >
              <py:if test="item.state!='deleted'">
              <button type="submit" name="action" value="delete">Delete</button>
              </py:if>
              <py:if test="item.state=='deleted'">
              <button type="submit" name="action" value="undelete">Undelete</button>
              </py:if>
            </form>
          </div>
          </py:if>
        </td>
        <td>${h.render_datetime(item.timestamp)}</td>
        <td>${h.linked_user(item.author)}</td>
        <td>
          <py:for each="pkg in item.packages">
            <a href="${h.url_for(controller='package', action='read', id=pkg.name)}">${pkg.name}</a>
          </py:for>
          <py:for each="grp in item.groups">
            <a href="${h.url_for(controller='group', action='read', id=grp.name)}">${grp.name}</a>
          </py:for>
        </td>
        <td>${item.message}</td>
      </tr>
</html>

