<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <xi:include href="common.html" />

  <py:def function="page_title">Diff</py:def>

  <div py:match="content">
    <h2>Revision Differences - <a href="${h.url_for(controller='package', action='read', id=c.pkg.name)}">${c.pkg.name}</a></h2>
          
    <p>
    From: ${c.prs[0].revision_id}
    </p>

    <p>
    To: ${c.prs[1].revision_id}
    </p>

    <py:choose test="bool(c.diff)">
      <py:when test="True">
        <table>
          <tr>
            <th>Field</th><th>Difference</th>
          </tr>
         <py:for each="field, diff in c.diff.items()">
            <tr><td>${field}</td><td><pre>${diff}</pre></td></tr>
          </py:for>
        </table>
      </py:when>
      <py:when test="False">
        <h3>No differences</h3>
      </py:when>
    </py:choose>

  </div>

  <xi:include href="layout.html" />
</html>
