<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Repository History</py:def>

  <div py:match="content">
    <h2>Repository History</h2>
    <p>This page lists all changes to package database, with most recent
    changes first. It is also available as an <a href="?format=atom">Atom
      Feed</a>.</p>
      
    ${c.page.pager()}

    <table>
      <tr>
        <th>Number</th><th>Timestamp</th><th>Author</th><th>Packages</th><th>Log Message</th>
      </tr>
      <py:for each="item in c.page.items">
        ${revision_row(item)}
      </py:for>
    </table>
    
    ${c.page.pager()}
  </div>

  <xi:include href="layout.html" />
</html>
