<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Revision History</py:def>
  <py:def function="page_heading">Revision History</py:def>

  <py:match path="minornavigation">
    <ul class="tabbed">
      <li class="current-tab">
        ${h.subnav_link(c,_('Home'), controller='revision', action='index')}</li>
      <!--li class="action">
      ${h.subnav_link(c, h.icon('atom_feed') + _('Subscribe'),
      controller='revision', action='index', format='atom', days=1)}
      </li-->
    </ul>
  </py:match>

  <div py:match="content">
    <p>Track the most recent changes to the system, with most recent
    changes first.</p>
      
    ${c.page.pager()}

    ${revision_list(c.page.items)}
    
    ${c.page.pager()}
  </div>

  <xi:include href="layout.html" />
</html>
