/*------------------------------------*\
    #FONTS
\*------------------------------------*/

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/pt-sans-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/pt-sans-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Droid Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/droid-kufi-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Droid Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/droid-kufi-bold.woff2) format('woff2');
}

/*------------------------------------*\
    #GENERIC
\*------------------------------------*/

body {
  font-size: calc(8px + (48 - 8) * (100vw - 160px) / (12000 - 160));
  box-sizing: border-box;
}

p {
  line-height: 1.75;
}

body:lang(en) {
  font-family: 'PT Sans', sans-serif;
}

body:lang(fa_IR) {
  font-family: 'Droid Kufi', sans-serif;
}

h1:lang(en),
h2:lang(en),
h3:lang(en),
h4:lang(en),
h5:lang(en),
h6:lang(en) {
  font-family: "futura-pt",sans-serif;
}

/*------------------------------------*\
    #RTL
\*------------------------------------*/

/* Probably should fix all this moving to flexbox instead of using floating */

ul:lang(fa_IR),
ol:lang(fa_IR) {
  margin: 0 25px 10px 0;
}

.unstyled:lang(fa_IR),
.nav-simple:lang(fa_IR),
.nav-aside:lang(fa_IR),
.tag-list:lang(fa_IR) {
  margin: 0;
}

.resource-list:lang(fa_IR),
.resource-list:lang(fa_IR) {
  margin: -10px -10px 10px -10px;
}

.pull-left:lang(fa_IR) {
  float: right;
}

.pull-right:lang(fa_IR) {
  float: left;
}

.table:lang(fa_IR) th,
.table:lang(fa_IR) td {
  text-align: right;
}

blockquote:lang(fa_IR) {
  padding: 0 15px 0 0;
  border-left: none;
  border-right: 5px solid #eeeeee;
}

.navigation:lang(en) .nav li:nth-child(2) {
  display: none;
}

.account-masthead:lang(fa_IR) .account {
  float: left;
}

.account-masthead .account ul li {
  display: inline-block;
  float: none;
}

.account-masthead:lang(fa_IR) .account ul li {
  border-left: none;
  border-right: 1px solid #1d602b;
}

.account-masthead .account ul li + li {
  margin-left: -5px;
}

.account-masthead:lang(fa_IR) .account ul li + li {
  margin-right: -5px;
}

.masthead .section {
  float: none;
}

.navbar:lang(fa_IR) .nav {
  float: left;
}

.navbar:lang(fa_IR) .nav>li {
  float: right;
}

.search-form:lang(fa_IR) .search-input.search-giant button {
  right: auto;
  left: 15px;
}

.homepage:lang(fa_IR) .stats ul li {
  width: 50%;
  float: right;
}

.usecases:lang(fa_IR) li {
  float: right;
}

.toolbar:lang(fa_IR) .breadcrumb {
  float: right;
}

[role=main]:lang(fa_IR) .primary {
  float: left;
}

[role=main]:lang(fa_IR) .secondary {
  float: right;
  border-left: 1px solid #dddddd;
  border-right: 0;
}

.search-form:lang(fa_IR) .control-order-by {
  float: left;
  margin-left: 0;
  margin-right: 15px;
}

.form-actions:lang(fa_IR) {
  margin-left: -10px;
  margin-right: -40px;
  text-align: right;
}

.form-horizontal:lang(fa_IR) .controls {
  margin-right: 130px;
}

.form-horizontal:lang(fa_IR) .control-label {
  float: right;
  text-align: left;
}

.radio:lang(fa_IR) input[type="radio"],
.checkbox:lang(fa_IR) input[type="checkbox"] {
  float: right;
  margin-left: 20px;
}

.page-header:lang(fa_IR) .content_action {
  float: left;
  margin-right: 0;
  margin-left: -7px;
}

.page-header:lang(fa_IR) .nav-tabs {
  float: right;
  margin-right: 0;
}

.nav-tabs:lang(fa_IR) > li,
.nav-pills:lang(fa_IR) > li {
  float: right;
}

.activity:lang(fa_IR) {
  background-position-x: 98.4%;
  margin-right: 0;
}

.activity:lang(fa_IR) .item p {
  margin: 5px 80px 0 0;
}

.activity:lang(fa_IR) .item p > * {
  display: inline-block;
}

.activity:lang(fa_IR) .item .icon {
  left: auto;
  right: 0;
  margin-right: 0;
  margin-left: 10px;
}

.activity:lang(fa_IR) .item .actor .gravatar {
  left: auto;
  right: 40px;
}

.nav-item.active:lang(fa_IR) > a:before,
.nav-aside:lang(fa_IR) li.active a:before {
  right: auto;
  left: -6px;
  transform: rotate(180deg);
}

.nav-facet:lang(fa_IR) .nav-item > a:hover:after,
.nav-facet:lang(fa_IR) .nav-item.active > a:after {
  right: auto;
  left: 5px;
}

.context-info:lang(fa_IR) .nums dl {
  float: right;
}

.span9:lang(fa_IR) .page-header {
  margin-left: 0;
  margin-right: -17px;
}

.resource-item:lang(fa_IR) {
  padding: 10px 60px 10px 10px;
}

.resource-item:lang(fa_IR) .format-label {
  left: 0;
  right: 10px;
}

.resource-item:lang(fa_IR) .btn-group {
  right: auto;
  left: 10px;
}

.span9:lang(fa_IR) div.module-content {
  padding-right: 10px;
  padding-left: 25px;
}

.module-resource:lang(fa_IR) .actions {
  float: left;
  right: 0;
  left: -15px;
}

.recline-pager:lang(fa_IR) {
  float: right;
  margin-left: 0;
  margin-right: 20px;
}

.recline-record-count:lang(fa_IR) {
  float: right;
  margin-left: 0;
  margin-right: 10px;
}

.recline-query-editor:lang(fa_IR) {
  float: left;
  padding-right: 0;
  padding-left: 5px;
  margin-right: 0;
  margin-right: 5px;
  border-right: 0;
  border-left: solid 2px #ddd;
}

/*------------------------------------*\
    #ACCOUNT
\*------------------------------------*/

.account-masthead {
  min-height: 0;
}

.authed {
  height: 100%;
}

.navbar .container {
  display: flex;
  flex-wrap: wrap;
}

.lang-selector {
  margin: 0;
  width: 25%;
  padding-top: 10px
}

.lang-selector:lang(fa_IR) {
  order: 2;
}

.lang-selector ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.lang-selector li + li {
  border-left: 1px solid #e9552d;
}

.lang-selector:lang(fa_IR) li + li {
  border-left: 0;
  border-right: 1px solid #e9552d;
}

.nav-collapse:lang(fa_IR) {
  order: 2;
}

.navbar .nav-collapse {
  width: 49%;
}

.navbar .nav {
  margin: 0;
}

.header-image {
  padding: 10px 0;
  width: 25%;
}

/*------------------------------------*\
    #LIST OF GROUPS IN HOMEPAGE
\*------------------------------------*/

.box {
  background-color: transparent;
}

.group-list ul {
  list-style: none;
  margin: -10px 0 0 -20px;
  display: flex;
  flex-wrap: wrap;
}

.group-list li {
  display: inline-block;
  width: calc(20% - 20px);
  margin: 20px 0 0 20px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}

.group-list a {
  display: block;
  color: #343333;
  padding: 20px 10px 15px;
}

.group-list a:hover,
.group-list a:focus,
.group-list a:active {
  text-decoration: none;
}

.group-list img {
  width: 40%;
  margin: 0 auto;
  display: block;
  padding-bottom: 20px;
}

.group-list li h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'PT Sans', sans-serif;
}

/*------------------------------------*\
    #COLOURS
\*------------------------------------*/

.label[data-format=csv],
.label[data-format*=csv] {
  background-color: #e9552d;
}

/*------------------------------------*\
    #CLAMPING
\*------------------------------------*/

.clamping {
  position: relative;
  height: 6.6rem;
  width: 100%;
  margin: 0 0 1rem 0;
  overflow: hidden;
}

.clamping:after {
  content: "";
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.1rem;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
}

.clamping p {
  margin: 0;
}



.homepage [role=main] {
  background-color: #fff;
  padding-bottom: 40px;
}

.header-image {
  padding: 10px 0;
}

.header-image .logo {
  display: block;
}

.masthead .navigation {
  margin-right: 10px;
}

:lang(en) .fa-ir {
  display: none;
}

:lang(fa_IR) .en {
  display: none;
}

html:lang(fa_IR) {
  direction: rtl;
}

.homepage .module-search {
  padding: 0;
}

.homepage .module-search .module-content {
  background: #42b70b;
  border-radius: 0;
}

.homepage .module-search .module-content .heading {
  font-size: 1.25rem;
}

.homepage .module-search .search-giant input {
  border: none;
  border-radius: 0;
}

.homepage .box .inner {
  padding: 20px 0;
}

.homepage .stats ul li a {
  font-size: 1.25rem;
  text-transform: capitalize;
  color: #343333;
}

.homepage .stats ul li a b {
  font-size: 3.125rem;
  color: #343333;
}

.homepage .stats h3,
.homepage .group-list h3 {
  font-size: 1.25rem;
}

.homepage .group-list h3 {
  margin: 0;
}

body,
.homepage .module-search .tags,
.account-masthead {
  background: #d6d6d6;
  color: #444;
}

.site-footer {
  background: #343333;
  color: #fff;
}

.homepage .module-search .tags {
  display: none;
}

.account-masthead a,
.site-footer a {
  color: #444;
}

.account-masthead .account ul li a:hover,
.account-masthead .account ul li a:active {
  color: #fff;
  background-color: #495051;
}

.account-masthead .account ul li a {
  color: #444;
}

.account-masthead .account .notifications a span.badge {
  color: #fff;
  background-color: #444;
}

.account-masthead .account .notifications a:hover span,
.account-masthead .account .notifications a:active span {
  color: #444;
  background-color: #fff;
}

.masthead {
  background: #fff;
  color: #444;
}

.navbar .lang-selector li > a,
.navbar .navigation li > a {
  color: #444;
  margin: 10px 13px;
  padding: 2px;
  display: block;
  line-height: 14px;
  text-decoration: none;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:active,
.masthead .navigation .nav-pills li.active a,
.navbar .lang-selector li > a:hover,
.navbar .lang-selector li > a:active,
.navbar .lang-selector li.active > a {
  background-color: transparent;
  color: #444;
  border-bottom: 2px solid #42b70b;
  border-radius: 0;
  box-shadow: none;
}

a {
  color: #e9552d;
}

a:hover,
a:active {
  color: #3a150b;
}

[role=main] {
  min-height: 100%;
}

.iod-title {
  font-size: 80px;
  text-align: center;
  padding: 10px 0 20px;
}

.usecases ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.usecases li {
  width: 29%;
  float: left;
  list-style: none;
  margin: 2%;
}

.usecases h2 {
  font-size: 1.25rem;
}

.usecases dt,
.usecases dd {
  display: inline;
  margin: 0;
}

.homepage .stats ul li {
  width: calc(50% - 10px);
  text-align: center;
  background: #fff;
}

.homepage .stats ul a {
  padding-bottom: 20px;
}

.homepage .stats ul li + li {
  margin-left: 20px;
}

.wrapper {
  background-image: none;
}

[role=main] .secondary {
  border-left: 0;
  border-right: 1px solid #dddddd;
}

/* General */
* {
  box-sizing: border-box;
}

.hero {
  background: none;
}

.box {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

/* Footer */
.attribution {
  margin-bottom: 10px;
}

.attribution__list {
  list-style: none;
  margin: 0;
}

.attribution__item + .attribution__item {
  margin-top: 10px;
}

.attribution .attribution__logo {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 5px;
}

.attribution .sm-logo {
  width: 21px;
}

/*------------------------------------*\
    #MASONRY
\*------------------------------------*/

.media-item {
  text-align: center;
}

/*------------------------------------*\
    #MAGICSSIAN
\*------------------------------------*/

.homepage .stats ul a,
.homepage .group-list ul a {
  position: relative;
}

.homepage .stats ul a {
  border-bottom: 2px solid #e9552d;
}

.homepage .group-list ul a {
  border-bottom: 2px solid transparent;
}

.homepage .group-list ul .energy {
  border-bottom-color: #b8e2f2;
}

.homepage .group-list ul .communications,
.homepage .group-list ul .transport {
  border-bottom-color: #b3e0dc;
}

.homepage .group-list ul .budget-government-spending,
.homepage .group-list ul .employment,
.homepage .group-list ul .banking-finance {
  border-bottom-color: #90a4ae;
}

.homepage .group-list ul .economic-sector,
.homepage .group-list ul .trade {
  border-bottom-color: #cfd8dc;
}

.homepage .group-list ul .health {
  border-bottom-color: #f9aa92;
}

.homepage .group-list ul .environment {
  border-bottom-color: #dcecc8;
}

.homepage .group-list ul .housing,
.homepage .group-list ul .population {
  border-bottom-color: #fecc81;
}

.homepage .group-list ul .art-culture-tourism,
.homepage .group-list ul .education {
  border-bottom-color: #fbcbbd;
}

.homepage .stats ul a:before,
.homepage .stats ul a:after,
.homepage .group-list ul a:before,
.homepage .group-list ul a:after {
  z-index: 1;
  box-sizing: border-box;
  content: '';
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  animation-timing-function: linear;
}

.homepage .stats ul a:hover:before,
.homepage .group-list ul a:hover:before {
  bottom: 0;
  left: 0;
}

.homepage .stats ul a:hover:before{
  animation: border-left-orange 2s normal forwards;
}

.homepage .group-list ul .energy:hover:before {
  animation: border-left-blue 2s normal forwards;
}

.homepage .group-list ul .communications:hover:before,
.homepage .group-list ul .transport:hover:before {
  animation: border-left-lightblue 2s normal forwards;
}

.homepage .group-list ul .budget-government-spending:hover:before,
.homepage .group-list ul .employment:hover:before,
.homepage .group-list ul .banking-finance:hover:before {
  animation: border-left-darkgray 2s normal forwards;
}

.homepage .group-list ul .economic-sector:hover:before,
.homepage .group-list ul .trade:hover:before {
  animation: border-left-lightgray 2s normal forwards;
}

.homepage .group-list ul .health:hover:before {
  animation: border-left-red 2s normal forwards;
}

.homepage .group-list ul .environment:hover:before {
  animation: border-left-green 2s normal forwards;
}

.homepage .group-list ul .housing:hover:before,
.homepage .group-list ul .population:hover:before {
  animation: border-left-amber 2s normal forwards;
}

.homepage .group-list ul .art-culture-tourism:hover:before,
.homepage .group-list ul .education:hover:before {
  animation: border-left-pink 2s normal forwards;
}

.homepage .stats ul a:hover:after,
.homepage .group-list ul a:hover:after {
  bottom: 0;
  right: 0;
}

.homepage .stats ul a:hover:after {
  animation: border-right-orange 2s normal forwards;
}

.homepage .group-list ul .energy:hover:after {
  animation: border-right-blue 2s normal forwards;
}

.homepage .group-list ul .communications:hover:after,
.homepage .group-list ul .transport:hover:after {
  animation: border-right-lightblue 2s normal forwards;
}

.homepage .group-list ul .budget-government-spending:hover:after,
.homepage .group-list ul .employment:hover:after,
.homepage .group-list ul .banking-finance:hover:after {
  animation: border-right-darkgray 2s normal forwards;
}

.homepage .group-list ul .economic-sector:hover:after,
.homepage .group-list ul .trade:hover:after {
  animation: border-right-lightgray 2s normal forwards;
}

.homepage .group-list ul .health:hover:after {
  animation: border-right-red 2s normal forwards;
}

.homepage .group-list ul .environment:hover:after {
  animation: border-right-green 2s normal forwards;
}

.homepage .group-list ul .housing:hover:after,
.homepage .group-list ul .population:hover:after {
  animation: border-right-amber 2s normal forwards;
}

.homepage .group-list ul .art-culture-tourism:hover:after,
.homepage .group-list ul .education:hover:after {
  animation: border-right-pink 2s normal forwards;
}

@keyframes border-left-orange {
  0% {
    width: 0;
    height: 0;
    border-left-color: #e9552d;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-left-color: #e9552d;
    border-top-color: #e9552d;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-left-color: #e9552d;
    border-top-color: #e9552d;
  }
}

@keyframes border-right-orange {
  0% {
    width: 0;
    height: 0;
    border-right-color: #e9552d;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-right-color: #e9552d;
    border-top-color: #e9552d;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-right-color: #e9552d;
    border-top-color: #e9552d;
  }
}

@keyframes border-left-blue {
  0% {
    width: 0;
    height: 0;
    border-left-color: #b8e2f2;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-left-color: #b8e2f2;
    border-top-color: #b8e2f2;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-left-color: #b8e2f2;
    border-top-color: #b8e2f2;
  }
}

@keyframes border-right-blue {
  0% {
    width: 0;
    height: 0;
    border-right-color: #b8e2f2;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-right-color: #b8e2f2;
    border-top-color: #b8e2f2;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-right-color: #b8e2f2;
    border-top-color: #b8e2f2;
  }
}

@keyframes border-left-lightblue {
  0% {
    width: 0;
    height: 0;
    border-left-color: #b3e0dc;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-left-color: #b3e0dc;
    border-top-color: #b3e0dc;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-left-color: #b3e0dc;
    border-top-color: #b3e0dc;
  }
}

@keyframes border-right-lightblue {
  0% {
    width: 0;
    height: 0;
    border-right-color: #b3e0dc;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-right-color: #b3e0dc;
    border-top-color: #b3e0dc;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-right-color: #b3e0dc;
    border-top-color: #b3e0dc;
  }
}

@keyframes border-left-darkgray {
  0% {
    width: 0;
    height: 0;
    border-left-color: #90a4ae;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-left-color: #90a4ae;
    border-top-color: #90a4ae;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-left-color: #90a4ae;
    border-top-color: #90a4ae;
  }
}

@keyframes border-right-darkgray {
  0% {
    width: 0;
    height: 0;
    border-right-color: #90a4ae;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-right-color: #90a4ae;
    border-top-color: #90a4ae;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-right-color: #90a4ae;
    border-top-color: #90a4ae;
  }
}

@keyframes border-left-lightgray {
  0% {
    width: 0;
    height: 0;
    border-left-color: #cfd8dc;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-left-color: #cfd8dc;
    border-top-color: #cfd8dc;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-left-color: #cfd8dc;
    border-top-color: #cfd8dc;
  }
}

@keyframes border-right-lightgray {
  0% {
    width: 0;
    height: 0;
    border-right-color: #cfd8dc;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-right-color: #cfd8dc;
    border-top-color: #cfd8dc;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-right-color: #cfd8dc;
    border-top-color: #cfd8dc;
  }
}

@keyframes border-left-red {
  0% {
    width: 0;
    height: 0;
    border-left-color: #f9aa92;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-left-color: #f9aa92;
    border-top-color: #f9aa92;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-left-color: #f9aa92;
    border-top-color: #f9aa92;
  }
}

@keyframes border-right-red {
  0% {
    width: 0;
    height: 0;
    border-right-color: #f9aa92;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-right-color: #f9aa92;
    border-top-color: #f9aa92;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-right-color: #f9aa92;
    border-top-color: #f9aa92;
  }
}

@keyframes border-left-green {
  0% {
    width: 0;
    height: 0;
    border-left-color: #dcecc8;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-left-color: #dcecc8;
    border-top-color: #dcecc8;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-left-color: #dcecc8;
    border-top-color: #dcecc8;
  }
}

@keyframes border-right-green {
  0% {
    width: 0;
    height: 0;
    border-right-color: #dcecc8;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-right-color: #dcecc8;
    border-top-color: #dcecc8;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-right-color: #dcecc8;
    border-top-color: #dcecc8;
  }
}

@keyframes border-left-amber {
  0% {
    width: 0;
    height: 0;
    border-left-color: #fecc81;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-left-color: #fecc81;
    border-top-color: #fecc81;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-left-color: #fecc81;
    border-top-color: #fecc81;
  }
}

@keyframes border-right-amber {
  0% {
    width: 0;
    height: 0;
    border-right-color: #fecc81;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-right-color: #fecc81;
    border-top-color: #fecc81;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-right-color: #fecc81;
    border-top-color: #fecc81;
  }
}

@keyframes border-left-pink {
  0% {
    width: 0;
    height: 0;
    border-left-color: #fbcbbd;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-left-color: #fbcbbd;
    border-top-color: #fbcbbd;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-left-color: #fbcbbd;
    border-top-color: #fbcbbd;
  }
}

@keyframes border-right-pink {
  0% {
    width: 0;
    height: 0;
    border-right-color: #fbcbbd;
    border-top-color: transparent;
  }
  12.49% {
    border-top-color: transparent;
  }
  12.5% {
    height: 100%;
    width: 0;
    border-right-color: #fbcbbd;
    border-top-color: #fbcbbd;
  }
  25%,
  100% {
    width: 100%;
    height: 100%;
    border-right-color: #fbcbbd;
    border-top-color: #fbcbbd;
  }
}

/*------------------------------------*\
    #SVG
\*------------------------------------*/

.js-inline-svg {
  width: 40%;
  margin: 0 auto;
  display: block;
  padding-bottom: 20px;
}

.replaced-svg path,
.replaced-svg polygon {
  fill: #000;
  transition : fill 500ms ease-out;
}

.homepage .group-list .energy:hover .replaced-svg polygon {
  fill: #b8e2f2;
}

.homepage .group-list .communications:hover .replaced-svg path,
.homepage .group-list .transport:hover .replaced-svg path {
  fill: #b3e0dc;
}

.homepage .group-list .budget-government-spending:hover .replaced-svg path,
.homepage .group-list .employment:hover .replaced-svg path,
.homepage .group-list .banking-finance:hover .replaced-svg path {
  fill: #90a4ae;
}

.homepage .group-list .economic-sector:hover .replaced-svg path,
.homepage .group-list .trade:hover .replaced-svg path {
  fill: #cfd8dc;
}

.homepage .group-list .health:hover .replaced-svg path {
  fill: #f9aa92;
}

.homepage .group-list .environment:hover .replaced-svg path {
  fill: #dcecc8;
}

.homepage .group-list .housing:hover .replaced-svg path,
.homepage .group-list .population:hover .replaced-svg path {
  fill: #fecc81;
}

.homepage .group-list .art-culture-tourism:hover .replaced-svg path,
.homepage .group-list .education:hover .replaced-svg path {
  fill: #fbcbbd;
}