/*------------------------------------*\
    #FONTS
\*------------------------------------*/

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/pt-sans-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url(/pt-sans-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Droid Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(/droid-kufi-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Droid Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(/droid-kufi-bold.woff2) format('woff2');
}

/*------------------------------------*\
    #GENERIC
\*------------------------------------*/

body {
  font-size: calc(10px + (60 - 12) * (100vw - 160px) / (8000 - 160));
  box-sizing: border-box;
}

body:lang(en) {
  font-family: 'PT Sans', sans-serif;
}

body:lang(fa_IR) {
  font-family: 'Droid Kufi', sans-serif;
}

h1:lang(en),
h2:lang(en),
h3:lang(en),
h4:lang(en),
h5:lang(en),
h6:lang(en) {
  font-family: "futura-pt",sans-serif;
}

/*------------------------------------*\
    #RTL
\*------------------------------------*/

/* Probably should fix all this moving to flexbox instead of using floating */

ul:lang(fa_IR),
ol:lang(fa_IR) {
  margin: 0 25px 10px 0;
}

.unstyled:lang(fa_IR) {
  margin: 0;
}

.pull-left:lang(fa_IR) {
  float: right;
}

.account-masthead .account ul li {
  display: inline-block;
  float: none;
}

.account-masthead .account ul li + li {
  margin-left: -5px;
}

.account-masthead:lang(fa_IR) .account ul li + li {
  margin-right: -5px;
}

.masthead:lang(fa_IR) .nav-collapse {
  float: left;
}

.masthead .section {
  float: none;
}

.navbar:lang(fa_IR) .nav {
  float: right;
  margin: 0 0 0 10px;
}

.navbar:lang(fa_IR) .nav>li {
  float: right;
}

.lang-select-2:lang(fa_IR) {
  float: right;
}

.search-form:lang(fa_IR) .search-input.search-giant button {
  right: auto;
  left: 15px;
}

.homepage:lang(fa_IR) .stats ul li {
  width: 50%;
  float: right;
}

.usecases:lang(fa_IR) li {
  float: right;
}

.toolbar:lang(fa_IR) .breadcrumb {
  float: right;
}

[role=main]:lang(fa_IR) .primary {
  float: left;
}

[role=main]:lang(fa_IR) .secondary {
  float: right;
  border-left: 1px solid #dddddd;
  border-right: 0;
}

.search-form:lang(fa_IR) .control-order-by {
  float: left;
  margin-left: 0;
  margin-right: 15px;
}

.form-actions:lang(fa_IR) {
  margin-left: -10px;
  margin-right: -40px;
  text-align: right;
}

.form-horizontal:lang(fa_IR) .controls {
  margin-right: 130px;
}

.form-horizontal:lang(fa_IR) .control-label {
  float: right;
  text-align: left;
}

.radio:lang(fa_IR) input[type="radio"],
.checkbox:lang(fa_IR) input[type="checkbox"] {
  float: right;
  margin-left: 20px;
}

.header-image {
  padding: 10px 0;
  width: 30%;
}

.masthead .nav-collapse {
  width: 70%;
}

.header-image .logo {
  display: block;
}

.masthead .navigation {
  margin-right: 10px;
}

:lang(en) .fa-ir {
  display: none;
}

:lang(fa_IR) .en {
  display: none;
}

html:lang(fa_IR) {
  direction: rtl;
}

.lang-select-2 {
  float: left;
  margin: 5px 0 0;
}

.lang-container,
.lang-select-2 select {
  width: 100px !important;
}

.homepage .module-search .module-content {
  background: #e9552d;
}

body,
.homepage .module-search .tags,
.site-footer,
.account-masthead {
  background: #d6d6d6;
  color: #444;
}

.homepage .module-search .tags {
  display: none;
}

.account-masthead a,
.site-footer a {
  color: #444;
}

.account-masthead .account ul li a:hover,
.account-masthead .account ul li a:active {
  color: #fff;
  background-color: #495051;
}

.account-masthead .account ul li a {
  color: #444;
}

.account-masthead .account .notifications a span.badge {
  color: #fff;
  background-color: #444;
}

.account-masthead .account .notifications a:hover span,
.account-masthead .account .notifications a:active span {
  color: #444;
  background-color: #fff;
}

.masthead {
  background: #fff;
  color: #444;
}

.masthead .nav > li > a {
  color: #444;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:active,
.masthead .navigation .nav-pills li.active a {
  background-color: transparent;
  color: #444;
  border-bottom: 1px solid #e9552d;
  border-radius: 0;
 box-shadow: none;
}

a {
  color: #e9552d;
}

a:hover,
a:active {
  color: #3a150b;
}

[role=main] {
  min-height: 100%;
}

.iod-title {
  font-size: 96px;
  text-align: center;
}

.usecases ul {
  display: flex;
  flex-wrap: wrap;
}

.usecases li {
  width: 29%;
  float: left;
  list-style: none;
  margin: 2%;
}

.usecases dt,
.usecases dd {
  display: inline;
  margin: 0;
}

.homepage .stats ul li {
  width: 50%;
}

.wrapper {
  background-image: none;
}

[role=main] .secondary {
  border-left: 0;
  border-right: 1px solid #dddddd;
}

/* General */
* {
  box-sizing: border-box;
}

.hero {
  background: none;
}

.box {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

/* Footer */
.attribution {
  margin-bottom: 10px;
}

.attribution__list {
  list-style: none;
  margin: 0;
}

.attribution__item + .attribution__item {
  margin-top: 10px;
}

.attribution .attribution__logo {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 5px;
}

.attribution .sm-logo {
  width: 21px;
}
