{% extends "base.html" %}

{% block page %}

  <div data-module="reclinepreview" data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}">
    <h4 class="loading-dialog">
      <div class="loading-spinner"></div>
      <div class="left">{{ _('Loading...') }}</div>
    </h4>
  </div>

  <div id="recline-controls"></div>

  {% resource 'ckanext-reclinepreview/main' %}
{% endblock %}

{% block scripts %}
  <script>
    var preload_resource = {{ h.literal(resource_json) }};
    var preload_resource_view = {{ h.literal(resource_view_json) }};
  </script>
{% endblock %}

{% block styles %}{% endblock %}
{% block custom_styles %}{% endblock %}
