{#
Displays information about accessing a resource via the API.

resource_id - The resource id
embedded - If true will not include the "modal" classes on the snippet.

Example

    {% snippet 'ajax_snippets/api_info.html', resource_id=resource_id, embedded=true %}

#}

{% set resource_id = h.sanitize_id(resource_id) %}
{% set sql_example_url = h.url_for('api.action', logic_function='datastore_search_sql', qualified=True) + '?sql=SELECT * from "' + resource_id + '" WHERE title LIKE \'jones\'' %}
{# not urlencoding the sql because its clearer #}
<div{% if not embedded %} class="modal fade"{% endif %}>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h3>
            {{ _('CKAN Data API') }}
          </h3>
        </div>
        <div{% if not embedded %} class="modal-body"{% endif %}>
          <p><strong>{{ _('Access resource data via a web API with powerful query support') }}</strong>.
          {% trans url="https://docs.ckan.org/en/latest/maintaining/datastore.html#api-reference" %}
          Further information in the <a
            href="{{ url }}" target="_blank">main
            CKAN Data API and DataStore documentation</a>.</p>
          {% endtrans %}

          <p>
            {{ _("Code examples:") }}
            <input class="btn-check" type="radio" name="lang-choice" id="lang-curl" checked>
            <label class="btn btn-secondary radio" for="lang-curl">
              curl
            </label>
            <input class="btn-check" type="radio" name="lang-choice" id="lang-jquery">
            <label class="btn btn-secondary radio" for="lang-jquery">
              jQuery
            </label>
            <input class="btn-check" type="radio" name="lang-choice" id="lang-powershell">
            <label class="btn btn-secondary radio" for="lang-powershell">
              PowerShell
            </label>
            <input class="btn-check" type="radio" name="lang-choice" id="lang-python">
            <label class="btn btn-secondary radio" for="lang-python">
              Python
            </label>
          </p>

          <div class="accordion" id="accordion2">

            <div class="accordion-item">
              <h2 class="accordion-heading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-querying-get" aria-expanded="false" aria-controls="collapse-querying-get">{{ _('Querying with your Web Browser') }} &raquo;</button>
              </h2>
              <div id="collapse-querying-get"  class="accordion-collapse collapse" aria-labelledby="collapse-querying-get" data-bs-parent="#accordion2">
                <div class="accordion-body code-block">
                  <strong>{{ _('Query example (first 5 results)') }}</strong>
                  <p>
                  <code><a href="{{ h.url_for('api.action', logic_function='datastore_search', resource_id=resource_id, limit=5, qualified=True) }}" target="_blank" rel="noreferrer">{{ h.url_for('api.action', logic_function='datastore_search', resource_id=resource_id, limit=5, qualified=True) }}</a></code>
                  </p>

                  <strong>{{ _('Query example (results containing \'jones\')') }}</strong>
                  <p>
                  <code><a href="{{ h.url_for('api.action', logic_function='datastore_search', resource_id=resource_id, q='jones', qualified=True) }}" target="_blank" rel="noreferrer">{{ h.url_for('api.action', logic_function='datastore_search', resource_id=resource_id, q='jones', qualified=True) }}</a></code>
                  </p>
                  {% if h.datastore_search_sql_enabled() %}
                  <strong>{{ _('Query example (via SQL statement)') }}</strong>
                  <p>
                  <code><a href="{{sql_example_url}}" target="_blank" rel="noreferrer">{{ sql_example_url }}</a></code>
                  </p>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-heading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-querying-post" aria-expanded="false" aria-controls="collapse-querying-post"> {{ _('Querying with Code') }} &raquo;</button>
              </h2>
              <div id="collapse-querying-post" class="accordion-collapse collapse" aria-labelledby="collapse-querying-post" data-bs-parent="#accordion2">
                <div class="accordion-body">
                  <p>{{ _('Get 5 results containing "jones".') }}</p>
                  <pre class="curl"
>curl {{ h.url_for('api.action', logic_function='datastore_search', qualified=True) }} \
  -H"Authorization:$API_TOKEN" -d '
{
  "resource_id": "{{resource_id}}",
  "limit": 5,
  "q": "jones"
}'</pre>
                  <pre class="jquery"
>var data = {
  resource_id: '{{resource_id}}',
  limit: 5,
  q: 'jones'
};
$.ajax({
  url: '{{ h.url_for('api.action', logic_function='datastore_search', qualified=True) }}',
  data: data,
  dataType: 'jsonp',
  success: function(data) {
    alert('Total results found: ' + data.result.total)
  }
});</pre>
                  <pre class="powershell"
>$json = @'
{
  "resource_id": "{{resource_id}}",
  "limit": 5,
  "q": "jones"
}
'@
$response = Invoke-RestMethod {{ h.url_for('api.action', logic_function='datastore_search', qualified=True) }}`
  -Method Post -Body $json -Headers @{"Authorization"="$API_TOKEN"}
$response.result.records</pre>
                  <pre class="python"
>from ckanapi import RemoteCKAN
from pprint import pprint

ckan = RemoteCKAN('{{ h.url_for('home.index', qualified=True) }}', apikey=API_TOKEN)
result = ckan.action.datastore_search(
    resource_id="{{ resource_id }}",
    limit=5,
    q="jones
)
pprint(result['records'])</pre>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


