<form id="group-edit" action="" method="post"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:attrs="{'class':'has-errors'} if c.errors or c.fieldset.errors else {}"
  >

 ${h.literal(c.fieldset.render())}

 <fieldset>
  <legend>Users</legend>
  <ul py:for="user in c.fieldset.model.users">
    <li>
        <input checked="checked" id="AuthorizationGroup-users-current"
        name="AuthorizationGroup-users-current" type="checkbox" value="${user.name}" />
        <label for="AuthorizationGroup-users_${user.name}" style="display: inline;">${user.name}</label>
    </li>
  </ul>
  <p py:if="not c.fieldset.model.users">There are no users currently in this group.</p>
 </fieldset>
 
 ${h.literal(c.fieldset2.render())}

  <br/>
  ${h.submit('save', _('Save'))}
</form>
