<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">${c.authorization_group.name} - Authorization Groups</py:def>
  <py:def function="page_heading">${c.authorization_group.name}</py:def>

  <div py:match="content">
    <h3>Members</h3>
    <p i18n:msg="item_count">There are ${c.page.item_count} users in this authorization group.</p>
    ${c.page.pager()}
    ${user_list(c.page.items)}
    ${c.page.pager()}
  </div>

  <xi:include href="layout.html" />
</html>


