{#
Renders a list of related item elements

related_items - A list of related items.
pkg_id - A package id for the items used to determine if the edit button
         should be displayed.

Example:


  {% snippet "related/snippets/related_list.html", related_items=c.pkg.related, pkg_id=c.pkg.name %}

#}
<ul class="media-grid" data-module="media-grid">
  {% for related in related_items %}
    {% snippet "related/snippets/related_item.html", pkg_id=pkg_id, related=related, position=loop.index %}
  {% endfor %}
</ul>
