<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <xi:include href="../_util.html" />
${activity_div(
  actor=h.linked_user(activity.user_id),
  verb='updated',
  object='the resource '+h.resource_link(detail.data.resource,
    activity.data.package.id),
  target='in the dataset '+h.dataset_link(activity.data.package),
  activity=activity
  )}
</html>
