<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <xi:include href="../_util.html" />
<div>
  <div style="font-weight:bold;">
    ${h.linked_user(activity.user_id)}
    <span style="background:yellow;">added</span>
    the resource ${resource_summary(activity.data.package, detail.data.resource)}
    to the dataset ${package_summary(activity.data.package)}<br/>
    ${h.render_datetime(activity.timestamp, '%B %d %Y')}
  </div>
  <div style="color:#999;">
    ${h.markdown_extract(activity.data.package.notes)}
  </div>
</div>
</html>
