<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <xi:include href="../_util.html" />
<div style="float:left;">${h.gravatar(activity['user_id'], 30)}</div>
<div style="margin-left:35px;">
  <div style="font-weight:bold;">
    ${h.linked_user(activity['user_id'])}
    <span style="background:yellow;">created</span>
    the dataset
    ${package_summary(package)} <br/>
    ${h.render_datetime(activity['timestamp'], '%B %d %Y')}
  </div>
  <div style="color:#999;">
    ${h.markdown_extract(package.notes)}
  </div>
</div>
</html>
