{# Data API Help Button

resource: the resource
datastore_root_url: the root url of the datastore

#}
{% if resource.webstore_url %}
  {% set loading_text = _('Loading...') %}
  <a class="btn btn-success" href="{% url_for controller='package', action='api_data', id=datastore_root_url %}" data-module="api-info" data-snippet-url="{% url_for controller='api', action='snippet', ver=1, snippet_path='api_info.html', datastore_root_url=datastore_root_url %}" data-loading-text="{{ loading_text }}">Data API</a>
{% else %}
  <a class="btn disabled" rel="tooltip" title="Data API is unavailable for this resource as DataStore is disabled">Data API</a>
{% endif %}
