{#
Displays a sidebar module with information for given package

pkg          - The package dict that owns the resources.
am_following - True if the user is following the package.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg, am_following=am_following %}

#}
{% block package_info %}
  {% if pkg %}
    <section id="package-info" class="module module-narrow">
      <div class="module context-info">
        <div class="module-content">
          {% block package_info_inner %}
            {% block heading %}
              <h1 class="heading">{{ h.dataset_display_name(pkg) }}</h1>
            {% endblock %}
            {% block nums %}
              {% set num_followers = h.follow_count('dataset', pkg.id) %}
              <div class="nums">
                <dl>
                  <dt>{{ _('Followers') }}</dt>
                  <dd data-module="followers-counter" data-module-id="{{ pkg.id }}" data-module-num_followers="{{ num_followers }}">{{ h.SI_number_span(num_followers) }}</dd>
                </dl>
              </div>
            {% endblock %}
            {% block follow_button %}
              {% if current_user %}
               {% if error_message %}
                  <div class="alert alert-error">{{ error_message }}</div>
               {% elif am_following %}
                  <a class="btn btn-danger" hx-post="{{ h.url_for('dataset.unfollow', id=pkg.id) }}" hx-target="#package-info">Unfollow</a>
                {% else %}
                <a class="btn btn-success" hx-post="{{ h.url_for('dataset.follow', id=pkg.id) }}" hx-target="#package-info">Follow</a>
                {% endif %}
              {% endif %}
            {% endblock %}
          {% endblock %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
