{#
Displays a sidebar module with information for given package

pkg          - The package dict that owns the resources.
am_following - True if the user is following the package.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg, am_following=am_following %}

#}
{% block package_info %}
  {% if pkg %}
    <section id="package-info" class="module module-narrow">
      <div class="module context-info">
        <div>
          <div class="module-heading">
            {% block heading %}
              <h2 class="heading text-break">{{ h.dataset_display_name(pkg) }}</h2>
            {% endblock %}
          </div>
        </div>
        <div class="package-info">
          {% block package_info_inner %}
            {% block nums %}
              {% set num_followers = h.follow_count('dataset', pkg.id) %}
              <div class="nums">
                <dl>
                  <dt>{{ _('Followers') }}</dt>
                  <dd>{{ h.SI_number_span(num_followers) }}</dd>
                </dl>
              </div>
            {% endblock %}
            {% block follow_button %}
              {% if current_user.is_authenticated %}
              {% if error_message %}
                  <div class="alert alert-danger">{{ error_message }}</div>
                {% endif %}
              {% if am_following %}
                  <form method="post" action="{{ h.url_for('dataset.unfollow', id=pkg.id) }}" hx-post="{{ h.url_for('dataset.unfollow', id=pkg.id) }}" hx-target="#package-info" hx-swap="outerHTML">
                    {{ h.csrf_input() }}
                    <button type="submit" class="btn btn-danger"><i aria-hidden="true" class="fa-solid fa-circle-minus"></i> {{ _('Unfollow') }}</button>
                  </form>
                {% else %}
                <form method="post" action="{{ h.url_for('dataset.follow', id=pkg.id) }}" hx-post="{{ h.url_for('dataset.follow', id=pkg.id) }}" hx-target="#package-info" hx-swap="outerHTML">
                  {{ h.csrf_input() }}
                  <button type="submit" class="btn btn-success"><i aria-hidden="true" class="fa-solid fa-circle-plus"></i> {{ _('Follow') }}</button>
                </form>
                {% endif %}
              {% endif %}
            {% endblock %}
          {% endblock %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
