{% import 'macros/form.html' as form %}

{% set data = data or {} %}
{% set errors = errors or {} %}

<form class="dataset-form form-horizontal" method="post">
  {{ form.errors(error_summary) }}

  {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large']) }}

  {{ form.input('name', id='field-name', label=_('URL'), placeholder=_('my-dataset'), value=data.title, error=errors.name, classes=['control-full']) }}

  {{ form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('Some useful notes about the data'), value=data.notes, error=errors.notes) }}

  <div class="control-group">
    {% set error = errors.license_id %}
    <label class="control-label" for="field-license">{{ _("License") }}</label>
    <div class="controls">
      <select id="field-license" name="license_id">
        {% for licence_desc, licence_id in c.licences if licence_desc  %}
          <option value="{{ licence_id }}" py:attrs="{'selected': 'selected' if data.get('license_id', '') == licence_id else None}" py:if="licence_desc">{{ licence_desc }}</option>
        {% endfor %}
      </select>
      {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
      <span class="info-block">{{ _("Don't worry if you don't know which license the data has been released under") }}</span>
    </div>
  </div>

  {% if c.groups_available %}
    <div class="control-group" py:if="c.groups_available">
      {% set groups = data.groups or [] %}
      <label for="field-groups" class="control-label">{{ _('Add to Groups') }}</label>
      <div class="controls">
        <select id="field-groups" name="groups__{{ groups | count }}__id">
          <option value="">{{ _('Select a group...') }}</option>
          {% for group in c.groups_available %}
            <option value="{{ group.id }}">{{ group.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}

  <div class="form-actions">
    <p class="action-info small">Important: By submitting content, you
    agree to release your contributions under the Open Database
    License.</p>
    <a class="btn" href="">Cancel</a>
    <button class="btn btn-primary" type="submit" name="save">Next: Add Data</button>
  </div>
</form>
