{% import 'macros/form.html' as form %}

{% set organizations_available = h.organizations_available() %}
{% if organizations_available %}
  <div class="control-group">
    {% set groups = h.dict_list_reduce(data.groups, 'id') %}
    <label for="field-organizations" class="control-label">{{ _('Add to Organization') }}</label>
    <div class="controls">
      <select id="field-organizations" name="groups__{{ groups | count }}__id" data-module="autocomplete">
        <option value="">{{ _('Select an organization...') }}</option>
        {% for organization in organizations_available %}
        <option value="{{ organization.id }}" {% if organization.id in groups %}selected="selected"{% endif %}>{{ organization.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endif %}

{{ form.input('author', label=_('Author'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium']) }}

{{ form.input('author_email', label=_('Author Email'), id='field-author-email', placeholder=_('joe@example.com'), value=data.author_email, error=errors.author_email, classes=['control-medium']) }}

{{ form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}

{{ form.input('maintainer_email', label=_('Maintainer Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}

{% block custom_fields %}
  {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}
{% endblock %}
