{#
Resource upload form field that allows switching between:
  URL  <->  Unset  <->  File upload (when enabled)

The "url" field is
New uploaded files are saved as "upload", and "name" field is
updated with the file name if not already set.

When removing a file upload a special "clear_upload" field is passed

data - resource form data fields
errors - errors on resource form fields
is_url - true if resource using url (not file upload)
is_upload - true if resource using file upload (not url)
is_upload_enabled - true if site supports file uploads
#}
{% import "macros/form.html" as form %}

<div data-module="resource-upload-field" class="resource-upload-field form-group">
  <input type="radio" id="resource-url-none" name="url_type" value="" {{
    'checked' if not data.url and not data.url_type else '' }}>
  <div class="select-type">
    <label class="control-label">{{ _('Data') }}</label>
    <div>
      {% block url_type_select %}
        {% if is_upload_enabled %}
          <label class="btn btn-default" for="resource-url-upload"
            title="{{ _('Upload a file on your computer') }}"><i
            class="fa fa-cloud-upload"></i>{{ _("Upload") }}</label>
        {% endif %}
        <label class="btn btn-default" for="resource-url-link"
          title="{{ _('Link to a URL on the internet (you can also link to an API)') }}"><i
          class="fa fa-globe"></i>{{ _('Link') }}</label>
      {% endblock %}
    </div>
  </div>

  {% block url_type_fields %}
    {% if is_upload_enabled %}
      <input type="radio" id="resource-url-upload" name="url_type" value="upload" {{
        'checked' if is_upload else '' }}>
      <div class="select-type">
        {% block upload_controls %}
          {% if is_upload %}
            {# for existing uploads we show the file name in a readonly input box #}
            <input type="checkbox" id="field-clear-upload" value="true">
            <div class="upload-type">
              <label class="btn btn-danger btn-remove-url" for="field-clear-upload"
                >{{ _('Clear Upload') }}</label>
              <label class="control-label">{{ _('File') }}</label>
              <div class="controls">
                {% set existing_name = data.get('url', '').split('/')[-1].split('?')[0].split('#')[0] %}
                <input value="{{ existing_name }}" class="form-control" readonly>
              </div>
            </div>
          {% endif %}
          <div class="upload-type">
            <label class="btn btn-danger btn-remove-url" for="resource-url-none">{{ _('Remove') }}</label>
            {{ form.input('upload', label=_('File'), id='field-resource-upload', type='file', placeholder='', value='', error='', classes=['control-full']) }}
          </div>
        {% endblock %}
      </div>
    {% endif %}

    <input type="radio" id="resource-url-link" name="url_type" value="link" {{
      'checked' if is_url else '' }}>
    <div class="select-type">
      {% block link_controls %}
        <label id="resource-url-link-clear" class="btn btn-danger btn-remove-url" for="resource-url-none">{{ _('Remove') }}</label>
        {{ form.input('url', label=_('URL'), id='field-resource-url', type='url', placeholder=placeholder, value='' if is_upload else data.get('url'), error=errors.get('url'), classes=['control-full']) }}
      {% endblock %}
    </div>
  {% endblock %}
</div>
