{% set icon = view.icon or 'picture' %}
{% set url = h.url_for(controller='package', action=action, id=pkg.name, resource_id=view.resource_id, view_id=view.id) %}

<li>
  <a href="{{ url }}" data-id="{{ view.id }}">
    <span class="icon">
      <i class="icon icon-{{ icon }}"></i>
    </span>
    <h3>{{ view.title }}</h3>
    <p class="description">
      {% if view.description %}
        {{ view.description }}
      {% else %}
        <span class="empty">No description</span>
      {% endif %}
    </p>
  </a>
  <span class="arrow"></span>
</li>
