{#
Inserts a stepped progress indicator for the new package form. Each stage can
have one of three states, "uncomplete", "complete" and "active".

stages - A list of states for each of the three stages. Missing stages default
         to "uncomplete".

Example:

    {% snippet 'package/snippets/stages.html', stages=['active'] %}
    {% snippet 'package/snippets/stages.html', stages=['complete', 'active'] %}
    {% snippet 'package/snippets/stages.html', stages=['active', 'complete'] %}

#}

{% macro render_step(icon, active, step_count, step_name, step_status) %}
    <span class="dataset-circle-icon">
        <i class="fa {{active}} {{ icon }}" aria-hidden="true"></i>
    </span>
    <span class="dataset-step">STEP {{ step_count }}</span>
    <span class="dataset-step-name">{{ step_name }}</span>
    <span class="dataset-step-status">{{ step_status }}</span>
{% endmacro %}

{% set s1 = stages[0] or 'active' %}
{% set s2 = stages[1] or 'uncomplete' %}
{% set s3 = stages[2] or 'preview' %}
{% set dataset_type = dataset_type or h.default_package_type() %}

{% if s1 != 'uncomplete' %}{% set class = 'stage-1' %}{% endif %}
{% if s2 != 'uncomplete' %}{% set class = 'stage-2' %}{% endif %}
{% if s3 != 'uncomplete' %}{% set class = 'stage-3' %}{% endif %}



<div class="container rounded stage">
  <div class="row" >
    <div class="col-auto " >
      <div class="row" >
        {{ render_step('fa-check-circle', s1, '1', _('Create Dataset'), _('In Progress')) }}
      </div>
    </div>
    <div class="col row" >
      <span class="dataset-line">

      </span>
    </div>
    <div class="col-auto" >
      <div class="row" >
        {{ render_step('fa-angle-double-right',s2, '2', _('Add data'), _('Pending')) }}
      </div>
    </div>
    <div class="col row" >
      <span class="dataset-line">

      </span>
    </div>
    <div class="col-auto" >
      <div class="row" >
        {{ render_step('fa-angle-double-right',s3, '3', _('Submit Dataset'), _('Pending')) }}
      </div>
    </div>
  </div>
</div>
