{% extends "organization/edit_base.html" %}

{% block breadcrumb_content %}
  <li>{{ h.nav_link(_('Organizations'), named_route=group_type+'.index') }}</li>
  <li class="active">{% block breadcrumb_link %}{{ h.nav_link(_('Add an Organization'), named_route=group_type+'.new') }}{% endblock %}</li>
{% endblock %}

{% block primary_content_inner %}
  <h1 class="{% block page_heading_class %}page-heading{% endblock %}">
    {% block page_heading %}{{ _('Organization Form') }}{% endblock %}
  </h1>
  {% block form %}
    {{ form | safe }}
  {% endblock %}
{% endblock %}
