{% extends "organization/base_form_page.html" %}

{% block subtitle %}{{ _('Create a Organization') }}{% endblock %}

{% block breadcrumb_link %}{{ h.nav_link(_('Create Organization'), controller='organization', action='edit', id=c.organization.name) }}{% endblock %}

{% block page_heading %}{{ _('Create a Organization') }}{% endblock %}

{% block primary_content_header %}{% endblock %}

{% block breadcrumb_content_inner %}
  <li class="active"><a href="#">{{ _('Create a Organization') }}</a></li>
{% endblock %}