{% extends "organization/base_form_page.html" %}

{# TRANSLATORS: expected value: "organization" #}
{% set title = _('Create an {organization_type}').format(organization_type=group_type) %}

{% block subtitle %}{{ title }}{% endblock %}

{% block breadcrumb_link %}{{ h.nav_link(_('Create an ' ~ label), named_route=group_type+'.edit', id=organization.name) }}{% endblock %}

{% block page_heading %}{{ title }}{% endblock %}

{% block page_header %}{% endblock %}

{% block breadcrumb_content_inner %}
  <li class="active"><a href="#">{{ title }}</a></li>
{% endblock %}

{% block secondary_content %}
  {% snippet "organization/snippets/helper.html", group_type=group_type %}
{% endblock %}
