{% extends "organization/read_base.html" %}

{% block add_action %}
  {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
    {% link_for _('Add Dataset'), controller='package', action='new', group=c.group_dict.id, class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  {% block packages_list %}
    {% include "package/snippets/search_form.html" %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager(q=c.q) }}
  {% endblock %}
{% endblock %}

{% block organization_facets %}
  {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, extras={'id':c.group_dict.id}) }}
  {% endfor %}
{% endblock %}
