{% extends "page.html" %}

{% block subtitle %}{{ c.group_dict.display_name }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
  <li class="active">{% link_for c.group_dict.display_name|truncate(35), controller='organization', action='read', id=c.group_dict.name %}</li>
{% endblock %}

{% block actions_content %}
  {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
    <li>{% link_for _('Add Dataset'), controller='package', action='new', group=c.group_dict.id, class_='btn', icon='plus-sign-alt' %}</li>
    <li>{% link_for _('Admin'), controller='organization', action='edit', id=c.group_dict.name, class_='btn btn-primary', icon='wrench' %}</li>
  {% endif %}
  <li>{{ h.follow_button('group', c.group_dict.id) }}</li>
  {# <li>{% link_for _('History'), controller='organization', action='history', id=c.group_dict.name, class_='btn', icon='undo' %}</li> #}
{% endblock %}

{% block primary_content %}
  <section class="module">
    {% block page_header %}
      <header class="module-content page-header">
        <ul class="nav nav-tabs">
          {% block page_header_tabs %}
            {{ h.build_nav_icon('organization_read', _('Datasets'), id=c.group_dict.name) }}
            {{ h.build_nav_icon('organization_activity', _('Activity Stream'), id=c.group_dict.name) }}
            {{ h.build_nav_icon('organization_about', _('About'), id=c.group_dict.name) }}
          {% endblock %}
        </ul>
      </header>
    {% endblock %}
    {% block primary_content_inner %}{% endblock %}
  </section>
{% endblock %}

{% block secondary_content %}
  {% snippet 'snippets/organization.html', organization=c.group_dict, show_nums=true %}

  {% block organization_facets %}{% endblock %}
{% endblock %}

{% block links %}
  {{ super() }}
  {% include "organization/snippets/feeds.html" %}
{% endblock %}
