{% import 'macros/form.html' as form %}

<form class="form-horizontal organization-form-users" method="post" data-module="organization-users">
	<input type="hidden" name="type" value="organization">

	{{ form.errors(error_summary) }}

	<table class="table table-bordered table-striped">
		<colgroup>
			<col width="58%">
			<col width="30%">
			<col width="12%">
		</colgroup>
		<thead>
			<tr>
				<th>{{ _('User') }}</th>
				<th>{{ _('Role') }}</th>
				<th><span class="pull-right">{{ _('Actions') }}</span></th>
			</tr>
		</thead>
		<tbody>
			{% for user in data.users %}
			<tr>
				<td class="username">{{ user.name }}</td>
				<td>
					<div class="control-group">
						<label class="radio inline">
							<input type="radio" name="users__{{ loop.index0 + 1 }}__capacity" value="admin" {{"checked" if (user or {}).get('capacity','') == 'admin' else ''}}>
							{{ _('Admin') }}
						</label>
						<label class="radio inline">
							<input type="radio" name="users__{{ loop.index0 + 1 }}__capacity" value="editor" {{"checked" if (user or {}).get('capacity','') in ['editor', 'member', ''] else ''}}>
							{{ _('Editor') }}
						</label>
					</div>
				</td>
				<td>
					<div class="control-group">
						<label class="orginization-remove">
							<input id="users__{{ loop.index0 + 1 }}__name" name="users__{{ loop.index0 + 1 }}__name" type="checkbox" value="{{ user.name }}" checked="checked">
							<span>{{ _('Keep this user?') }}</span>
						</label>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<legend>{{ _('Add user') }}</legend>
	<div class="control-group organization-adduser">
		<label for="users__0__name" class="control-label">{{ _('Username') }}</label>
		<div class="controls">
			<input id="users__0__name" name="users__0__name" type="text">
		</div>
	</div>

	<div class="form-actions">
		<button name="save" type="submit" class="btn btn-primary">{{ _('Save') }}</button>
	</div>

</form>
