// Activity Stream base colors
$activityColorBlank: #999999;
$activityColorNew: #69A67A;
$activityColorNeutral: #767DCE;
$activityColorModify: #767DCE;
$activityColorDelete: #B95252;
$activityColorEmpty: #6E6E6E;

.activity {
    $border: 1px solid #ced4da;
    $brad: .3rem;
    padding-left: 0;

    .activity-item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        position: relative;

        border: $border;
        border-radius: $brad;
        padding: 0.3rem;

        .activity-item--icon {
            position: absolute;
            left: -15px;
            top: -14px;
            margin: 0;
            background: white;
            padding: 3px 6px;
            border-radius: 50%;
        }

        .activity-item--wrapper {
            display: flex;
            flex-direction: column;

            width: 100%;
            padding: 0.3rem;

            .activity-item--meta {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                column-gap: 0.3rem;

                .meta--version,
                .meta--changes {
                    margin-top: .5rem;
                    flex-basis: 100%;
                    .btn {
                        width: 100%;
                    }
                }

                .meta--date {
                    color: #757575;
                    position: absolute;
                    right: 11px;
                    top: -11px;
                    background: white;
                    padding: 0 5px;
                }
            }
        }

        .activity-item--icon i {
            color: $activityColorBlank ;
        }

        // Non defined
        &.failure .activity-item--icon i {
            color: $activityColorDelete;
        }

        &.success .activity-item--icon i {
            color: $activityColorNew;
        }

        &.changed-group .activity-item--icon i {
            color: $activityColorModify;
        }

        &.changed-package .activity-item--icon i {
            color: adjust-hue($activityColorModify, 20);
        }

        &.changed-package_extra .activity-item--icon i {
            color: adjust-hue($activityColorModify, -20);
        }

        &.changed-user .activity-item--icon i {
            color: adjust-hue($activityColorModify, -40);
        }

        &.changed-organization .activity-item--icon i {
            color: adjust-hue($activityColorNew, 50);
        }

        &.deleted-group .activity-item--icon i {
            color: $activityColorDelete;
        }

        &.deleted-package .activity-item--icon i {
            color: adjust-hue($activityColorDelete, 20);
        }

        &.deleted-package_extra .activity-item--icon i {
            color: adjust-hue($activityColorDelete, -20);
        }

        &.deleted-organization .activity-item--icon i {
            color: adjust-hue($activityColorDelete, -40);
        }

        &.new-group .activity-item--icon i {
            color: $activityColorNew;
        }

        &.new-package .activity-item--icon i {
            color: adjust-hue($activityColorNew, 20);
        }

        &.new-package_extra .activity-item--icon i {
            color: adjust-hue($activityColorNew, -20);
        }

        &.new-user .activity-item--icon i {
            color: adjust-hue($activityColorNew, 40);
        }

        &.new-organization .activity-item--icon i {
            color: adjust-hue($activityColorNew, -40);
        }

        &.deleted-related-item .activity-item--icon i {
            color: adjust-hue($activityColorDelete, 60);
        }

        &.follow-dataset .activity-item--icon i {
            color: $activityColorNeutral;
        }

        &.follow-user .activity-item--icon i {
            color: adjust-hue($activityColorNeutral, 20);
        }

        &.new-related-item .activity-item--icon i {
            color: adjust-hue($activityColorNew, -60);
        }

        &.follow-group .activity-item--icon i {
            color: adjust-hue($activityColorNew, -50);
        }
    }

    @media (min-width: 576px) {
        .activity-item {
            .activity-item--wrapper {
                .activity-item--meta {
                    .meta--version,
                    .meta--changes {
                        flex-basis: auto;
                    }
                }
            }
        }
    }
}

.activity_buttons {
    display: flex;
    gap: .5rem;

    &>a.btn.disabled {
        color: inherit;
        opacity: 0.70;
    }
}

// For profile information that appears in the popover
.popover {
    width: 300px;

    .popover-title {
        font-weight: bold;
        margin-bottom: 0;
    }

    p.about {
        margin: 0 0 10px 0;
    }

    .popover-close {
        float: right;
        text-decoration: none;
    }

    .empty {
        padding: 10px;
        color: $activityColorEmpty;
        font-style: italic;
    }
}

.select-time {
    width: 250px;
    display: inline;
}

br.line-height2 {
    line-height: 2;
}

.pull-right {
    float: right;
}
