{% import 'macros/form.html' as form %}

<form id="organization-edit-form" class="dataset-form" method="post" data-module="basic-form"
  enctype="multipart/form-data">

  {% block error_summary %}
    {{ form.errors(error_summary) }}
  {% endblock %}

  {% block basic_fields %}
    {{ form.input('title', label=_('a.s. test Title'), value=data.title, error=errors.title) }}

    {% macro input(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], attrs={'class': 'form-control'}, is_required=false) %}

      {%- set extra_html = caller() if caller -%}

      {% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
        <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}"
          placeholder="{{ placeholder }}" {{ attributes(attrs) }} />
      {% endcall %}
    {% endmacro %}
  {% endblock %} 
  
  {% block custom_fields %} 
    {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors,limit=3 %} 
  {% endblock %}

  {{ form.required_message() }}

  <div class="form-actions">
    {% block delete_button %}
    {% endblock %}
    <button class="btn btn-primary" name="save"
      type="submit">{% block save_text %}{{ _('Save Organization') }}{% endblock %}</button>
  </div>

</form>
