{% ckan_extends %}

{% block resource_actions_inner %}
  {{ super() }}
  {% if res.datastore_active %}
    <li>{% snippet 'package/snippets/data_api_button.html', resource=res %}</li>
  {% endif %}
{% endblock %}

{% block resource_additional_information_inner %}
  {% if res.datastore_active %}
    {% snippet 'datastore/snippets/dictionary_view.html',
      ddict=h.datastore_dictionary(res.id), res=res %}
  {% endif %}
  {{ super() }}
{% endblock %}

{% block action_manage_inner %}
  {{ super() }}
  {% if res.datastore_active %}
    <li>{% link_for _('Data Dictionary'), named_route='datastore.dictionary', id=pkg.name, resource_id=res.id, class_='btn btn-default', icon='code' %}
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset "ckanext_datastore/datastore" %}
{% endblock %}
