<section class="module module-shallow module-narrow">
  <h2 class="module-heading">{{ _('Nothing new on CKAN?') }}</h2>
  <nav>
    <ul class="unstyled nav nav-simple">
      <li class="nav-item">{% link_for _('Add a new dataset'), controller='package', action='new' %}</li>
      <li class="nav-item">{% link_for _('Follow another user'), controller='user', action='index' %}</li>
      <li class="nav-item">{% link_for _('Create a group or a tag'), controller='group', action='index' %}</li>
      <li class="nav-item">{% link_for _('Or simply browse the repository'), controller='package', action='search' %}</li>
    </ul>
  </nav>
</section>
