<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Set author email of {pkg_link} to {new_author_email} (previously {old_author_email})').format(
            pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
              pkg_url = h.url_for(controller='dataset',
                                  action='read', id=change.pkg_id),
              pkg_name = change.title
            )|safe,
            new_author_email = '<a href="{new_email_link}">{new_email}</a>'.format(
              new_email_link = "mailto:" + change.new_author_email,
              new_email = change.new_author_email
            )|safe,
            old_author_email = '<a href="{old_email_link}">{old_email}</a>'.format(
              old_email_link = "mailto:" + change.old_author_email,
              old_email = change.old_author_email
            )|safe
          )}}

    {% elif change.method == "add" %}

      {{ _('Set author email of {pkg_link} to {new_author_email}').format(
          pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
            pkg_url = h.url_for(controller='dataset', action='read', id=change.pkg_id),
            pkg_name = change.title
          )|safe,
          new_author_email = '<a href="{new_email_link}">{new_email}</a>'.format(
            new_email_link = "mailto:" + change.new_author_email,
            new_email = change.new_author_email
          )|safe
      ) }}

    {% elif change.method == "remove" %}

      {{ _('Removed author email from {pkg_link}').format(
          pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
            pkg_url = h.url_for(controller='dataset', action='read', id=change.pkg_id),
            pkg_name = change.title
          )|safe
      )}}

    {% else %}

      {{ _('No fields were updated. See the metadata diff for more details.') }}

    {% endif %}
  </p>
</li>
