<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Set author email of {pkg_link} to {new_author_email} (previously {old_author_email})').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_author_email = h.link_to(change.new_author_email, "mailto:" + change.new_author_email),
        old_author_email = h.link_to(change.old_author_email, "mailto:" + change.old_author_email)
        )}}

    {% elif change.method == "add" %}

      {{ _('Set author email of {pkg_link} to {new_author_email}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_author_email = h.link_to(change.new_author_email, "mailto:" + change.new_author_email)
        ) }}

    {% elif change.method == "remove" %}

      {{ _('Removed author email from {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id)
        )}}

    {% else %}

      {{ _('No fields were updated. See the metadata diff for more details.') }}

    {% endif %}
  </p>
</li>
