<li>
  <p>
    {% if change.method == "change" %}
      {{ _('Set author of <a href="{pkg_url}">{dataset}</a> to
          {new_author} (previously {old_author})').format(
            pkg_url = h.url_for(controller='dataset', action='read', id=change.pkg_id),
            dataset = change.title,
            new_author = change.new_author,
            old_author = change.old_author
          )|safe }}
    {% elif change.method == "add" %}
      {{ _('Set author of <a href="{pkg_url}">{dataset}</a> to
          {new_author}').format(
            pkg_url = h.url_for(controller='dataset', action='read', id=change.pkg_id),
            dataset = change.title,
            new_author = change.new_author
          )|safe }}
    {% elif change.method == "remove" %}
      {{ _('Removed author from <a href="{pkg_url}">{dataset}</a>').format(
        pkg_url = h.url_for(controller='dataset', action='read', id=change.pkg_id),
        dataset = change.title
      )|safe }}
    {% else %}
      {{ _('No fields were updated. See the metadata diff for more details.') }}
    {% endif %}
  </p>
</li>
