<li>
  <p>
    {% if change.method == "change" %}
      {{ _('Set author email of <a href="{pkg_url}">{dataset}</a> to
          <a href="{new_author_email_link}">{new_author_email}</a>
          (previously <a href="{old_author_email_link}">
          {old_author_email}</a> )').format(
            pkg_url = h.url_for(controller='dataset', action='read', id=change.pkg_id),
            dataset = change.title,
            new_author_email = change.new_author_email,
            new_author_email_link = "mailto:" + change.new_author_email,
            old_author_email = change.old_author_email,
            old_author_email_link = "mailto:" + change.old_author_email
          )|safe }}
    {% elif change.method == "add" %}
      {{ _('Set author email of <a href="{pkg_url}">{dataset}</a> to
          <a href="{new_author_email_link}">{new_author_email}</a>').format(
            pkg_url = h.url_for(controller='dataset', action='read', id=change.pkg_id),
            dataset = change.title,
            new_author_email = change.new_author_email,
            new_author_email_link = "mailto:" + change.new_author_email
          )|safe }}
    {% elif change.method == "remove" %}
      {{ _('Removed author email from <a href="{pkg_url}">{dataset}</a>').format(
        pkg_url = h.url_for(controller='dataset', action='read', id=change.pkg_id),
        dataset = change.title
      )|safe }}
    {% else %}
      {{ _('No fields were updated. See the metadata diff for more details.') }}
    {% endif %}
  </p>
</li>
