<li>
  <p>
    {% if ah.method == "add1" %}
      {{ _('Added field <q>{field_name}</q> with value
        <q>{field_val}</q> to <a href="{pkg_url}">{dataset}</a>').format(
          pkg_url = h.url_for(controller='dataset', action='read', id=ah.pkg_id),
          dataset = ah.title,
          field_name = ah.field_name,
          field_val = ah.field_val
        )|safe }}
    {% elif ah.method == "add2" %}
      {{ _('Added field <q>{field_name}</q>
        to <a href="{pkg_url}">{dataset}</a>').format(
          pkg_url = h.url_for(controller='dataset', action='read', id=ah.pkg_id),
          dataset = ah.title,
          field_name = ah.field_name
        )|safe }}
    {% elif ah.method == "add3" %}
      {{ _('Added the following fields to <a href="{pkg_url}">{dataset}
          </a>').format(
            pkg_url = h.url_for(controller='dataset', action='read', id=ah.pkg_id),
            dataset = ah.title
          )|safe }}
      <ul>
        {% for item in ah.fields %}
          <li>
            {% if ah.field_vals[item] != "" %}
              {{ _('{key} with value {value}').format(
                key = item,
                value = ah.field_vals[item]
              )|safe }}
            {% else %}
              {{ _('{key}').format(
                key = item
              )|safe }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% elif ah.method == "change1" %}
      {{ _('Changed value of field <q>{field}</q> to <q>{new_val}</q>
          (previously <q>{old_val}</q>) in <a href="{pkg_url}">
          {dataset}</a>').format(
            pkg_url = h.url_for(controller='dataset', action='read', id=ah.pkg_id),
            dataset = ah.title,
            field = ah.field_name,
            new_val = ah.field_val_new,
            old_val = ah.field_val_old
          )|safe }}
    {% elif ah.method == "change2" %}
      {{ _('Changed value of field <q>{field}</q> to <q>{new_val}</q>
        in <a href="{pkg_url}">{dataset}</a>').format(
          pkg_url = h.url_for(controller='dataset', action='read', id=ah.pkg_id),
          dataset = ah.title,
          field = ah.field_name,
          new_val = ah.field_val_new,
        )|safe }}
    {% elif ah.method == "remove1" %}
      {{ _('Removed field <q>{field}</q> from
        <a href="{pkg_url}">{dataset}</a>').format(
          pkg_url = h.url_for(controller='dataset', action='read', id=ah.pkg_id),
          dataset = ah.title,
          field = ah.field_name,
        )|safe }}
    {% elif ah.method == "remove2" %}
      {{ _('Removed the following fields from <a href="{pkg_url}">{dataset}
          </a>').format(
          pkg_url = h.url_for(controller='dataset', action='read', id=ah.pkg_id),
          dataset = ah.title
        )|safe }}
      <ul>
        {% for item in ah.fields %}
          <li>
            {{ _('<q>{field}</q>').format(
                field = item
            )| safe }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </p>
</li>
