<li>
  <p>
    {% if ah.method == "change" %}
      {{ _('Updated description of <a href="{pkg_url}">{dataset}</a> from
            <br style="line-height:2;"><blockquote>{old_desc}</blockquote>
            to <br style="line-height:2;"><blockquote>{new_desc}
            </blockquote>').format(
              pkg_url = h.url_for(controller='dataset', action='read', id=ah.pkg_id),
              dataset = ah.title,
              old_desc = ah.old_desc,
              new_desc = ah.new_desc
          )|safe }}
    {% elif ah.method == "add" %}
      {{ _('Updated description of <a href="{pkg_url}">{dataset}</a>
            to <br style="line-height:2;"><blockquote>{new_desc}
            </blockquote>').format(
              pkg_url = h.url_for(controller='dataset', action='read', id=ah.pkg_id),
              dataset = ah.title,
              new_desc = ah.new_desc
          )|safe }}
    {% elif ah.method == "remove" %}
      {{ _('Removed description from <a href="{pkg_url}">{dataset}
          </a>').format(
            pkg_url = h.url_for(controller='dataset', action='read', id=ah.pkg_id),
            dataset = ah.title
          )|safe }}
    {% endif %}
  </p>
</li>
