<li>
  <p>
    {% if ah.method == "change" %}
      {{ _('Set maintainer of <a href="{pkg_url}">{dataset}</a> to
          {new_maintainer} (previously {old_maintainer})').format(
            pkg_url = h.url_for(controller='dataset', action='read', id=ah.pkg_id),
            dataset = ah.title,
            new_maintainer = ah.new_maintainer,
            old_maintainer = ah.old_maintainer
          )|safe }}
    {% elif ah.method == "add" %}
      {{ _('Set maintainer of <a href="{pkg_url}">{dataset}</a> to
          {new_maintainer}').format(
            pkg_url = h.url_for(controller='dataset', action='read', id=ah.pkg_id),
            dataset = ah.title,
            new_maintainer = ah.new_maintainer
          )|safe }}
    {% elif ah.method == "remove" %}
      {{ _('Removed maintainer from <a href="{pkg_url}">{dataset}</a>').format(
        pkg_url = h.url_for(controller='dataset', action='read', id=ah.pkg_id),
        dataset = ah.title
      )|safe }}
    {% else %}
      {{ _('No fields were updated. See the metadata diff for more details.') }}
    {% endif %}
  </p>
</li>
