<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Set maintainer email of {pkg_link} to {new_email} (previously {old_email})').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_email = h.link_to(change.new_maintainer_email, "mailto:" + change.new_maintainer_email),
        old_email = h.link_to(change.old_maintainer_email, "mailto:" + change.old_maintainer_email)
        ) }}

    {% elif change.method == "add" %}

      {{ _('Set maintainer email of {pkg_link} to {new_email}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_email = h.link_to(change.new_maintainer_email, "mailto:" + change.new_maintainer_email)
        ) }}

    {% elif change.method == "remove" %}

      {{ _('Removed maintainer email from {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id)
        ) }}

    {% else %}

      {{ _('No fields were updated. See the metadata diff for more details.') }}

    {% endif %}
  </p>
</li>
