<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Set maintainer email of {pkg_link} to {new_email} (previously {old_email})').format(
             pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
               pkg_url = h.url_for(controller='dataset',
                                   action='read', id=change.pkg_id),
               pkg_name = change.title
             )|safe,
             new_email = '<a href="{new_maintainer_email_link}">{new_maintainer_email}</a>'.format(
               new_maintainer_email = change.new_maintainer_email,
               new_maintainer_email_link = "mailto:" + change.new_maintainer_email
             )|safe,
             old_email = '<a href="{old_maintainer_email_link}">{old_maintainer_email}</a>'.format(
               old_maintainer_email = change.old_maintainer_email,
               old_maintainer_email_link = "mailto:" + change.old_maintainer_email
             )|safe
      ) }}

    {% elif change.method == "add" %}

      {{ _('Set maintainer email of {pkg_link} to {new_email}').format(
            pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
              pkg_url = h.url_for(controller='dataset',
                                  action='read', id=change.pkg_id),
              pkg_name = change.title
            )|safe,
            new_email = '<a href="{new_maintainer_email_link}">{new_maintainer_email}</a>'.format(
              new_maintainer_email = change.new_maintainer_email,
              new_maintainer_email_link = "mailto:" + change.new_maintainer_email
            )|safe
      ) }}

    {% elif change.method == "remove" %}

      {{ _('Removed maintainer email from {pkg_link}').format(
          pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
            pkg_url = h.url_for(controller='dataset',
                                action='read', id=change.pkg_id),
            pkg_name = change.title
          )|safe
      ) }}

    {% else %}

      {{ _('No fields were updated. See the metadata diff for more details.') }}

    {% endif %}
  </p>
</li>
