<li>
  <p>
    {{ _('Moved {pkg_link} from {old_link} to {new_link}').format(
          pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
            pkg_url = h.url_for(controller='dataset',
                                action='read', id=change.pkg_id),
            pkg_name = change.title
          )|safe,
          old_link = '<a href="{old_url}">{old_url}</a>'.format(
            old_url = h.url_for(qualified=True,
              controller='dataset', action='read', id=change.old_name)
          )|safe,
          new_link = '<a href="{new_url}">{new_url}</a>'.format(
            new_url = h.url_for(qualified=True,
              controller='dataset', action='read', id=change.new_name)
          )|safe
    ) }}
  </p>
</li>
