<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Moved {pkg_link} from organization {old_org_link} to organization {new_org_link}').format(
            pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
              pkg_url = h.url_for(controller='dataset',
                                  action='read', id=change.pkg_id),
              pkg_name = change.title
            )|safe,
            old_org_link = '<a href="{old_url}">{old_name}</a>'.format(
              old_url = h.url_for(controller='organization', action='read',
                id=change.old_org_id),
              old_name = change.old_org_title
            )|safe,
            new_org_link = '<a href="{new_url}">{new_name}</a>'.format(
              new_url = h.url_for(controller='organization', action='read',
                id=change.new_org_id),
              new_name = change.new_org_title
            )|safe
        ) }}

      {% elif change.method == "remove" %}

        {{ _('Removed {pkg_link} from organization {old_org_link}').format(
              pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
                pkg_url = h.url_for(controller='dataset',
                                    action='read', id=change.pkg_id),
                pkg_name = change.title
              )|safe,
              old_org_link = '<a href="{old_url}">{old_name}</a>'.format(
                old_url = h.url_for(controller='organization', action='read',
                  id=change.old_org_id),
                old_name = change.old_org_title
              )|safe
            ) }}

      {% elif change.method == "add" %}

        {{ _('Added {pkg_link} to organization {new_org_link}').format(
              pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
                pkg_url = h.url_for(controller='dataset',
                                    action='read', id=change.pkg_id),
                pkg_name = change.title
              )|safe,
              new_org_link = '<a href="{new_url}">{new_name}</a>'.format(
                new_url = h.url_for(controller='organization', action='read',
                  id=change.new_org_id),
                new_name = change.new_org_title
              )|safe
        ) }}
      {% else %}

        {{ _('No fields were updated. See the metadata diff for more details.') }}

    {% endif %}
  </p>
</li>
