<li>
  <p>
    {% if change.method == "add" %}

    {{ _('Updated description of resource {resource_link} in {pkg_link} to <br class="line-height2"><blockquote>{new_desc}</blockquote>').format(
            pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
              pkg_url = h.url_for(controller='dataset',
                                  action='read', id=change.pkg_id),
              pkg_name = change.title
            )|safe,
            resource_link = '<a href="{resource_url}">{resource_name}</a>'.format(
              resource_url = h.url_for(qualified=True, controller='resource',
                                        action='read', id=change.pkg_id,
                                        resource_id = change.resource_id),
              resource_name = change.resource_name
            )|safe,
            new_desc = change.new_desc
          ) }}

    {% elif change.method == "remove" %}

      {{ _('Removed description from resource {resource_link} in {pkg_link}').format(
            pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
              pkg_url = h.url_for(controller='dataset',
                                  action='read', id=change.pkg_id),
              pkg_name = change.title
            )|safe,
            resource_link = '<a href="{resource_url}">{resource_name}</a>'.format(
              resource_url = h.url_for(qualified=True, controller='resource',
                                        action='read', id=change.pkg_id,
                                        resource_id = change.resource_id),
              resource_name = change.resource_name
            )|safe
      )}}

    {% elif change.method == "change" %}

    {{ _('Updated description of resource {resource_link} in {pkg_link} from <br class="line-height2"><blockquote>{old_desc}</blockquote> to <br class="line-height2"><blockquote>{new_desc}</blockquote>').format(
            pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
              pkg_url = h.url_for(controller='dataset',
                                  action='read', id=change.pkg_id),
              pkg_name = change.title
            )|safe,
            resource_link = '<a href="{resource_url}">{resource_name}</a>'.format(
              resource_url = h.url_for(qualified=True, controller='resource',
                                        action='read', id=change.pkg_id,
                                        resource_id = change.resource_id),
              resource_name = change.resource_name
            )|safe,
            new_desc = change.new_desc,
            old_desc = change.old_desc
        ) }}

    {% else %}

      {{ _('No fields were updated. See the metadata diff for more details.') }}

    {% endif %}
  </p>
</li>
