<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Changed the source URL of {pkg_link} from {old_link} to {new_link}').format(
            pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
              pkg_url = h.url_for(controller='dataset',
                                  action='read', id=change.pkg_id),
              pkg_name = change.title
            )|safe,
            old_link = '<a href="{old_url}">{old_url_name}</a>'.format(
              old_url = "http://" + change.old_url if not change.old_url[0:4] == "http" else change.old_url,
              old_url_name = change.old_url
            )|safe,
            new_link = '<a href="{new_url}">{new_url_name}</a>'.format(
              new_url = "http://" + change.new_url if not change.new_url[0:4] == "http" else change.new_url,
              new_url_name = change.new_url
            )|safe
      ) }}

    {% elif change.method == "remove" %}

      {{ _('Removed the source URL from {pkg_link}').format(
            pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
              pkg_url = h.url_for(controller='dataset',
                                  action='read', id=change.pkg_id),
              pkg_name = change.title
            )|safe
      ) }}

    {% elif change.method == "add" %}

      {{ _('Changed the source URL of {pkg_link} to {new_link}').format(
            pkg_link = '<a href="{pkg_url}">{pkg_name}</a>'.format(
              pkg_url = h.url_for(controller='dataset',
                                  action='read', id=change.pkg_id),
              pkg_name = change.title
            )|safe,
            new_link = '<a href="{new_url}">{new_url_name}</a>'.format(
              new_url = "http://" + change.new_url if not change.new_url[0:4] == "http" else change.new_url,
              new_url_name = change.new_url
            )|safe
      ) }}

    {% else %}

      {{ _('No fields were updated. See the metadata diff for more details.') }}

    {% endif %}
  </p>
</li>
