<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Changed the version of {pkg_link} to {new_version} (previously {old_version})').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        old_version = change.old_version,
        new_version = change.new_version
        ) }}

    {% elif change.method == "remove" %}

      {{ _('Removed the version from {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        ) }}

    {% elif change.method == "add" %}

      {{ _('Changed the version of {pkg_link} to {new_version}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_version = change.new_version
        ) }}

    {% else %}

      {{ _('No fields were updated. See the metadata diff for more details.') }}

    {% endif %}
  </p>
</li>
