<li>
  <p>
    {% if change.method == "change" %}
      {{ _('Changed the version of <a href="{pkg_url}">{dataset}</a>
          to {new_version} (previously {old_version})').format(
            pkg_url = h.url_for(controller='dataset', action='read', id=change.pkg_id),
            dataset = change.title,
            old_version = change.old_version,
            new_version = change.new_version
          )|safe }}
    {% elif change.method == "remove" %}
      {{ _('Removed the version from <a href="{pkg_url}">{dataset}
          </a>').format(
            pkg_url = h.url_for(controller='dataset', action='read', id=change.pkg_id),
            dataset = change.title
          )|safe }}
    {% elif change.method == "add" %}
      {{ _('Changed the version of <a href="{pkg_url}">{dataset}</a>
          to {new_version}').format(
            pkg_url = h.url_for(controller='dataset', action='read', id=change.pkg_id),
            dataset = change.title,
            new_version = change.new_version
          )|safe }}
    {% else %}
      {{ _('No fields were updated. See the metadata diff for more details.') }}
    {% endif %}
  </p>
</li>
