include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/viewcount *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/viewcount/migration *.ini *.py *.mako
