upstream wsgi_server_{{application_name}} {
  server 127.0.0.1:5000 fail_timeout=0;
}

upstream wsgi_server_datapusher {
  server 127.0.0.1:5001 fail_timeout=0;
}

proxy_next_upstream off;

server {
    listen 127.0.0.1:8800;

    location / {
        proxy_pass http://wsgi_server_datapusher;
    }
}

server {
    listen 80;
    server_name {{nginx_server_name}};

    client_max_body_size 4G;

    access_log {{nginx_access_log_file}};
    error_log {{nginx_error_log_file}};

    location /static/ {
        alias {{nginx_static_dir}};
        expires 1d;
        add_header Pragma public;
        add_header Cache-Control "public";
    }

    location /media/ {
        alias {{nginx_media_dir}};
    }

    location / {
        if (-f {{virtualenv_path}}/maintenance_on.html) {
            return 503;
        }

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://wsgi_server_{{application_name}};
    }

    error_page 500 502 504 /500.html;
    location = /500.html {
        root {{django_dir}}/templates/;
    }

    error_page 503 /maintenance_on.html;
    location = /maintenance_on.html {
        root {{virtualenv_path}}/;
    }
}
