[program:{{ application_name }}]
directory = {{ git_root }}
command = {{ virtualenv_path }}/bin/paster serve /etc/ckan/default/ckan.ini
user = {{ gunicorn_user }}
stdout_logfile = {{ application_log_dir }}/supervisord/gunicorn_supervisor.log
redirect_stderr = true
