[program:{{ application_name }}]
directory = {{ git_root }}
user = {{ gunicorn_user }}
command = {{ virtualenv_path }}/bin/paster serve /etc/ckan/default/ckan.ini
stdout_logfile = {{ application_log_dir }}/supervisord/gunicorn_supervisor.log
redirect_stderr = true

[program:datapusher]
directory = {{datapusher_root}}/src
user = {{ gunicorn_user }}
stdout_logfile = {{ application_log_dir }}/supervisord/datapusher.log
redirect_stderr = true
command = bash -c "
  set -ex;
  source {{datapusher_root}}/bin/activate;
  export LANG=C LC_ALL=C;
  exec {{datapusher_root}}/bin/gunicorn wsgi:application \
        --workers 1 \
        --bind=127.0.0.1:5001
  "
