#!/bin/bash

echo 'variables'
export DJANGO_SECRET_KEY='{{ django_secret_key }}'
export DB_NAME='{{ db_name }}'
export DB_USER='{{ db_user }}'
export DB_PASSWORD='{{ db_password }}'
export DJANGO_SETTINGS_MODULE='{{ django_settings_file }}'
{% if rds_info is defined %}
export DB_HOST='{{ rds_info.instance.endpoint }}'
{% else %} 
export DB_HOST='{{ db_host | default("", true) }}'
{% endif %}

export PYTHONDONTWRITEBYTECODE=x
