{% set dataset_type = h.default_package_type() %}

<div class="context-info">
  {% if about != 'null' %}
    {% set about = about|striptags %}
    <p class="about">
      {{ about|truncate(160) }}
    </p>
  {% endif %}
  <div class="btn-group">
    {% if is_me == 'false' %}
      {{ h.follow_button('user', id) }}
    {% endif %}
  </div>
  <div class="nums">
    <dl>
      <dt>{{ _('Followers') }}</dt>
      <dd>{{ h.SI_number_span(num_followers) }}</dd>
    </dl>
    <dl>
      <dt>{{ h.humanize_entity_type('package', dataset_type, 'facet label') or _('Datasets') }}</dt>
      <dd>{{ h.SI_number_span(number_created_packages) }}</dd>
    </dl>
  </div>
</div>
