{% extends "user/read.html" %}

{% block subtitle %}{{ _('Activity Stream') }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">
    {% block page_heading -%}
      {{ _('Activity Stream') }}
    {%- endblock %}
  </h1>
  {% snippet 'snippets/stream.html', activity_stream=activity_stream, id=id, object_type='user' %}

  {% snippet 'snippets/pagination.html', newer_activities_url=newer_activities_url, older_activities_url=older_activities_url %}
{% endblock %}
