{% ckan_extends %}

{% block breadcrumb_content %}
  <li class="active"><a href="{{ h.url_for('activity.dashboard') }}">{{ _('Dashboard') }}</a></li>
{% endblock %}

{% block dashboard_nav_links %}
  {{ h.build_nav_icon('activity.dashboard', _('News feed'), icon='list') }}
  {{ super() }}
{% endblock %}

{% block primary_content_inner %}
  {% snippet 'user/snippets/news_feed.html',
  dashboard_activity_stream=dashboard_activity_stream,
  dashboard_activity_stream_context=dashboard_activity_stream_context,
  id=id,
  followee_list=followee_list,
  newer_activities_url=newer_activities_url,
  older_activities_url=older_activities_url %}
{% endblock %}