[main]

dont_bundle =
	ckanext-pdfview/vendor/pdfjs/pdf.js
	ckanext-pdfview/vendor/l10n/locale.properties.js

[depends]

main = base/main

[groups]

main =
    vendor/webL10n/l10n.js
    vendor/pdfviewer/compatibility.js
    vendor/pdfviewer/viewer.js
    pdfview.js

    vendor/pdfviewer/viewer.css
    css/pdf.css
