{% extends "user/dashboard.html" %}

{% set group_type = h.default_group_type('organization') %}
{% set group_type_label = h.humanize_entity_type(group_type) %}

{% block dashboard_activity_stream_context %}{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('organization_create') %}
    {% link_for _('Add ' ~ group_type_label.capitalize()), named_route=group_type ~ '.new', class_="btn btn-primary", icon="plus-square" %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h2 class="hide-heading">{{ _('My ' ~ group_type_label.capitalize() ~ 's') }}</h2>
  {% set organizations = h.organizations_available(permission='manage_group',
    include_dataset_count=True) %}
  {% if organizations %}
    <div class="wide">
      {% snippet "organization/snippets/organization_list.html", organizations=organizations, show_capacity=True %}
    </div>
  {% else %}
    <p class="empty">
      {{ _('You are not a member of any ' ~ group_type_label ~ 's.') }}
      {% if h.check_access('organization_create') %}
        {% link_for _('Create one now?'), named_route=group_type ~ '.new' %}
      {% endif %}
    </p>
  {% endif %}
{% endblock %}
