{% extends "user/dashboard.html" %}

{% set group_type = h.default_group_type('group') %}
{% set group_type_label = h.humanize_entity_type(group_type).capitalize() %}


{% block dashboard_activity_stream_context %}{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('group_create') %}
    {% link_for _('Add ' ~ group_type_label), named_route=group_type ~ '.new', class_="btn btn-primary", icon="plus-square" %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h2 class="hide-heading">{{ _('My ' ~ group_type_label ~ 's') }}</h2>
  {% set groups = h.groups_available(am_member=True) %}
  {% if groups %}
    <div class="wide">
      {% snippet "group/snippets/group_list.html", groups=groups %}
    </div>
  {% else %}
    <p class="empty">
      {{ _('You are not a member of any ' ~ group_type_label ~ 's.') }}
      {% if h.check_access('group_create') %}
        {% link_for _('Create one now?'), named_route=group_type ~ '.new' %}
      {% endif %}
    </p>
  {% endif %}
{% endblock %}
