{% extends 'page.html' %}

{% set user = c.userobj %}

{% block breadcrumb_content %}
  <li>{% link_for _('User'), controller='user', action='index' %}</li>
  <li>{% link_for user.display_name|truncate(35), controller='user', action='read', id=user.name %}</li>
  <li class="active">{% link_for _('Edit'), controller='user', action='edit', id=user.name %}</li>
{% endblock %}

{% block actions_content %}
  {% snippet 'user/snippets/back_to_user_action.html', user=user %}
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      {{ c.form | safe }}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-medium icon-info-sign"></i> {{ _('Account Info') }}</h2>
    <div class="module-content">
      {% trans %}
        Your profile lets other CKAN users know about who you are and what you
        do.
      {% endtrans %}
    </div>
  </section>
{% endblock %}
