{% extends 'user/edit_base.html' %}

{% block actions_content %}
  
{% endblock %}

{% block primary_content_inner %}
    {{ c.form | safe }}
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-medium icon-info-sign"></i> {{ _('Account Info') }}</h2>
    <div class="module-content">
      {% trans %}
        Your profile lets other CKAN users know about who you are and what you
        do.
      {% endtrans %}
    </div>
  </section>
{% endblock %}
