{% extends "page.html" %}

{% set user = c.userobj %}

{% block subtitle %}{{ _('Dashboard') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active"><a href="{{ h.url_for(controller='user', action='dashboard') }}">{{ _('Dashboard') }}</a></li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    {% block page_header %}
      <header class="module-content page-header">
        <ul class="nav nav-tabs">
          {% block page_header_tabs %}
            {{ h.build_nav_icon('user_dashboard', _('News feed')) }}
            {{ h.build_nav_icon('user_edit', _('Settings'), id=user.name) }}
          {% endblock %}
        </ul>
      </header>
    {% endblock %}
    <div class="module-content">
      {% block primary_content_inner %}{% endblock %}
    </div>
  </article>
{% endblock %}
