{% extends "user/read.html" %}

{% block subtitle %}{{ _('Followers') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{{ h.nav_link(_('Home'), controller='user', action='me') }}</li>
  {% with title = _('Your Profile') if c.is_myself  else c.user_dict.display_name %}
    <li>{% link_for title|truncate(35), controller='user', action='read', id=c.user_dict.name %}</li>
  {% endwith %}
  <li class="active">{{ h.nav_link(_('Followers'), controller='user', action='followers', id="") }}</li>
{% endblock %}



{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Followers').format(name=c.user_dict.display_name) }}</h1>
      <ul class="userlist unstyled">
        {% for follower in c.followers %}
          <li class="user">{{ h.linked_user(follower['name'], maxlength=20) }}</li>
        {% endfor %}
      </ul>
    </div>
  </article>
{% endblock %}
