<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <xi:include href="../revision/common.html" />

  <py:def function="page_title">Account - Home</py:def>

  <div py:match="content">

    <h2>My Account</h2>
    <p>You are logged in as: <strong>${c.user}</strong></p>

    <p>To logout <a href="${h.url_for('/logout_openid')}">
      click here</a>.</p>

    <p>To view your API key <a href="${h.url_for(controller='user', action='apikey')}">
      click here</a>.</p>

    <h3>Your Recent Activity</h3>
    <table border="1">
      <tr>
        <th>Revision</th><th>Timestamp</th><th>Author</th><th>Packages</th><th>Log Message</th>
      </tr>
      <py:for each="revision in c.activity">
      ${revision_row(revision)}
      </py:for>
    </table>

  </div>

  <xi:include href="layout.html" />
</html>
