{% extends "page.html" %}

{% block title %}{{ _('All Users') }} - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('active'), controller='user', action='index') }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Users') }}</h1>
      <table class="table table-bordered">
        {% for user in c.page.items %}
          <tr><td class="media">{{ h.linked_user(user['name'], maxlength=20) }}</td></tr>
        {% endfor %}
      </table>
    </div>
    {{ c.page.pager(q=c.q, order_by=c.order_by) }}
  </article>
{% endblock %}

{% block secondary_content %}
  {% snippet 'user/snippets/user_search.html' %}
{% endblock %}
