{% extends "user/login.html" %}

{% block subtitle %}{{ _('Register') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Registration'), named_route='user.register') }}</li>
{% endblock %}

{% block page_heading %}{{ _('Register for an Account') }}{% endblock %}

{% block form %}
  {{ form | safe }}
{% endblock %}

{% block primary_content_inner %}
  {% block help %}
    {% block help_inner %}
    <p>{% trans %}Create datasets, groups and other exciting things{% endtrans %}</p>
    {% endblock %}
  {% endblock %}
{% endblock %}