{% extends "user/read_base.html" %}

{% block page_primary_action %}
  {% if h.check_access('package_create') and user.datasets %}
    {% snippet 'snippets/add_dataset.html' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h2 class="hide-heading">
    {% block page_heading %}{{ _('Datasets') }}{% endblock %}
  </h2>
  {% block package_list %}
  {% if user.datasets %}
    {% snippet 'snippets/package_list.html', packages=user.datasets %}
  {% else %}

    {% if is_myself %}
      <p class="empty">
        {{ _('You haven\'t created any datasets.') }}
        {% if h.check_access('package_create') %}
          {% link_for _('Create one now?'), controller='package', action='new' %}
        {% endif %}
      </p>
    {% else %}
      <p class="empty">
        {{ _('User hasn\'t created any datasets.') }}
      </p>
    {% endif %}
  {% endif %}
  {% endblock %}
{% endblock %}
