<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Reset password</py:def>

  <py:def function="optional_head">
    <link rel="stylesheet" href="${g.site_url}/css/forms.css" type="text/css" media="screen, print" />
  </py:def>

  <div py:match="content">
    <h2>
      Request a password reset
    </h2>

    <form id="user-password-reset" action="" method="post" class="simple-form" 
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      >
      <fieldset>
        <legend>Reset password</legend>
        <label for="user">User name:</label>
        <input name="user" value="" /><br/>
      </fieldset>

      <div>
        ${h.submit('reset', _('Reset password'))}
      </div>
    </form>
  </div>

  <xi:include href="layout.html" />
</html>

