{% extends "base.html" %}

{% block page %}

  <div data-module="recline_view"
       data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}"
       data-module-resource = "{{ h.dump_json(resource_json) }}";
       data-module-resource-view = "{{ h.dump_json(resource_view_json) }}";
       >
    <h4 class="loading-dialog">
      <div class="loading-spinner"></div>
      <div class="left">{{ _('Loading...') }}</div>
    </h4>
  </div>

  {% resource 'ckanext-reclineview/main' %}
{% endblock %}

{% block styles %}{% endblock %}
{% block custom_styles %}{% endblock %}
