{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block admin_form %}
  {{ super() }}
  {{ form.select('homepage_layout', label=_('Homepage'), options=[
      {'value': 1, 'text': 'Introductory area, search, featured group and featured organization'},
      {'value': 2, 'text': 'Search, featured dataset, stats and featured organization'}
    ], selected=1, error=false) }}
{% endblock %}

{% block admin_form_help %}
  {{ super() }}
  {% trans %}
    <p><strong>Homepage:</strong> This is for choosing a predefined layout for
      the modules that appear on your homepage.</p>
  {% endtrans %}
{% endblock %}
