{% extends "layout.html" %}
{%- set _layout = _layout | default("sidebar-start" if self.secondary()|trim else "no-sidebar") -%}

{% block main_content %}
  {{ self.flash() }}
  {{ self.toolbar() }}

  <div class="row ckan-layout--{{ _layout }} {{ self.wrapper_class() }}">
    {{ self.pre_primary() }}

    {%- if _layout == "no-sidebar" -%}
      {{ self.primary() }}

    {%- elif _layout == "sidebar-end" -%}
      {{ self.primary() }}
      {{ self.secondary() }}

    {%- else -%}
      {{ self.secondary() }}
      {{ self.primary() }}

    {%- endif %}
  </div>
{% endblock %}
