{% extends "page.html" %}

{% block subtitle %}{{ _("Confirm Delete") }}{% endblock %}

{% block maintag %}<div class="row" role="main">{% endblock %}

{% block main_content %}
  <section class="module col-md-6 col-md-offset-3">
    <div class="module-content">
      {% block form %}
      <p>
        {% if ent_type == 'all' %}
          {{ _('Are you sure you want to purge everything?') }}
        {% else %}
          {{ _('Are you sure you want to purge {}s?').format(ent_type) }}
        {% endif %}
      </p>
        <p class="form-actions">
          <form id="{{ ent_type }}-confirm-delete-form" action="{% url_for 'admin.trash', name='purge-' + ent_type %}" method="POST">
            <button class="btn btn-danger" type="submit" name="cancel">Cancel</button>
            <button class="btn btn-primary" type="submit" name="delete">{{ _('Confirm Delete') }}</button>
          </form>
        </p>
      {% endblock %}
    </div>
  </section>
{% endblock %}
