body {
  background-color: #fff;
}

.recline-query-editor form, .recline-query-editor .text-query {
  height: 28px;
}

.recline-query-editor input {
  font-size: 13px;
  padding: 4px !important;
}

.recline-query-editor .add-on {
  padding: 4px 5px !important;
}

.recline-pager .pagination {
  border: 0;
}

.recline-pager .pagination input {
  font-size: 13px;
}

.recline-pager .pagination a {
  border: 1px solid #DDD !important;
}

.recline-pager .pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.recline-pager .pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.recline-slickgrid {
  height: 550px;
}

/* needed for Chrome but not FF */
.header .recline-query-editor .add-on {
  margin-left: -27px;
}

/* needed for FF but not chrome */
.header .recline-query-editor .input-prepend {
  vertical-align: top;
}

#ckanext-datapreview {
  position: relative;
  overflow: auto;
}

#ckanext-datapreview iframe {
  min-height: 480px;
  border: 1px solid #ccc;
  padding: 7px;
}

.ckanext-datapreview-iframe {
  width: 100%;
}

img.ckanext-datapreview-direct-embed {
  max-height: 500px;
  max-width: 100%;
  overflow: hidden;
}
