{% import 'macros/form.html' as form %}

{% set data = data or {} %}
{% set errors = errors or {} %}

<form id='request-access-form' class="dataset-form" method="POST" action=''
  data-module="basic-form"
  enctype="multipart/form-data">
  {% block error_summary %}
    {{ form.errors(error_summary) }}
  {% endblock %}

  {% block basic_fields %}
    <p>
      <strong>Subject:</strong>
      {{ data.subject }}
    </p>

    {{ form.input('user_email', label=_('From'), value=data.user_email, error=errors.user_email, is_required=true) }}

    {{ form.textarea('user_msg', id='field-description', label=_('Description'), value=data.user_msg, error=errors.user_msg) }}

    <input type="hidden" id="subject" name="subject" value="{{ data.subject }}" class="form-control">

    <input type="hidden" id="maintainer_name" name="maintainer_name" value="{{ data.maintainer_name }}" class="form-control">

    <input type="hidden" id="maintainer_email" name="maintainer_email" value="{{ data.maintainer_email }}" class="form-control">

    {% macro input(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], attrs={'class': 'form-control'}, is_required=true) %}

      {%- set extra_html = caller() if caller -%}

      {% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
      <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}"
        placeholder="{{ placeholder }}" {{ attributes(attrs) }} />
      {% endcall %}
    {% endmacro %}
  {% endblock %}

  {{ form.required_message() }}

  <div class="form-actions">
    {% block form_actions %}
      <button class="btn btn-primary" type="submit" name="save" value="">{{ _("Submit Request") }}</button>
    {% endblock %}
  </div>

</form>
