<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def i18n:msg="" function="page_title">Statistics</py:def>

  <py:def function="page_heading">
    Statistics
  </py:def>

  <py:def function="optional_head">
    <style type="text/css">
      body #sidebar {
        display: none;
      }

      body #content {
        width: 950px;
      }

      .legend table {
        width: auto;
      }

      .graph {
        width: 950px;
        height: 300px;
        margin-bottom: 20px;
      }
    </style>
  </py:def>

  <py:match path="minornavigation">
    <ul class="tabbed">
      <li class="current-tab">
        <a href="">Home</a>
      </li>
    </ul>
  </py:match>

  <div py:match="content">
    <h3>Total number of Datasets</h3>
    <div id="new_packages_graph" class="graph"></div>

    <h3>Revisions to Datasets per week</h3>
    <div id="package_revisions_graph" class="graph"></div>

    <h3>Top Rated Datasets</h3>
    <table py:if="c.top_rated_packages">
      <tr><th>Dataset</th><th>Average rating</th><th>Number of ratings</th></tr>
      <tr py:for="package, rating, num_ratings in c.top_rated_packages">
        <td>${h.link_to(package.title or package.name, h.url_for(controller='package', action='read', id=package.name))}</td><td>${rating}</td><td>${num_ratings}</td>
      </tr>
    </table>
    <p py:if="not c.top_rated_packages">No ratings</p>

    <h3>Most Edited Datasets</h3>
    <table>
      <tr><th>Dataset</th><th>Number of edits</th></tr>
      <tr py:for="package, edits in c.most_edited_packages">
        <td>${h.link_to(package.title or package.name, h.url_for(controller='package', action='read', id=package.name))}</td><td>${edits}</td>
      </tr>
    </table>

    <h3>Largest Groups</h3>
    <table>
      <tr><th>Group</th><th>Number of datasets</th></tr>
      <tr py:for="group, num_packages in c.largest_groups">
        <td>${h.link_to(group.title or group.name, h.url_for(controller='group', action='read', id=group.name))}</td><td>${num_packages}</td>
      </tr>
    </table>

    <h3>Top Tags</h3>
    <table>
      <tr py:for="tag, num_packages in c.top_tags">
        <td>${h.link_to(tag.name, h.url_for(controller='tag', action='read', id=tag.name))}</td><td>${num_packages}</td>
      </tr>
    </table>
  
    <h3>Users owning most datasets</h3>
    <table>
      <tr py:for="user, num_packages in c.top_package_owners">
        <td>${h.linked_user(user)}</td><td>${num_packages}</td>
      </tr>
    </table>

    <p>
      Page last updated:
       <?python 
          import datetime
       ?>
      ${datetime.datetime.now().strftime('%c')}
    </p>
  </div>

  <py:def function="optional_footer">
    <script type="text/javascript">
      // HACKy
      $('body').addClass('no-sidebar');
    </script>

    <!--[if IE]><script language="javascript" type="text/javascript" src="http://assets.okfn.org/ext/flot/0.6/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="http://assets.okfn.org/ext/flot/0.6/jquery.flot.min.js">//pointless jscript comment</script>
    <script type="text/javascript">
      var options = {
          xaxis: {
            mode: "time",
            timeformat: "%y-%b"
          },
          yaxis: {
            min: 0
          },
          legend: {
            position: "nw"
          }
      };
      var data = [
        [ 
        <py:for each="week_date, num_packages, cumulative_num_packages in c.num_packages_by_week">
          [ new Date(${week_date.replace('-', ',')}), ${cumulative_num_packages} ],
        </py:for>
        ]
      ];
      $.plot($("#new_packages_graph"), data, options);
    </script>
    
    <script type="text/javascript">
      var options = {
          xaxis: {
            mode: "time",
            timeformat: "%y-%b"
          },
          legend: {
            position: "nw"
          },
          colors: ["#ffcc33", "#ff8844"]
      };
      var data = [
        {label: "All package revisions",
          lines: {
            fill: 1,
            },
        data: [ 
        <py:for each="week_date, revs, num_revisions, cumulative_num_revisions in c.package_revisions_by_week">
          [ new Date(${week_date.replace('-', ',')}), ${num_revisions} ],
        </py:for>
        ]},
        {label: "New datasets",
          lines: {
            fill: 1,
            },
        data: [ 
        <py:for each="week_date, pkgs, num_packages, cumulative_num_packages in c.new_packages_by_week">
          [ new Date(${week_date.replace('-', ',')}), ${num_packages} ],
        </py:for>
        ]},
      ];
      $.plot($("#package_revisions_graph"), data, options);
    </script>
  </py:def>
  <xi:include href="../../layout.html" />
</html>
