{% extends "group/read_base.html" %}

{% block subtitle %}{{ _('About') }} - {{ c.group_dict.display_name }}{% endblock %}

{% block primary_content_inner %}
  <h1>{% block page_heading %}{{ c.group_dict.display_name }}{% endblock %}</h1>
  {% block group_description %}
    {% if c.group_dict.description %}
      {{ h.render_markdown(c.group_dict.description) }}
    {% else %}
      <p class="empty">{{ _('There is no description for this group') }}</p>
  	{% endif %}
  {% endblock %}

  {% block group_extras %}
    {% snippet 'snippets/additional_info.html', extras = h.sorted_extras(c.group_dict.extras) %}
  {% endblock %}
{% endblock %}
