{% extends "group/edit_base.html" %}

{% block breadcrumb_content %}
  <li class="breadcrumb-item">
    <a href="{{ h.url_for(group_type + '.index') }}">
      {{ h.humanize_entity_type('group', group_type, 'breadcrumb') or _('Groups') }}
    </a>
  </li>
  <li class="breadcrumb-item active">
    {% block breadcrumb_link %}
      <a href="{{ h.url_for(group_type + '.new') }}" aria-current="page">
        {{ h.humanize_entity_type('group', group_type, 'add link') or _('Add a Group') }}
      </a>
    {% endblock %}
  </li>
{% endblock %}

{% block primary_content_inner %}
  <h1 class="{% block page_heading_class %}page-heading{% endblock %}">
    {% block page_heading %}
      {{ h.humanize_entity_type('group', group_type, 'form label') or _('Group Form'), }}
    {% endblock %}
  </h1>
  {% block form %}
    {{ form | safe }}
  {% endblock %}
{% endblock %}
