{% extends "page.html" %}

{% block title %}{{ _("Confirm Delete") }} - {{ super() }}{% endblock %}

{% block maintag %}<div class="row" role="main">{% endblock %}

{% block main_content %}
  <section class="module span6 offset3">
    <div class="module-content">
      <p>{{ _('Are you sure you want to delete group - {name}?').format(name=c.group_dict.name) }}</p>
      <p class="form-actions">
        <a class="btn" href="{% url_for controller='group', action='edit', id=c.group_dict.name %}">{{ _('Cancel') }}</a>
        <a class="btn btn-primary" href="{% url_for controller='group', action='delete', id=c.group_dict.name, confirm='yes' %}">{{ _('Confirm Delete') }}</a>
      </p>
    </div>
  </section>
{% endblock %}
