{% extends "group/base_form_page.html" %}

{% block breadcrumb_content %}
  <li class="breadcrumb-item"><a href="{{ h.url_for(group_type + '.index') }}"> {{ h.humanize_entity_type('group', group_type, 'breadcrumb') or _('Groups') }}</a></li>
  {% block breadcrumb_content_inner %}
    <li class="breadcrumb-item"><a href="{{ h.url_for(group_type + '.read', id=group.name) }}"> {{ group.display_name|truncate(35) }}</a></li>
    <li class="breadcrumb-item active"><a href="{{ h.url_for(group_type + '.edit', id=group.name) }}" aria-current="page"> {{ _('Manage') }}</a></li>
  {% endblock %}
{% endblock %}

{% block page_heading_class %}hide-heading{% endblock %}
{% block page_heading %}{{ h.humanize_entity_type('group', group_type, 'edit label') or _('Edit Group') }}{% endblock %}
