    <form action="" method="post"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      >
      ${h.literal(c.fieldset.render())}

     <div>
      <label class="field_opt">Packages</label>
      <py:for each="pkg in c.fieldset.model.packages">
        <input checked="checked" id="Group-packages-current" name="Group-packages-current" type="checkbox" value="${pkg.name}" />
        <label for="Group-packages_${pkg.name}" style="display: inline;">${pkg.name}</label>
      </py:for>
     </div>

      <h3>
        New Packages
      </h3>

      ${h.literal(c.fieldset2.render())}

      <br/>
      ${h.submit('commit', _('Save'))}
    </form>
