<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Groups - Edit - ${c.groupname}</py:def>

  <py:def function="optional_head">
    <link rel="stylesheet" href="/css/forms.css" type="text/css" media="screen, print" />

    <!-- Package autocomplete --> 
    <script type="text/javascript" src="/scripts/jquery.autocomplete.pack.js"></script> 
    <script type="text/javascript" src="/scripts/autocompleter.js"></script> 
    <link rel="stylesheet" href="/css/jquery.autocomplete.css" /> 
  </py:def>

  <div py:match="content">
    <h2>
      Edit Group: ${c.groupname}
    </h2>

    ${Markup(c.form)}
  </div>

  <xi:include href="layout.html" />
</html>

