<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:match path="primarysidebar">
    <div class="box">
      <h2>Groups section</h2>
      <p>Whilst tags are great at collecting packages together, there are occasions when you want to restrict users from editing a collection. A <strong>group</strong> can be set-up to specify which users have permission to add or remove packages from it.</p>
      <p py:if="not c.user">To create a new group, please first <a href="${h.url_for(controller='user',action='login', id=None)}">login</a>.</p>
      <p py:if="c.user"><a href="${h.url_for(controller='group',action='new', id=None)}">Create a new group</a></p>
    </div>
  </py:match>
  
  <py:match path="minornavigation">
    <li>${h.subnav_link(c, _('Home'), controller='group', action='index', id=None)}</li>
    <li>${h.subnav_link(c, _('Create a new group'), controller='group', action='new', id=None)}</li>
  </py:match>

  
  <xi:include href="../layout.html" />
</html>
