  <div
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

    <table py:match="paginatedlistitems">
      <tr><th>Title</th><th>Number of packages</th><th>Description</th></tr>
      <py:for each="item in c.page.items">
      <tr>
        <td><a href="${h.url_for(controller='group', action='read', id=item.name)}">${item.title}</a></td>
        <td>${len(item.packages)}</td>
        <td>${h.truncate(item.description, length=80, whole_word=True)}</td>
      </tr>
      </py:for>
    </table>
    <xi:include href="../paginated_list.html" />
  </div>