<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Groups - List</py:def>

  <div py:match="content">
    <h2>Groups</h2>
    <ul py:match="paginatedlistitems">
      <py:for each="item in c.page.items">
      <li>
        <a href="${h.url_for(controller='group', action='read', id=item.name)}">${item.name}</a>
				- (${len(item.packages)})
      </li>
      </py:for>
    </ul>
    <xi:include href="../paginated_list.html" />
  </div>

  <xi:include href="../layout.html" />
</html>

