{% extends "group/read_base.html" %}

{% block primary_content_inner %}
  <div class="module-content">
    <h1 class="page-heading">{% block page_heading %}{{ _('Members') }}{% endblock %}</h1>
    {% block members_list %}
    <table class="table table-bordered">
      {% if c.members %}
        <colgroup>
          <col width="62">
          <col width="20">
          <col width="18">
        </colgroup>
        {% for user_id, user, role in c.members %}
        <tr>
          <td class="media">{{ h.linked_user(user_id, maxlength=20) }}</td>
          <td>{{ role }}</td>
          {% set locale = h.dump_json({'content': _('Are you sure you want to delete this member?')}) %}
          <td>
            <div class="btn-group">
              {% link_for _('Edit'), controller='group', action='member_new', id=c.group_dict.id, class_='btn btn-small', user=user_id %}
              <a class="btn btn-danger btn-small" href="{% url_for controller='group', action='member_delete', id=c.group_dict.id, user=user_id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      {% else %}
        <tr><td>{{ _('There are currently no members for this group') }}</td></tr>
      {% endif %}
    </table>
    {% endblock %}
  </div>
{% endblock %}
