{% extends "page.jinja.html" %}

{% block title %}{{ _('Add a Group') }} - {{ super() }}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li>{{ h.nav_link(_('Groups'), controller='group', action='index') }}</li>
    <li class="current">{{ h.nav_link(_('Add a Group'), controller='group', action='new') }}</li>
  </ol>
{% endblock %}

{% block primary_content %}
  <div class="module">
    <div class="content">
      <h1 class="page-heading">{{ _('Add a Group') }}</h1>
      {{ c.form | safe }}
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="module info">
    <h2 class="heading"><i class="ckan-icon ckan-icon-info"></i> {{ _('What are Groups?') }}</h2>
    <div class="content">
      {% trans %}
        <p>Whilst tags are great at collecting datasets together, there are
        occasions when you want to restrict users from editing a collection.</p>
        <p>A group can be set-up to specify which users have permission to add or
        remove datasets from it.</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}
