<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Groups - ${c.group.name}</py:def>

  <div py:match="content">
   <div class="group">
    <h2 class="head">
      <py:if test="not c.group.title">
        <em>No Title</em>
      </py:if>

      ${c.group.title}
      <span class="name">(${c.group.name})</span>

      <span class="object-action">
      <py:if test="c.auth_for_edit">
        <a href="${h.url_for(controller='group',action='edit',id=c.group.name)}">[edit]</a>
      </py:if>
      <py:if test="c.auth_for_authz">
        <a href="${h.url_for(controller='group',action='authz',id=c.group.name)}">[authorization]</a>
      </py:if>
      </span>
    </h2>

    <div class="description">
      ${c.group_description_formatted}
    </div>

    <py:if test="c.group_admins">
      <strong>Administrators:</strong> 
        <py:for each="admin in c.group_admins">
          <a href="${h.url_for(controller='user',action='read',id=admin.id)}">${admin.name}</a>
        </py:for>
    </py:if>      

    <h3>Packages:</h3>
    ${c.page.pager()}
    ${package_list(c.page.items)}
    ${c.page.pager()}
    There are ${c.page.item_count} packages in this group.
   </div>
  </div>

  <xi:include href="layout.html" />
</html>


