{% extends "page.html" %}

{% block title %}{{ c.group_dict.display_name }} - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Groups'), controller='group', action='index' %}</li>
  <li class="active">{% link_for c.group_dict.display_name, controller='group', action='read', id=c.group_dict.name %}</li>
{% endblock %}

{% block actions_content %}
  {% if h.check_access('group_update', {'id': c.group.id}) %}
    <li>{% link_for _('Add Dataset'), controller='group', action='edit', id=c.group_dict.name, class_='btn', icon='plus' %}</li>
    <li>{% link_for _('Edit'), controller='group', action='edit', id=c.group_dict.name, class_='btn', icon='cog' %}</li>
  {% endif %}
  <li>{% link_for _('History'), controller='group', action='history', id=c.group_dict.name, class_='btn', icon='undo' %}</li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="content">
      {% include "package/partials/search_form.html" %}
    </div>
    {{ c.page.pager(q=c.q) }}
  </section>
{% endblock %}

{% block secondary_content %}
  <section class="module info group">
    <div class="content media media-vertical">
      <a class="image" href="{{ h.url_for(controller='group', action='read', id=c.group_dict.name) }}">
        <img src="{{ c.group_dict.image_url or '/base/images/placeholder-group.png' }}" width="200" height="125" />
      </a>
      <div class="content">
        <a href="{{ h.url_for(controller='group', action='read', id=c.group_dict.name) }}">
          <h3>{{ c.group_dict.display_name }}</h3>
        </a>
        {% if c.group_dict.description %}
          <p>{{ c.group_dict.description }}</p>
        {% else %}
          <p class="empty">{{ _('There is no description for this group') }}</p>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="module info">
    <h2 class="heading"><i class="icon-large icon-user"></i> {{ _('Administrators') }}</h2>
    <ul class="nav nav-simple">
      {% for admin in c.group_admins %}
        <li class="image">{{ h.linked_user(admin, 30) }}</li>
      {% endfor %}
    </ul>
  </section>

  {{ h.snippet('snippets/facet_list.html', title='Tags', name='tags') }}
  {{ h.snippet('snippets/facet_list.html', title='Formats', name='res_format') }}
{% endblock %}

{% block links %}
  {{ super() }}
  {% include "group/partials/feeds.html" %}
{% endblock %}
