<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">${c.group.display_name}</py:def>
  <py:def function="page_heading">${c.group.display_name}</py:def>

  <py:match path="primarysidebar">
  
    <li class="widget-container widget_text">
      <ul class="property-list">
        <py:if test="c.group_admins">
        <li>
        <h3>Administrators</h3> 
          <ul py:for="admin in c.group_admins">
            <li>${h.linked_user(admin)}</li>
          </ul>
        </li>
        </py:if>
      </ul>
    </li>
  </py:match>

  <py:match path="content">
    <div class="notes" py:if="str(c.group_description_formatted).strip()">
      ${c.group_description_formatted}
    </div>
    <h3>Datasets:</h3>
    <p i18n:msg="item_count">There are ${c.page.item_count} datasets in this group.</p>
    ${c.page.pager()}
    ${package_list(c.page.items)}
    ${c.page.pager()}
  </py:match>

  <xi:include href="layout.html" />
</html>


