[depends]

main = vendor/jquery.js

[custom render order]

apply_html_class = 1

[inline scripts]

apply_html_class =
    document.getElementsByTagName('html')[0].className += ' js';

[groups]

main =
    apply_html_class
    plugins/jquery.inherit.js
    plugins/jquery.proxy-all.js
    plugins/jquery.url-helpers.js
    plugins/jquery.date-helpers.js
    plugins/jquery.slug.js
    plugins/jquery.slug-preview.js
    plugins/jquery.truncator.js
    plugins/jquery.form-warning.js

    sandbox.js
    module.js
    pubsub.js
    client.js
    notify.js
    i18n.js
    main.js

    modules/select-switch.js
    modules/slug-preview.js
    modules/basic-form.js
    modules/confirm-action.js
    modules/api-info.js
    modules/autocomplete.js
    modules/custom-fields.js
    modules/related-item.js
