<h2>{% trans %}Who are we?{% endtrans %}</h2>

<p>{% trans %}Iran Open Data is a collaborative initiative undertaken by a community of individuals and organisations who are passionate about open data and transparency. Iran Open Data is eager to expand its community of members, so please get in touch if you’re interested in getting involved!{% endtrans %}</p>

<h2>{% trans %}What is open data?{% endtrans %}</h2>

<p>{% trans %}At the simplest level, the Open Data Institute <a href="https://theodi.org/guides/what-open-data" target="_blank" rel="noopener">describes</a> open data as: ‘data that anyone can access, use and share.’ More specifically, Open Knowledge International’s Open Data Handbook <a href="http://opendatahandbook.org/guide/en/what-is-open-data/" target="_blank" rel="noopener">notes</a> that to be considered truly ‘open’, data should adhere to the following three core principles:{% endtrans %}</p>

<ul>
    <li>{% trans %}Available and accessible, at no more than a reasonable reproduction cost.{% endtrans %}</li>

    <li>{% trans %}Reuseable and redistributional, meaning that the license should permit reuse and redistribution.{% endtrans %}</li>

    <li>{% trans %}Open to Universal Participation, so that everyone must be able to use, re-use and re-distribute data, with no restrictions on usage.{% endtrans %}</li>
</ul>

<h2>{% trans %}Why Iran Open Data?{% endtrans %}</h2>

<p>{% trans %}Iranian government agencies at all levels, municipal, provincial, and national, publish an abundance of data publicly. However, more often than not this data is locked away in inaccessible formats (such as images or PDFs), tucked away in different sections of official websites, or is not digitised at all.{% endtrans %}</p>

<p>{% trans %}Iran Open Data aims to make Iranian government data accessible by gathering it together into one central hub, and converting it into machine-readable formats (such as CSV and JSON). Iran Open Data aims to become the definitive online platform for meeting the data needs of researchers, journalists and Iranian citizens seeking to better understand their government’s policies and actions.{% endtrans %}</p>

<p>{% trans %}The openness and free availability of data is one of the key characteristics of an accountable and responsible government. Through its work, Iran Open Data also hopes to highlight the areas where Iranian authorities can increase the transparency of their actions by making more data publicly available and easily accessible.{% endtrans %}</p>

<h2>{% trans %}What is our methodology?{% endtrans %}</h2>

<p>{% trans %}An open data platform should itself be open. A defining feature of Iran Open Data is that is based on CKAN, the world’s leading Open Source data portal platform, so all of its technology processes, the architecture of the platform, the code for the site, and the data specification and all the information about available datasets is available <a href="https://github.com/smallmedia/iod-ckan" target="_blank" rel="noopener">here</a>.{% endtrans %}</p>

<p>{% trans %}Depending on the difficulty of gathering or cleaning a particular dataset (we call it the ‘data ingest’), we might develop an automated script to do some of these processes for us. The code for all the scripts we develop will be made available <a href="https://github.com/smallmedia/iod-ckan" target="_blank" rel="noopener">here</a>.{% endtrans %}</p>

<p>{% trans %}We also rely on a host of other tools to capture datasets that are locked away in less accessible formats. For instance, to extract data that has been produced in PDFs we currently use <a href="http://tabula.technology/" target="_blank" rel="noopener">Tabula</a>, which necessitates a manual process.{% endtrans %}</p>

<p>{% trans %}Due to this manual process, there may be some inconsistencies in the datasets. Please <a href="contact">contact us</a> if you come across any errors in the data, and please be advised that the onus is on the website user to do due diligence and further research to support any findings gleaned from analysing these datasets. Please see our <a href="policy">policy page</a> for more information.{% endtrans %}</p>