<div class="homepage">
        <div class="usecases" id="list__container">
            <ul class="list">
                <li>
                    <a target="_blank" rel="noopener" href="https://en.radiofarda.com/a/iran-dams-disappeared/28825889.html">
                        <img src="/images/cases/n7ow4d8.png">
                        <h3>The Case of Iran's Lost Dams</h3>
                        <dl>
                            <dt>Source:</dt>
                            <dd>Radio Farda</dd>
                        </dl>
                        <div class="clamping"><p>Since the 1979 revolution, Iran has invested a large amount of money into the construction of dams. In addition to power generation, dams were considered an important tool for water management during times of hardship. However, in recent years, dams have been at the crux of one of the country’s most serious environmental crises.</p></div>
                    </a>
                </li>

                <li>
                    <a target="_blank" rel="noopener" href="https://iranwire.com/en/features/4698">
                        <img src="/images/cases/naz601en.png">
                        <h3>23 Million Iranian Women Unemployed</h3>
                        <dl>
                            <dt>Source:</dt>
                            <dd>Iranwire</dd>
                        </dl>
                        <div class="clamping"><p>Overall, the conclusions of this report are alarming: 22,800,000 literate women in Iran are without jobs. If we exclude the approximately 5 million girls over 10 (“working age”) who are still in school, that leaves close to 18 million women, a disturbing number even if the situation has changed over the last year or so. And if it has changed, it’s of course possible that it has changed for the worse. </p></div>
                    </a>
                </li>

                <li>
                    <a target="_blank" rel="noopener" href="https://iranwire.com/en/features/4734">
                        <img src="/images/cases/naz901en.png">
                        <h3>90 percent of women out of work as Iran faces unemployment crisis</h3>
                        <dl>
                            <dt>Source:</dt>
                            <dd>Iranwire</dd>
                        </dl>
                        <div class="clamping"><p>Looking at the three indices for assessing the unemployment rate, employment rate and employment ratio for women by province, the nationwide imbalance of the job market for women becomes clearer.</p></div>
                    </a>
                </li>

                <li>
                    <a target="_blank" rel="noopener" href="https://iranwire.com/en/features/4877">
                        <img src="/images/cases/sim1001en.png">
                        <h3>More than 40% of Iranian households live below the poverty line</h3>
                        <dl>
                            <dt>Source:</dt>
                            <dd>Iranwire</dd>
                        </dl>
                        <div class="clamping"><p>There is no agreement among Iranian officials about how many people live below the poverty line in the Islamic Republic. Not only does this mean it's impossible to get a clear picture of poverty, it also makes it difficult to combat the problem itself.</p></div>
                    </a>
                </li>

                <li>
                    <a target="_blank" rel="noopener" href="https://iranwire.com/en/features/5144">
                        <img src="/images/cases/naz1101en.png">
                        <h3>Budgets compared: Rouhani vs. Ahmadinejad</h3>
                        <dl>
                            <dt>Source:</dt>
                            <dd>Iranwire</dd>
                        </dl>
                        <div class="clamping"><p>This report compares the budgets of Mahmoud Ahmadinejad and Hassan Rouhani during an eight-year period between March 2009 and March 2017 (Iranian calendar years 1388 to 1395).</p></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>