<div class="homepage">
<div class="usecases">
<ul>
    <li>
        <a target="_blank" rel="noopener" href="https://iranwire.com/fa/features/24100">
            <img src="/images/cases/simin12202.png">
            <h3>حراج شهرها برای گذران روز</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>ایران وایر</dd>
            </dl>
            <div class="clamping"><p>ساختار بودجه‌ شهرداری‌ها نیز مانند هر بودجه دیگری به دو قسمت منابع و مصارف تقسیم می‌شود. در مورد موضوعاتی که ذیل مصارف بودجه‌های شهری می‌گنجد فارغ از کم و کیف و شفافیت آنها توافقی نسبی وجود دارد. ساخت و ساز و تعمیر و نگهداری سازه‌های شهری، نگهداری و گسترش خیابان‌ها و معابر حمل‌ونقل عمومی و خصوصی، رسیدگی به بهداشت و سلامت عمومی شهر، و مواردی از این دست از جمله آنها هستند.</p></div>
        </a>
    </li>

    <li>
        <a target="_blank" rel="noopener" href="https://www.radiofarda.com/a/pollution-control-mecanism/28898518.html">
            <img src="/images/cases/js02.png">
            <h3>نظارت بر نظارت‌کنندگان – آلودگی هوا در ايران</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>در کنار سرمايه‌گذاری بيشتر برای تعداد بيشتر ایستگاه‌های اندازه‌گيری کيفيت هوا و انتشار نتايج، مهم است که دولت استانداردهای نظارت بر کيفيت هوای‌اش را به طور کامل با هنجاری جهانی به رسميت شناخته شده همنوا و سازگار کند.</p></div>
        </a>
    </li>

    <li>
        <a target="_blank" rel="noopener" href="https://www.radiofarda.com/a/comparing-taxes-in-iran/28872177.html">
            <img src="/images/cases/nr1s.png">
            <h3>مقایسه درآمدهای مالیاتی با هزینه بنیادها و نهادهای عمومی غیردولتی</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>دولت ایران طی سال‌های گذشته دچار یک کسری بودجه مزمن بوده اما هر سال بخشی از بودجه به نهادهایی خارج از نظارت مستقیم دولت و مجلس پرداخت می‌شود که این کار، فشار روی بودجه را بیشتر می‌کند. در این گزارش ابتدا روند درآمدهای مالیاتی دولت طی سال‌های ۱۳۸۸ تا ۱۳۹۵ خورشیدی مورد بررسی قرار می‌گیرد که در برگیرنده عملکرد کامل دولت‌ دهم و سه سال نخست دولت یازدهم است</p></div>
        </a>
    </li>

    <li>
        <a target="_blank" rel="noopener" href="https://www.radiofarda.com/a/iran-lost-dams/28821833.html">
            <img src="/images/cases/jms2.jpg">
            <h3>معمای سدهای گم‌شده ایران</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>این مقاله نه تنها ماهيت مبهم مديریت آب ایران را نشان می‌دهد بلکه نياز به داده‌های در دسترس عموم و به نوبه‌ی خود نیاز به پاسخگويی عمومی را برجسته می‌کند. قصد اين مقاله این بود که بحث درباره ماهیت سدسازی را در ایران باز کند. ما ازمحققان دعوت می‌کنيم که نگاهی به مجموعه‌ی داده‌های کامل بیندازند تا درباره موضوع تحقیق بیشتر و گسترده‌تری انجام شود.</p></div>
        </a>
    </li>

    <li>
        <a target="_blank" rel="noopener" href="https://iranwire.com/fa/features/23113">
            <img src="/images/cases/sim9a.jpg">
            <h3>مروری بر نهادها و بنیادهای انقلابی که مالیات نمی دهند</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>ایران وایر</dd>
            </dl>
            <div class="clamping"><p>نظام اقتصادی ایران بر اساس قانون اساسی باید شامل بخش‌های دولتی، خصوصی و تعاونی باشد. اما اقتصاد ایران در همه سال‌های پس از انقلاب بازیگران بزرگ دیگری نیز داشته که یا در شمار این سه بخش نمی‌گنجند یا اگر برای مثال تعاونی هستند، عملکردی یکسره متفاوت از ماهیت آن دارند. بررسی عملکرد این بازیگران که عموما به مجموعه آنها «نهادها و بنیادهای انقلاب اسلامی» گفته می‌شود، اهمیت فراوانی در شناخت اقتصاد و سیاست ایران دارد.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="https://www.radiofarda.com/a/f3-public-employment-issues/28651160.html">
            <img src="/images/cases/sim8.jpg">
            <h3>استخدام دولتی در ایران و ابهام‌های بی‌پایان آماری</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>آزمون‌های استخدامی فراگیر دستگاه‌های اجرایی در ایران تاکنون تنها چهار دوره برگزار شده است که در برخی از آنها نیز همه دستگاه‌های اجرایی حضور نداشته‌اند. از طرفی در این آزمون‌ها اگرچه تعداد کارکنان موردنیاز مشخص است اما باتوجه به عدم انتشار آمار نتایج قطعی، تعداد زنان و مردان جذب شده در سازمان‌های دولتی نامشخص است.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="https://www.radiofarda.com/a/f3-education-budget-decrease/28538599.html">
            <img src="/images/cases/sim6a.png">
            <h3>سهم بودجه عمرانی آموزش و پرورش به شدت کاهش یافته است</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>آمارهای بودجه‌ای در فاصله سال‌های ۱۳۸۷ تا ۱۳۹۵ حکایت از رشد سهم آموزش در بودجه عمومی ایران دارند. اما نکته‌ قابل توجه به ترکیب بودجه آموزش مربوط می‌شود که در این فاصله زمانی بیشتر به سود هزینه‌های جاری تغییر کرده است. به‌نحوی که در این سال‌ها سهم بودجه عمرانی (سرمایه‌گذاری) از کل بودجه بخش آموزش به شدت کاهش یافته است و دولت‌ها عملا نتوانسته‌اند راه حلی برای جبران این وضعیت پیدا کنند. این روند می‌تواند هشداری باشد برای افت کیفیت نرم‌افزاری و افزایش آسیب‌پذیری سخت‌افزاری نظام آموزشی ایران در سال‌های آتی.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-welfare-iranian-family/28400114.html">
            <img src="/images/cases/sim4b.png">
            <h3>کاهش رفاه خانوار ایرانی</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>هزینه‌های رفاهی تخصیصی دولت ایران اگرچه در طول زمان سهم بیشتری از بودجه عمومی را به خود اختصاص داده است اما این افزایش تحت تاثیر تورم فزاینده و رشد اقتصادی پایین یا منفی در سال‌های ۱۳۸۷ تا ۱۳۹۵، خود را در افزایش مستمر بودجه سرانه نشان نداده است. بودجه رفاهی سرانه ایران از سال ۱۳۸۹ در حال کاهش بوده است و با لحاظ رشد مثبت در سال ۱۳۹۵ نیز هنوز کمتر از سال ۱۳۸۹ است.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-better-jobs-all-for-men/28211599.html">
            <img src="/images/cases/sim11a.png">
            <h3>بانک‌های خصوصی ایران، دولتی مانده‌اند</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>ایران‌وایر</dd>
            </dl>
            <div class="clamping"><p>در پایان مهرماه ۱۳۹۶ در وبسایت بانک مرکزی نام ۴۲ بانک و موسسه اعتباری غیربانکی به عنوان موسسات دارای مجوز فعالیت رسمی از این بانک درج شده است. ما به دلیل حجم ناچیز فعالیت‌ها و نیز عدم ارتباط به بحث، از پنج بانک بین‌المللی به نام‌های استاندارد چارترد، بانک تجارتی ایران و اروپا، بانک مشترک ایران و ونزوئلا، بانک تعاون اسلامی برای سرمایه‌گذاری و فیوچر بانک صرف‌نظر می‌کنیم. از ۳۷ موسسه باقی‌مانده به روایت بانک مرکزی، ۸ بانک و موسسه در مالکیت دولت و ۲۹ بانک و موسسه نیز در مالکیت بخش غیردولتی هستند.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="https://iranwire.com/fa/features/23469">
            <img src="/images/cases/sim10a.png">
            <h3>بیش از ۴۰ درصد خانوارهای ایرانی زیر خط فقر هستند</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>ایران وایر</dd>
            </dl>
            <div class="clamping"><p>روندهای آماری فوق چند واقعیت را برای ما عیان‌تر از پیش می‌سازد. نخست آنکه عدم انتشار رسمی خط فقر از طرف دولت ایران سبب پدید آمدن تفاسیر و روش‌های مختلفی برای محاسبه خط فقر شده است که امکان بررسی‌های تحلیلی را محدود می‌کند. در نتیجه آشفتگی آماری و تکیه بر حدس و گمان بی‌پایه سبب می‌شود نتوان دولت را به صورت مشخص وادار به پاسخگویی و سیاست‌گذاری‌های اساسی کرد. دوم آنکه تعداد خانواده‌های زیر خط فقر در ایران پس از کاهش نسبی مجموع هزینه‌های مربوط به فقرزدایی در یک دوره کوتاه، مجددا رو به افزایش گذاشته است. دست آخر، وضعیت کنونی آمار نشان می‌دهد که اگر در ایران برای مبارزه با فقر به سرعت چاره‌ای اندیشیده نشود، روند افزایش تعداد خانوارهای زیر خط فقر ادامه خواهد داشت و جامعه بیش از پیش فقیر خواهد شد.  در حال حاضر تقریبا نیمی از خانوارهای جمعیت شهری ایران زیر خط فقر زندگی می‌کنند!</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-iran-budget-for-crisies/28451360.html">
            <img src="/images/cases/si5a.png">
            <h3>سهم ناچیز بودجه محیط‌زیست در مقابل بحران‌های کلان</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>بحران‌های محیط‌‌زیستی در ایران به آستانه‌ دردناکی رسیده است. در وصف این موقعیت، توجه به همین نکته کافی‌ است که از میان مقامات و مردم هیچ‌کس نه منکر بحران است و نه ابعاد بسیار گسترده آن.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-housing-revenu-iranian-families/28360276.html">
            <img src="/images/cases/si3a.png">
            <h3>مسکن،درآمد و خانوارهای ایرانی</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>بررسی‌ها از سطح زیربنای واحدهای مسکونی در مناطق شهری و روستایی ایران در مجموع به ما نشان می‌دهد که در فاصله سال‌های ۱۳۸۶ تا ۱۳۹۳ از سهم واحدهای بسیار کوچک کمتر از ۵۰ متر کاسته شده و بر سهم واحدهای متوسط با متراژی بین ۷۵ تا ۱۰۰ مترمربع افزوده شده است. امری که هم در مناطق شهری و هم در مناطق روستایی رخ‌داده است و نشان می‌دهد رونق ساخت و ساز در این سال‌ها سرانه فضای در اختیار خانواده‌ها را به طور نسبی افزایش داده است.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-housing-rent-ownership/28294759.html">
            <img src="/images/cases/si2a.png">
            <h3>صاحبخانه‌های کمتر، اجاره‌نشین‌های بیشتر</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>در اینجا آمار بین سال‌های ۱۳۸۳ تا ۱۳۹۳ را بررسی کرده‌ایم و پس از مرور میانگین‌ها، روند افزایش سهم واحدهای مسکونی که به رایگان در اختیار خانواده‌ها است را مورد توجه قرار داده‌ایم. سهم سه دهک کم‌درآمد جامعه بیش از ۵ درصد بیشتر از میانگین کل است و از توان کمتر این دهک‌ها در تهیه مسکن مستقل اجاری یا ملکی خبر می‌دهد.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-housing-cost-iran-families-budget/28273233.html">
            <img src="/images/cases/si1b.png">
            <h3>سهم مسکن در سبد هزینه خانوارهای شهری در ایران</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>گزارش‌های بررسی بودجه خانوار در مناطق شهری ایران در بازه زمانی ۱۳۸۴ تا ۱۳۹۴، که بانک مرکزی منتشر کرده است، نشان می‌دهد هزینه‌های مربوط به مسکن بزرگ‌ترین سهم را در سبد هزینه خانوار متوسط به خود اختصاص داده است.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-reitred-or-unemployed/28371171.html">
            <img src="/images/cases/sh9a.png">
            <h3>جمعیت بازنشسته یا بیکار؟</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>بر اساس اطلاعات این گزارش در سال ۱۳۹۴ بیش از ۲۶ درصد خانوارهای شهری حتی یک فرد شاغل هم نداشتند؛ آیا این به آن معناست که حدودا از هر ۴ خانوار، یک خانوار بیکار است؟ قطعا پاسخ نمی‌تواند مثبت باشد. چراکه در مقابل، در آمار وضعیت اشتغال با ردیفی تحت عنوان «بادرآمد بدون کار» روبه‌رو هستیم که البته خود این ردیف از سربازان وظیفه تا موجران را در برگرفته است. در این مطلب به بررسی این اطلاعات پرداخته‌ایم.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-iranian-families-income/28384677.html">
            <img src="/images/cases/sh8a.png">
            <h3>ابهام در هزینه و درآمد خانوارهای ایرانی</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>اطلاعات هزینه و درآمد خانوارهای ایرانی در سال ۱۳۹۴ نشان می‌دهد که خانوارها در ۱۴ استان دارای مازاد بودجه هستند (درآمد سالانه‌شان بیش از هزینه‌ سالانه است) و در ۱۷ استان با کسری بودجه مواجه هستند. تا اینجای کار موضوع طبیعی به نظر می‌رسد. اما در بررسی اقلام تشکیل دهنده هزینه‌ها، با توجه به موقعیت جغرافیایی استان‌ها، ابهامی در مورد صحت اطلاعات مندرج در گزارش‌های رسمی ظاهر می‌شود.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-farmers-iliterate-iran/28255130.html">
            <img src="/images/cases/sh5a.png">
            <h3>بیش از یک‌سوم کشاورزان «بی‌سواد» هستند</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>«افزایش بهره‌وری در کشاورزی» شاه‌بیت تمام اظهارنظرهای کارشناسان و مسئولان مرتبط با بحث کشاوری در ایران است. کشوری که به دلیل اقلیم خاص خود و روبه‌رو شدن با معضل کم‌آبی، این روزها بیش از پیش به مقوله کشاورزی اهمیت می‌دهد.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-healthcare-cost-iranian-basket/28302849.html">
            <img src="/images/cases/sh4b.png">
            <h3>افزایش سهم بهداشت در سبد هزینه ایرانیان</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>در حالی که رشد هزینه‌های بخش بهداشت و سلامت بیش از سایر بخش‌ها- حتی برای مثال در سال ۱۳۹۳ تقریبا دو برابر نرخ تورم بوده است - درآمد خانوار ایرانی متناسب با این افزایش، رشد نکرده است. نتیجه‌ای که از این اختلاف می‌توان گرفت این است که به نسبت افزایش هزینه‌ها عملا بودجه عمومی بهداشت و سلامت کاهش یافته است. در این‌ جا به بررسی این شاخص‌ها از سال ۱۳۸۴ تا پایان ۱۳۹۳ (حدود یک دهه) پرداخته‌ایم.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-death-reasons-tehran/28126144.html">
            <img src="/images/cases/sh3a.png">
            <h3>علل نامعلوم مرگ در استان تهران</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>پراکندگی دلایل مرگ و میر در استان‌ها چه می‌تواند به ما بگوید؟ نگاهی به گزارش سازمان ثبت احوال درباره چهار دلیل اصلی مرگ و میر در ۳۱ استان کشور در سال ۱۳۹۳ نشان می‌دهد که بیماری‌های قلبی وعروقی شایع‌ترین دلیل مرگ است، ولی در مورد سه دلیل بعدی اختلاف زیادی در میان استان‌ها وجود دارد.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-death-cause-provinces/28114816.html">
            <img src="/images/cases/sh2.png">
            <h3>توسعه‌یافتگی و پراکندگی دلایل مرگ در استان‌ها</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>پراکندگی دلایل مرگ و میر در استان‌ها چه می‌تواند به ما بگوید؟ نگاهی به گزارش سازمان ثبت احوال درباره چهار دلیل اصلی مرگ و میر در ۳۱ استان کشور در سال ۱۳۹۳ نشان می‌دهد که بیماری‌های قلبی وعروقی شایع‌ترین دلیل مرگ است، ولی در مورد سه دلیل بعدی اختلاف زیادی در میان استان‌ها وجود دارد.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="https://www.radiofarda.com/a/f3-banks-debt/28567055.html">
            <img src="/images/cases/sh16a.png">
            <h3>استقراض دولتی به واسطه شرکت‌های دولتی</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>بررسی ترکیب بدهی‌های دولت به بانک مرکزی و بانک‌ها نشان می‌دهد که همواره بدهی دولت به بانک‌ها بیش از بدهی‌اش به بانک مرکزی است، این ترکیب در بدهی «شرکت‌ها و موسسات دولتی» برعکس است، یعنی شرکت‌ها و موسسات دولتی برای تامین اعتبار بیشتر به سراغ بانک مرکزی رفته‌اند تا کسری بودجه خود را تامین کنند. در واقع «دولت» در اینجا به طور غیرمستقیم از بانک مرکزی استقراض کرده است.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-banks-debts/28455049.html">
            <img src="/images/cases/sh15a.png">
            <h3>رشد خطرناک بدهی دولت به نظام بانکی</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>بررسی بدهی‌های دولت به شبکه بانکی و بانک مرکزی نشان می‌دهد علی‌رغم ظاهر با ثبات وضعیت اقتصادی و کنترل تورم در دوره دولت حسن روحانی اتفاقی در نظام بانکی، یعنی یکی از اصلی‌ترین منابع تامین مالی اقتصاد ایران، در حال رخ دادن بوده است.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-decreasing-food-consumption/28403768.html">
            <img src="/images/cases/sh13d.png">
            <h3>کاهش مصرف موادغذایی، خودخواسته یا اجباری</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>داده‌های منتشر شده از طرف مراجع رسمی آماری نشان می‌دهد خانوارهای ساکن در مناطق شهری مقدار مصرف انواع خوراکی‌ها، آشامیدنی‌ها و دخانیات را طی یک دهه اخیر نزدیک به ۲۰ درصد کاهش داده‌اند. این در حالی است که طی این مدت سهم هزینه‌ای که خانوارها برای «خوراکی‌ها، آشامیدنی‌ها و دخانیات» صرف کرده‌اند تغییر چندانی نکرده است. به بیانی کاهش مصرف از یک سو و ثبات نسبی هزینه از سوی دیگر نشان می‌دهد که خانوارهای شهری ترجیح داده‌اند به جای صرف هزینه بیشتر برای ثابت نگه داشتن اندازه سبد موادغذایی، مصرف آن را کاهش دهند. شاید هم بتوان گفت به خاطر افزایش قیمت‌ها چاره‌ای جز کاهش مصرف نداشتند.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="https://www.radiofarda.com/a/iran-job-rate/28774806.html">
            <img src="/images/cases/ped1c.png">
            <h3>تاثیر کاهش بودجه عمرانی بر وضعیت اشتغال در ایران</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>بودجه عمرانی دولت ایران همانند بودجه جاری٬ به مصرف روزانه و هزینه‌های دولت اختصاص ندارد. به بیان دیگر بودجه عمرانی بخشی از سرمایه‌گذاری دولت (به جز از صنایع نفتی که بودجه جداگانه دارد) است که یکی از نتایج آن ایجاد فرصت‌های شغلی و افزایش رشد اقتصادی است. پیش از هرچیز این توضیح ضروری است که برخلاف تصور عمومی و حتی علیرغم وجود اصطلاحی به نام «بودجه عمرانی»٬ چنین عنوانی در قوانین سالیانه بودجه ایران در یک دهه گذشته به کار گرفته نشده است.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="https://iranwire.com/fa/features/22849">
            <img src="/images/cases/na9a.png">
            <h3>نود درصد زنان ایرانی در سن کار، خانه نشین می شوند</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>ایران وایر</dd>
            </dl>
            <div class="clamping"><p>بررسی شاخص «نسبت اشتغال» به‌ تفکیک استانی، با زاویه متفاوتی از نامطلوبیت‌ موجود و وخامت اوضاع بازار کار زنان در ایران پرده برمی‌دارد. اینکه از ۳۱ استان ایران، در ۲۸ استان، جمعیت زنان شاغل کمتر از ۱۳.۵ درصد زنان در سن کار را تشکیل می‌دهد، از غیبت شمار بسیار بالایی از زنان در فعالیت‌های اقتصادی حکایت دارد. مرکز آمار «نسبت اشتغال» سال ۱۳۹۴ برای زنان را در سطح کشوری، ۱۰.۷ درصد اعلام کرده و این به معنای خانه‌نشینی نزدیک به ۹۰ درصد از جمعیت زنان در سن کار ایران است.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="https://www.radiofarda.com/a/iran-soc-women-eco-activities/28734705.html">
            <img src="/images/cases/na8a.png">
            <h3>آیا مشارکت اقتصادی زنان در افزایش نرخ طلاق در ایران موثر است؟</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>طی سال‌های اخیر میزان طلاق در ایران افزایش قابل‌توجهی پیدا کرده و تحلیل‌های مختلفی دراین‌باره بیان شده است. به‌خصوص از طرف حکومت ایران و بخش‌های مذهبی افراطی و سنت‌گرای آن، مشارکت اقتصادی زنان و استقلال مالی آنها همواره یکی از دلایل اصلی افزایش طلاق فرض می‌شود. در سال‌های گذشته این بخش‌ها سعی کرده‌اند زنان ایرانی را هرچه بیشتر برای حفظ بنیان خانواده خانه‌نشین و به فرزندآوری و صرفا پرورش آنها تشویق کنند. در این مقاله با نگاهی کلی به آمار رسمی نرخ طلاق در ۱۰ سال گشته، این آمار را با شاخص‌هایی همچون نرخ مشارکت اقتصادی زنان و هزینه سرانه خانوار مقایسه می‌کنیم تا بتوانیم چگونگی این ارتباط‌ها را بررسی کنیم.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="https://iranwire.com/fa/features/22485">
            <img src="/images/cases/na6a.png">
            <h3>زنگ هشدار، ۱۷/۸میلیون زن باسواد از نظر اقتصادی غیرفعال هستند</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>ایران وایر</dd>
            </dl>
            <div class="clamping"><p>وجود ۲۲ میلیون و ۸۰۰ هزار زن باسواد غیرفعال در کشور رقم بالا و نگران‌کننده‌ای‌ست و وضعیت نامطلوب زنان با سواد در مشارکت اقتصادی را نشان می‌دهد. حتی اگر حدود ۵ میلیون دانش‌آموز و دانشجوی زن را از این آمار کم کنیم)، باز هم عدد ۱۷میلیون و ۸۰۰هزار نفر یک تصویر نگران کننده را نشان می دهد. این آمار البته مربوط به سال ۹۴ است و بعید نیست که با توجه به دشواری های اقتصادی در طول دو سال گذشته افزایش یافته باشد.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="https://www.radiofarda.com/a/f12-women-jobs-problem-iran/28632020.html">
            <img src="/images/cases/na6b.png">
            <h3>تنها ۱۰ درصد زنانِ در سن کار در ایران شاغل هستند</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>در سال ۱۳۹۴ نرخ اشتغال زنان حدود ۱۰ درصد کمتر از مردان و نرخ بیکاری زنان دو برابر مردان بوده است. اما آنچه واقعیت نابرابری بازار کار را به زیان زنان نمایان‌تر می‌کند، نسبت اشتغال است. این شاخص در سال ۹۴ برای زنان در سطح نازل ۱۰٫۷ درصد قرار داشته و بیشتر از ۴۶ درصد پایین‌تر از نسبت اشتغال برای مردان است. به عبارت دیگر تنها ۱۰٫۷ درصد زنان در سن کار در ایران دارای شغل هستند و نزدیک به ۹۰ درصد زنان در سن کار، شغل ندارند. این شاخص گویای حضور کمرنگ زنان در فضای اقتصادی کشور است و مردانه بودن بازار کار ایران را تأیید می‌کند.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-women-less-paid-jobs-iran/28470444.html">
            <img src="/images/cases/na4a.png">
            <h3>بخش بزرگی از زنان شاغل در کم‌درآمدترین رده‌ها قرار دارند</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>براساس آنچه مشاهده شد و در یک جمع‌بندی خلاصه می‌توان گفت که نه تنها نرخ مشارکت اقتصادی زنان هم از متوسط کشوری پایین‌تر است و هم از نرخ مشارکت اقتصادی مردان، بلکه در یک نسبت معنادار در استان‌هایی که بخش کشاورزی سهم بیشتری در ایجاد مشاغل دارد نرخ مشارکت زنان هم بالاتر است. این موضوعی است که در بالاتر بودن نرخ مشارکت اقتصادی زنان در مناطق روستایی نسبت به مناطق شهری قابل توضیح است. نکته مهم آنکه بخش قابل‌توجهی از این زنان حاضر در بازار کار در مشاغل کم‌درآمدی مانند کارگری، در بخش کشاورزی مشغول به کار هستند.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-better-jobs-all-for-men/28211599.html">
            <img src="/images/cases/na3b.png">
            <h3>کارهای بهتر و مشاغل کلیدی؛ «همه برای مردان»</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>برای بسیاری از ایرانی‌ها تجسم اینکه یک زن مدیر یک شرکت بزرگ یا یک دستگاه مهم باشد سخت است. این تصور عمومی که شغل‌های کلیدی باید در اختیار مردان باشد در فیلم‌ها و سریال‌های ایرانی‌ که تولید صداوسیمای جمهوری اسلامی ایران است نیز بازتاب دارد و نمایش حضور یک زن در راس یک سازمان، ارائه یک تصویر متفاوت و غیرمتعارف با جریان رایج بازار کار محسوب می‌شود.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-gender-gap-university-workplace/28180805.html">
            <img src="/images/cases/na2a.png">
            <h3>شکاف جنسیتی عمیق در اشتغال دانشجویان و فارغ‌التحصیلان دانشگاه</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>انتظار بر این است که رشد قابل‌توجه شمار زنان تحصیل‌کرده، به افزایش اشتغال این بخش از زنان منتهی شود و نابرابری حاکم بر بازار کار میان زنان و مردان فارغ‌التحصیل از دانشگاه از بین رود. اما آمار رسمی نشان می‌دهد که نه تنها برخلاف تصور این نابرابری کاهش نیافته، بلکه شرایط نامطلوب‌تر نیز شده است.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-men-control-job-market/28330697.html">
            <img src="/images/cases/na1a.png">
            <h3>بازار کار ایران در «انحصار» مردان</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>آمار رسمی منتشر شده از سوی مرکز آمار درباره بازار کار ایران نشان می‌دهد که طی دهه اخیر نرخ مشارکت اقتصادی زنان کاهش پیدا کرده و همزمان نرخ بیکاری زنان بالا رفته است. این اتفاق درحالی رخ داده که تعداد زنان دانشجو و زنان فارغ‌التحصیل از دانشگاه‌ به میزان قابل‌توجهی افزایش پیدا کرده است اما برخلاف تصور، افزایش تعداد زنان دارای تحصیلات عالی، به افزایش نرخ مشارکت اقتصادی زنان منتهی نشده است.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="https://www.radiofarda.com/a/iran-soc-women/28699014.html">
            <img src="/images/cases/jms1b.png">
            <h3>تحصیلات بالا، اشتغال پایین؛ زنان در اقتصاد ایران به حاشیه کشانده شده‌اند</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>زنان ایرانی چه از منظر آموزش و چه از نظر شغلی عمدتا به حاشیه رانده شده‌اند. در مدارس، دختران در بسیاری از مناطق روستایی و مناطق محروم اقتصادی مورد تبعیض قرار می‌گیرند و مجبور می‌شوند در سنین پایین ترک تحصیل کنند. این امر باعث می‌شود که از داشتن فرصت ایفای نقشی معنادار در سال‌های بعدی محروم شوند.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-poor-workers-iran/28411896.html">
            <img src="/images/cases/cbiehe1721.jpg">
            <h3>درآمدهایی که کفاف حداقل هزینه معیشت را نمی‌دهد</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>براساس ماده ۴۱ قانون کار، شورای عالی کار موظف است هر سال میزان حداقل مزد کارگران را برای نقاط مختلف کشور و یا صنایع مختلف تعیین کند. این شورا برای تعیین دستمزد دو معیار دارد. درصد تورمی که از طرف بانک مرکزی اعلام می‌شود و اینکه حداقل مزد باید به اندازه‌ای باشد که زندگی یک خانواده با تعداد اعضای متوسط را تامین کند.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="http://www.radiofarda.com/a/f3-iranians-died-pollution/28101240.html">
            <img src="/images/cases/sh1a.png">
            <h3>ایرنی‌ها از چه می‌میرند؟</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>رادیو فردا</dd>
            </dl>
            <div class="clamping"><p>مهمترین عوامل  مرگ و میر جمعیت کشور از زبان آمار</p></div>
        </a>
    </li>

    <li>
        <a target="_blank" rel="noopener" href="https://www.manoto.news/news/l8snue/news27031">
            <img src="/images/cases/wmn.png">
            <h3>اقتصاد و زنان، چالش نه چندان اقتصادی حسن روحانی</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>تلویزیون من و تو</dd>
            </dl>
            <div class="clamping"><p>ششمین و آخرین گزارش از مجموعه گزارش‌های اتاق خبر من و تو درباره عملکرد حسن روحانی. این گزارش به وضعیت زنان در اقتصاد ایران و نرخ مشارکت اقتصادی آن‌ها می‌پردازد. چالشی بزرگ برای دولت روحانی که چندان هم اقتصادی نبوده و شادی مشکلی ساختاری‌ست. این گزارش با همکاری پایگاه داده باز ایران تهیه شده است.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="https://www.manoto.news/news/j5ylxw/NEWS27010">
            <img src="/images/cases/une.png">
            <h3>روحانی، شرایط رکود تورمی و معضل بیکاری</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>تلویزیون من و تو</dd>
            </dl>
            <div class="clamping"><p>چهارمین گزارش از مجموعه گزارش‌های اتاق خبر من و تو درباره عملکرد چهارساله دولت روحانی. این گزارش، بر اساس آمار رسمی، به مقایسه چهار سال روحانی با احمدی‌نژاد در زمینه بیکاری می پردازد. گزارش، با همکاری پایگاه داده باز ایران تهیه شده است.</p></div>
        </a>
    </li>

    <li>
        <a target="_blank" rel="noopener" href="https://www.manoto.news/news/axyzxt/NEWS27021">
            <img src="/images/cases/inf.png">
            <h3>دولت یازدهم، تیم اقتصادی روحانی و غول تورم</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>تلویزیون من و تو</dd>
            </dl>
            <div class="clamping"><p>پنجمین گزارش اتاق خبر من و تو درباره عملکرد حسن روحانی در حوزه تورم. این گزارش با همکاری پایگاه داده باز ایران تهیه شده است.</p></div>
        </a>
    </li>
        
    <li>
        <a target="_blank" rel="noopener" href="https://www.manoto.news/news/5j6kxh/NEWS26996">
            <img src="/images/cases/imex.png">
            <h3>روحانی، واردات و صادرات در دولت یازدهم</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>تلویزیون من و تو</dd>
            </dl>
            <div class="clamping"><p>سومین گزارش از مجموعه گزارش‌های اتاق خبر درباره عملکرد دولت یازدهم. وضعیت واردات و صادرات در چهار سال گذشته به گفته‌ی آمار رسمی. این گزارش با همکاری پایگاه داده باز ایران تهیه شده است.</p></div>
        </a>
    </li>

    <li>
        <a target="_blank" rel="noopener" href="https://www.manoto.news/news/tmy3or/NEWS26984">
            <img src="/images/cases/hc.png">
            <h3>دولت یازدهم، عملکرد روحانی در حوزه بهداشت و درمان</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>تلویزیون من و تو</dd>
            </dl>
            <div class="clamping"><p>دومین گزارش از مجموعه شش گزارش عملکرد دولت یازدهم در حوزه‌های اقتصادی و اماری. عملکرد حسن روحانی در حوزه بهداشت و ودرمان.</p></div>
        </a>
    </li>
    
    <li>
        <a target="_blank" rel="noopener" href="https://www.manoto.news/news/g0dpwp/news26973">
            <img src="/images/cases/eg.png">
            <h3>دولت یازدهم، تیم اقتصادی روحانی و غول تورم</h3>
            <dl>
                <dt>منبع:</dt>
                <dd>تلویزیون من و تو</dd>
            </dl>
            <div class="clamping"><p>اولین گزارش از مجموعه شش گزارش عملکرد دولت روحانی در حوزه‌های اقتصادی. مهم‌ترین چالش دولت دوازدهم مقابله با شرایط نادر رکود تورمی‌ست. کاهش رکود و کنترل نرخ تورم از مسائل پیچیده اقتصادی‌ست که دولت بعدی در ایران باید با آن روبرو شود. دولت روحانی در زمینه کنترل نرخ تورم موفق بوده اما در کاهش رکود آنطور که وعده داده بود عمل نکرده است. این گزارش با همکاری پایگاه داده باز ایران تهیه شده است.</p></div>
        </a>
    </li>
</ul>
</div>
</div>