<div class="homepage">
        <div class="usecases" id="list__container">
            <ul class="list">
                <li>
                    <a target="_blank" rel="noopener" href="https://en.radiofarda.com/a/iran-dams-disappeared/28825889.html">
                        <img src="/images/cases/n7ow4d8.png">
                        <h3>The Case of Iran's Lost Dams</h3>
                        <dl>
                            <dt>Source:</dt>
                            <dd>Radio Farda</dd>
                        </dl>
                        <div class="clamping"><p>Since the 1979 revolution, Iran has invested a large amount of money into the construction of dams. In addition to power generation, dams were considered an important tool for water management during times of hardship. However, in recent years, dams have been at the crux of one of the country’s most serious environmental crises.</p></div>
                    </a>
                </li>
            </ul>
    
            <div class="pagination pagination-centered">
                <ul class="list-pagination"></ul>
            </div>
        </div>
    </div>