{% import 'macros/form.html' as form %}

{%- set info = field.get('info', {}) -%}
{%- set help_text = info.get('notes', '') -%}

{%- call
  form.input('col__' ~ position ~ '__value',
    label=info.get('label', '') or field.id
      ~ (_(' (Primary key)') if pk else ''), classes=['control-full'],
    id='field-' ~ position,
    value=value or '',
    type=column_type.html_input_type,
    error=errors.get(field.id),
    is_required=is_required
  )
-%}
  {%- if help_text -%}
    {{- form.info(help_text) -}}
  {%- endif -%}
{%- endcall %}
