<pre>
  {{ _('Organization') }}
  {{ _('Group') }}
  {{ _('Category') }}
  {{ _('Theme') }}
  {{ _('Topic') }}
  {{ _('Project') }}

  {{ _('Organizations') }}
  {{ _('Groups') }}
  {{ _('Categorys') }}
  {{ _('Themes') }}
  {{ _('Topics') }}
  {{ _('Projects') }}

  {{ _('Create an Organization') }}
  {{ _('Create an Group') }}
  {{ _('Create an Category') }}
  {{ _('Create an Theme') }}
  {{ _('Create an Topic') }}
  {{ _('Create an Project') }}

  {{ _('Create Organization') }}
  {{ _('Create Group') }}
  {{ _('Create Category') }}
  {{ _('Create Theme') }}
  {{ _('Create Topic') }}
  {{ _('Create Project') }}

  {{ _('Update Organization') }}
  {{ _('Update Group') }}
  {{ _('Update Category') }}
  {{ _('Update Theme') }}
  {{ _('Update Topic') }}
  {{ _('Update Project') }}

  {{ _('Save Organization') }}
  {{ _('Save Group') }}
  {{ _('Save Category') }}
  {{ _('Save Theme') }}
  {{ _('Save Topic') }}
  {{ _('Save Project') }}

  {{ _('Organization has been deleted') }}
  {{ _('Group has been deleted') }}
  {{ _('Category has been deleted') }}
  {{ _('Theme has been deleted') }}
  {{ _('Topic has been deleted') }}
  {{ _('Project has been deleted') }}

  {{ _('My Organization') }}
  {{ _('My Group') }}
  {{ _('My Category') }}
  {{ _('My Theme') }}
  {{ _('My Topic') }}
  {{ _('My Project') }}

  {{ _('My Organizations') }}
  {{ _('My Groups') }}
  {{ _('My Categorys') }}
  {{ _('My Themes') }}
  {{ _('My Topics') }}
  {{ _('My Projects') }}

  {{ _('No organization') }}
  {{ _('No group') }}
  {{ _('No category') }}
  {{ _('No theme') }}
  {{ _('No topic') }}
  {{ _('No project') }}

  {{ _('Organization not found') }}
  {{ _('Group not found') }}
  {{ _('Category not found') }}
  {{ _('Theme not found') }}
  {{ _('Topic not found') }}
  {{ _('Project not found') }}

  {{ _('You are not a member of any organizations') }}
  {{ _('You are not a member of any groups') }}
  {{ _('You are not a member of any categorys') }}
  {{ _('You are not a member of any themes') }}
  {{ _('You are not a member of any topics') }}
  {{ _('You are not a member of any projects') }}

  {{ _('There is no description for this organization') }}
  {{ _('There is no description for this group') }}
  {{ _('There is no description for this category') }}
  {{ _('There is no description for this theme') }}
  {{ _('There is no description for this topic') }}
  {{ _('There is no description for this project') }}

  {{ _('A little information about my Organization') }}
  {{ _('A little information about my Group') }}
  {{ _('A little information about my Category') }}
  {{ _('A little information about my Theme') }}
  {{ _('A little information about my Topic') }}
  {{ _('A little information about my Project') }}

  {{ _('Are you sure you want to delete this Organization? Note*: Deleting cannot be performed while public or private datasets belong to this organization.') }}
  {{ _('Are you sure you want to delete this Group? Note*: Deleting cannot be performed while public or private datasets belong to this group.') }}
  {{ _('Are you sure you want to delete this Category? Note*: Deleting cannot be performed while public or private datasets belong to this category.') }}
  {{ _('Are you sure you want to delete this Theme? Note*: Deleting cannot be performed while public or private datasets belong to this theme.') }}
  {{ _('Are you sure you want to delete this Topic? Note*: Deleting cannot be performed while public or private datasets belong to this topic.') }}
  {{ _('Are you sure you want to delete this Project? Note*: Deleting cannot be performed while public or private datasets belong to this project.') }}
</pre>
