<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <div py:def="activity_div(actor, verb, object=None, target=None)"
      class="activity">
    <span class="actor">${actor}</span>
    <span class="verb">${verb}</span>
    <py:choose>
      <span class="object" py:when="object">${object}</span>
      <py:otherwise></py:otherwise>
    </py:choose>
    <py:choose>
      <span class="target" py:when="target">${target}</span>
      <py:otherwise></py:otherwise>
    </py:choose>
    <span class="date">${h.render_datetime(activity.timestamp)}</span>
  </div>
</html>
