<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <!--! Append all the base head elements -->
  <head py:match="head">
     <meta charset="utf-8" />
     <!--! Append CKAN to the title -->
     <title py:with="title = list(select('title/text()'))">
       <py:if test="title">${title} - </py:if>CKAN
     </title>
     <link rel="shortcut icon" href="${config.get('ckan.favicon')}" />
     <link rel="stylesheet/less" href="/base/less/main.less" />
     <script src="/base/test/vendor/less.js"></script>
     ${select('*[local-name()!="title"]')}
  </head>
</html>
