{% extends "page.html" %}

{% block subtitle %}{{ gettext('Error %(error_code)s', error_code=code) }}{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% if name %}
      <h1>{{ code }} {{ name }}</h1>
      {% endif %}
      {{ content}}
    </div>
  </article>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block flash %}
  {# eat the flash messages caused by the 404 #}
  {% set flash_messages = h.get_flashed_messages() %}
{% endblock %}

{% block secondary %}{% endblock %}
