{% extends "page.html" %}

{% block subtitle %}{{ gettext('Error %(error_code)s', error_code=code) }}{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% if name %}
      <h1>{{ code }} {{ name }}</h1>
      {% endif %}
      {{ content}}
    </div>
    {% block login_redirect %}
    {% if current_user.is_anonymous %}
    <div class="module-content">
      Please <a href="{{ h.url_for('user.login') }}">log</a> in to access this page.
    </div>
  {% endif %}
  {% endblock %}
  </article>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block flash %}
  {# eat the flash messages caused by the 404 #}
  {% set flash_messages = h.get_flashed_messages() %}
{% endblock %}

{% block secondary %}{% endblock %}
