<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

<py:def function="facet_div(name, title, limit=5)">
    <div py:if="c.facets[name]['items'][:limit]" class="facet-box">
        <h2>${h.facet_title(c.facets[name]['title'])}</h2>
        <ul class="facet-options">
            <li py:for="facet_item in c.facets[name]['items'][:limit]"
                py:if="not (name, facet_item.name) in c.fields">
                <a href="${c.drill_down_url(**{name: facet_item.name})}">
                    ${facet_item.display_name}
                </a>
                (${facet_item['count']})
            </li>
        </ul>
    </div>
</py:def>

<py:def function="field_list()">
    <div class="filter-list" py:if="c.fields">
        <div class="filter-entry" py:for="(field, value) in c.fields">
            <span class="name">${h.facet_title(field)}</span>
            <span class="value">${value}</span>
            <a href="${c.remove_field(field, value)}">
                ${h.icon('unfilter')}
            </a>
        </div>  
    </div>
</py:def>

</html>
