<footer class="site-footer">
  <div class="container">
    <p>This research is supported by the Science and Industry Endowment Fund.</p>
    {% block footer_content %}
      <nav class="footer-links">
        {% block footer_nav %}
          <ul class="unstyled">
            {% block footer_links %}
              <li><a href="http://www.knowledgediscovery.org">About Big Data Knowledge Discovery</a></li>
              <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
            {% endblock %}
            {% block footer_attribution %}
              <li>Powered by<a class="ckan-footer-logo" href="http://ckan.org">CKAN</a></li>
            {% endblock %}
          </ul>
          <ul class="unstyled">
            {% block footer_links_ckan %}
              {% set api_url = 'http://docs.ckan.org/en/{0}/api.html'.format(g.ckan_doc_version) %}
              <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
              <li><a href="http://www.okfn.org/">{{ _('Open Knowledge Foundation') }}</a></li>
            {% endblock %}
            {% block footer_lang %}
              {% snippet "snippets/language_selector.html" %}
            {% endblock %}
          </ul>
        {% endblock %}
      </nav>
      {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
