<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <header class="masthead">
    <hgroup>
      <h1><a href="">My Site Title</a></h1>
      <p>My Site Tagline</p>
    </hgroup>
    <div class="account">
      <a href="#home" class="image">
        <img src="" width="25" height="25" />
      </a>
      <span class="links">
        <a href="#home">username</a>
        <a class="logout" href="#logout">Log out</a>
      </span>
    </div>
    <nav>
      <ul class="unstyled">
        <li><a href="#">Find</a></li>
        <li><a class="active" href="#">Groups</a></li>
        <li><a href="#">Share</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </header>
</html>
