<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Home</py:def>

  <div py:match="content">
    <h2>What is CKAN</h2>

    <p>
		CKAN (Comprehensive Knowledge Archive Network) is a listing of <a href="http://okd.okfn.org/">open knowledge</a> packages. Those familiar with <a href="http://www.freshmeat.net/">freshmeat</a> or <a href="http://www.cpan.org/">CPAN</a> can think of CKAN as providing an analogous service for <a href="http://okd.okfn.org/">open knowledge</a>. CKAN is the place to search for knowledge packages as well as register your own.
    </p>

    <h2>Background</h2>
    <p>
      CKAN is developed and maintained by the <a href="http://www.openknowledgefoundation.org/">Open Knowledge Foundation</a>. Both the CKAN code and data are open free for anyone to use and reuse. To find out more check out the the <a href="http://www.knowledgeforge.net/project/ckan/">CKAN project at knowledgeforge.net</a>
    </p>
	</div>

  <xi:include href="layout.html" />
</html>
