<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Home</py:def>

  <style type="text/css" py:def="page_specific_css">
      ul.big-buttons {
        list-style-type: none;
        margin-top: 3em;
        margin-bottom: 3em;
      }

      ul.big-buttons li {
        display: inline;
        font-size: 1.2em;
        margin-left: 10px;
      }

      ul.big-buttons li a {
        border: 2px solid #aaa;
        background-color: #eee;
        padding: 0.5em;
        text-decoration: none;
        width: 200px;
      }

      ul.big-buttons li a:hover {
        background-color: #F5E4DC;
      }
  </style>

  <div py:match="content">
    <h2>Register and Find Open Knowledge 'Packages' and Projects</h2>

    <p><strong>${c.package_count} active registered packages</strong> available.</p>

    <h3>Search for Packages (or <a href="${h.url_for(controller='package', action='list')}">Browse</a>)</h3>
    <p style="font-size: 0.8em;">Some examples:
      <a href="${h.url_for(controller='package', action='read', id='shakespeare')}">Shakespeare's
        works</a>,
      a <a href="http://www.ckan.net/package/read/gpw">global
      population density database</a>, the <a
      href="http://www.ckan.net/package/read/publicwhip">voting records of UK
      MPs</a>, or <a href="http://www.ckan.net/package/read/patent-nber">30
      years of US patents</a>.</p>


    <xi:include href="package/search_form.html" />

    <ul class="big-buttons">
      <li>Or</li>
      <li><a href="${h.url_for(controller='package', action='new')}">Register A New One</a></li>
    </ul>
    
    <p>To find out <a href="${h.url_for('about')}">more about CKAN see here &raquo;</a>.</p>
	</div>

  <xi:include href="layout.html" />
</html>
