<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/" 
  py:strip=""
  >
<head>
  <title>CKAN - Comprehensive Knowledge Archive Network - ${page_title}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen, print" title="Master stylesheet" charset="utf-8" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <script type="text/javascript" src="/scripts/prototype.js"></script>
  <script type="text/javascript" src="/scripts/behaviour.js"></script>
  <script type="text/javascript" src="/scripts/master.js"></script>

  ${page_specific_css}
</head>

<body>
<div id="airlock">
  <!--[if IE]>
    <hr class="holder" />
  <![endif]-->
  <div id="top">
    <div id="top-inner">
      <div id="top-bar">
        <topbar>
        
        <py:choose>
        <py:when test="c.user">
        <p>
          Logged in as <strong>${c.user}</strong> 
          | <a href="/account/logout/">Logout</a>
        </p>
        </py:when>
        <py:otherwise>
          <p>
          <a href="/account/">Register</a> or
          <a href="/account/login/">Login</a>
          </p>
        </py:otherwise>
        </py:choose>
        </topbar>
      </div><!-- /top-bar -->
      
    <heading>
		<h1><a href="/" title="CKAN Home">Comprehensive Knowledge Archive Network</a><sup>Beta</sup></h1>
    </heading>
    
    </div><!-- /top-inner -->
     
    <h3 class="hidden">Sections:</h3>
    <ul id="navigation">
      <li><a href="/">Home</a></li>
      <li><a href="/package/">Packages</a></li>
      <li><a href="/tag/">Tags</a></li>
      <li><a href="/revision/">Recent Changes</a></li>
      <li><a href="/account/">User Accounts</a></li>
    </ul>
    <h3 class="hidden">In this section:</h3>
    <ul id="subnav">
      <minornavigation>
      <li><a href="/">Home</a></li>
      <py:choose>
      <py:when test="c.user">
      <li><a href="/account/logout/">Logout</a></li>
      </py:when>
      <py:otherwise>
      <li><a href="/account/">Register</a></li>
      <li><a href="/account/login/">Login</a></li>
      </py:otherwise>
      </py:choose>
      <li><a href="/package/new/">New Package</a></li>
      </minornavigation>
    </ul>
       
    <!--[if IE]>
    <hr class="holder" />
    <![endif]-->
    
  </div><!-- /top -->
  
  <p class="hidden"><a href="#main" title="Skip to page content">[ Skip to main content ]</a></p> 
  
  <div id="primary" class="sidebar">
    <div class="box">
      <h2>Using CKAN</h2>
      <p>For information on using CKAN check out the
      ${XML(h.link_to('ckan package page.', h.url_for(controller='package', action='read', id='ckan')))}
      If you have a question or have found a bug please post to the <a href="http://lists.okfn.org/mailman/listinfo/okfn-help">okfn-help</a> mailing list.
      </p>
    </div>
    <primarysidebar>
    <!-- Primary Side Bar Goes Here -->
    </primarysidebar>
    
    <!--[if IE]>
    <hr class="primary" />
    <![endif]-->
    
  </div><!-- /primary -->

  <div id="main">
    <content>
      <p>Master content template placeholder &hellip; please replace me.</p>
    </content>
    
    <div id="footer">
      <p>
      <a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.1">XHTML</a>
      | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
      | Copyright (c) 2005-2007 Open Knowledge Foundation
      </p>
      <p>
      All material available under an <a href="/license/">open license</a>
      </p>
      <p>
      <br />
      <a class="colophon-icon colophon-icon-ok" href="http://okd.okfn.org/" title="All material is Open Knowledge">All material is Open Knowledge</a>
      </p>
    </div><!-- /footer -->
    
    <!--[if IE]>
    <hr class="main" />
    <![endif]-->
    
  </div><!-- /main -->

</div><!-- /airlock -->

</body>
</html>
