<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >


<head>
  <title>CKAN - Comprehensive Knowledge Archive Network - ${page_title()}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen, print" title="Master stylesheet" charset="utf-8" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="alternate" type="application/atom+xml" title="CKAN Recent Changes" href="/revision/list?format=atom&amp;days=1" />
  <script type="text/javascript" src="/scripts/prototype.js"></script>
  <script type="text/javascript" src="/scripts/behaviour.js"></script>
  <script type="text/javascript" src="/scripts/master.js"></script>
  <xi:include href="./yuicodes.html" />

  <style type="text/css">
    /* mess with standard ckan theme to remove second submenu for time being */
    #subnav { background: transparent; height: 1px; }
    #subnav * { display: none; }

    /* for openness icons */
    div.image-info {
      display: inline;
    }

    div.image-info img {
      margin-bottom: -2px;
    }
  </style>
  <py:if test="defined('page_specific_css')">
    ${page_specific_css()}
  </py:if>
</head>

<body class="yui-skin-sam">
<div id="airlock">
  <!--[if IE]>
    <hr class="holder" />
  <![endif]-->
  <div id="top">
    <div id="top-inner">
      <div id="top-bar">
        <topbar>
        
        <py:choose>
        <py:when test="c.user">
        <p>
          Logged in as <strong>${c.user}</strong> |
          <a href="${h.url_for(controller='user',action=None)}">My Account</a>
          | <a href="${h.url_for('/logout_openid')}">Logout</a>
        </p>
        </py:when>
        <py:otherwise>
          <p>
          <a href="${h.url_for(controller='user',action='login')}">Login via OpenID</a>
          </p>
        </py:otherwise>
        </py:choose>
        </topbar>
      </div><!-- /top-bar -->
      
      <h1>
        <img style="padding: 0; margin-top: -10px; margin-bottom: -10px;" src="/images/ckan_logo_fullname_long.png" alt="CKAN Logo" />
        <!-- <a href="/" title="CKAN Home">Comprehensive Knowledge Archive Network</a> -->
      </h1>
    
    </div><!-- /top-inner -->
     
    <h3 class="hidden">Sections:</h3>
    <ul id="navigation">
      <li><a href="/">Home</a></li>
      <li><a href="/package/">Packages</a></li>
      <li><a href="/tag/">Tags</a></li>
      <li><a href="/group/">Groups</a></li>
      <li><a href="/revision/">Recent Changes</a></li>
      <li><a href="/api/rest/">API</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
    <h3 class="hidden">In this section:</h3>
    <ul id="subnav">
      <minornavigation>
      <li><a href="/">Home</a></li>
      <li><a href="/package/new/">New Package</a></li>
      </minornavigation>
    </ul>
       
    <!--[if IE]>
    <hr class="holder" />
    <![endif]-->
    
  </div><!-- /top -->
  
  <p class="hidden"><a href="#main" title="Skip to page content">[ Skip to main content ]</a></p> 
  
  <div id="primary" class="sidebar">
    <div class="box">
      <h2>About CKAN</h2>
      <p>CKAN is a <strong>registry of <a
          href="http://opendefinition.org/">open</a> data and content packages</strong>. CKAN makes it easy to <strong>find, share and reuse open
      content and data</strong>, especially in ways that are <strong>machine
      automatable</strong>.
    </p>

    <p><a href="${h.url_for('about')}">About &raquo;</a> &nbsp;&nbsp;
      ${h.link_to('FAQ and Guide &raquo;', h.url_for('guide'))}</p>
    </div>
    <primarysidebar>
    <!-- Primary Side Bar Goes Here -->
    </primarysidebar>
    
    <!--[if IE]>
    <hr class="primary" />
    <![endif]-->
    
  </div><!-- /primary -->

  <div id="main">
    <content>
      <p>Master content template placeholder &hellip; please replace me.</p>
    </content>
    
    <div id="footer">
      <p>
        <a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.1">XHTML</a>
        | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
        | <a href="http://www.okfn.org/ckan/">Project Home Page</a>
        | <a href="http://www.okfn.org/contact/">Contact Us</a>
        | <a href="http://www.okfn.org/privacy-policy/">Privacy Policy</a>
      </p>
      <p>
        <img style="margin-bottom: -5px;" src="http://m.okfn.org/images/logo/okf_logo_white_and_green_tiny.png" /> An <a href="http://www.okfn.org/">Open Knowledge Foundation</a> Project
      </p>
      <p>
        v${c.__version__}
        | (c) Open Knowledge Foundation
        | All material available under an <a href="${h.url_for('license')}">open license</a>
        | <a href="http://www.opendefinition.org/1.0/"><img
            style="border: none; margin-bottom: -4px;"
            src="http://m.okfn.org/images/ok_buttons/ok_90x15_blue.png"
            alt="This Content and Data is Open" /></a>
      </p>
    </div><!-- /footer -->
    
    <!--[if IE]>
    <hr class="main" />
    <![endif]-->
    
  </div><!-- /main -->

</div><!-- /airlock -->

<!-- Google Analytics -->
<script src='http://www.google-analytics.com/ga.js' type='text/javascript'></script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8271754-2");
pageTracker._setDomainName(".ckan.net");
pageTracker._trackPageview();
} catch(err) {}
</script>
<!-- /Google Analytics -->

</body>
</html>
