<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <head>
		<title>CKAN - ${page_title}</title>

		${page_specific_css}
  </head>

  <body>
    <h1>${page_title}</h1>

    <div id="content">
      <content>Default content - this will be replaced</content>
    </div>

    <div id="footer">
      <p>
        All material copyright 2005-2006 Open Knowledge Foundation, available under
        an <a href="http://okd.okfn.org/">open</a> license
      </p>
    </div>

  </body>
</html>
