<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">License</py:def>

  <div py:match="content">
    <h2>CKAN License</h2>
    <p><strong>All</strong> material contained in CKAN is <a
      href="http://okd.okfn.org/">open</a> and can be freely used, reused and
    redistributed. Formally, all material is made available under a <a
      href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons
      Attribution Share-Alike v3.0 license</a>.</p>

	</div>

  <xi:include href="layout.html" />
</html>
