<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <xi:include href="base.html" />
  <div py:match="main">
    <!--! Import the header -->
    <xi:include href="header.html" />
    
    <!--! Wrap <content> and <sidebar> tags -->
    <div class="content" py:attrs="select('content/@*')">
      ${select('content')}
    </div>
    <!--! Need an py:if here to exclude if empty. -->
    <div class="sidebar" py:attrs="select('sidebar/@*')">
      ${select('sidebar')}
    </div>
    
    <!--! Import the footer -->
    <xi:include href="footer.html" />
  </div>

  <div py:match="content" py:strip="" py:content="select('*|text()')" />
  <div py:match="sidebar" py:strip="" py:content="select('*|text()')" />
</html>
