<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <xi:include href="base.html" />
  <!--! TODO: Work out what the py:attrs isn't excluding the class -->
  <body py:match="body" py:attrs="select('@*[name()!=\'class\']')">
    <!--! Import the header -->
    <xi:include href="header.html" />

    <div role="main">
      <div class="container">
        <!--! Pulls in <div class="toolbar"></div> -->
        <py:replace value="select('*[contains(@class, \'toolbar\')]')" />
        <!--! Pulls in <div class="primary"></div> -->
        <py:replace value="select('*[contains(@class, \'primary\')]')" />
        <!--! Pulls in <div class="secondary"></div> -->
        <py:replace value="select('*[contains(@class, \'secondary\')]')" />
      </div>
    </div>

    <!--! Import the footer -->
    <xi:include href="footer.html" />
  </body>
</html>
