<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <xi:include href="base.html" />
  <body py:match="body">
    <!--! Import the header -->
    <xi:include href="header.html" />

    <div role="main">
      <div class="container">
        <div class="primary" py:attrs="select('primary/@*')">
          ${select('primary')}
        </div>
        <!--! Need an py:if here to exclude if empty. -->
        <div class="secondary" py:attrs="select('secondary/@*')">
          ${select('secondary')}
        </div>
      </div>
    </div>

    <!--! Import the footer -->
    <xi:include href="footer.html" />
  </body>

  <!--! Ensure the content tags are never included in the page. -->
  <div py:match="primary" py:strip="" py:content="select('*|text()')" />
  <div py:match="secondary" py:strip="" py:content="select('*|text()')" />
</html>
