<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <xi:include href="page.html" />
  <container>
    <py:match path="content" once="true">
      <div class="content">
        ${select("*|text()")}
      </div>
    </py:match>
    <py:match path="sidebar" once="true">
      <div class="sidebar">
        ${select("*|text()")}
      </div>
    </py:match>
  </container>
</html>
