<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  py:strip=""
>

<script  type="text/javascript">
    function setPaginatedListHTML(o){
        b = document.createElement('body');
        b.innerHTML = o.responseText;
        divs = b.getElementsByTagName('div');
        for (i in divs) {
            var d = divs[i];
            if (d.getAttribute('id') == 'paginatedlist') {
                var pNew = d;
                var pOld = YAHOO.util.Dom.get('paginatedlist');
                pOld.parentNode.replaceChild(pNew, pOld);
                return;
            }
        }
    }
    function updatePaginatedListHTML(url){
        YAHOO.util.Connect.asyncRequest(
            'GET',
            url,
            {
                success: setPaginatedListHTML
            },
            null
        ); 
        return false;
    }
</script>

  <div class="pagination">
    <py:if test="c.page.page_count > 1">
      <ul>
      <py:if test="c.page.page > 1">
        <li>
            <a 
              href="${h.url_for(action='list', id=c.page.page - 1)}"
              onclick="return updatePaginatedListHTML(
                '${h.url_for(action='list',id=c.page.page - 1)}')
            ">Previous</a>
        </li>
      </py:if>
      <py:for each="number in range(1, c.page.page_count + 1)">
        <li>
        <py:choose test="number == c.page.page">
          <py:when test="True">
            <span class="pagination-current">
            <a 
              href="${h.url_for(action='list', id=number)}"
            >${number}</a>
            </span>
          </py:when>
          <py:otherwise>
            <a 
              href="${h.url_for(action='list', id=number)}"
            >${number}</a>
          </py:otherwise>
        </py:choose>
        </li>
      </py:for>
      <py:if test="c.page.page_count > c.page.page">
        <li>
            <a 
              href="${h.url_for(action='list', id=c.page.page + 1)}"
            >Next</a>
        </li>
      </py:if>
      </ul>
    </py:if>
  </div>

    <p>
    <py:if test="c.page.page_count == 1">
      <py:if test="c.page.item_count == 0">
    There are no ${c.register_name}.
      </py:if>
      <py:if test="c.page.item_count == 1">
    There is one ${c.register_name}.
      </py:if>
      <py:if test="c.page.item_count > 1">
    There are ${c.page.item_count} ${c.register_name}.
      </py:if>
    </py:if>
    <py:if test="c.page.page_count > 1">
    Displaying ${c.register_name} ${c.page.first_item} - ${c.page.last_item} of ${c.page.item_count}.
    </py:if>
    </p>

  <table py:match="paginatedlistitems">
    <tr>
    <py:for each="attr_name in c.listed_attr_names">
      <th>${attr_name}</th>
    </py:for>
    </tr>
  <py:for each="item in c.page.items">
    <tr>
    <py:for each="attr_name in c.listed_attr_names">
      <td>
      <py:if test="attr_name == 'name'">  
        <a href="${h.url_for(action='read', id=item.name)}">
        ${getattr(item, attr_name)}
        </a>
      </py:if>
      <py:if test="attr_name != 'name'">  
        ${getattr(item, attr_name)}
      </py:if>
      </td>
    </py:for>
    </tr>
  </py:for>
  </table>

  <paginatedlistitems/>

</html>

