{% import 'macros/form.html' as form %}

{% block contact_form %}

    <form class="contact-form form-horizontal" method="post">
      {{ form.errors(error_summary) }}

      <fieldset>

        {% block contact_form_fields %}

            {{ form.input('name', label=_('Contact Name'), id='field-name', value=data.name, error=errors.name, classes=['control-medium'], is_required=true) }}

            {{ form.input('email', label=_('Email'), id='field-email', type='email', value=data.email, error=errors.email, classes=['control-medium'], is_required=true) }}

            {{ form.markdown('content', label=_('Your Request'), id='field-content', value=data.content, error=errors.content, is_required=true) }}

        {% endblock %}

      {% if g.recaptcha_publickey %}
        {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
      {% endif %}

      </fieldset>

      <div class="form-actions form-actions--contact">
        {{ form.required_message() }}
        <button class="btn btn-primary save" type="submit" name="save">{{ _('Submit') }}</button>
      </div>
    </form>

{% endblock %}
