<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">REST API - Index</py:def>

  <div py:match="content">
    <h2>REST API</h2>

<h3>Introduction</h3>
<p>
CKAN provides a RESTful API.

If you wish to create a software application that uses the CKAN service, then you will need to know which resources are available, what their locations are, what methods each resource supports, and what the responses might be. All this information is available on this page.
</p>

<h3>API Keys</h3>
<p>For any action which makes a change to a resource (i.e. all non-GET methods)
you will require an API key. To obtain your API key:</p>
<ol>
  <li><a href="${h.url_for(controller='account', action=None)}">Login as a normal user</a>.</li>
  <li><a href="${h.url_for(controller='account', action='apikey')}">Visit the API Key page</a>.</li>
</ol>


<h3>Resources and Locations</h3>

<p>A REST interface presents resources at published locations. Here are the names locations of the CKAN REST API resources.
</p>
<table>
<tbody><tr><th> <strong>Resourse Name</strong> </th><th> <strong>Location</strong> 
</th></tr><tr><td> Package Register </td><td> <a href="/api/rest/package">/api/rest/package</a> 

</td></tr><tr><td> Package Entity </td><td> /api/rest/package/PACKAGE-NAME 
</td></tr><tr><td> Tag Register </td><td> <a href="/api/rest/tag">/api/rest/tag</a> 
</td></tr><tr><td> Tag Entity </td><td> /api/rest/tag/TAG-NAME 
</td></tr><tr><td> Search </td><td> /api/rest/search/PACKAGE-NAME
</td></tr><tr><td> Search </td><td> /api/rest/search
</td></tr></tbody></table>
<h3>Methods, Data Formats, Status Codes</h3>

<p>Each resource location supports a number of methods, which may send or receive a piece of data. Status codes are used to signal the outcome of the operation that is performed in response to the requested method and data. 
</p>
<p>
Here are the methods, data formats, and status codes for the CKAN REST API.
Please note 'PUT' operations may instead use the HTTP POST method.
</p>
<table>
<tbody><tr><th> <strong>Resource</strong> </th><th> <strong>Method</strong> </th><th> <strong>Request</strong> </th><th> <strong>Response</strong> </th><th> <strong>Statuses</strong>  
</th></tr><tr><td> Package Register   </td><td> GET               </td><td></td><td> Package-List      </td><td>  200, 301, 500
</td></tr><tr><td> Package Register   </td><td> POST              </td><td> Package           </td><td></td><td>  200, 301, 400, 403, 409, 500 
</td></tr><tr><td> Package Entity      </td><td> GET               </td><td></td><td> Package           </td><td>  200, 301, 404, 500 
</td></tr><tr><td> Package Entity      </td><td> PUT          </td><td> Package           </td><td></td><td>  200, 301, 400, 403, 404, 500 
<!--
</td></tr><tr><td> Package Entity      </td><td> DELETE            </td><td>               </td><td></td><td>  200, 301, 403, 404, 500 
-->
</td></tr><tr><td> Tag Register       </td><td> GET               </td><td></td><td> Tag-List          </td><td>  200, 301, 500      
<!--
</td></tr><tr><td> Tag Register       </td><td> POST              </td><td> Tag               </td><td></td><td>  200, 301, 400, 403, 409, 500 
</td></tr><tr><td> Tag Entity          </td><td> GET               </td><td></td><td> Tag               </td><td>  200, 301, 404, 500 
</td></tr><tr><td> Tag Entity          </td><td> PUT          </td><td> Tag               </td><td></td><td>  200, 301, 403, 404 
</td></tr><tr><td> Tag Entity          </td><td> DELETE            </td><td>               </td><td></td><td>  200, 301, 400, 403, 404, 500 
-->
</td></tr><tr><td> Search      </td><td> GET          </td><td>      </td><td>Search-Response</td><td>  200, 301, 400, 403, 404, 500 
</td></tr><tr><td> Search      </td><td> POST          </td><td> Query-String           </td><td>Search-Response</td><td>  200, 301, 400, 403, 404, 500 
</td></tr></tbody></table>
<p>
Note: As can be seen, there are two ways to search. The simplest way is to put the query string into the URL and do a GET (e.g. /api/rest/search?q=geodata). The more advanced way is to POST the query to /api/rest/search.
</p>
<h3>Data Formats</h3>
<table>
<tbody><tr><th> <strong>Name</strong>   </th><th> <strong>Format</strong>                
</th></tr><tr><td> Package-List </td><td> [ Name-String, Name-String, Name-String, ... ] 
</td></tr><tr><td> Package      </td><td> { name: Name-String, title: String, description: String, url: String, download_url: String, tags: Tag-List } 

</td></tr><tr><td> Tag-List     </td><td> [ Name-String, Name-String, Name-String, ... ] 
</td></tr><tr><td> Tag          </td><td> { name: Name-String } 
</td></tr><tr><td> Name-String  </td><td> An alphanumeric string. 
</td></tr><tr><td> Query-String </td><td> [ q: String ]
</td></tr><tr><td> Search-Response </td><td> [ [ Package-Name-String, Package-Name-String, ... ], [ Tag-Name-String, Tag-Name-String, ... ] ] 
</td></tr></tbody></table>

To send request data, create a simple data structure, then convert it to a JSON string, then percent-encode the JSON string, then send it as the request body.

Response data will be in the response body.

<h3>Status Codes</h3>
<table>
<tbody><tr><th> <strong>Code</strong> </th><th> <strong>Name</strong>         

</th></tr><tr><td> 200        </td><td> OK                 
</td></tr><tr><td> 301        </td><td> Moved Permanently  
</td></tr><tr><td> 400        </td><td> Bad Request     
</td></tr><tr><td> 403        </td><td> Not Authorized     
</td></tr><tr><td> 404        </td><td> Not Found          
</td></tr><tr><td> 409        </td><td> Conflict           
</td></tr><tr><td> 500        </td><td> Service Error           

</td></tr></tbody></table>

<h3>Authorized Requests</h3>
<p>
All requests that are to result in a change to the CKAN register must
be sent with a valid Authorization header.
</p>

<table>
<tbody><tr><th> <strong>Header</strong> </th><th> <strong>Value</strong> 
</th></tr><tr><td>HTTP_AUTHORIZATION</td><td> A valid CKAN REST API authorization token.                 
</td></tr></tbody></table>

<p>
The value passed with this header must satisfy the currently operating requirements of CKAN.
The current requirment for a valid Authorization header is the value should be a valid API key.
</p>

<table>
<tbody><tr><th> <strong>Header</strong> </th><th> <strong>Example Value</strong> 
</th></tr><tr><td>HTTP_AUTHORIZATION</td><td> fde34a3c-b716-4c39-8dc4-881ba115c6d4                 
</td></tr></tbody></table>
<p>
If requests that are required to be authorized are not sent with a currently valid Authorization header, then the requested operation will not be carried out and the CKAN REST API will respond with status code 403.
</p>

</div>

  <xi:include href="../layout.html" />
</html>
