<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">API - Index</py:def>

  <div py:match="content">
    <h2>API</h2>

    <p>In addition to use of this website, CKAN data can be viewed and changed by using an Application Programming Interface (API).</p>

    <p>The API takes the form of a RESTful (Representational State Transfer) style API for accessing CKAN database objects and a Search API.</p>
   
    <p>For full details of accessing the API, see the documentation at: <a href="http://knowledgeforge.net/ckan/doc/ckan/api.html">http://knowledgeforge.net/ckan/doc/ckan/api.html</a></p>

  </div>

<xi:include href="../layout.html" />
</html>
