@import url(pagination.css);
@import url(autocomplete.css);
@import url(stars.css);
@import url(buttons.css);

/**
  * Fixes to kforge css
  */

#top h1 a:hover {
  background: transparent;
}

/* mess with standard ckan theme to remove second submenu for time being */
#subnav { background: transparent; height: 1px; }
#subnav * { display: none; }

/* override structure.css */

#top {
  margin: 0.3em 0 0 0;
}

#main {
  margin-top: 0em;
}

body.plus-secondary #main {
  margin: 0.6em 0 0 1%;
}

#primary {
  margin: 0.6em 0 0 1%;
}

#main hr {
  color: #ddd;
  background-color: #ddd;
  border: none;
  height: 3px;
}

/**
  * Changes/additions to kforge forms.css
  */

.field_error {
  padding: 2px;
  background-color: #c00;
  display: table;
  margin-left: 1em;
}

.field_error span,
.field_error input,
.field_error select,
.field_error textarea
{
  margin: 0;
}

.centered {
  text-align: center;
}

/**
  * Various iconography
  */

img.icon {
  height: 25px;
}

a.icon {
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 20px;
    width: 20px;
}

.icon-delete {
    background: transparent url(http://m.okfn.org/kforge/images/icon-delete.png) repeat scroll 0 0;
    float: left;
}

table.no-margin { 
  margin: 0 0 0 0;  
}

div.extras-new-field label {
  display:inline;
  line-height:2.6em;
}

label.inline {
  display:inline;
  margin: 1em 0 0 1em;
}


/**
  * Ratings - rating stars css in stars.css
	*/

div.rating-group {
  display: inline;
  font-size: 0.85em;
}

/* Added by NS 2009-12-14 */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: inline-block; } /* for IE/Mac */

/* * * Tag listing * * */

ul.tags {
  list-style: none;
  padding: 0;
  line-height: 2em;
}

ul.tags li {
  float: left;
}

.tags a {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  background: #AFC6E9;
  color: #400F16;
  text-decoration: none;
  padding: 0.2em;
  margin: 0 0.2em;
}

.tags a:hover {
  background: #2B69C6;
  color: #fff;
  text-decoration: none;
  padding: 0.2em;
  margin: 0 0.2em;
}

/* * * Package listing * * */

ul.packages {
  padding-left: 0;
}

.packages li {
  list-style: none;
  padding: 0.4em 0 0.4em 0.5em;
  border-left: 0.5em solid #fff;
  border-bottom: 1px solid #ececec;
  overflow: hidden;
  white-space: nowrap;
}

.packages li a {
  text-decoration: none;
}

.packages li img {
  margin-bottom: -2px;
}

.openness {
  display: inline;
  vertical-align: bottom;
}

.packages li.fullyopen {
  border-left: 0.5em solid #AFC6E9;
}

.packages li .tags {
  margin: 0 0 0 0.5em;
  font-size: 80%;
  opacity: 0.3;
}

.packages li:hover .tags {
  opacity: 1;
}

/* * * Extra RHS styles * * */

.sidebar dl {
  margin: 0 1em 0.8em 1em;
  padding: 0;
}

.sidebar dl.icons dt {
  float: left;
  clear: both;
  margin: 0.4em 0 0 0;
  height: 16px;
  width: 16px;
}

.sidebar dl.icons dd {
  float: left;
  margin: 0.4em 0 0 10px;
}

.sidebar dl.icons dd.tiny {
  font-size: 75%;
  color: #888;
  line-height: 1.2em;
  margin: 0 0 0 26px;
}

.sidebar hr {
  width: 90%;
  color: #EBDBA7;
  background-color: #EBDBA7;
  border: none;
  height: 1px;
}

.sidebar .buttons {
  margin-top: 0;
}

.sidebar .buttons a, .sidebar .buttons button {
  margin-bottom: 0.3em;
}

.okdstripe {
  /* Amusingly, this has to be a slightly different color to look the same
     as the stripe on a white background */
  border-left: 0.5em solid #8FB0DE;
  padding-left: 0.4em ! important;
}

/* * * Package read page * * */

.package .head {
  margin-bottom: 0;
}

.package .subhead {
  margin-bottom: 1.5em;
  font-family: monospace;
}

.package .name {
  color: #555;
}

.package .okd {
  margin: 0 0 0 0.5em;
}

.package .resources table {
  margin-left: 0;
}

.package .taglist {
  width: 50%;
  border-right: 3px solid #ddd;  
}

.package .grouplist {
  float: right;
  width: 47%;
  padding-left: 3%;
}

.package .notes {
  background: #eee;
  padding: 0.2em 0;
}

.package img {
  vertical-align: middle;
}
