img.icon {
  height: 25px;
}

a.icon {
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 20px;
    width: 20px;
}

.icon-delete {
    background: transparent url(http://m.okfn.org/kforge/images/icon-delete.png) repeat scroll 0 0;
    float: left;
}

/* things like [edit] action in package title */
.object-action {
    font-size: 0.6em;
}

table.no-margin { 
  margin: 0 0 0 0;  
}

div.extras-new-field label {
  display:inline;
  line-height:2.6em;
}


/**
  * Ratings - rating stars css in stars.css
	*/

div.rating-group {
	display: inline;
	font-size: 0.85em;
}
