/* import basic structure for screen styles */
@import url(structure.css);
/* import basic typography */
@import url(display.css);
/* import navigation styling */
@import url(navigation.css);
/* import pagination styling */
@import url(pagination.css);
/* import form styling */
@import url(forms.css);
/* import print styling */
@import url(print.css);

/* stuff specific to ckan */
@import url(extra.css);
/* star ratings */
@import url(stars.css);
