.pager {
  width: 100%;
  text-align: center;
  margin: 0 0 1.2em 0;
  clear: both;
}

.pager span, .pager a {
  text-decoration: none;
  margin: 0em;
  border: none;
  padding: 0.3em 0.1em;
}

.pager a:hover, .pager a:active {
  color: #fff;
  background-color: #c22;
}

.pager span.pager_dotdot {
  color: #aaa;
}

.pager span.pager_curpage {
  font-weight: bold;
  border: 1px solid #ddd;
}
