.activity {
  padding: 0;
  list-style-type: none;
  border-radius: 20px;
}
.activity .item {
  position: relative;
  padding: 1rem 0;
  border-bottom: 1px solid #e4e7ec;
  display: flex;
}
.activity .item:last-child {
  border-bottom: none;
}
.activity .item .fa-stack {
  flex: 0 0 auto;
  margin-right: 5px;
}
.activity .item .user-image {
  border-radius: 100px;
}
.activity .item .date {
  color: #3B3B3B;
  font-size: 12px;
}
.activity .item.no-avatar p {
  margin-left: 40px;
}
.activity .item .icon {
  color: #3B3B3B;
}
.activity .item.failure .icon {
  color: #DA1E28;
}
.activity .item.success .icon {
  color: #3A833A;
}
.activity .item.added-tag .icon {
  color: #3a8383;
}
.activity .item.changed-group .icon {
  color: #6f42c1;
}
.activity .item.changed-package .icon {
  color: rgb(153.3333333333, 66, 193);
}
.activity .item.changed-package_extra .icon {
  color: rgb(68.6666666667, 66, 193);
}
.activity .item.changed-resource .icon {
  color: rgb(193, 66, 190.3333333333);
}
.activity .item.changed-user .icon {
  color: rgb(66, 105.6666666667, 193);
}
.activity .item.changed-organization .icon {
  color: rgb(58, 131, 118.8333333333);
}
.activity .item.deleted-group .icon {
  color: #DA1E28;
}
.activity .item.deleted-package .icon {
  color: rgb(218, 82.6666666667, 30);
}
.activity .item.deleted-package_extra .icon {
  color: rgb(218, 30, 102.6666666667);
}
.activity .item.deleted-resource .icon {
  color: rgb(218, 145.3333333333, 30);
}
.activity .item.deleted-organization .icon {
  color: rgb(218, 30, 165.3333333333);
}
.activity .item.new-group .icon {
  color: #3A833A;
}
.activity .item.new-package .icon {
  color: rgb(58, 131, 82.3333333333);
}
.activity .item.new-package_extra .icon {
  color: rgb(82.3333333333, 131, 58);
}
.activity .item.new-resource .icon {
  color: rgb(106.6666666667, 131, 58);
}
.activity .item.new-user .icon {
  color: rgb(58, 106.6666666667, 131);
}
.activity .item.new-organization .icon {
  color: rgb(106.6666666667, 131, 58);
}
.activity .item.removed-tag .icon {
  color: rgb(218, 30, 165.3333333333);
}
.activity .item.deleted-related-item .icon {
  color: #dad01e;
}
.activity .item.follow-dataset .icon {
  color: #767DCE;
}
.activity .item.follow-user .icon {
  color: rgb(140.3333333333, 118, 206);
}
.activity .item.new-related-item .icon {
  color: #83833a;
}
.activity .item.follow-group .icon {
  color: rgb(118.8333333333, 131, 58);
}
.activity.activity-empty {
  background: none;
}
.activity .user {
  font-size: 20px;
  font-weight: 600;
}

.activity_buttons {
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 768px) {
  .activity_buttons {
    flex-direction: column;
  }
}

.popover {
  width: 300px;
}
.popover .popover-title {
  font-weight: bold;
  margin-bottom: 0;
}
.popover p.about {
  margin: 0 0 10px 0;
}
.popover .popover-close {
  float: right;
  text-decoration: none;
}
.popover .empty {
  padding: 10px;
  color: #6E6E6E;
  font-style: italic;
}

.select-time {
  width: 250px;
  display: inline;
}

br.line-height2 {
  line-height: 2;
}

.pull-right {
  float: right;
}