*/5 * * * *  /usr/local/bin/ckan-paster --plugin=ckanext-harvest harvester run --config=/etc/ckan/production.ini > /proc/1/fd/1 2>/proc/1/fd/2
0   5 * * *  /usr/local/bin/ckan-paster --plugin=ckanext-harvest harvester clean_harvest_log --config=/etc/ckan/production.ini > /proc/1/fd/1 2>/proc/1/fd/2
