*/5 * * * *  /usr/local/bin/ckan --config=/etc/ckan/production.ini harvester run  > /proc/1/fd/1 2>/proc/1/fd/2
0  5 * * *   /usr/local/bin/ckan --config=/etc/ckan/production.ini harvester clean-harvest-log  > /proc/1/fd/1 2>/proc/1/fd/2
10 * * * *   /usr/local/bin/ckan --config=/etc/ckan/production.ini tracking update --config=/etc/ckan/production.ini > /proc/1/fd/1 2>/proc/1/fd/2
30 * * * *   /usr/local/bin/ckan --config=/etc/ckan/production.ini search-index rebuild -r  > /proc/1/fd/1 2>/proc/1/fd/2
50 * * * *   /usr/local/bin/ckan --config=/etc/ckan/production.ini harvester reindex  > /proc/1/fd/1 2>/proc/1/fd/2
0  1 * * *   /usr/local/bin/ckan --config=/etc/ckan/production.ini post /api/action/send_email_notifications  > /proc/1/fd/1 2>/proc/1/fd/2
20 */4 * * *    /usr/local/bin/ckan --config=/etc/ckan/production.ini package_relationships rebuild > /proc/1/fd/1 2>/proc/1/fd/2
