<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Changed the image URL of {org_link} from {old_link} to {new_link}').format(
        org_link = h.nav_link(change.title, named_route='organization.read', id=change.pkg_id),
        old_link = h.link_to(change.old_image_url, "http://" + change.old_image_url if not change.old_image_url[0:4] == "http" else change.old_image_url),
        new_link = h.link_to(change.new_image_url, "http://" + change.new_image_url if not change.new_image_url[0:4] == "http" else change.new_image_url),
        ) }}

    {% elif change.method == "remove" %}

      {{ _('Removed the image URL from {org_link}').format(
        org_link = h.nav_link(change.title, named_route='organization.read', id=change.pkg_id),
        ) }}

    {% elif change.method == "add" %}

      {{ _('Changed the image URL of {org_link} to {new_link}').format(
        org_link = h.nav_link(change.title, named_route='organization.read', id=change.pkg_id),
        new_link = h.link_to(change.new_image_url, "http://" + change.new_image_url if not change.new_image_url[0:4] == "http" else change.new_image_url),
        ) }}

    {% else %}

      {{ _('No fields were updated. See the metadata diff for more details.') }}

    {% endif %}
  </p>
</li>
