{% extends "package/resource_edit_base.html" %}

{% import 'macros/form.html' as form %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block primary_content_inner %}

  {% set action = h.url_for('datastore.dictionary', id=pkg.name, resource_id=res.id) %}

  <form method="post" action="{{ action }}" >
    {% block dictionary_form %}
      {% for field in fields %}
          {% snippet "datastore/snippets/dictionary_form.html", field=field, position=loop.index %}
      {% endfor %}
    {% endblock %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SaveDictionary">
      <i class="fa fa-book"></i> {{ _('Save') }}
    </button>

    <div class="modal fade" id="SaveDictionary" tabindex="-1" role="dialog" aria-labelledby="SaveDictionaryLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="SaveDictionarylLabel">Save confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Modifications done to fields will be applied permanently, so make sure that fields are set correctly. For large files it may take some time to update.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" name="save" type="submit">Save</button>
          </div>
        </div>
      </div>
    </div>

  </form>
{% endblock %}
