.dataset-list .dataset-item {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.dataset-list .dataset-item:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.dataset-item {
}

.dataset-item > .heading {
  font-size: 14px;
  line-height: 1;
  float: left;
}

.dataset-item > .content {
  clear: both;
  font-size: 12px;
}

.dataset-resources {
  font-size: 10px;
  line-height: 14px;
  float: right;
}

.dataset-resources li {
  display: inline;
}

.dataset-resources li a {
  background-color: #aaa;
}
