.dataset-list .dataset-item {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.dataset-list .dataset-item:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.dataset-item {
}

.dataset-item > .heading {
  font-size: 14px;
  line-height: 1;
  float: left;
}

.dataset-item > .content {
  clear: both;
  font-size: 12px;
}

.dataset-resources {
  font-size: 10px;
  line-height: 14px;
  margin-top: 5px;
}

.dataset-resources li {
  display: inline;
}

.dataset-resources li a {
  background-color: #aaa;
}

.filter-list {
  color: #aaa;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
}

.filter-list .results {
  font-size: 24px;
  color: #000;
}

.search-giant {
  position: relative;
}

.search-giant input {
  .box-sizing(border-box);
  font-size: 16px;
  padding: 22px 10px;
  width: 100%;
}

.search-giant button {
  position: absolute;
  right: 10px;
  top: 50%;
  display: block;
  border: none;
  padding: 0;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background: transparent url("@{image-path}/icon-search-27x26.png") no-repeat center center;
  text-indent: -900em;
}

// Resource List

.resource-list {
  .unstyled;
}

.resource-item {
  position: relative;
  padding-left: 40px;
  padding-right: 110px; // Should really use ems here.
  background: url("@{image-path}/sprite-resource-icons.png") no-repeat -1px 2px;
}

.resource-item .heading {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.resource-item .description {
  font-size: 12px;
}

.resource-item .btn {
  position: absolute;
  top: 0;
  right: 0;
}

// Tag List

.tag-list {
  .unstyled;
  padding: 10px;
}

.tag-list li {
  display: inline-block;
  margin-right: 5px;
}

.tag-list li:last-child {
  margin-right: 0;
}

// Additional Info

.additional-info td,
.additional-info th {
  width: 50%;
}
