.site-footer {
  .masthead();
  font-size: 12px;
  padding: 20px 0;
}

.site-footer,
.site-footer label,
.site-footer small {
  color: @footerTextColor;
}

.site-footer a {
  color: @footerLinkColor;
}

.footer-links,
.attribution {
  .makeColumn(6);
}

.footer-links {
  margin-left: 0;
}

.footer-links li {
  display: inline-block;
  width: 40%;
  margin-right: 5%;
  margin-bottom: 5px;
}

.attribution small {
  color: @footerTextColor;
  font-size: 12px;
}

.attribution .ckan-footer-logo {
  display: block;
  width: 65px;
  height: 21px;
  margin-top: 2px;
  background: url("@{imagePath}/ckan-logo-footer.png") no-repeat top left;
  text-indent: -900em;
}

.lang-select {
  .clearfix;
}

.lang-select label,
.lang-select select,
.lang-select .lang-container {
  float: left;
  margin-top: 0;
}

.lang-dropdown {
  color: @inputColor;
}

.lang-dropdown li {
  width: auto;
}

// Apply flags to the items in browsers that support :before
.lang-dropdown .select2-result-label {
  &[data-value]:before {
    content: "";
    display: inline-block;
    background-image: url("@{imagePath}/flags.png");
    background-repeat: no-repeat;
    background-position: 0 11px;
    width: 17px;
    height: 11px;
    position: relative;
    top: 1px;
  }

  &[data-value*="/en/"]:before {
    background-position: 0 0;
  }

  &[data-value*="/de/"]:before {
    background-position: 0 -11px;
  }

  &[data-value*="/fr/"]:before {
    background-position: 0 -22px;
  }

  &[data-value*="/it/"]:before {
    background-position: 0 -33px;
  }

  &[data-value*="/es/"]:before {
    background-position: 0 -44px;
  }

  &[data-value*="/pl/"]:before {
    background-position: 0 -55px;
  }

  &[data-value*="/ru/"]:before {
    background-position: 0 -66px;
  }

  &[data-value*="/nl/"]:before {
    background-position: 0 -77px;
  }

  &[data-value*="/sv/"]:before {
    background-position: 0 -88px;
  }

  &[data-value*="/no/"]:before {
    background-position: 0 -99px;
  }

  &[data-value*="/cs/"]:before,
  &[data-value*="/cs_CZ/"]:before {
    background-position: 0 -110px;
  }

  &[data-value*="/hu/"]:before {
    background-position: 0 -121px;
  }

  &[data-value*="/pt_BR/"]:before {
    background-position: 0 -132px;
  }

  &[data-value*="/fi/"]:before {
    background-position: 0 -143px;
  }

  &[data-value*="/bg/"]:before {
    background-position: 0 -154px;
  }

  &[data-value*="/ca/"]:before {
    background-position: 0 -165px;
  }

  &[data-value*="/sq/"]:before {
    background-position: 0 -176px;
  }

  &[data-value*="/sr/"]:before,
  &[data-value*="/sr_Latn/"]:before {
    background-position: 0 -187px;
  }

  &[data-value*="/zh_TW/"]:before {
    background-position: 0 -198px;
  }

  &[data-value*="/lv/"]:before {
    background-position: 0 -209px;
  }

  &[data-value*="/sk/"]:before {
    background-position: 0 -220px;
  }

  &[data-value*="/pt_BR/"]:before {
    background-position: 0 -132px;
  }
}
