.homepage {

    .row {
        position: relative;
    }

    .module-search {
        padding: 5px;
        margin: 20px 0 0 0;
        color: masthead-text-color;
        background: @body-bg;
        .search-giant {
            margin-bottom: @grid-gutter-width/3;
            input {
                border-color: darken(@masthead-bg-end, 5);
                color: darken(@masthead-bg-end, 5);
            }
        }
        .module-content {
            .border-radius(3px 3px 0 0);
            background-color: @masthead-bg;
            border-bottom: none;
            .heading {
                margin-top: 0;
                margin-bottom: 7px;
                font-size: 24px;
                line-height: 40px;
                color: @body-bg;
            }
        }
        .tags {
            .clearfix();
            padding: 5px 10px 10px 10px;
            background-color: darken(@masthead-bg, 10%);
            .border-radius(0 0 3px 3px);
            h3,
            .tag {
                display: block;
                float: left;
                margin: 5px 10px 0 0;
            }
            h3 {
                color: @body-bg;
                font-size: @font-size-base;
                line-height: @line-height-base;
                padding: 2px 8px;
            }
        }
    }

    .group-list {
        margin: 0;
    }

    .box .inner {
        padding: @grid-gutter-width - 10 @grid-gutter-width - 5;
    }

    .stats {
        h3 {
            margin: 0 0 10px 0;
        }
        ul {
            .unstyled;
            .clearfix;
            li {
                float: left;
                width: 25%;
                font-weight: 300;
                a {
                    display: block;
                    b {
                        display: block;
                        font-size: @font-size-large*2;
                        line-height: 1.5;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }


    &.layout-2 .stats {
        margin-top: @grid-gutter-width - 10;
    }

}

@media (min-width: @screen-sm-min) {
    .homepage [role=main] {
        padding: 20px 0;
    }
    .homepage.layout-1 .row1 .col2 {
        position: absolute;
        bottom: 0;
        right: 0;
        .module-search {
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}
