.pill {
  background-color: #ccc;
  color: #fff;
  padding: 1px 5px 1px 8px;
  margin-right: 5px;
  .border-radius(7px);
  .remove {
    .hide-text;
    position: relative;
    top: 1px;
  }
}

.tag {
  background: url("@{image-path}/background-tag.png") no-repeat -13px center;
  position: relative;
  display: block;
  line-height: 27px;
  color: @layout-link-color;
  padding-left: 10px;
  padding-right: 5px;
  margin-right: 11px;
}

.tag:after {
  content: "";
  background: url("@{image-path}/background-tag.png") no-repeat center left;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: -11px;
  width: 11px;
}

.unstyled {
  margin: 0;
  list-style: none;
}
