.module {
  .border-radius(3px);
  .box-shadow(0 0 3px rgba(0, 0, 0, 0.3));

  background-color: @module-background-color;
  margin-bottom: 20px;
}

.module > .heading {
  .border-radius(3px 3px 0 0);
  font-size: 14px;
  padding: 0 @gutter-x;
  border-bottom: 1px solid @module-heading-border-color;
  #gradient > .vertical(@module-heading-background-color-start, @module-heading-background-color-end);
}

.module > .heading [class^=icon]:before {
  font-size: 1.2em;
  position: relative;
  top: 1px;
  margin-right: 0.1em;
}

.module > .heading .action {
  float: right;
  color: #8c8c8c;
  color: rgba(51, 51, 51, 0.7);
  font-size: 11px;
  text-decoration: underline;
}

.module > .content {
  padding: 0 @gutter-x;
  margin: 20px 0;
}

.module > .content:first-child {
  margin-top: 0;
  padding-top: @gutter-y;
}

.module > .content:last-child {
  margin-bottom: 0;
  padding-bottom: @gutter-y;
}

.module > .content > :last-child {
  margin-bottom: 0;
}

.module > .footer {
  padding: 7px @gutter-x 7px;
  border-top: 1px dotted #ccc;
}

.module .read-more {
  font-weight: bold;
  color: #000;
}

.module > .pagination {
  height: 34px;
  border-top: 1px solid @module-heading-border-color;
}

.module > .pagination > ul {
  .border-radius(0);
  border: 0;
}

.module .pagination li a {
  border-top: none;
  border-bottom: none;
}

.module .pagination li:first-child a,
.module .pagination li:last-child a {
  .border-radius(0);
}

.module .pagination li:first-child a {
  border-left: 0;
}

.module .pagination li:last-child a {
  border-right: 0;
}

// Action

.module .action {
  text-align: center;
}

// Module Shallow

.module-shallow > .content {
  padding: 10px;
  margin: 0;
}

.module-shallow > .content:first-child {
  padding-top: 10px;
}

.module-shallow > .content:last-child {
  padding-bottom: 10px;
}

.module-shallow small {
  font-size: 11px;
  display: block;
}

// Secondary column specific

.module-narrow {
  > .heading,
  > .content,
  > .footer {
    padding-left:  @gutter-small-x;
    padding-right: @gutter-small-x;
  }
}

// GROUP

.group .content img {
  margin: 0 -5px 5px;
  max-width: initial;
}

.group .content h3 {
  font-size: 14px;
  line-height: 1.3;
}
