.nav-simple {
  .clearfix();
  padding-bottom: 7px;
}

.nav-simple > li {
  border-bottom: 1px dotted #ccc;
}

.nav-simple > li > a {
  color: @nav-link-color;
  padding: 7px 25px;
  font-size: 12px;
  line-height: 14px; // keeps the overall height an even number
}

.nav-simple > li > a .ckan-icon {
  position: relative;
  top: -1px;
}

.nav-simple > li.active {
  background-color: #f2f2f2;
}

.nav-simple > li.active > a {
  .tag;
  .box-sizing(border-box);
  font-size: 12px;
  font-weight: bold;
  position: relative;
  left: 4px;
  margin-left: 0;
  margin-right: 7px;
  padding-left: 10px;
  padding-right: 0px;
  padding: 1px (@module-margin-x - 7);
}

.secondary .nav-simple > li > a {
  padding-left:  @secondary-module-margin-x;
  padding-right: @secondary-module-margin-x;
  position: relative;
}

.secondary .nav-simple > li > a:hover:after,
.secondary .nav-simple > li.active > a:hover:after {
  .ckan-icon;
  .ckan-icon-circle-add;
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -8px;
}

.secondary .nav-simple > li > a:hover:after {
  .ckan-icon-circle-add;
}

.secondary .nav-simple > li.active > a:hover:after {
  .ckan-icon-circle-cross;
  right: 3px;
}

.secondary .nav-simple > li.selected > a {
  padding-left:  @secondary-module-margin-x - 7;
  padding-right: @secondary-module-margin-x - 7;
}
