.editing {
	[role="main"],
	.main {
		background: #EFEFEF url("@{imagePath}/editing.png?2") 0 0 repeat-x;
	}
}

.profile {
	.empty,
	.dataset-list {
		margin-bottom: 20px;
	}
}

.profile-info {
	.module-content {
		padding: 15px;
	}
	.avatar {
		border: 1px solid #DDD;
		padding: 5px;
		.border-radius(2px);
		img,
		a {
			display: block;
		}
	}
	p {
		overflow: auto;
	}
	code {
		font-weight: normal;
		padding: 0;
		margin: 0;
	}
	h1.heading {
		margin: 10px 0 5px 0;
		font-size: 21px;
	}
	.info {
		margin-top: 15px;
		padding-top: 10px;
		border-top: 1px dotted #DDD;
		dl dd {
			margin-top: 3px;
			margin-left: 0;
		}
	}
	.nums {
		.clearfix;
		margin-top: 15px;
		padding-top: 10px;
		padding-bottom: 0;
		border-top: 1px dotted #DDD;
		dl {
			float: left;
			width: 33%;
			margin: 5px 0 0 0;
			color: @layoutTextColor;
			dt {
				display: block;
				font-weight: 300;
			}
			dd {
				display: block;
				font-size: 30px;
				font-weight: 700;
				line-height: 1.2;
				margin-left: 0;
			}
		}
	}
	&.editing {
		.module-heading {

		}
		.module-content {
			margin-top: 0;
		}
	}
}
