.table-selected td {
	background-color: @formActionsBackground;
}

.table-bulk-edit {
	th input {
		top: -5px;
	}
	.actions .btn-group {
		float: left;
		margin: 0 10px 0 0;
	}
	.context p {
		margin-bottom: 0;
	}
}
