.toolbar {
  .clearfix;
  margin-top: -10px;
  margin-bottom: 10px;
  padding: 5px 0;
}

.toolbar .breadcrumb {
  .clearfix;
  .box-shadow(none);
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: 20px;
}

.ie .toolbar .breadcrumb,
.ie9 .toolbar .breadcrumb {
  filter: none; // Remove filter set by the gradient mixin.
}

.toolbar li [class^=icon]:before {
  width: auto; // Fix Bootstrap icon widths
}

.ie .toolbar .breadcrumb li {
  float: left; // Fixes inline block display issues.
}

.ie7 .toolbar .breadcrumb li {
  padding-right: 10px;
  margin-right: 5px;
  background: transparent url("@{imagePath}/breadcrumb-slash-ie7.png") 100% 50% no-repeat;
  &.active {
    background-image: none;
  }
}

.toolbar .breadcrumb li:after {
  content: " / ";
}

.ie .toolbar .breadcrumb li:after {
  margin: 0 0.2em;
}

.toolbar .breadcrumb li.active:after {
  content: "";
}

// Needs to be a separate declaration as IE chokes on the last-of-type.
.toolbar .breadcrumb li:last-of-type:after {
  content: "";
}

.toolbar .home a {
  text-decoration: none;
}

.toolbar .home span {
  display: none;
}

.toolbar .breadcrumb a {
  color: @breadcrumbTextColor;
  line-height: 28px;
}

.toolbar .breadcrumb .active a {
  font-weight: bold;
}

.toolbar .actions {
  .unstyled;
}

.toolbar .actions li {
  display: inline-block;
  margin-right: 5px;
}

.toolbar .actions li {
  .ie7-inline-block;
}

.toolbar .actions li:last-of-type {
  margin-right: 0;
}

.toolbar .btn {
  padding: 0 10px 0 8px;
  border-color: #b7b7b7;
  line-height: 27px;
}

// Now redefine the other button backgrounds that we just overrode.
.toolbar .btn-success {
  .btn-success;
}

.toolbar .btn-primary {
  .btn-primary;
}

.toolbar .btn-warning {
  .btn-warning;
}

.toolbar .btn-danger {
  .btn-danger;
}

.toolbar .btn-success {
  .btn-success;
}

.toolbar .btn-info {
  .btn-info;
}

.toolbar .btn-inverse {
  .btn-inverse;
}
