// Base variables
@font-family: Arial, sans-serif;
@image-path: "../images";

// Layout Variables
@layout-background-color: #f2f1ee;

// Module Variables
@module-background-color: #fff;
@module-heading-border-color: #d0d0d0;
@module-heading-background-color-start: #f5f5f5;
@module-heading-background-color-end: #f0f0f0;

@nav-link-color: #333;

// Twitter Bootstrap Overrides
@baseFontFamily: @font-family;
@iconSpritePath: "@{image-path}/bootstrap-glyphicons-halflings.png";
@iconWhiteSpritePath: "@{image-path}/bootstrap-glyphicons-halflings-white.png";

