// Base variables
@image-path: "../images";
@sprite-path: "@{image-path}/sprite-ckan-icons.png";
@fontAwesomePath: "../../../fonts";

// Layout Variables
@layout-font-family: Arial, sans-serif;
@layout-text-color: #4d4d4d;
@layout-link-color: #005772;
@layout-background-color: #efefef;

// Module Variables
@module-background-color: #fff;
@module-heading-border-color: #d0d0d0;
@module-heading-background-color-start: #f5f5f5;
@module-heading-background-color-end: #f0f0f0;

@gutter-x: 25px;
@gutter-y: 20px;
@gutter-small-x: 15px;
@gutter-small-y: @gutter-y;

@nav-link-color: #333;

@masthead-text-color: #fff;
@masthead-link-color: @masthead-text-color;
@masthead-background-color-start: #005d7a;
@masthead-background-color-end: #00536b;

@input-background: @white;
@input-border: #ccc;
@input-border-radius: 3px;

@error-text: #b55457;
@error-background: lighten(#c6898b, 30%);
@error-border: #c6898b;

// Twitter Bootstrap Overrides
@bodyBackground: @layout-background-color;
@btnBackground: #ffffff;
@btnPrimaryBackgroundHighlight: #eaeaea;
@btnPrimaryBackground: #30778d;
@btnPrimaryBackgroundHighlight: #085871;
@baseFontFamily: @layout-font-family;
@textColor: @layout-text-color;
@linkColor: @layout-link-color;
@iconSpritePath: "../../@{image-path}/bootstrap-glyphicons-halflings.png";
@iconWhiteSpritePath: "../../@{image-path}/bootstrap-glyphicons-halflings-white.png";
@inputBackground: @input-background;
@inputBorder: @input-border;
@inputBorderRadius: @input-border-radius;
@errorText: @error-text;
@errorBackground: @error-background;
@errorBorder: @error-border;

