/* Images */
@image-path: "../../../base/images";
@background-image: "@{image-path}/bg.png";

/* Masthead */
@masthead-text-color: @body-bg;
@masthead-link-color: @masthead-text-color;
@masthead-bg: #005d7a;
@masthead-bg-start: #005d7a;
@masthead-bg-end: #00536b;

/* Stages */
@stages-text-color: #aeaeae;
@stages-bg: #ededed;
@stages-transparent-bg: rgba(237, 237, 237, 0); // Used for arrows.
@stages-active-text-color: @body-bg;
@stages-active-bg: #8cc68a;
@stages-active-transparent-bg: rgba(140, 198, 138, 0);
@stages-complete-text-color: #eef6ed;
@stages-complete-bg: #c5e2c4;
@stages-complete-transparent-bg: rgba(197, 226, 196, 0);
@stages-counter-text-color: @body-bg;
@stages-counter-bg: @stages-text-color;
@stages-counter-active-text-color: @stages-active-bg;
@stages-counter-active-bg: @body-bg;
@stages-counter-complete-text-color: @stages-complete-bg;
@stages-counter-complete-bg: @stages-complete-text-color;

/* Datasets */
@resource-format-background: #aaa;

/* Table */
@chunky-table-header-text-color: @body-bg;
@chunky-table-header-bg: #aaa;
@chunky-table-stripe-bg: #f2f2f2;

/* Footer */
@footer-text-color: #CCDEE3;
@footer-link-color: @footer-text-color;

/* Activity Stream base colors */
@activity-color-text: @body-bg;
@activity-color-blank: #999999;
@activity-color-new: #69A67A;
@activity-color-neutral: #767DCE;
@activity-color-modify: #767DCE;
@activity-color-delete: #B95252;

/* Other */
@breadcrumb-text-color: #505050;

@highlight-bg: #fdf7e9;
@highlight-hover-bg: #fdf3d9;