{% ckan_extends %}

{% block register_examples %}
  {% if h.resource_url_type(resource_id) == 'tabledesigner' %}
    {% set examples = h.tabledesigner_data_api_examples(resource_id) %}

    {% for clang in code_languages %}
      {% include "/datastore/api_examples/" + clang + ".html" %}
    {% endfor %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block query_examples %}
  {% if h.resource_url_type(resource_id) == 'tabledesigner' %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapse-querying-post"> {{ _('Querying') }} &raquo;</a>
      </div>
      <div id="collapse-querying-post" class="in panel-collapse collapse">
        <div class="panel-body">
          <strong>{{ _('Get 5 results containing "jones" in any field:') }}</strong>
          {% for clang in code_languages %}
            {{ code_examples[clang].request_limit }}
          {% endfor %}


          <strong>{{ _('Get results filtered by the contents of specific fields:') }}</strong>
          {% for clang in code_languages %}
            {{ code_examples[clang].request_filter_custom }}
          {% endfor %}

          {% if h.datastore_search_sql_enabled() %}
            <strong>{{ _('SQL query example:') }}</strong>
            {% for clang in code_languages %}
              {{ code_examples[clang].request_sql_custom }}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapse-updating"> {{ _('Inserting and Updating') }} &raquo;</a>
      </div>
      <div id="collapse-updating" class="panel-collapse collapse">
        <div class="panel-body">
          <strong>{{ _('Insert a new record:') }}</strong>
          {% for clang in code_languages %}
            {{ code_examples[clang].request_insert }}
          {% endfor %}
          <strong>{{ _('Update an existing record:') }}</strong>
          {% for clang in code_languages %}
            {{ code_examples[clang].request_update }}
          {% endfor %}
          <strong>{% trans method="method", upsert="upsert"
            %}"{{ method }}" defaults to "{{ upsert }}" i.e. records will be inserted or updated based on the primary key values passed{%
          endtrans %}</strong>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapse-deleting"> {{ _('Deleting') }} &raquo;</a>
      </div>
      <div id="collapse-deleting" class="panel-collapse collapse">
        <div class="panel-body">
          <strong>{{ _('Delete a record:') }}</strong>
          {% for clang in code_languages %}
            {{ code_examples[clang].request_delete }}
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
