<div class="popover-context profile-info">
	{% if notes != 'null' %}
		<p class="about">
			{{ h.truncate(description, length=160, whole_word=True) }}
		</p>
	{% endif %}
	<div class="btn-group">
		{{ h.follow_button('group', id) }}
		<a href="{{ h.url_for(controller='group', action='read', id=name) }}" class="btn">
			<i class="icon-eye-open"></i>
			View Group
		</a>
	</div>
	{% if num_followers or num_datasets %}
	<div class="nums">
		{% if num_followers %}
		<dl>
			<dt>{{ _('Followers') }}</dt>
			<dd>{{ num_followers }}</dd>
		</dl>
		{% endif %}
		{% if num_datasets %}
		<dl>
			<dt>{{ _('Datasets') }}</dt>
			<dd>{{ num_datasets }}</dd>
		</dl>
		{% endif %}
	</div>
	{% endif %}
</div>
