{% extends "base.html" %}

{% block page %}
  {% include "header.html" %}
  <div role="main" style="padding: 20px;">
    {% snippet 'development/snippets/breadcrumb.html', stage=1 %}
    {% snippet 'development/snippets/breadcrumb.html', stage=2 %}
    {% snippet 'development/snippets/breadcrumb.html', stage=3 %}

    {% snippet 'development/snippets/toolbar.html' %}

    {% snippet 'development/snippets/module.html', heading='Heading One' %}
    {% snippet 'development/snippets/module.html', heading='Heading Two', heading_level=2 %}
    {% snippet 'development/snippets/module.html', heading='Heading Three', heading_level=3 %}
    {% snippet 'development/snippets/module.html', heading='Heading with link', heading_link=true %}
    {% snippet 'development/snippets/module.html', heading='Heading with action', heading_action=true %}
    {% snippet 'development/snippets/module.html', heading='Heading with icon', heading_icon=true %}
    {% snippet 'development/snippets/module.html', heading='Module with footer', footer=true %}
    {% snippet 'development/snippets/module.html', heading='Narrow Module (sidebar)', classes=['module-narrow'] %}
    {% snippet 'development/snippets/module.html', heading='Narrow Shallow Module (sidebar text)', classes=['module-narrow', 'module-shallow'] %}

    {% snippet 'development/snippets/nav.html', heading='List' %}
    {% snippet 'development/snippets/nav.html', heading='Active List', show_active=true %}
    {% snippet 'development/snippets/nav.html', heading='Icon List', show_icons=true %}

    {% snippet 'development/snippets/facet.html', heading='Facet List', show_icons=true %}

    {% snippet 'development/snippets/simple-input.html', heading='Facet List', show_icons=true %}

    {% snippet 'development/snippets/form.html' %}
    {% snippet 'development/snippets/form.html', error='This field has an error' %}
  </div>
  {% include "footer.html" %}
{% endblock %}
