name: Lint
on:
#  pull_request:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Install requirements
        run: pip install flake8 pycodestyle flake8-logging-format
      - name: Check syntax
        # Stop the build if there are Python syntax errors or undefined names
        run: flake8 --count --statistics --show-source

      - name: Warnings
        run: flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics --extend-exclude=""
