name: Check types
on:
#  pull_request:
  workflow_call:
  workflow_dispatch:
env:
  NODE_VERSION: '18'
  PYTHON_VERSION: '3.9'

permissions:
  contents: read

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'
      - name: Install python deps
        run: pip install -r requirements.txt -r dev-requirements.txt -e.
      - name: Install node deps
        run: npm ci
      - name: Check types
        run: |
          npm list pyright
          npx pyright
