{#
Displays a sidebar module with information for given resource

res    - The resource dict

Example:

  {% snippet "package/snippets/resource_info.html", res=res %}

#}
<div class="module context-info">
  <div class="module-content">
    {% block page_title %}
      <h1 class="heading">{{ h.resource_display_name(res) or res.id }}</h1>
    {% endblock %}
    {% block resource_info %}
      <div class="nums">
        <dl>
          <dt>{{ _('Format') }}</dt>
          <dd>{{ h.get_translated(res, 'format') }}</dd>
        </dl>
      </div>
    {% endblock %}
  </div>
</div>
