{% import 'macros/form.html' as form %}

{% set data = data or {} %}
{% set errors = errors or {} %}

{{ form.errors(error_summary) }}

{{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. My View'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], is_required=true) }}
{{ form.markdown('description', id='field-description', label=_('Description'), placeholder=_('eg. Information about my view'), value=data.description, error=errors.description) }}

{% block view_form_filters %}
  {% snippet 'package/snippets/view_form_filters.html', resource=resource, resource_view=resource_view %}
{% endblock %}

{# form template is defined in ResouceView extention point #}

{% if form_template %}
  {% include form_template %}
{% endif %}
