{% ckan_extends %}



    {% block extra_fields %}

    {{ super() }}

    {% set country = data["plugin_data"]["example_iuserform"]["country"] %}
    {% set zip_code = data["plugin_data"]["example_iuserform1"]["zip_code"] %}
        <div class="control-group">
          <label for="field-country">Country</label>
              <select id="field-country" name="country">
                {% for c in h.countries()  %}
                  <option value="{{ c }}" {% if c == country %}selected="selected"{% endif %}>{{ c }}</option>
                {% endfor %}
              </select>

          <label for="zip-code">Zip Code</label>
          <input type="text" id="zip-code" name="zip_code" value="{{ zip_code }}" />
        </div>
      </div>

    {% endblock %}

