[IE conditional]

lte IE 8 = vendor/leaflet/0.4.4/leaflet.ie.css
lte IE 8 = vendor/flotr2/excanvas.js

[depends]

datapreview = vendor/jquery.js
datapreview-frame = vendor/jquery.js

[groups]

datapreview =
    vendor/underscore/1.1.6/underscore.js
    vendor/backbone/0.5.1/backbone.js
    vendor/mustache/0.5.0-dev/mustache.js
    vendor/bootstrap/2.0.3/bootstrap.js
    vendor/jquery.mustache/jquery.mustache.js

    vendor/slickgrid/2.0.1/jquery-ui-1.8.16.custom.js
    vendor/slickgrid/2.0.1/jquery.event.drag-2.0.js
    vendor/slickgrid/2.0.1/slick.grid.js
    vendor/flotr2/flotr2.js
    vendor/moment/1.6.2/moment.js
    vendor/leaflet/0.4.4/leaflet.js

    vendor/recline/recline.js
    datapreview.js

    vendor/slickgrid/2.0.1/slick.grid.css
    vendor/leaflet/0.4.4/leaflet.css

    vendor/leaflet/0.4.4/leaflet.ie.css

    vendor/recline/css/recline.css
    css/datapreview.css
