[main]

dont_bundle = datapreview/vendor/pdfjs/pdf.js

[IE conditional]

lte IE 8 = vendor/flotr2/excanvas.js
lte IE 8 = vendor/leaflet/0.4.4/leaflet.ie.css
lte IE 8 = vendor/leaflet.markercluster/MarkerCluster.Default.ie.css

[depends]

datapreview-frame = base/main
recline = base/main
json = base/main
pdf = base/main

[groups]

recline =
    vendor/underscore/1.1.6/underscore.js
    vendor/backbone/0.5.1/backbone.js
    vendor/mustache/0.5.0-dev/mustache.js
    vendor/bootstrap/2.0.3/bootstrap.js
    vendor/flotr2/flotr2.js
    vendor/leaflet/0.4.4/leaflet.js
    vendor/leaflet.markercluster/leaflet.markercluster.js
    vendor/slickgrid/2.0.1/jquery-ui-1.8.16.custom.js
    vendor/slickgrid/2.0.1/jquery.event.drag-2.0.js
    vendor/slickgrid/2.0.1/slick.grid.js
    vendor/moment/1.6.2/moment.js

    vendor/recline/recline.js

    preview_recline.js

    vendor/bootstrap/2.0.3/bootstrap.css
    vendor/leaflet/0.4.4/leaflet.css
    vendor/leaflet/0.4.4/leaflet.ie.css
    vendor/leaflet.markercluster/MarkerCluster.css
    vendor/leaflet.markercluster/MarkerCluster.Default.css
    vendor/leaflet.markercluster/MarkerCluster.Default.ie.css
    vendor/slickgrid/2.0.1/slick.grid.css
    vendor/recline/css/recline.css

    css/recline.css

pdf =
    vendor/webL10n/l10n.js
    vendor/pdfviewer/compatibility.js
    vendor/pdfviewer/viewer.js
    preview_pdf.js

    vendor/pdfviewer/viewer.css
    css/pdf.css

json =
    preview_json.js

    css/json.css
